.mt-40 {
  margin-top: 40px;
}

.desktop {

  @media #{media('<',m)} {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @media #{media('<',m)} {
    display: block !important;
  }
}