.desktop {
  @media #{media('<',m)} {
    display: none !important;
  }
}

.desktop-t {
  @media #{media('<',t)} {
    display: none !important;
  }
}

.desktop-d {
  @media #{media('<',d)} {
    display: none !important;
  }
}

.desktop-m {
  @media #{media('<',m)} {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @media #{media('<',m)} {
    display: block !important;
  }
}

.mobile-d {
  display: none !important;

  @media #{media('<',d)} {
    display: block !important;
  }
}

.mobile-t {
  display: none !important;

  @media #{media('<',t)} {
    display: block !important;
  }
}

.mobile-m {
  display: none !important;

  @media #{media('<',m)} {
    display: block !important;
  }
}

.flex-desktop {
  display: flex;

  @media #{media('<',m)} {
    display: none !important;
  }
}

.flex-m {
  display: none !important;

  @media #{media('<',m)} {
    display: flex !important;
  }
}

.flex-t {
  display: none !important;

  @media #{media('<',t)} {
    display: flex !important;
  }
}

.br {
  @media #{media('<',m)} {
    display: none;
  }
}

.br-t {
  @media #{media('<',t)} {
    display: none;
  }
}

.br-d {
  @media #{media('<',d)} {
    display: none;
  }
}

.br-m {
  display: none;

  @media #{media('<',m)} {
    display: block;
  }
}

.sup-description {
  font-size: 12px;
}

.br-xs {
  display: none !important;

  @media #{media('<',xs)} {
    display: block !important;
  }
}

.mt-section {
  margin-top: 100px;

  @media #{media('<',m)} {
    margin-top: 40px;
  }
}

.mt-20 {
  margin-top: 20px;

  &-m {
    @media #{media('<',m)} {
      margin-top: 20px !important;
    }
  }
}

.mt-20-m {

  @media #{media('<',m)} {
    margin-top: 20px !important;
  }

}

.mt-40 {
  margin-top: 40px;

  @media #{media('<',m)} {
    margin-top: 20px;
  }
}

.mt-0 {
  margin-top: 0px !important;

  &-m {
    @media #{media('<',m)} {
      margin-top: 0px !important;
    }
  }
}

//colors
.green-bg {
  background: #045c25;
}

.green-light-bg {
  background: #69da91;
}

.w-400 {
  width: 400px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 150px;
  }
}

.w-355 {
  width: 355px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 215px;
  }
}

.w-suffix-2 {
  position: relative;
  width: 147px;
  flex-shrink: 0;
}

.w-suffix-2_small {
  position: relative;
  width: 125px;
  flex-shrink: 0;
}

.w-suffix-2_big {
  position: relative;
  width: 400px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 147px;
  }
}

.w-suffix-3 {
  position: relative;
  width: 210px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 205px;
  }
}

.w-suffix-4 {
  position: relative;

  width: 340px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 205px;
  }
}

.w-suffix-6 {
  position: relative;

  width: 486px;
  flex-shrink: 0;

  @media #{media('<',m)} {
    width: 300px;
  }
}



.gap-0 {
  gap: 0 !important;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.nowrap {
  white-space: nowrap;
}

.fz-10 {
  font-size: 9px;

  @media #{media('<',m)} {
    font-size: 7px;
  }
}

.fz-15 {
  font-size: 14px;

  @media #{media('<',m)} {
    font-size: 8px;
  }
}

.fz-25 {
  font-size: 25px;

  @media #{media('<',m)} {
    font-size: 12px;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.z-8 {
  z-index: 8 !important;
}

.px-5 {
  padding: 0 5px;
}

.fz-8 {
  font-size: 7px;
}

.gap-8 {
  gap: 8px;

  @media #{media("<", m)} {
    .ge-card__nums-container {}

    .ge-card__num {
      font-size: 34px;
    }
  }

  //
}

.opacity-0 {
  opacity: 0;
}

.print-none {
  @media print {
    display: none;
  }
}

.print-break {
  page-break-after: always;
}

.no-break {
  page-break-after: unset !important;

}

.flex-shrink {
  flex-shrink: 0;
}