.desktop {
  @media #{media('<',m)} {
    display: none !important;
  }
}

.desktop-t {
  @media #{media('<',t)} {
    display: none !important;
  }
}

.desktop-m {
  @media #{media('<',m)} {
    display: none !important;
  }
}

.mobile {
  display: none !important;

  @media #{media('<',m)} {
    display: block !important;
  }
}

.mobile-t {
  display: none !important;

  @media #{media('<',t)} {
    display: block !important;
  }
}

.mobile-m {
  display: none !important;

  @media #{media('<',m)} {
    display: block !important;
  }
}

.flex-t {
  display: none !important;

  @media #{media('<',t)} {
    display: flex !important;
  }
}

.br {
  @media #{media('<',m)} {
    display: none;
  }
}

.br-m {
  display: none;

  @media #{media('<',m)} {
    display: block;
  }
}


.sup-description {
  font-size: 12px;
}

.br-xs {
  display: none !important;

  @media #{media('<',xs)} {
    display: block !important;
  }
}

.mt-section {
  margin-top: 100px;

  @media #{media('<',m)} {
    margin-top: 40px;
  }
}

.mt-20 {
  margin-top: 20px;

  &-m {
    @media #{media('<',m)} {
      margin-top: 20px !important;
    }
  }
}

.mt-0 {
  margin-top: 0px !important;

  &-m {
    @media #{media('<',m)} {
      margin-top: 0px !important;
    }
  }
}

//colors
.green-bg {
  background: #045C25;
}

.green-light-bg {
  background: #69DA91;
}