// fonts
$fs: 16px;

$ff-primary: 'Manrope';

// breakpoints, media
$breakpoints: (
  xxl: 1920px,
  xl: 1680px,
  ll: 1440px,
  l: 1366px,
  d: 1281px,
  t: 1025px,
  m: 768px,
  s: 576px,
  xs: 375px,
  xxs: 320px,
);

@function breakpoint($variant: d) {
  @return map.get($breakpoints, $variant);
}

@function media($direction: '>', $variant: d) {
  @if $direction == '>' {
    @return '(min-width: #{breakpoint($variant)})';
  } @else if $direction == '<' {
    @return '(max-width: #{breakpoint($variant) - 1px})';
  } @else if $direction == '<=' {
    @return '(max-width: #{breakpoint($variant)})';
  } @else if $direction == 'mt' {
    @return '(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(t) - 1px})';
  } @else if $direction == 'td' {
    @return '(min-width: #{breakpoint(t)}) and (max-width: #{breakpoint(d) - 1px})';
  } @else if $direction == 'md' {
    @return '(min-width: #{breakpoint(m)}) and (max-width: #{breakpoint(d) - 1px})';
  }
}

// colors
$colors: (
  dark: #2a2e2b,
  white: #fff,
  black: #181d1d,
  grey: #f4f4f4,
  alt-grey: #727a75,
  green: #045c25,
  light-green: #69da91,
  borders: #e8e8e8,
);

@function color($variant: black) {
  @return map.get($colors, $variant);
}

// grid columns
$col-count-m: 4;
$col-count-t: 8;
$col-count-d: 12;

$col-pad-m: rem(20px);
$col-pad-d: rem(60px);

$col-gap-d: rem(20px);
$col-gap-m: rem(10px);

$col-width-m: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-m - 1})) / #{$col-count-m})';
$col-width-t: '((100vw - (#{$col-pad-m} * 2) - (#{$col-gap-m} * #{$col-count-t - 1})) / #{$col-count-t})';
$col-width-d: '((100vw - (#{$col-pad-d} * 2) - (#{$col-gap-d} * #{$col-count-d - 1})) / #{$col-count-d})';

$col-part-m: '(#{$col-width-m} + #{$col-gap-m})';
$col-part-t: '(#{$col-width-t} + #{$col-gap-m})';
$col-part-d: '(#{$col-width-d} + #{$col-gap-d})';

$transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
$transition-duration: 0.5s;
$transition: $transition-duration $transition-timing-function;

// transitions
$transition: 0.3s;

//z-index
$index-1: 1; //Для наподзающих элементов в общем потоке
$index-2: 2; //Для наподзающих элементов в общем потоке
$index-3: 3; //Для наползающих элементов вне потока
$index-4: 4; //Для масок
$index-5: 5; //Для оверлея
$index-6: 6; //Для сайдбаров
$index-7: 7; //Для элементов, перекрывающих все
