.activity-buttons {
  margin-top: 20px;
  display: flex;
  gap: 4px;
  @media print {
    display: none !important;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border: 1px solid color(borders);
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.print-activity {
  margin-top: 100px;
  display: flex;
  align-items: flex-start;
  gap: 40px;

  @media #{media("<", m)} {
    margin-top: 40px;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 12px;

    cursor: pointer;

    &-svg {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 24px;
        height: 24px;
      }
    }

    &-text {
      color: #2a2e2b;
      font-size: 14px;
      font-family: Manrope;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      text-transform: uppercase;
    }
  }
}

.button-increase {
  @media #{media('<',m)} {
    display: none;
  }
}
