.button {
  position: absolute;
  bottom: 40px;
  left: 40px;

  width: 64px;
  height: 64px;

  background: color(green);

  &-svg {
    @include absolute-center;
    width: 20px;
    height: 20px;
  }
}

@media #{media('<',m)} {
  .button {
    bottom: 20px;
    left: 20px;

    width: 42px;
    height: 42px;

    &-svg {
      width: 14px;
      height: 14px;
    }
  }
}