.calendar {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #045c25;
  }

  &__box {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid #ededed;
  }

  &__block {
    display: flex;

    justify-content: space-between;

    &:nth-child(odd) {
      border-top: 1px solid #045c25;
    }

    &:nth-child(even) {
      border-top: 2px solid #69da91;
    }
  }

  &__col-left {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;

    width: 100%;
  }

  &__col-list {
    max-width: 560px;
  }

  &__right {
    flex-shrink: 0;
    width: 260px;
  }

  &__month {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }

  &__row {
    display: grid;
    grid-template-columns: 130px 1fr;

    @media #{media('<',t)} {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 20px;
    }
  }

  &__list {
    justify-self: end;
    display: flex;
    flex-direction: column;
    gap: 12px;

    max-width: 560px;
  }

  &__item {
    display: flex;
    gap: 8px;
  }

  &-svg {
    flex-shrink: 0;
  }

  &__col-list {
    justify-self: end;

    @media #{media('<',t)} {
      justify-self: start;

      max-width: 100%;
    }

    &_CN {
      justify-self: start;
    }
  }

  &__col-right {
    padding: 40px;
    flex-shrink: 0;

    width: 260px;

    background: #f4f4f4;
  }

  &__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__number {
    margin-top: 24px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 64px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: color(green);

    &_light {
      color: #69da91;
    }
  }

  &__subtext {
    font-size: 15px;
    line-height: 160%;
    color: color(dark);
  }
}

.calendar__CN {
  .calendar__col-list {
    justify-self: start;
  }
}

@media #{media('<',m)} {
  .calendar {
    &__inner {
      padding-top: 8px;
    }

    &__box {
      margin-top: 20px;
    }

    &__block {
      flex-direction: column;
    }

    &__col-left {
      padding: 20px;
      gap: 20px;
    }

    &__right {
      flex-shrink: 0;
      width: auto;
    }

    &__row {
      flex-direction: column;
      gap: 20px;
    }

    &__month {
      font-size: 18px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 12px;

      max-width: 560px;
    }

    &__item {
      display: flex;
      gap: 8px;
    }

    &__col-right {
      padding: 20px;
      width: auto;

      .row {
        display: flex;
        justify-content: space-between;
      }
    }

    &__description {
      font-size: 14px;
    }

    &__subtext {
      font-size: 15px;
      line-height: 160%;
      color: color(dark);
    }
  }
}