.case {
  margin-top: 100px;

  &__inner {
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    width: 760px;

    font-family: 'Manrope';
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: color(black);

    @media #{media('<',t)} {
      width: auto;
    }
  }

  @media #{media('<',m)} {
    margin-top: 20px;
  }
}

.case-direction {
  .row {
    margin-top: 40px;

    @media #{media('<',m)} {
      margin-top: 20px;
    }
  }

  &__inner {
    padding-top: 20px;
    border-top: 20px;

    border-top: 1px solid #69DA91;

    @media #{media('<',m)} {
      padding-top: 8px;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    align-self: start;

    @media #{media('<',m)} {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__item {
    display: flex;
    gap: 8px;
  }

  &-svg {
    flex-shrink: 0;
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

  }


}