.client-portfolio {
  padding-top: 20px;
  margin-top: 100px;

  border-top: 1px solid #045C25;

  @media #{media('<',m)} {
    padding-top: 8px;
    margin-top: 40px;
  }
  .transportation-development {
    &__title{
      @media #{media('<',m)} {
        margin-bottom: 20px;
        max-width: 241px;
      }
    }
    &__vector {
      height: 605px;
      @media #{media('<',m)} {
        height: auto;
      }
    }

    &__row {
      &.top {
        margin-top: 40px;
        display: flex;
        gap: 40px;
        @media #{media('<',m)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &.mid {
        margin-top: 98px;
        display: flex;
        gap: 41px;

        @media #{media('<',m)} {
          margin-top: 20px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 40px;
        }
      }
    }


    &__col {
      &.mid {
        &:nth-child(1) {
          width: 359px;
          @media #{media('<',m)} {
            width: rem(335px);
          }
        }

        &:nth-child(2) {
          border-top: 1px solid color(green);
          padding-top: 20px;
          width: 760px;
          @media #{media('<',m)} {
            width: rem(335px);
          }
        }
      }
    }

    &__subtitle {
      width: 360px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media('<',m)} {
        width: rem(335px);

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &__text {
      &.top {
        margin-bottom: 40px;
      }
    }

    &__cards {
      display: flex;
      gap: 40px;

      @media #{media('<',m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;

        .ge-card {
          &__text{
            &.mobile-mini {
              max-width: 120px;
              white-space: normal;
            }
          }
        }
      }
    }

    //CASE
    &__case {
      padding-top: 20px;
      border-top: 1px solid #69DA91;


      &-top {
        margin-bottom: 40px;
        display: flex;
        gap: 40px;

        @media #{media('<',m)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &-name {
        flex-shrink: 0;
        width: 360px;

        font-family: 'Halvar Breitschrift';
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: #727A75;

        @media #{media('<',m)} {
          width: rem(335px);

          font-size: rem(20px);
          line-height: 100%;
        }
      }

      &-title {
        margin-bottom: 24px;

        @media #{media('<',m)} {
          margin-bottom: 20px;
        }
      }

      &-subtitle {
        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: color(dark);

        @media #{media('<',m)} {
        font-size: rem(14px);
        line-height: 150%;
        }
      }


      &-bot {
        margin-bottom: 64px;
        display: flex;
        gap: 40px;

        @media #{media('<',m)} {
          margin-bottom: 40px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &-text {
        &.top {
          margin-bottom: 16px;
        }

      }
    }


    //paperless
    &__paperless {
      margin-top: 100px;

      @media #{media('<',m)} {
        margin-top: 40px;
      }
      &-title {
        margin-bottom: 40px;
        @media #{media('<',m)} {
          margin-bottom: 20px;
        }
      }

      &-text {
        margin-bottom: 40px;

        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: color(dark);

        @media #{media('<',m)} {
          font-size: rem(14px);
          line-height: 160%;
        }
      }

      &-grey {
        margin-bottom: 51px;

        font-family: 'Halvar Breitschrift';
        font-weight: 700;
        font-size: 32px;
        line-height: 100%;
        letter-spacing: -0.06em;
        text-transform: uppercase;
        color: #727A75;

        @media #{media('<',m)} {
          margin-bottom: 20px;

          font-size: rem(20px);
          line-height: 100%;
        }
      }

      &-project {
        display: flex;
        gap: 41px;
        padding-top: 20px;
        border-top: 1px solid #69DA91;

        @media #{media('<',m)} {
          padding-top: 8px;
          flex-wrap: wrap;
          gap: 40px;
        }
      }

      &-col {
        &:nth-child(1) {
          width: 359px;

          @media #{media('<',m)} {
            width: rem(335px);
          }
        }

        &:nth-child(2) {
          width: 760px;
          @media #{media('<',m)} {
            width: rem(335px);
            order: -1;
          }
        }
      }

      &-subtitle {
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -0.02em;
        color: color(dark);

        @media #{media('<',m)} {
          margin-bottom: 20px;
          
          font-size: rem(20px);
          line-height: 120%;
        }
      }

      &-minititle {
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: color(dark);

        @media #{media('<',m)} {
          font-size: rem(14px);
          line-height: 150%;
        }
      }

      &-minitext {
        margin-bottom: 24px;

        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: color(dark);

        @media #{media('<',m)} {
          margin-bottom: 20px;

          font-size: rem(14px);
          line-height: 160%;
        }
      }
    }

  }
}