.container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;

  @media #{media("<", t)} {
    width: auto;
  }

  &.custom-oparations {
    @media #{media(">", ll)} {
      max-width: 100%;
    }
  }
}

.container-content {
  margin: 0 auto;

  max-width: 1200px;
  padding: 0 20px;

}

@media (max-width: 1060px) {
  .container-content {
    padding: 0 20px;

    width: auto;
  }
}