.corporate-responsibility {
  margin-top: 100px;

  @media #{media("<", m)} {
    margin-top: 40px;
  }
  &__row {
    display: flex;
    gap: 76px;

    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__subtitle {
    width: 324px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", t)} {
      width: 100%;
    }

    @media #{media("<", m)} {
      width: 100%;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__text {
    width: 760px;

    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: color(dark);

    @media #{media("<", t)} {
      width: 100%;
    }

    @media #{media("<", m)} {
      width: 100%;

      font-size: rem(14px);
      line-height: 160%;
    }
  }

  &__principles {
    margin-top: 100px;

    @media #{media("<", m)} {
      margin-top: 40px;
    }
    &-title {
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(20px);
        line-height: 120%;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0px;

      @media (min-width:768px) and (max-width: 1025px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media #{media("<", m)} {
        margin-bottom: 40px;
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 350px) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-item {
      position: relative;
      padding: 20px;

      height: 190px;

      border: 1px solid #EDEDED;
      border-top: 2px solid #69DA91;

      &:nth-child(2) {
        border-top: 2px solid #045C25;
      }

      &:nth-child(4) {
        border-top: 2px solid #045C25;
      }

      &:nth-child(5) {
        border-top: 2px solid #045C25;
        @media (min-width:768px) and (max-width: 1025px) {
          border-top: 2px solid #69DA91;
        }
        @media #{media("<", m)} {
          border-top: 2px solid #69DA91;
        }
      }

      &:nth-child(7) {
        border-top: 2px solid #045C25;

        @media (min-width:768px) and (max-width: 1025px) {
          border-top: 2px solid #69DA91;
        }

        @media #{media("<", m)} {
          border-top: 2px solid #69DA91;
        }
      }
      &:nth-child(6) {
        @media (min-width:768px) and (max-width: 1025px) {
          border-top: 2px solid #045C25;
        }
        @media #{media("<", m)} {
          border-top: 2px solid #045C25;
        }
      }
      &:nth-child(8) {
        @media (min-width:768px) and (max-width: 1025px) {
          border-top: 2px solid #045C25;
        }
        @media #{media("<", m)} {
          border-top: 2px solid #045C25;
        }
      }

      .principes-text {
        width: 204px;

        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: color(dark);

        &.icons {
          @media #{media("<", m)} {
            width: rem(144px);
          }
        }
        &.girl{
          @media #{media("<", m)} {
            width: rem(82px);
          }
        }

        @media #{media("<", m)} {
          position: relative;
          z-index: 2;
          width: rem(107px);

          font-size: rem(13px);
          line-height: 160%;
        }
      }

      .principes-img {
        position: absolute;
        bottom: 0px;
        right: 0px;

        width: 132px;
        height: 133px;

        @media #{media("<", t)} {
          height: 90px;
        }

        @media #{media("<", m)} {
          width: rem(68px);
          height: rem(69px);
        }
      }

      .principes-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        @media #{media("<", m)} {
          right: 0px;
          bottom: 0px;
        }
        svg {
          width: 80px;
          height: 80px;
          @media #{media("<", m)} {
            width: rem(60px);
            height: rem(60px);
          }
        }
      }

      &.icons{
        padding: 12px;
      }

      @media #{media("<", m)} {
        height: rem(114px);
      }
    }
  }

  &__key {
    margin-top: 100px;

    @media #{media("<", m)} {
      margin-top: 40px;
    }
    &-title {
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(20px);
        line-height: 120%;
      }
    }

    &-subtext {
      margin-left: 400px;

      &.top {
        margin-bottom: 20px;
      }

      @media (min-width:768px) and (max-width: 1025px) {
        margin-top: 20px;
        margin-left: 0px;
        width: 100%;
      }

      @media #{media("<", m)} {
        margin-left: 0px;
      }
    }
  }

  &__care {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #69DA91;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-row {
      display: flex;
      gap: 40px;

      

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-subtitle {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-subtext {
      margin-bottom: 24px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-text {
      &.top {
        margin-top: 40px;
        margin-bottom: 12px;
      }
    }
  }

  &__events {
    margin-top: 100px;
    border-top: 1px solid #045C25;
    padding-top: 20px;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;
    }

    &-row {
      display: flex;
      gap: 140px;

      @media (min-width:768px) and (max-width: 1025px) {
        gap: 20px;
        justify-content: space-between;
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-subtitle {
      width: 460px;

      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        width: calc(100% - 20px);

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-text {
      width: 561px;

      @media #{media("<", m)} {
        width: calc(100% - 20px);
      }
    }
  }

  &__health {
    margin-top: 100px;
    border-top: 1px solid color(light-green);
    padding-top: 20px;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;
    }

    &-row {
      display: flex;
      gap: 40px;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-col {
      width: 560px;
      @media (min-width:768px) and (max-width: 1025px) {
        width: 100%;
      }
      @media #{media("<", m)} {
        width: calc(100% - 20px);
      }
      .ge-card {
        margin-top: 40px;
        margin-bottom: 40px;
        @media #{media("<", m)} {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 160%;
      }
    }
  }

  &__trainings {
    margin-top: 100px;
    border-top: 1px solid color(green);
    padding-top: 20px;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 12px;
    }
    &-title {
      margin-bottom: 40px;
      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-row {
      display: flex;
      gap: 40px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-col {
      width: 560px;
      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &-text {
      margin-bottom: 12px;

      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      &.custom-1 {
        max-width: 543px;
        @media #{media("<", m)} {
          width: 100%;
        }
      }
    }

    &-subtitle {
      margin-bottom: 24px;

      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(14px);
        line-height: 150%;
      }
    }
  }

  &__it {
    margin-top: 100px;
    border-top: 1px solid color(green);
    padding-top: 20px;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 12px;
    }
    &-title {
      margin-bottom: 40px;
      @media #{media("<", m)} {
        margin-bottom: 20px;

        width: 100%;
      }
    }

    &-row {
      display: flex;
      gap: 40px;

      @media #{media("<", d)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }

    }

    &-subtitle {
      width: 360px;

      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media (max-width:1025px) {
        width: 100%;
      }

      @media #{media("<", m)} {
        width: 100%;

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-text {
      width: 760px;

      @media (max-width:1025px) {
        width: 100%;
      }

      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &-text {
      margin-bottom: 12px;
    }
  }
}

.personal-subsection {
  margin-top: 100px;
  border-top: 1px solid color(light-green);
  padding-top: 20px;

  @media #{media("<", m)} {
    margin-top: 40px;
    padding-top: 8px;
  }
  &__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__row {
    display: flex;

    &.first {
      gap: 39px;
      margin-bottom: 40px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &.second {
      gap: 40px;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }
  }

  &__col {

    &.text {
      width: 560px;
      @media #{media("<", m)} {
        width: calc(100% - 20px);
      }
    }

    &.left {
      width: 360px;
      @media (min-width:768px) and (max-width: 1025px) {
        width: 70%;
      }
      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &.right {
      width: 760px;
      @media #{media("<", m)} {
        width: 100%;

        .recruitment-processes__hr-mark{
          margin-bottom: 8px;
        }
      }
    }

    .ge-card {
      .short {
        width: 266px;
      }
    }
  }

  &__subtitle {
    margin-bottom: 24px;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__subrow {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 40px;

    @media #{media("<", m)} {
      margin-top: 20px;
      margin-bottom: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__text {
    &.custom-top {
      margin-top: 40px;

      @media #{media("<", m)} {
        margin-top: 20px;
      }
    }
  }
}

.material-help {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid #045C25;

  @media #{media("<", m)} {
    margin-top: 40px;
    padding-top: 8px;
  }
  &__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(24px);
      line-height: 120%;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media #{media("<", t)} {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__col {
    width: 360px;
    @media (min-width:768px) and (max-width: 1025px) {
      width: 100%;
    }
    @media #{media("<", m)} {
      width: 100%;
    }
  }

  &__text {
    &.top {
      margin-top: 20px;
    }
  }

  &__subtext {
    margin-bottom: 24px;
    margin-top: 20px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }
}

.education-support {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid #045C25;

  @media #{media("<", m)} {
    margin-top: 40px;
    padding-top: 8px;
  }
  &__title {
    margin-bottom: 60px;

    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(24px);
      line-height: 120%;
    }
  }

  &__row {
    display: flex;
    gap: 49px;

    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }

  &__col {
    &:nth-child(1) {
      width: 351px;
      @media (min-width:768px) and (max-width: 1025px) {
        width: 100%;
      }
      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 758px;
      @media (min-width:768px) and (max-width: 1025px) {
        width: 100%;
      }
      @media #{media("<", m)} {
        width: 100%;
      }
    }
  }

  &__subtitle {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__text {
    &.top {
      margin-bottom: 12px;
    }
  }
}

.education-development {
  margin-top: 100px;
  padding-top: 20px;
  border-top: 1px solid #045C25;

  @media #{media("<", m)} {
    margin-top: 40px;
    padding-top: 8px;
  }
  &__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 44px;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: color(dark);

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(24px);
      line-height: 120%;
    }
  }

  &__row {
    display: flex;
    gap: 49px;

    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }

  &__subtitle {
    width: 351px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);
    @media (min-width:768px) and (max-width: 1025px) {
      width: 100%;
    }
    @media #{media("<", m)} {
      width: 100%;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__text {
    width: 758px;
    @media (min-width:768px) and (max-width: 1025px) {
      width: 100%;
    }
    @media #{media("<", m)} {
      width: 100%;
    }
  }

  &__personal {
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #045C25;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 5px;

      border-top: 1px solid color(borders);
    }
    &-title {
      margin-bottom: 32px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-row {
      display: flex;
      gap: 0px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 9px;
      }
    }

    &-col {
      &:nth-child(1) {
        width: 598px;
        @media #{media("<", m)} {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 562px;
        @media #{media("<", m)} {
          width: 100%;
        }
      }
    }

    &-cube {
      display: flex;
      gap: 13px;
      margin-bottom: 16px;
    }

    &-rect {
      width: 18px;
      height: 18px;

      border-radius: 4px;

      &.green {
        background: #045C25;
      }

      &.light-green {
        background: #69DA91;
      }

      &.grey {
        background: #96BCA4;
      }
    }

    &-text {
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;
      color: color(dark);
    }

    &-grafic{
      // @media print {
      //   height: 250px;

      //   picture{
      //     img{
      //       object-fit: contain;
      //     }
      //   }
      // }
    }

  }

  &__subsection {
    margin-top: 40px;

    &-row {
      display: flex;
      gap: 40px;

      
      &.top {
        margin-bottom: 40px;
        @media #{media("<", m)} {
          margin-bottom: 20px;
        }
      }
      
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-col {
      width: 560px;
      @media #{media("<", m)} {
        width: 100%;
      }
      .ge-card {
        .long {
          width: 360px;
          @media #{media("<", m)} {
            width: 100%;
          }
        }
      }
    }

    &-text {
      &.custom-1 {
        margin-bottom: 12px;
      }

      &.custom-3 {
        margin-top: 40px;
        @media #{media("<", m)} {
          margin-top: 20px;
        }
      }
    }

    &-subtitle {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
      }
    }
  }
}