.corruption {
  .col {
    &:nth-child(1) {
      max-width: 560px;

      @media #{media('<',t)} {
        max-width: 100%;
      }
    }

    &:nth-child(2) {
      max-width: 460px;

      @media #{media('<',t)} {
        max-width: 100%;
      }
    }
  }

  &__inner {
    padding-top: 20px;

    border-top: 1px solid color(green)
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media #{media('<',t)} {
      flex-direction: column;
      gap: 40px
    }
  }
}

.corruption-principles {
  .col {
    &:nth-child(1) {
      display: flex;
      flex-direction: column;
      gap: 40px;

      width: 471px;
    }

    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 32px;

      width: 460px;
    }
  }

  &__inner {
    padding-top: 20px;

    border-top: 1px solid color(green)
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media #{media('<',t)} {
      gap: 40px;
    }
  }
}

.corruption-examenation {

  &__inner {
    padding-top: 20px;

    border-top: 1px solid color(green);
  }

  &__row {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }
}

.corruption-counterparty {
  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media #{media('<',t)} {
      gap: 20px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px;

    width: 360px;
    height: 186px;

    border: 1px solid #EDEDED;

    &:nth-child(odd) {
      border-top: 2px solid #69DA91;
    }

    &:nth-child(even) {
      border-top: 2px solid color(green);
    }

    &-title {
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 16px;
      line-height: 120%;
      letter-spacing: -0.04em;
      text-transform: uppercase;
      color: #727A75;
    }

    &-number {
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 64px;
      line-height: 80%;
      letter-spacing: -0.08em;
      color: #045C25;
      text-align: end;

      &_light {
        color: #69DA91;

      }
    }
  }
}

@media #{media('<',m)} {
  .corruption {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      gap: 20px
    }
  }

  .corruption-principles {
    .col {
      &:nth-child(1) {
        width: auto;

        gap: 24px;
      }

      &:nth-child(2) {
        gap: 24px;

        width: auto;
      }
    }

    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px;
    }
  }

  .corruption-examenation {

    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 24px;
    }
  }

  .corruption-counterparty {

    &__title {
      font-size: 20px;
    }

    &__row {
      margin-top: 20px;
      flex-direction: column;
      gap: 12px;
    }

    &__item {
      width: auto;
      height: 150px;
    }
  }
}