.custom-card{
  padding-top: 12px;
  border-top: 1px solid #87EBAA;

  width: 560px;

  @media #{media("<", t)} {
    width: 100%;
  }
  @media #{media("<", m)} {
    width: rem(335px);
  }
  &__title{
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2A2E2B;

    @media #{media("<", m)} {
      margin-bottom: 12px;

      width: rem(335px);

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__row{
    margin-bottom: 20px;

    display: flex;
    gap: 8px;
    @media #{media("<", m)} {
      margin-bottom: 12px;
    }
  }
  &__num{
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    text-align: center;
    letter-spacing: -0.08em;
    color: #69DA91;

    @media #{media("<", m)} {
      font-size: rem(60px);
      line-height: 80%;
    }
    @media #{media(">", m)} {
      &.w-1{
        min-width: 60px;
      }
      &.w-2{
        min-width: 74px;
      }
    }
  }

  &__texts{

    &-title{
      margin-bottom: 12px;

      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #727A75;
    }
    &-subtext{
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #727A75;

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 160%;
      }
    }
  }

  &__subtitle{
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #2A2E2B;

    @media #{media("<", m)} {
      margin-top: 12px;
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  .recruitment-processes__hr-mark{
    margin-bottom: 12px;
  }

  &__text{
    margin-top: 20px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #2A2E2B;

    @media #{media("<", m)} {
      margin-top: 12px;

      font-size: rem(12px);
      line-height: 160%;
    }
  }

}