.ecology {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }

  &__description {
    max-width: 460px;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
    }
  }
}

.ecology-statistics {
  margin-top: 40px;

  .col {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__inner {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;

    border-top: 1px solid #6BD895;

    .row {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__elem {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .row {
      display: flex;
      gap: 8px
    }
  }

  &__grey {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #727A75;
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: color(green);
  }

  &__subtext {
    max-width: 360px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #727A75;
  }

  &__right {
    display: flex;
    flex-direction: column;

    .row {
      gap: 20px
    }
  }

  &__img {
    margin-top: 28px;
    margin-bottom: 20px;
  }

  &__formulas {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 4px
  }

  &__formula {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: #727A75;
  }

  &__link {
    font-size: 15px;
    line-height: 160%;
    color: #727A75;
    cursor: pointer;
  }
}

.ecology-algorithm {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }

  &__row {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;

    &_bottom {
      display: flex;
      margin-top: 40px;
    }
  }

  &__description {
    max-width: 460px;
    margin-bottom: 24px;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
    }
  }
}

.ecology-dynamic {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    gap: 40px;

    .col {
      display: flex;
      flex-direction: column;
      gap: 12px;

      &:nth-child(1) {
        flex-shrink: 0;
      }
    }
  }

  &__description {
    max-width: 360px;
  }

  sup {
    font-size: 10px;
  }

  &__title {
    sup {
      font-size: 28px;
    }
  }
}

.ecology-CO,
.ecology-CO2 {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);

    sup {
      font-size: 12px;
    }
  }

  &__row {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }

  &__img {
    margin-top: -100px;
    max-width: 662px;
  }

}

.ecology-CO2 {
  &__bottom {
    .row {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
    }

    .col {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }
}

.ecology-description {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__item {
    display: flex;
    gap: 13px;
  }

  &__decor {
    display: block;
    flex-shrink: 0;

    width: 18px;
    height: 18px;
    border-radius: 4px;

    &_1 {
      background: #045C25;
    }

    &_2 {
      background: #69DA91;
    }

    &_3 {
      background: #96BCA4;
    }

    &_4 {
      background: #E0EBE4;
    }
  }

}

.ecology-grom {
  &__inner {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    border-top: 1px solid #045C25;

  }

  &__img {
    width: 360px;
    height: 363px;
  }

  &__right {
    position: relative;
    display: flex;
    gap: 40px;

    .col {
      max-width: 560px;
    }

    .row {
      &:nth-child(2) {
        display: flex;
        justify-content: end;
      }
    }
  }

  &__text {
    margin-top: 44px;
  }

  &__elem_1,
  &__elem_2 {
    width: 59px;
    height: 35px;
  }

  &__elem_2 {
    margin-top: 16px;
  }

  &__name {
    margin-top: 20px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: color(dark);
  }

  &__job {
    margin-top: 4px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #727A75;
  }

}

.ecology-environment {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    .col {
      &:nth-child(1) {
        flex-shrink: 0;
      }
    }
  }

  &__description {
    max-width: 356px;
  }

  &__elem {
    margin-top: 40px;
    padding: 38px 0;
    display: flex;
    justify-content: center;
    position: relative;

    .decor_1 {
      position: absolute;
      top: 0;
      left: 0;

      width: 13.3px;
      height: 13.3px;

      border-top: 1px solid #006525;
      border-left: 1px solid #006525;
    }

    .decor_2 {
      position: absolute;
      top: 0;
      right: 0;

      width: 13.3px;
      height: 13.3px;

      border-top: 1px solid #006525;
      border-right: 1px solid #006525;
    }

    .decor_3 {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 13.3px;
      height: 13.3px;

      border-bottom: 1px solid #006525;
      border-left: 1px solid #006525;
    }

    .decor_4 {
      position: absolute;
      bottom: 0;
      right: 0;

      width: 13.3px;
      height: 13.3px;

      border-bottom: 1px solid #006525;
      border-right: 1px solid #006525;
    }

    &-text {
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      text-align: center;
      color: #727A75;
    }
  }

  &__bottom {
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }
}

.number-item {
  max-width: 369px;
  flex-shrink: 0;

  &__inner {
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-top: 1px solid #045C25;
  }

  &__row {
    display: flex;
    gap: 8px;
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: #045C25;
  }

  &__grey {
    font-family: 'Halvar Breitschrift';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #727A75;
  }

  &__subtext {
    font-size: 15px;
    line-height: 160%;
    color: #727A75;
  }
}

.ecology-cards {
  &__decor {
    position: absolute;
    top: 0;
    left: 0;

    width: 142px;
    height: 116px;
  }

  &__top,
  &__bottom {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 35px;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 34px;

    border: 1px solid #EDEDED;
    border-top: 1px solid #6BD895;

    .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
  }

  &__top {
    border-bottom: none;
  }

  &__bottom-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 40px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: #69DA91;
  }

  &__description {
    position: relative;

    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: color(dark);
    z-index: $index-1;
  }

  &__elem {
    display: flex;
    flex-direction: column;
    grid-row-gap: 10px;
  }

  &__subtext {
    font-size: 12px;
    line-height: 150%;
    color: #727A75;
  }
}