.item {
  &_size-1 {
    .item__col:nth-child(2) {
      left: 56px;
    }
  }

  &_size-2 {
    .item__col:nth-child(2) {
      left: 100px;
    }
  }

  &_size-3 {
    .item__col:nth-child(2) {
      left: 140px;
    }
  }

  &_size-4 {
    .item__col:nth-child(2) {
      left: 200px;
    }
  }

  &_size-5 {
    .item__col:nth-child(2) {
      left: 244px;
    }
  }

  &__row {
    position: relative;

    &:nth-child(1) {
      display: flex;
      padding-top: 12px;
      gap: 8px;

      width: 360px;

      border-top: 1px solid #045c25;
    }

    &:nth-child(2) {
      margin-top: 20px;
    }

    &:nth-child(3) {
      margin-top: 24px;
      width: 560px;
    }
  }

  &__col:nth-child(2) {
    // position: absolute;
    top: 12px;
  }

  &__title {
    padding-bottom: 12px;

    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: color(green);
    white-space: nowrap;
  }

  &__grey {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #727a75;
  }

  &__subtext {
    width: 360px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #727a75;

    &_big {
      @media #{media('<',m)} {
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #727a75;
      }
    }
  }
}

@media #{media('<',m)} {
  .item {
    &__subtext {
      font-size: 12px;
      width: auto;
    }

    &__row:nth-child(1) {
      width: auto;
    }

    &__row:nth-child(3) {
      width: auto;
      margin-top: 12px;
    }

    &__row {
      margin-top: 12px;
    }

    &__title {
      font-size: 18px;
    }
  }
}

.block-diagram {
  overflow: hidden;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69da91;
  }

  &__row {
    &:nth-child(2) {
      margin-top: 40px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
    }
  }

  &__col {
    &:nth-child(2) {
      padding-top: 20px;

      border-top: 1px solid #e8e8e8;
    }
  }

  &__video {
    position: relative;
  }

  & video {
    height: auto;
  }

  &__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);

    @media #{media('<',m)} {
      font-size: 14px;
    }
  }

  &__text {
    max-width: 460px;

    &:nth-child(2) {
      margin-top: 20px;
    }
  }
}

.ebitda {
  .block-diagram__text {
    max-width: 560px;
  }
}

@media #{media('<',m)} {
  .block-diagram {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      &:nth-child(2) {
        margin-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
      }
    }

    &__text {
      max-width: 100%;
    }

    &__col {
      &:nth-child(2) {
        padding-top: 9px;
      }
    }
  }
}

.message-block {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 24px;

  background: #f4f4f4;
  border-radius: 16px;

  &__svg {
    position: absolute;
    top: -10px;
    left: -10px;

    width: 28px;
    height: 28px;
  }

  &__text {
    font-weight: 700;
    font-size: 15px;
    line-height: 150%;
    color: color(dark);
  }

  @media #{media('<',m)} {
    padding: 26px;
    padding-left: 35px;

    &__text {
      font-size: 12px;
    }
  }
}
