.geography {
  padding: 0 20px;
  position: relative;

  &_EN {
    .geography__inner {
      background: url('../assets/images/geography-bg-EN.jpg') center/cover
        no-repeat;
    }
  }
  &_CN {
    .geography__inner {
      background: url('../assets/images/geography-bg-CN.jpg') center/cover
        no-repeat;
    }
  }
  &__inner {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;

    background: url('../assets/images/geography-bg.jpg') center/cover no-repeat;

    @media #{media('<',d)} {
      height: auto;
      background: none;
      gap: 40px;
    }
  }

  &__bg-desktop {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &__box {
    display: none;
    position: relative;

    height: 100vh;

    background: url('../assets/images/geography-bg.jpg') center/cover no-repeat;
    // background: url('../assets/images/geography-bg.jpg') top/contain no-repeat;
    background-color: #f8f8f8;
    overflow-x: scroll;
    overflow-y: hidden;

    @include scrollbar-hidden;

    picture {
      width: 960px;
    }

    @media #{media('<',d)} {
      display: block;
    }

    @media #{media('<',t)} {
      height: 414px;
      background-size: cover;
    }
  }

  &__top {
    @media #{media('<',t)} {
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 20px;
    }

    &-left {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  &__top-inner {
    position: relative;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    z-index: $index-1;

    border-top: 1px solid #045c25;

    @media #{media('<',t)} {
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;
    }
  }

  &__title {
    font-size: 42px;
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 96px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: color(green);
  }

  &__text {
    margin-top: 12px;
  }

  &__row {
    // margin-top: 20px;
    display: flex;
    gap: 8px;

    @media #{media('<',t)} {
      flex-direction: column;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    margin-top: 20px;

    font-size: 18px;
    line-height: 160%;
    color: color(dark);

    span {
      padding-right: 8px;
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 32px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: color(dark);
    }

    @media #{media('<',m)} {
      margin-top: 0;
    }
  }

  &__bottom {
    .col {
      &:nth-child(2) {
        width: 361px;
        flex-shrink: 0;
      }
    }

    @media #{media('<',d)} {
      // margin-top: -400px;
    }

    @media #{media('<',t)} {
      margin-top: 24px;
    }
  }

  &__bottom-inner {
    position: relative;
    display: flex;
    gap: 40px;
    z-index: $index-1;
    padding-top: 20px;

    max-width: 660px;

    border-top: 1px solid color(green);
  }

  &-table {
    margin-top: 20px;
    border-collapse: collapse;

    &__thead {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #2a2e2b;
    }

    &__th {
      padding: 9px 16px;

      width: 121px;
      height: 40px;

      background: #d4e3da;
      border: 1px solid #ededed;

      &_row {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: #2a2e2b;
        text-align: left;
      }
    }

    &__td {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #2a2e2b;
      background: #ffffff;
      border: 1px solid #ededed;
      text-align: center;
    }

    &__green {
      padding: 9px 16px;

      width: 121px;
      height: 40px;

      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: #2a2e2b;
      background: #69da91;
      border: 1px solid #ededed;
      text-align: left;
    }

    &_transparent {
      background: transparent;
      border: none;
    }
  }
}

@media #{media('<',m)} {
  .geography {
    padding: 0;

    &__wrapper {
      padding: 0;
      background: none;
      background-color: white;
    }

    &__inner {
      justify-content: flex-start;
      gap: 0;
    }

    &__box {
      margin-top: 24px;

      height: 497px;

      background: none;

      img {
        object-fit: contain;
      }
    }

    &__top {
      padding-top: 8px;
      grid-template-columns: repeat(1, 1fr);

      &-left {
        gap: 20px;
      }

      &-right {
        margin-top: 24px;
        gap: 12px;
        padding-top: 8px;

        border-top: 1px solid #045c25;
      }
    }

    &__title {
      font-size: 24px;
    }

    &__number {
      font-size: 60px;
    }

    &__row {
      margin-top: 0;
    }

    &__items {
      font-size: 14px;

      span {
        padding-right: 6px;
        font-size: 14px;
      }
    }

    &__middle {
      margin-top: 24px;
      width: calc(100% + 40px);
      margin-left: -20px;
      padding-left: 20px;
      overflow-x: scroll;

      @include scrollbar-hidden;

      picture {
        width: 874px;
        height: 497px;
      }
    }

    &-table {
      width: 100%;
    }

    &__bottom {
      margin-top: 24px;
      flex-direction: column;
      gap: 40px;
      padding-top: 12px;

      max-width: 100%;

      &-inner {
        flex-direction: column;
      }

      .col {
        &:nth-child(1) {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }

        &:nth-child(2) {
          width: auto;
        }
      }
    }
  }
}
