.macroeconomics {
  padding-top: 20px;
  margin-top: 100px;

  border-top: 1px solid color(light-green);

  @media #{media('<',m)} {
    padding-top: rem(8px);
    margin-top: 40px;
  }

  &-title {
    margin-bottom: 40px;

    @media #{media('<',m)} {
      margin-bottom: rem(20px);
      width: rem(335px);
    }

    @media print {
      width: 100%;
    }
  }

  &-subtitle {
    @media #{media('<',m)} {
      margin-bottom: rem(16px);
    }
  }

  &-row {
    margin-bottom: 100px;

    display: flex;
    gap: 40px;

    @media (min-width: 768px) and (max-width: 1025px) {
      flex-direction: column;
    }

    @media #{media('<',m)} {
      margin-bottom: 20px;
      display: block;
    }
  }

  &-col {
    &:nth-child(1) {
      width: 360px;
      flex-shrink: 0;

      @media (min-width: 768px) and (max-width: 1025px) {
        width: 100%;
      }

      @media print {
        width: 100%;
      }

      @media #{media('<',m)} {
        width: 100%;
      }
    }
  }

  &-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

    &.top {
      margin-bottom: 16px;

      @media #{media('<',m)} {
        margin-bottom: rem(8px);
      }

      @media print {
        width: 100%;
      }
    }

    @media #{media('<',m)} {
      font-size: rem(12px);
      line-height: 160%;
    }

    @media print {
      font-size: 12px;
    }


  }

  &-subrow {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    @media #{media('<',m)} {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }
  }

  &-subcol {
    width: 50%;
    padding-top: 12px;

    @media #{media('<',m)} {
      width: 100%;
    }

    @media print {
      width: 100%;
    }

    &.green {
      border-top: 1px solid color(green);
    }

    &.light-green {
      border-top: 1px solid color(light-green);
    }

    &__top {
      display: flex;
      // gap: 8px;
    }

    &__num {
      font-family: Halvar Breitschrift;
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 60px;
      line-height: 80%;
      letter-spacing: -0.08em;
      color: color(green);

      &.light {
        color: color(light-green);
      }
    }

    &__text {
      font-family: Halvar Breitschrift;
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #727A75;
    }

    &__text-grey {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #727A75;
    }
  }

  &-grafics {
    display: flex;
    gap: 20px;

    @media #{media('>',t)} {
      justify-content: space-between;
    }

    @media (min-width: 768px) and (max-width: 1024px) {
      gap: rem(30px);
      flex-direction: column;
    }

    @media #{media('<',m)} {
      width: 100%;
      padding: 0px;
      display: block;
    }

    @media print {
      width: 100%;
    }

    &__col {
      max-width: 460px;
      flex-shrink: 0;

      @media (min-width: 768px) and (max-width: 1025px) {
        max-width: 100%;
      }

      @media #{media('<',m)} {
        max-width: 100%;
        width: 100%;
        padding: 0px;
        display: block;

        &:nth-child(1) {

          @media print {
            // page-break-after: always;
          }
        }

        &:nth-child(2) {
          margin-top: 20px;
        }
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }

      &-title {
        padding-top: 12px;
        margin-bottom: 60px;
        border-top: 1px solid #E8E8E8;

        @media #{media('<',m)} {
          margin-bottom: rem(28px);
        }

        &.second {
          margin-bottom: 88px;

          @media #{media('<',m)} {
            margin-bottom: rem(28px);
          }
        }
      }

      &-img {
        display: flex;
        width: 100%;


        &.first-print {}

      }

      &-links {
        margin-top: 20px;
        display: flex;
        gap: 2px;

        @media #{media('<',m)} {
          &.first {
            display: none;
          }

          &.second {
            display: flex;


          }
        }

        &.chinese {
          margin-top: 40px;

          @media print {
            // page-break-after: always;
          }
        }

        &.quarter {
          margin-top: 11px;
        }

        &.forecast {
          margin-top: 19px;

        }

        &.shares {
          margin-top: 40px;
        }
      }

      &-text {
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        color: color(dark);

        &.big-12 {
          font-size: 12px;

          @media #{media("<", m)} {
            font-size: rem(10px);
          }
        }

        &.big-14 {
          font-size: 14px;

          @media #{media("<", m)} {
            font-size: rem(10px);
          }
        }

        &.chinese {
          width: 100%;

        }
      }

      &-link {
        font-weight: 500;
        font-size: 10px;
        line-height: 150%;
        color: #727A75;
        text-decoration: none;

        &.big-12 {
          font-size: 12px;

          @media #{media("<", m)} {
            font-size: rem(10px);
          }
        }

        &.big-14 {
          font-size: 14px;

          @media #{media("<", m)} {
            font-size: rem(10px);
          }
        }
      }
    }
  }
}

//CHINESE-ECONOMY

.chinese-economy {
  margin-top: 100px;
  padding-top: 20px;

  border-top: 1px solid color(light-green);

  @media #{media('<',m)} {
    padding-top: 12px;
    margin-top: 40px;
  }

  @media print {
    page-break-after: always;
  }

  &__title {
    margin-bottom: 40px;

    @media #{media('<',m)} {
      margin-bottom: 20px;
    }
  }

  &__hero {
    &-row {
      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media (min-width: 768px) and (max-width: 1024px) {
        flex-direction: column;
      }

      @media #{media('<',m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(20px);
        width: 100%;
      }

      @media print {
        width: 100%;
        max-width: 100%;
      }

    }

    &-col {
      flex-shrink: 0;

      &:nth-child(1) {
        width: 460px;

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media('<',m)} {
          width: 100%;
        }

        @media print {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    &-text {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: color(dark);

      @media #{media('<',m)} {
        width: 100%;
        font-size: rem(14px);
        line-height: 160%;
      }

      @media print {
        width: 100%;
        font-size: 14px;
      }
    }

    &-subtitle {
      margin-bottom: 60px;

      @media #{media('<',m)} {
        margin-bottom: rem(25px);
      }
    }

    &-grafic {
      display: flex;
      width: 560px;

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
        width: 100%;
      }

      @media #{media('<',m)} {
        width: 100%;
      }

      @media print {
        width: 100%;
        max-width: 100%;
      }
    }
  }

  &__quarter {
    margin-top: 100px;
    padding-top: 12px;


    border-top: 1px solid color(light-green);

    @media #{media('<',m)} {
      padding-top: rem(5px);
      margin-top: rem(40px);
    }

    &-row {
      margin-top: 68px;

      display: flex;
      justify-content: space-between;
      gap: 20px;

      @media #{media('<',t)} {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @media #{media('<',m)} {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(40px);
      }
    }

    &-col {
      &:nth-child(2) {
        max-width: 560px;

        @media #{media('<',m)} {
          max-width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &-title {
      margin-bottom: 20px;

      @media #{media('<',m)} {
        margin-bottom: rem(15px);
      }
    }

    &-container {
      @include scrollbar-hidden();

      @media #{media('<', m)} {
        width: calc(100% + 40px);
        padding-left: 20px;
        padding-right: 20px;
        margin-left: -20px;
        overflow-x: scroll;
      }

      @media print {
        padding-right: 0px;
        width: 100%;
      }
    }

    &-vector {

      display: block;
      width: 100%;
      height: auto;

      picture {
        img {
          object-fit: fill;
        }
      }

      @media #{media('<',m)} {
        overflow-x: scroll;

        width: 512px;
      }

      @media print {
        width: 100%;
        height: auto;
      }

      &.desktop {
        display: flex;
      }

    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      &.top {
        margin-bottom: 12px;
      }

      @media #{media('<',m)} {
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        font-size: 12px;
      }
    }
  }
}

.ge-card {
  padding-top: 12px;

  width: 100%;
  max-width: 360px;

  @media #{media("<", m)} {
    margin-top: 20px;
  }

  @media print {
    max-width: 100%;
    width: 100%;
  }

  @media print {
    width: 100%;
  }

  &.large {
    max-width: 560px;

    @media print {
      max-width: 100%;
      width: 100%;
    }
  }

  &.green {
    border-top: 1px solid color(green);
  }

  &.light-green {
    border-top: 1px solid color(light-green);
  }

  &.upper {
    margin-bottom: 32px;
  }

  &.no-border {
    border: none;
  }

  &__num {
    margin-bottom: 20px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 80%;
    letter-spacing: -0.08em;
    white-space: nowrap;

    &.green {
      color: color(green);
    }

    &.light {
      color: color(light-green);
    }

    &.large {
      @media #{media('<',m)} {
        font-size: 34px;
      }

      @media (max-width: 350px) {
        font-size: 36px;
      }
    }

    @media (max-width: 1025px) {
      font-size: 50px;
    }

    @media #{media('<',m)} {
      margin-bottom: 12px;

      font-size: 50px;
    }

    @media print {
      font-size: 40px;
    }
  }

  &__top {
    display: flex;
    // gap: 8px;
  }

  &__text {

    white-space: nowrap;
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.06em;
    text-transform: uppercase;
    color: #727A75;

    @media #{media('<',m)} {
      font-size: rem(14px);
      line-height: 100%;
    }

    @media (max-width: 1025px) {
      font-size: 16px;
    }

    @media print {
      font-size: 12px;
    }

    &.top {
      color: color(green);
    }

    &.mg-left {
      margin-left: 7px;
    }

    &-grey {
      max-width: 320px;

      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #727A75;

      @media #{media('<',m)} {
        width: 100%;
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 12px;
      }

      &.large {
        max-width: 560px;

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &.large-360 {
        max-width: 360px;

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &.custom-cuchurina {
        @media #{media('<',m)} {
          width: 100%;
        }

        @media print {
          width: 100%;
        }
      }
    }
  }

  picture {
    height: auto;
  }
}


//CHINESE-FORECAST

.chinese-forecast {
  margin-top: 100px;
  padding-top: 20px;


  border-top: 1px solid color(light-green);

  @media #{media('<',m)} {
    margin-top: rem(40px);
    padding-top: rem(8px);
  }


  picture {
    height: auto;
  }

  &__title {
    margin-bottom: 40px;

    @media #{media('<',m)} {
      margin-bottom: rem(20px);
      font-weight: 700;
      font-size: rem(20px);
      line-height: 120%;
    }

    &-small {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: color(dark);

      &.vector-1 {
        margin-bottom: 23px;

        @media #{media("<", m)} {
          margin-bottom: rem(18px);
        }
      }

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 150%;
      }
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }

    @media #{media('<',m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
  }


  &__col {
    &:nth-child(1) {
      max-width: 460px;

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
      }

      @media #{media('<',m)} {
        max-width: 100%;
        width: 100%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        // page-break-after: always;
      }

    }

    &:nth-child(2) {
      order: -1;
    }

    @media #{media('<',m)} {
      width: 100%;
    }

    @media print {
      width: 100%;
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    @media #{media('<',m)} {
      margin-bottom: rem(8px);
    }

    &.mg-top {
      margin-top: 40px;
    }

    &-small {
      width: 460px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      &.mg-big {
        margin-bottom: 70px;
      }

      &.mg-bot30 {
        margin-bottom: 30px;
      }

      @media #{media("<", m)} {
        margin-bottom: rem(30px);

        width: 100%;

        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }


    }
  }

  &__text {
    width: 460px;

    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
    }

    @media #{media('<',m)} {
      width: 100%;
      font-size: rem(12px);
      line-height: 160%;
    }

    @media print {
      width: 100%;
      font-size: 12px;
    }

    &.line {
      margin-bottom: 12px;
      padding-bottom: 20px;

      border-bottom: 1px solid color(borders);

      @media #{media('<',m)} {
        margin-bottom: rem(5px);

      }
    }

    &.margin-small {
      margin-bottom: 16px;
    }

    &.margin {
      margin-bottom: 63px;

      @media #{media('<',m)} {
        margin-bottom: rem(20px);
      }
    }
  }

  &__grafic {
    display: flex;
    width: 460px;

    @media (min-width: 768px) and (max-width: 1024px) {
      width: 100%;
    }

    @media #{media("<", m)} {
      width: 100%;
    }

    @media print {
      width: 80%;
    }

    &-left {
      display: flex;

      @media print {
        width: 80%;
      }
    }
  }
}

//EUROPE-ECONOMY

.europe-economy {
  margin-top: 100px;
  padding-top: 20px;


  border-top: 1px solid color(light-green);

  @media #{media("<", m)} {
    margin-top: rem(40px);
    padding-top: rem(8px);
  }

  picture {
    height: auto;
  }

  &__title {
    margin-bottom: 40px;

    @media #{media("<", m)} {
      margin-bottom: rem(20px);
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }

    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      width: 100%;
      // page-break-after: always;
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      max-width: 360px;

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
      }

      @media #{media("<", m)} {
        width: 100%;
      }

      @media print {
        width: 100%;
      }
    }

    &:nth-child(2) {
      max-width: 760px;

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
      }


      @media #{media("<", m)} {
        width: 100%;
      }

      @media print {
        width: 100%;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

    &:nth-child(1) {
      margin-bottom: 16px;

      @media #{media("<", m)} {
        margin-bottom: rem(8px);
      }
    }

    @media #{media("<", m)} {
      font-size: rem(12px);
      line-height: 160%;
    }

    @media print {
      width: 100%;
      font-size: 12px;
    }
  }

  &__subtitle {
    &-custom {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
        font-size: 14px;
      }
    }
  }

  &__subsection {
    margin-top: 100px;
    padding-top: 12px;

    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      margin-top: rem(20px);
      padding-top: rem(5px);
    }
  }

  &__cubes {
    margin-top: 20px;
    display: flex;
    gap: 16px;

    &-item {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &-cube {
      width: 10px;
      height: 10px;
      border-radius: rem(2px);

      &.green {
        background: color(green);
      }

      &.light-green {
        background: color(light-green);
      }
    }

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(10px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
        font-size: 10px;
      }
    }
  }

  &__vector {
    display: flex;
    margin-top: 40px;
    @include scrollbar-hidden();

    @media #{media("<", m)} {
      width: 742px;
      margin-top: 23px;
      overflow-x: scroll;
    }

    @media print {
      width: 100%;
    }

    &-container {
      @include scrollbar-hidden();

      @media #{media("<", m)} {
        padding: 0px 20px 0px 20px;
        margin-left: -20px;

        width: calc(100% + 40px);
        overflow-x: scroll;
      }

      @media print {
        padding-right: 0px;
        width: 100%;
      }
    }
  }
}

//KEY-FORECAST

.key-forecast {
  margin-top: 100px;

  padding-top: 20px;
  border-top: 1px solid #69DA91;

  @media #{media("<", m)} {
    margin-top: rem(40px);
    padding-top: rem(8px);
  }

  @media print {
    page-break-after: always;
  }

  picture {
    height: auto;
  }

  &__vector {
    display: flex;
  }

  &__title {
    margin-bottom: 40px;

    @media #{media("<", m)} {
      margin-bottom: rem(20px);
    }

    @media print {
      width: 100%;
    }
  }

  &__subtitle {
    width: 386px;
    margin-bottom: 20px;

    @media #{media("<", m)} {
      width: 100%;
      margin-bottom: rem(8px);
    }

    @media print {
      width: 100%;
    }

    &-small {
      margin-bottom: 24px;

      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
      }
    }
  }

  &__row {
    display: flex;
    gap: 20px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }

    @media print {
      width: 100%;
    }

    &.top {
      justify-content: space-between;

      @media (min-width: 768px) and (max-width: 1024px) {
        flex-direction: column;
      }

      @media print {
        width: 100%;
      }
    }

    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      width: 100%;
    }

    &.bot {
      margin-top: 39px;
      gap: 140px;

      @media (max-width: 1025px) {
        gap: 20px;
      }

      @media #{media("<", m)} {
        margin-top: rem(20px);
      }

      @media print {
        width: 100%;
      }
    }
  }

  &__col {
    flex-shrink: 0;

    &:nth-child(1) {
      width: 460px;

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }

      @media #{media("<", m)} {
        width: 100%;
      }

      &.print {
        @media print {
          width: 100%;
          // page-break-after: always;
        }

      }
    }

    &:nth-child(2) {
      max-width: 560px;

      @media (min-width: 768px) and (max-width: 1024px) {
        max-width: 100%;
      }


      @media #{media("<", m)} {
        width: 100%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }
    }

    &.col {
      width: 460px;

      @media (min-width: 768px) and (max-width: 1024px) {
        width: 100%;
      }

      @media #{media("<", m)} {
        width: 100%;
      }

      @media print {
        width: 100%;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: rem(12px);
      line-height: 160%;
    }

    @media print {
      width: 100%;
      font-size: 12px;
    }
  }

  &__subsection {
    margin-top: 40px;

    padding-top: 20px;
    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      margin-top: rem(20px);
      padding-top: rem(5px);
    }

    &-title {
      margin-bottom: 22px;

      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(9px);
        font-size: rem(12px);
        line-height: 150%;
      }
    }

    &-container {
      @include scrollbar-hidden();

      @media #{media("<", m)} {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: -20px;

        width: calc(100% + 40px);
        overflow-x: scroll;
      }

      @media print {
        padding-right: 0px;
        width: 100%;
      }
    }

    &-vector {
      display: flex;
      @include scrollbar-hidden();

      @media #{media("<", m)} {
        width: rem(677px);
      }

      @media print {
        width: 100%;
      }
    }
  }

  &__stability {
    margin-top: 40px;
    display: flex;
    gap: 140px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
      gap: 40px;
    }

    @media #{media("<", m)} {
      margin-top: rem(20px);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      width: 100%;
      // page-break-after: always;
    }

    &-col {
      &:nth-child(1) {
        width: 460px;

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 560px;
        padding-top: 8px;
        border-top: 1px solid color(borders);

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media("<", m)} {
          padding-top: rem(5px);
          width: 100%;
        }

        @media print {
          width: 100%;
        }
      }
    }

    &-title {
      margin-bottom: 20px;

    }

    &-vector {
      display: flex;
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }

    &-subtitle {
      margin-bottom: 17px;

      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(16px);
        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  &__dinamic {
    margin-top: 40px;
    display: flex;
    gap: 44px;


    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      width: 100%;
    }

    &-col {
      &:nth-child(1) {
        width: 556px;

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 560px;

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          width: 100%;
        }
      }
    }

    &-title {
      margin-bottom: 20px;

      @media #{media("<", m)} {
        margin-bottom: rem(8px);
      }
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  &__dinamic2 {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }

    @media #{media("<", m)} {
      margin-top: rem(20px);
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      width: 100%;
      // page-break-after: always;
    }

    &-col {
      padding-top: 12px;
      border-top: 2px solid color(borders);

      &:nth-child(1) {
        max-width: 560px;

        @media (min-width: 768px) and (max-width: 1024px) {
          max-width: 100%;
        }

        @media #{media("<", m)} {
          max-width: 100%;
          padding-top: rem(5px);
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &:nth-child(2) {
        max-width: 559px;

        @media (min-width: 768px) and (max-width: 1024px) {
          max-width: 100%;
        }

        @media #{media("<", m)} {
          max-width: 100%;
          padding-top: rem(5px);
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &-lefttitle {
      margin-bottom: 130px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(15px);
        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 12px;
      }
    }

    &-righttitle {
      margin-bottom: 22px;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(15px);
        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 12px;
      }
    }

    &-vector {
      &.left {
        display: flex;
        width: 460px;

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &.right {
        display: flex;
        max-width: 559px;

        @media (min-width: 768px) and (max-width: 1024px) {
          max-width: 100%;
        }

        @media #{media("<", m)} {
          max-width: 100%;
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
}

//MUTAL-TRADE

.mutal-trade {
  margin-top: 100px;

  padding-top: 20px;
  border-top: 1px solid #69DA91;


  @media #{media("<", m)} {
    margin-top: rem(40px);
    padding-top: rem(8px);
  }

  @media print {
    max-width: 100%;
    width: 100%;
    margin-top: 20px;
    page-break-after: always;
  }

  picture {
    height: auto;
  }

  &__title {
    margin-bottom: 40px;

    @media #{media("<", m)} {
      width: rem(315px);
      margin-bottom: rem(24px);
      font-size: rem(20px);
      line-height: 120%;
    }

    @media print {
      max-width: 100%;
      width: 100%;
    }
  }

  &__hero {
    display: flex;
    gap: 40px;

    @media (min-width: 768px) and (max-width: 1024px) {
      flex-direction: column;
    }

    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      max-width: 100%;
      width: 100%;
    }

    &-col {
      flex-shrink: 0;

      &:nth-child(1) {
        width: 360px;

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &:nth-child(2) {
        width: 760px;

        @media (min-width: 768px) and (max-width: 1024px) {
          width: 100%;
        }

        @media #{media("<", m)} {
          width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &-text {
      margin-bottom: 40px;

      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: color(dark);

      @media #{media("<", m)} {
        &.desktop {
          display: none;
        }
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }

    &-row {
      display: flex;
      gap: 40px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: rem(20px);
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }
    }

    &-subcol {
      .ge-card {
        @media (max-width: 1025px) {
          max-width: 270px;
        }

        @media #{media("<", m)} {
          max-width: 100%;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }

        .ge-card__text-grey {
          @media (max-width: 1025px) {
            max-width: 270px;
          }

          @media #{media("<", m)} {
            max-width: 100%;
          }
        }
      }
    }
  }

  &__subsection {
    margin-top: 40px;
    display: flex;
    gap: 40px;

    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: rem(20px);
    }

    @media print {
      max-width: 100%;
      width: 100%;
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      &:nth-child(1) {
        margin-bottom: 20px;

        @media #{media("<", m)} {
          margin-bottom: rem(12px);
        }
      }

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  &__balance {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      width: 100%;
      margin-top: rem(20px);
      padding-top: rem(5px);
    }

    @media print {
      max-width: 100%;
      width: 100%;
      // page-break-after: always;
    }

    &-top {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-vector {
      display: flex;
    }



    &-copy {
      display: flex;
      align-items: start;
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        width: rem(335px);
        font-size: rem(12px);
        line-height: 150%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 12px;
      }
    }

    &-container {
      @include scrollbar-hidden();

      @media #{media("<", m)} {
        padding-right: 20px;
        padding-left: 20px;
        margin-left: -20px;

        width: calc(100% + 40px);
        overflow-x: scroll;
      }

      @media print {
        padding-right: 0px;
        max-width: 100%;
        width: 100%;
      }

    }

    &-vector {
      @media #{media("<", m)} {
        width: rem(674px);
        overflow-x: scroll;
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }

    }
  }

  &__shares {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(light-green);

    &.desktop {
      @media #{media("<", m)} {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media #{media("<", m)} {
        padding-top: 0px;
        border: none;
        margin-top: rem(20px);
        display: block;
      }
    }

    &-vector {
      display: flex;
    }

    &-title {
      padding-top: 23px;
      margin-bottom: 40px;

      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        padding-top: rem(5px);
        margin-bottom: rem(23px);
        font-size: rem(14px);
        border-top: 1px solid color(light-green);
      }

      @media print {
        width: 100%;
        font-size: 12px;

      }
    }

    .macroeconomics-grafics__col-links {
      margin-bottom: rem(20px);

      @media #{media("<", m)} {
        margin-top: rem(16px);
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }
    }

    @media print {
      max-width: 100%;
      width: 100%;
      // page-break-after: always;
    }


    &.shares-flex {
      display: flex;
      gap: 20px;
    }
  }

  &__shares2 {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: rem(40px);
      padding-top: rem(5px);
    }

    @media print {
      max-width: 100%;
      width: 100%;
    }

    &-top {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media #{media("<", m)} {
        margin-bottom: rem(16px);
        display: block;
      }

      .mutal-trade__shares2-copy {
        display: flex;
        align-items: start;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
        width: 100%;
      }

      @media print {
        width: 100%;
        font-size: 14px;
      }
    }

    &-container {
      @media #{media("<", m)} {
        width: rem(375px);
        overflow-x: scroll;
        padding-left: 20px;
        margin-left: -20px;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        // page-break-after: always;
      }

    }

    &-vector {
      display: flex;

      &.desktop {
        @media #{media("<", m)} {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media #{media("<", m)} {
          display: block;
          overflow-x: scroll;
        }
      }

      &.vector-1 {
        width: rem(710px);

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }

      &.vector-2 {
        width: rem(936px);

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }

  &__shares3 {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: rem(40px);
      padding-top: rem(5px);
    }

    &-top {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media #{media("<", m)} {
        margin-bottom: rem(16px);
        display: block;
      }

      .mutal-trade__shares2-copy {
        display: flex;
        align-items: start;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
        width: 100%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 14px;
      }
    }

    &-vector {
      &.desktop {
        @media #{media("<", m)} {
          display: none;
        }
      }

      &.mobile {
        display: none;

        @media #{media("<", m)} {
          display: block;
        }
      }
    }
  }

  &__export {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: rem(20px);
      padding-top: rem(5px);
    }

    &-title {
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(12px);
        font-size: rem(14px);
        line-height: 150%;
      }

      @media print {
        max-width: 100%;
        width: 100%;
        font-size: 14px;
      }
    }

    &-vector {
      display: flex;

      &.custom-desktop {
        @media #{media("<", m)} {
          display: none;
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }

      }

      &.custom-mobile {
        display: none;

        @media #{media("<", m)} {
          display: block;
        }
      }
    }
  }

  &__export2 {
    margin-top: 100px;

    padding-top: 12px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: rem(20px);
      padding-top: rem(5px);
    }

    @media print {
      max-width: 100%;
      width: 100%;
      // page-break-after: always;
    }

    &-title {
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: rem(12px);
        font-size: rem(14px);
        line-height: 150%;
      }

      @media print {
        width: 100%;
        font-size: 14px;
      }
    }

    &-vector {
      display: flex;

      &.custom-desktop {
        @media #{media("<", m)} {
          display: none;
        }

      }

      &.custom-mobile {
        display: none;

        @media #{media("<", m)} {
          display: block;
        }
      }
    }
  }

  &__numbers {
    &-block {
      margin-top: 25px;

      @media #{media("<", m)} {
        margin-left: -20px;
        padding-left: 20px;

        width: calc(100% + 40px);

        overflow-x: scroll;

        @include scrollbar-hidden();
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }
    }

    &-rows {
      position: relative;
    }

    &-row {
      padding-bottom: 16px;
      margin-bottom: 24px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 35px;
      align-items: first baseline;

      border-bottom: 1px solid color(borders);

      &:last-child {
        border: none;
      }

      @media #{media("<", m)} {
        padding-bottom: 12px;
        margin-bottom: 19px;
        grid-template-columns: repeat(8, 1fr);
        gap: 16px;

        width: 750px;

        &.second-section {
          width: 800px;

          @media print {
            max-width: 100%;
            width: 100%;
          }
        }

        @media print {
          max-width: 100%;
          width: 100%;
        }
      }
    }

    &-item {
      max-width: 264px;

      @media #{media("<", m)} {
        max-width: 87px;
        width: 87px;
      }

      @media print {
        max-width: 100%;
        width: 100%;
      }

      .numbers-item {
        &__number {
          margin-bottom: 16px;
          display: flex;
          flex-wrap: nowrap;

          @media #{media("<", m)} {
            margin-bottom: 13px;
          }
        }

        &__number-num {
          color: #727A75;
          font-size: 36px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 700;
          line-height: 80%;

          &.big-light {
            color: #69DA91;
            font-size: 88px;

            @media #{media("<", m)} {
              font-size: 24px;
              line-height: 100%;
            }
          }

          &.big-green {
            color: color(green);
            font-size: 64px;

            @media #{media("<", m)} {
              font-size: 20px;
              line-height: 100%;
            }
          }

          &.big-grey {
            font-size: 42px;

            @media #{media("<", m)} {
              font-size: 18px;
              line-height: 100%;
            }
          }

          @media #{media("<", m)} {
            font-size: 16px;
            line-height: 100%;
          }

          @media print {
            width: 100%;
            font-size: 14px;
          }
        }

        &__text {
          font-size: 12px;
          font-family: Manrope;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;
          color: color(black);

          @media #{media("<", m)} {
            font-size: 10px;
          }

          @media print {
            max-width: 100%;
            width: 100%;
            font-size: 10px;
          }
        }
      }
    }
  }
}

//results

.ge-results {
  position: relative;
  margin-top: 44px;
  margin-bottom: 140px;
  display: flex;
  align-items: start;
  gap: 244px;
  border: 1px solid color(light-green);

  @media (min-width: 768px) and (max-width: 1024px) {
    gap: 120px;
    justify-content: space-between;
  }

  @media print {
    max-width: 100%;
    width: 100%;
  }

  @media #{media("<", m)} {
    margin-bottom: 0px;
    margin-top: rem(40px);
    display: block;
  }

  &__rect {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;

    @media #{media("<", m)} {
      svg {
        width: rem(115px);
        height: rem(93px);
      }
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-top: 30px;
    margin-left: 43px;

    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: rem(20px);
      line-height: 120%;
      margin: rem(19px) 0px rem(20px) rem(19px);
    }

    @media print {
      width: 100%;
      font-size: 20px;
    }
  }

  &__main {
    padding: 40px 100px 40px 0px;

    @media (min-width: 768px) and (max-width: 1024px) {
      padding: 40px 40px 40px 0px;
    }

    @media #{media("<", m)} {
      padding: 0px rem(15px) rem(25px) rem(20px);
      width: 100%;
      position: relative;
      z-index: 2;
    }

    @media print {
      max-width: 100%;
      width: 100%;
    }

    &-title {
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: color(dark);

      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 140%;
      }

      @media print {
        width: 100%;
        font-size: 14px;
      }
    }

    &-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);

      &:nth-child(2) {
        margin-bottom: 16px;

        @media #{media("<", m)} {
          margin-bottom: rem(12px);
        }
      }

      @media #{media("<", m)} {
        font-size: rem(12px);
        line-height: 160%;
      }

      @media print {
        width: 100%;
        font-size: 12px;
      }
    }
  }
}


.ge-card__nums-container {
  display: flex;
}