.header {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 84px;

    border-bottom: 1px solid color(borders);
    background: color(white);
    z-index: 4;

    
    @media #{media("<", t)} {
        height: rem(56px);
    }

    &-container {
        display: flex;
        justify-content: space-between;

        width: 100%;
        height: 100%;
    }

    &-container {
        position: relative;
        z-index: 4;
        background: white;
    }

    &-col {
        display: flex;

        &:nth-child(2){
            @media #{media("<", t)} {
                padding-right: 6px;
            }
        }
    }

    &-burger {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        width: 84px;
        height: 84px;

        background: color(green);
        cursor: pointer;
        transition: 0.3s;

        @media #{media("<", t)} {
            width: rem(56px);
            height: rem(56px);
        }

        &.active {
            background: color(dark);
        }

        &__content {
            &-line {
                margin-bottom: 7px;

                width: 26px;
                height: 1.5px;

                background-color: color(white);

                @media #{media("<", t)} {
                    width: rem(19.5px);
                }

                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }


    }

    &-logo {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 40px;

        width: 119px;
        height: 100%;

        svg {
            width: 119px;
            height: 44px;

            @media #{media("<", t)} {
                width: rem(86.5px);
                height: rem(32px);
            }
        }

        @media #{media("<", t)} {
            margin-left: 12px;
            width: rem(86.5px);
        }
    }

    &-title {
        margin-left: 97px;
        padding-top: 31px;

        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -0.01em;
        color: color(black);

        &__green {
            color: color(green);
        }
        @media (max-width: 1279px) {
            display: none;
        }
        @media #{media(">", xl)} {
            margin-left: 137px;
        }
        @media #{media("<", t)} {
            display: none;
        }
        @media (max-width: 1025px) {
            margin-left: 35px;
            padding-top: 26px;
        }
    }

    &-text {
        margin-left: 130px;
        padding-top: 26px;

        font-weight: 600;
        font-size: 12px;
        line-height: 100%;
        text-transform: uppercase;

        @media #{media(">", xl)} {
            margin-left: 330px;
        }
        @media (max-width: 1025px) {
            margin-left: 35px;
        }

        &__top {
            margin-bottom: 8px;

            color: color(alt-grey);
        }

        &__bot {
            color: color(green);
        }
        @media (max-width: 1279px) {
            display: none;
        }
        @media #{media("<", t)} {
            display: none;
        }
    }

    &-actions {
        display: flex;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 85px;
            height: 84px;

            border-left: 1px solid color(borders);
            cursor: pointer;


            &:nth-child(2) {
                width: 84px;

                @media #{media("<", t)} {
                    width: rem(57px);
                    height: rem(56px);
                }

                .select-wrapper{
                    width: 100%;
                    height: 100%;
                    .select{
                        width: 100%;
                        height: 100%;
                        transition: 0.3s;

                        .select2-container {
                            width: 100% !important;
                            height: 100%;
                            transition: 0.3s;

                            .selection{
                                height: 100%;
                                transition: 0.3s;

                                .select2-selection{
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    height: 100%;
                                    transition: 0.3s;

                                    .select2-selection__rendered{
                                        padding: 0px;
                                        margin-left: -12px;

                                        font-weight: 500;
                                        font-size: 18px;
                                        line-height: 130%;
                                        text-align: center;
                                        color: #181D1D;

                                        @media #{media("<", t)} {
                                            font-size: 14px;
                                            line-height: 130%;
                                        }
                                    }

                                    .select2-selection__arrow{
                                        b{
                                            display: none;
                                        }
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        top: 50%;
                                        right: 20px;
                                        transform: translateY(-50%);

                                        width: 12px;
                                        height: 13px;

                                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M1.5 4.25L6 8.75L10.5 4.25' stroke='%232A2E2B' stroke-width='1.5'/%3E%3C/svg%3E");
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        transition: 0.3s;

                                        @media #{media("<", t)} {
                                            right: 10px;
                                        }
                                    }
                                }
                                .select2-selection--single{
                                    border: none;
                                    border-bottom: 1px solid color(borders);
                                    transition: 0.3s;
                                    border-radius: 0px;
                                }
                            }
                            &.select2-container--focus{
                                .select2-selection--single{
                                    background-color: color(black) !important;
                                    border-radius: 0px;
                                }
                                .selection{
                                    .select2-selection{
                                        .select2-selection__rendered{
                                            color: color(white);
                                            transition: 0.3s;
                                        }
                                        .select2-selection__arrow{
                                            top: 50%;
                                            transform: translateY(-50%) rotate(180deg);
    
                                            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M1.5 4.25L6 8.75L10.5 4.25' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
                                            background-repeat: no-repeat;
                                            background-size: contain;
                                            transition: 0.3s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:nth-child(3) {
                width: 100px;

                @media #{media("<", t)} {
                    display: none;
                }
            }

            @media #{media("<", t)} {
                width: rem(57px);
                height: rem(56px);
            }

            &-row {
                display: flex;
                align-items: center;

                &:nth-child(1) {
                    gap: 12px;

                    @media #{media("<", t)} {
                        gap: rem(6px);
                    }
                }

                &:nth-child(2) {
                    gap: 8px;
                }
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    &.search {
                        width: 20px;
                        height: 20px;
                    }

                    &.arrow {
                        width: 12px;
                        height: 12px;
                    }

                    &.download {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &-text {
                font-weight: 500;
                font-size: 18px;
                line-height: 130%;
                text-align: center;
                color: color(black);

                @media #{media("<", t)} {
                    font-size: rem(14px);
                    line-height: 130%;
                }

                &.black {
                    color: color(dark);
                }
            }
        }
    }

    &-menu {
        position: relative;
        padding: 40px 60px 60px 60px;
        position: absolute;
        transform: translateX(-100%);

        top: 84px;
        left: 0px;

        width: 465px;
        height: 938px;
        height: calc(100vh - 84px);

        background: color(white);
        transition: 0.3s;
        border-right: 1px solid color(borders);
        z-index: 4;

        @media #{media("<", t)} {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            padding: rem(24px) rem(20px) rem(20px) rem(20px);
            height: calc(100vh - rem(56px));
            width: rem(355px);
            top: rem(56px);
        }

        &.active {
            transform: translateX(0%);
        }

        &__title {
            margin-bottom: 40px;

            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            text-transform: uppercase;
            color: color(alt-grey);

            @media #{media("<", t)} {
                margin-bottom: rem(24px);
                font-size: rem(12px);
                line-height: 100%;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
        }

        &__item {
            padding-bottom: 24px;
            display: flex;
            align-items: start;
            justify-content: space-between;



            border-bottom: 1px solid color(borders);
            cursor: pointer;
            transition: 0.3s;

            @media #{media("<", t)} {

                padding-bottom: rem(12px);
            }

            &-text {
                width: 309px;

                font-weight: 700;
                font-size: 28px;
                line-height: 100%;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: color(dark);
                transition: 0.3s;

                @media #{media("<", t)} {
                    width: rem(268px);
                    font-size: rem(16px);
                    line-height: 110%;
                }
            }

            &-num {
                font-weight: 700;
                font-size: 28px;
                line-height: 100%;
                text-align: right;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: #E1E7E3;
                transition: 0.3s;

                @media #{media("<", t)} {
                    font-size: rem(16px);
                    line-height: 100%;
                }
            }

            &:hover {
                border-bottom: 1px solid color(green);

                &>.header-menu__item-text {
                    color: color(green);
                }

                &>.header-menu__item-num {
                    color: color(green);
                }
            }
            &.active{
                border-bottom: 1px solid color(green);
                
                &>.header-menu__item-text {
                    color: color(green);
                }

                &>.header-menu__item-num {
                    color: color(green);
                }
            }
        }

        &__code {
            margin-top: 75px;

            picture {
                width: 83px;
                height: 83px;
            }

            @media #{media("<", t)} {
                display: none;
            }
        }

        &__download {
            display: none;

            @media #{media("<", t)} {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: rem(14px);

                width: rem(315px);
                height: rem(57px);

                border: 1px solid #E8E8E8;
            }

            &-icon {
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    width: rem(20px);
                    height: rem(20px);
                }
            }

            &-text {
                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                color: color(dark);
            }
        }
    }

    &-sub {
        position: absolute;
        top: 84px;
        left: 0px;

        width: 465px;
        height: calc(100vh - 84px);

        transform: translateX(-100%);
        background: color(white);
        transition: 0.3s;
        border-left: 1px solid color(borders);
        border-right: 1px solid color(borders);
        z-index: 3;
        overflow-y: scroll;

        @media #{media("<", t)} {
            top: rem(56px);
            width: rem(355px);
            height: calc(100vh - rem(56px));
        }

        &.active {
            transform: translateX(100%);

            @media #{media("<", t)} {
                transform: translateX(0%);
                z-index: 5;
            }
        }

        &__list {
            padding: 90px 49px 23px 60px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 32px;

            height: 100%;
            height: auto;

            @media #{media("<", t)} {
                padding: rem(24px) rem(20px) rem(22px);
                gap: rem(20px);
            }
        }

        &__item {

            &-title {
                display: flex;
                align-items: center;
                gap: 12px;

                font-weight: 700;
                font-size: 18px;
                line-height: 130%;
                color: color(dark);

                cursor: pointer;

                &::before {
                    display: block;
                    content: "";

                    width: 12px;
                    height: 12px;

                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M3.75 11L8.25 6.5L3.75 2' stroke='%232A2E2B' stroke-width='1.5'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                }

                @media #{media("<", t)} {
                    font-size: rem(16px);
                    line-height: 130%;
                }
            }

            &-subsection {
                display: block;
                margin-top: 16px;
                margin-left: 24px;
                padding-bottom: 8px;

                font-weight: 500;
                font-size: 14px;
                line-height: 130%;
                color: color(alt-grey);
                border-bottom: 1px solid color(borders);
                cursor: pointer;

                @media #{media("<", t)} {
                    margin-top: rem(12px);
                    font-size: rem(14px);
                }
            }
        }

        &__back {
            &-item {
                display: none;

                @media #{media("<", t)} {
                    margin-top: rem(24px);
                    margin-left: rem(20px);
                    display: block;

                    cursor: pointer;
                }
            }

            &-text {
                display: flex;
                align-items: center;
                gap: rem(8px);

                font-weight: 700;
                font-size: rem(20px);
                line-height: 110%;
                letter-spacing: -0.04em;
                text-transform: uppercase;
                color: #045C25;

                &::before {
                    display: block;
                    content: "";

                    width: 12px;
                    height: 12px;

                    background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.25 10.5L3.75 6L8.25 1.5' stroke='%23045C25' stroke-width='1.5'/%3E%3C/svg%3E");
                    background-repeat: no-repeat;
                }
            }
        }

        //
    }

    &-search{
        padding: 31px 140px;
        position: absolute;
        top: 0px;
        left: 0px;

        width: 100vw;
        height: 84px;

        background: #FFFFFF;
        border: 1px solid color(borders);
        border-top: none;
        transition: 0.3s;
        visibility: hidden;

        &__form{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &.active{
            visibility: visible;
            z-index: 3;
            transform: translateY(100%);
        }
    }

    &-form{
        &__input{
            width: 100%;
            
            border: none;
            font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: color(black);

            &::placeholder{
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                letter-spacing: -0.01em;
                color: #727A75;
            }
        }
        &__button{
            display: flex;
            align-items: center;
            justify-content: center;

            svg{
                width: 20px;
                height: 20px;
            }
        }
    }
}