.incorporated{
  margin-top: 100px;
  @media #{media("<", m)} {
    margin-top: 40px;
  }
  &__title{
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2A2E2B;

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &-plugs{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    @media #{media("<", m)} {
      margin-bottom: 40px;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    &__item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 360px;
      height: 82px;

      background: #E0EBE4;

      @media #{media("<", t)} {
        width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);
        height: rem(60px);
      }
      &-background{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        @media #{media("<", m)} {
          svg{
            width: rem(85px);
            height: rem(52px);
          }
        }
      }
      &-text{
        position: relative;
        text-align: center;
        z-index: 2;

        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #2A2E2B;

        
      } 
    }
  }

  &-cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media #{media("<", t)} {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    @media #{media("<", m)} {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
    &__item{
      padding: 50px;

      border: 1px solid #EDEDED;

      @media #{media("<", m)} {
        padding: 20px;
      }
      &.light{  
          border-top: 3px solid #69DA91;
      }
      &.green{
        border-top: 3px solid #045C25;
      }
      &-title{
        margin-bottom: 2px;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #2A2E2B;

        @media #{media("<", m)} {
          font-size: rem(14px);
          line-height: 150%;
        }
      }
      &-num{
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #727A75;

        @media #{media("<", m)} {
          font-size: rem(13px);
          line-height: 160%;
        }
      }
      &-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #2A2E2B;

      }
    }
  }
  &-capital{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #045C25;
    display: flex;
    justify-content: space-between;

    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 18px;
    }
    @media #{media("<", m)} {
      padding-top: 8px;
      margin-top: 40px;

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 18px;
    }
    &__texts{
      &-title{
        margin-bottom: 20px;

        max-width: 460px;

        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #2A2E2B;

        @media #{media("<", t)} {
          max-width: 100%;
          width: 100%;
        }
        @media #{media("<", m)} {
          margin-bottom: 12px;

          width: rem(335px);

          font-size: rem(14px);
          line-height: 150%;
        }
      }
      &-text{
        width: 460px;

        @media #{media("<", t)} {
          width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);
        }
      }
    }

    &__img{
      margin-top: -20px;

      width: 617px;
      height: 560px;

      @media #{media("<", t)} {
        width: 100%;
        height: auto;
      }
      @media #{media("<", m)} {
        margin-top: 0px;

        width: rem(311px);
        height: rem(236px);
      }
    }
  }


  &-dividends{
    padding-top: 20px;
    margin-top: 100px;
    border-top: 1px solid #045C25;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }
    &__text{
      max-width: 760px;
      margin-left: 400px;

      @media #{media('<', t)} {
        width: rem(335px);

        margin-left: 0px;
      }
      @media #{media("<", m)} {
        width: rem(335px);
        margin-left: 0px;
      }
    }

    &__principes{
      padding-top: 20px;
      margin-top: 40px;
      border-top: 1px solid #045C25;

      @media #{media("<", m)} {
        padding-top: 8px;
      }
      &-title{
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #2A2E2B;

        @media #{media("<", m)} {
          margin-bottom: 20px;

          font-size: rem(20px);
          line-height: 120%;
        }
      }

      &-subtext{
        margin-top: 40px;
        margin-left: 400px;

        width: 760px;

        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #2A2E2B;

        @media #{media("<", t)} {
          margin-left: 0px;

          width: 100%;
        }
        @media #{media("<", m)} {
          margin-left: 0px;
          margin-top: 20px;

          width: rem(335px);

          font-size: rem(14px);
          line-height: 160%;
        }
      }
    }

    &__cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;

      @media #{media("<", t)} {
        grid-template-columns: repeat(1, 1fr);
      }
      @media #{media("<", m)} {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }
    &__card{
      padding: 40px 40px 35px;

      height: 211px;

      background: linear-gradient(180deg, #BEF0D7 0%, rgba(190, 240, 215, 0) 100%);
      @media #{media("<", t)} {
        height: auto;
      }
      @media #{media("<", m)} {
        padding: 20px;
        height: auto;
      }
      &-title{
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #2A2E2B;

        @media #{media("<", m)} {
          margin-bottom: 10px;

          font-size: rem(18px);
          line-height: 130%;
        }
      }
      &-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #2A2E2B;
      }
    }
  }

  &-conditions{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 60px;

    border-top: 1px solid #045C25;

    
    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;

      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &__title{

      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", t)} {
        width: 100%;
      }
      @media #{media("<", m)} {
        font-size: rem(14px);
        line-height: 150%;
      }
    }
    &__list{
      max-width: 560px;

      .recruitment-processes__hr-mark{
        margin-bottom: 12px;
      }
    }
  }

  &-accrued{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #87EBAA;

    @media #{media("<", m)} {
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(14px);
        line-height: 150%;
      }
    }


    &__img{
      @media #{media("<", m)} {
        width: rem(523px);
        height: rem(265px);

        picture{
          img{
            object-fit: fill;
          }
        }
      }
      &-container{
        @media #{media("<", m)} {
          padding-left: rem(20px);
          margin-left: rem(-20px);

          width: calc(100% + 20px);

          overflow-x: scroll;
          @include scrollbar-hidden();
        }
      }
    }
  }

  &-shareholders{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }
    &__hero{
      &-row{
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @media #{media('<', t)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
        @media #{media("<", m)} {
          gap: 12px;
        }
      }
      &-subtitle{
        max-width: 560px;

        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #2A2E2B;

        @media #{media('<', t)} {
          max-width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);

          font-size: rem(14px);
          line-height: 150%;
        }
      }
      
      &-text{
        &.top{
          margin-bottom: 16px;

          @media #{media("<", m)} {
            margin-bottom: 12px;
          }
        }
      }
    }
  }

  &-solutions{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(20px);
        line-height: 120%;
      }
    }

    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      &.second{
        margin-top: 40px;
        @media #{media("<", m)} {
          margin-top: 20px;
        }
      }
      &.third{
        margin-top: 28px;
        @media #{media("<", m)} {
          margin-top: 20px;
        }
      }
      @media #{media("<", m)} {
        padding-top: 8px;

        font-size: rem(13px);
        line-height: 160%;
        border-top: 1px solid #6BD895;
      }
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &__col{
      max-width: 560px;

      .recruitment-processes__hr-mark{
        margin-bottom: 12px;

        &.custom{
          width: 476px;
          @media #{media("<", m)} {
            width: 100%;
          }
        }
      }

      @media #{media("<", t)} {
        width: 100%;
        max-width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
  }

  &-council{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(green);

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
    }

    &__subtitle{
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #2A2E2B;
      &.col{
        width: 560px;
        flex-shrink: 0;

        @media #{media("<", t)} {
          width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);

          font-size: rem(14px);
          line-height: 150%;
        }
      }
    }

    &__text{

      &.mb-16{
        margin-bottom: 16px;

        @media #{media("<", m)} {
          margin-bottom: 12px;
        }
      }

      &.col{
        max-width: 560px;
        flex-shrink: 0;

        @media #{media("<", t)} {
          width: 100%;
          max-width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);
        }
      }
    }
    &__subsection{
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid color(green);
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      @media #{media("<", m)} {
        padding-top: 8px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      &-subtitle{
        width: 500px;

        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #2A2E2B;

        @media #{media("<", t)} {
          width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);

          font-size: rem(12px);
          line-height: 150%;
        }
      } 
      &-col{
        width: 560px;

        @media #{media("<", t)} {
          width: 100%;
        }
        @media #{media("<", m)} {
          width: rem(335px);
        }
      }
      &-text{
        &.mb-20{
          margin-top: 20px;
          margin-bottom: 20px;

          @media #{media("<", m)} {
            margin: 12px 0px 12px;
          }
        }
      }
    }

    &__chairman{
      margin-top: 60px;
      padding-top: 12px;
      border-top: 1px solid color(light-green);

      @media #{media("<", m)} {
        margin-top: 40px;
        padding-top: 8px;
      }
      &-title{
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #2A2E2B;

        @media #{media("<", m)} {
          margin-bottom: 20px;

          font-size: rem(18px);
          line-height: 130%;
        }
      } 
      &-row{
        display: flex;
        gap: 20px;
        justify-content: space-between;

        @media #{media("<", m)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 0px;
        }
      }
      &-col{
        max-width: 560px;

        @media #{media("<", m)} {
          width: rem(335px);
        }
      }
      &-subtitle{
        margin-bottom: 16px;

        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #2A2E2B;

        @media #{media("<", m)} {
          margin-bottom: 12px;

          font-size: rem(12px);
          line-height: 150%;
        }
      }
      &-text{
        margin-bottom: 16px;

        @media #{media("<", m)} {
          margin-bottom: 12px;
        }
      }
    }
    &__insurance{
      margin-top: 60px;
      padding-top: 12px;
      border-top: 1px solid color(light-green);
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", m)} {
        margin-top: 28px;
        padding-top: 8px;
        
        display: grid;
        grid-template-columns: repeat(1, 1fr);

      }
      &-title{
        width: 371px;

        @media #{media("<", m)} {
          width: rem(335px);

          font-size: rem(18px);
          line-height: 130%;
        }
      }
      &-text{
        max-width: 560px;

        @media #{media("<", m)} {
          width: rem(335px);
        }
      }
    }
  }

  &-corporative{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }
    &__subtitle{
      max-width: 560px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", t)} {
        max-width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);

        font-size: rem(14px);
        line-height: 150%;
      }
    }
    &__desk{
      max-width: 560px;

      @media #{media("<", t)} {
        max-width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &__text{
      margin-bottom: 12px;
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
    }
  }

  &-governing{
    margin-top: 176px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }
    }
    &__subtitle{
      max-width: 560px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        width: rem(335px);

        font-size: rem(14px);
        line-height: 150%;
      }
    }
    &__desk{
      max-width: 560px;

      @media #{media("<", m)} {
        width: rem(335px);
      }
    }

    &__text{
      margin-bottom: 12px;
    }
  }

  &-general{
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: 28px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(20px);
        line-height: 120%;
      }
    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media('<', t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
      }
    }
    &__col{
      max-width: 560px;

      @media #{media('<', t)} {
        max-width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &__text{
      margin-bottom: 12px;
    }
    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 12px;

        width: rem(335px);

        font-size: rem(13px);
        line-height: 160%;
      }
    }

    &__grey{
      margin-top: 20px;

      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #727A75;

      @media #{media("<", m)} {
        margin-top: 12px;

        width: rem(335px);

        font-size: rem(12px);
        line-height: 160%;
      }
    }
  }
  &-direction{
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 20px;

        font-size: rem(20px);
        line-height: 120%;
      }
    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;

      @media #{media('<', t)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }
      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
      }
    }
    &__col{
      max-width: 560px;

      @media #{media('<', t)} {
        max-width: 100%;
      }
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &__text{
      margin-bottom: 20px;

      @media #{media("<", m)} {
        margin-bottom: 12px;
      }
    }
    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 12px;

        width: rem(335px);

        font-size: rem(13px);
        line-height: 160%;
      }
    }

  }
}

.alt-preview{
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  max-width: 1284px;

  @media #{media("<", t)} {
    padding: 0px 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;

    width: 100%;
  }
  @media #{media("<", m)} {
    padding: 0px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;

    width: rem(335px);
  }
  @media #{media(">", xl)} {
    gap: 140px;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    max-width: 1184px;
  }
  &__img{
    position: relative;
    max-width: 566px;
    max-height: 511px;
    flex-shrink: 0;
    
    @media #{media("<", t)} {
      max-width: 100%;
      height: auto;
      max-height: 100%;
    }
    @media #{media("<", m)} {
      width: rem(335px);
      height: rem(400px);

      background: #F4F4F4;
    }
  }

  &__content{
    max-width: 578px;

    @media #{media("<", t)} {
      max-width: 100%;
    }
    @media #{media("<", m)} {
      width: rem(335px);
    }
  }

  &__title{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2A2E2B;

    @media #{media("<", m)} {
      font-size: rem(20px);
      line-height: 120%;
    }
  }

  &__job{
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #727A75;

    @media #{media("<", m)} {
      margin-bottom: 20px;

      font-size: rem(14px);
      line-height: 150%;
    }
  }

  &__dates{
    display: flex;
    gap: 42px;
    margin-bottom: 20px;

    @media #{media("<", l)} {
      gap: 20px;
    }
    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &-col{
      &.bulgakov{
        &-left{
          width: 258px;

          @media #{media("<", t)} {
            width: 100%;
          }
          @media #{media("<", m)} {
            width: rem(335px);
          }
        }
        &-right{
          width: 278px;

          @media #{media("<", t)} {
            width: 100%;
          }
          @media #{media("<", m)} {
            width: rem(335px);
          }
        }
      }
    }
    &-top{
      margin-bottom: 4px;

      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        width: rem(335px);

        font-size: rem(13px);
        line-height: 160%;
      }

    }
    &-bot{
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        width: rem(335px);

        font-size: rem(12px);
        line-height: 160%;
      }
    }
  }

  &__knowledge{
    display: flex;
    gap: 42px;

    @media #{media("<", l)} {
      gap: 20px;
    }
    @media #{media("<", t)} {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }
    @media #{media("<", m)} {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
    }
    &-title{
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #2A2E2B;

      @media #{media("<", m)} {
        width: rem(335px);

        font-size: rem(13px);
        line-height: 160%;
      }
    }
    &-col{
      .knowledge-mark{
        display: flex;
        gap: 11px;
        margin-bottom: 12px;

        @media #{media("<", m)} {
          gap: 8px;
        }
        &__icon{
          display: flex;
          justify-content: center;

          svg{
            width: 20px;
            height: 20px;

            @media #{media("<", m)} {
              width: rem(12px);
              height: rem(12px);
            }
          }
        }
        &__title{
          margin-bottom: 4px;

          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          color: #727A75;

          @media #{media("<", m)} {
            font-size: rem(10px);
          }
        }
        &__text{
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          color: #2A2E2B;
        }

        &__desk{
          max-width: 230px;

          @media #{media("<", m)} {
            max-width: rem(315px);
            width: rem(315px);
          }
        }
      }
    }
    &-shares{
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #727A75;

      @media #{media("<", m)} {
        margin-left: 20px;
        font-size: rem(10px);
      }
    }

    &-bot{
      margin-top: 39px;

      @media #{media("<", m)} {
        margin-top: 20px;
      }
      &.grom{
        margin-top: 160px;

        @media #{media("<", m)} {
          margin-top: 20px;
        }
      }
    }
  }
}