.incorporated{
  margin-top: 100px;
  &__title{
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: #2A2E2B;
  }

  &-plugs{
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    &__item{
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      
      width: 360px;
      height: 82px;

      background: #E0EBE4;
      &-background{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &-text{
        position: relative;
        text-align: center;
        z-index: 2;

        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #2A2E2B;
      } 
    }
  }

  &-cards{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &__item{
      padding: 50px;

      border: 1px solid #EDEDED;

      &.light{  
          border-top: 3px solid #69DA91;
      }
      &.green{
        border-top: 3px solid #045C25;
      }
      &-title{
        margin-bottom: 2px;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #2A2E2B;
      }
      &-num{
        margin-bottom: 10px;

        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        color: #727A75;
      }
      &-text{
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #2A2E2B;
      }
    }
  }
  &-capital{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid #045C25;
    display: flex;
    justify-content: space-between;

    &__texts{
      &-title{
        margin-bottom: 20px;

        max-width: 460px;

        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #2A2E2B;
      }
      &-text{
        width: 460px;

        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #2A2E2B;
      }
    }

    &__img{
      margin-top: -20px;

      width: 617px;
      height: 560px;
    }
  }


  &-dividends{
    padding-top: 20px;
    margin-top: 100px;
    border-top: 1px solid #045C25;

    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #2A2E2B;
    }
    &__text{
      max-width: 760px;
      margin-left: 400px;

      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #2A2E2B;
    }

    &__principes{
      padding-top: 20px;
      margin-top: 40px;
      border-top: 1px solid #045C25;

      &-title{
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #2A2E2B;
      }

      &-subtext{
        margin-top: 40px;
        margin-left: 400px;

        width: 760px;

        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: #2A2E2B;
      }
    }

    &__cards{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
    }
    &__card{
      padding: 40px 40px 35px;

      height: 211px;

      background: linear-gradient(180deg, #BEF0D7 0%, rgba(190, 240, 215, 0) 100%);
      &-title{
        margin-bottom: 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 130%;
        color: #2A2E2B;
      }
      &-text{
        
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #2A2E2B;
      }
    }
  }

  &-conditions{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: 60px;

    border-top: 1px solid #045C25;
    &__title{

      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #2A2E2B;
    }
    &__list{
      max-width: 560px;

      .recruitment-processes__hr-mark{
        margin-bottom: 12px;
      }
    }
  }

  &-accrued{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #87EBAA;
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 24px;
      line-height: 130%;
      color: #2A2E2B;
    }

  }

  &-shareholders{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(green);

    &__title{
      margin-bottom: 40px;
    }
    &__hero{
      &-row{
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }
      &-subtitle{
        max-width: 560px;

        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #2A2E2B;
      }
      
      &-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #2A2E2B;

        &.top{
          margin-bottom: 16px;
        }
      }
    }
  }

  &-solutions{
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid color(green);

    &__title{
      margin-bottom: 40px;
    }

    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;

      &.second{
        margin-top: 40px;
      }
      &.third{
        margin-top: 28px;
      }
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }

    &__col{
      max-width: 560px;

      .recruitment-processes__hr-mark{
        margin-bottom: 12px;
      }
    }
  }

  &-council{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(green);
    &__title{
      margin-bottom: 40px;
    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }

    &__subtitle{
      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: #2A2E2B;
      &.col{
        width: 560px;
        flex-shrink: 0;
      }
    }

    &__text{
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #2A2E2B;
      &.mb-16{
        margin-bottom: 16px;
      }

      &.col{
        max-width: 560px;
        flex-shrink: 0;
      }
    }
    &__subsection{
      margin-top: 40px;
      padding-top: 20px;
      border-top: 1px solid color(green);
      display: flex;
      gap: 20px;
      justify-content: space-between;
      &-subtitle{
        width: 500px;

        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #2A2E2B;
      } 
      &-col{
        width: 560px;
      }
      &-text{
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #2A2E2B;

        &.mb-20{
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }

    &__chairman{
      margin-top: 60px;
      padding-top: 12px;
      border-top: 1px solid color(light-green);

      &-title{
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 24px;
        line-height: 130%;
        color: #2A2E2B;

      }
      &-row{
        display: flex;
        gap: 20px;
        justify-content: space-between;
      }
      &-col{
        max-width: 560px;
      }
      &-subtitle{
        margin-bottom: 16px;

        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #2A2E2B;
      }
      &-text{
        margin-bottom: 16px;
      }
    }
    &__insurance{
      margin-top: 60px;
      padding-top: 12px;
      border-top: 1px solid color(light-green);
      display: flex;
      gap: 20px;
      justify-content: space-between;
      &-title{
        width: 371px;
      }
      &-text{
        max-width: 560px;
      }
    }
  }

  &-corporative{
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    &__title{
      margin-bottom: 40px;
    }
    &__subtitle{
      max-width: 560px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;
    }
    &__desk{
      max-width: 560px;
    }
    &__text{
      margin-bottom: 12px;
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
  }

  &-governing{
    margin-top: 176px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);

    &__title{
      margin-bottom: 40px;
    }

    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
    &__subtitle{
      max-width: 560px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;
    }
    &__desk{
      max-width: 560px;
    }

    &__text{
      margin-bottom: 12px;
    }
  }

  &-general{
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #2A2E2B;

    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
    &__col{
      max-width: 560px;
    }
    &__text{
      margin-bottom: 12px;
    }
    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;
    }

    &__grey{
      margin-top: 20px;

      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: #727A75;
    }
  }
  &-direction{
    margin-top: 60px;
    padding-top: 20px;
    border-top: 1px solid color(light-green);
    &__title{
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 36px;
      line-height: 120%;
      letter-spacing: -0.02em;
      color: #2A2E2B;
    }
    &__row{
      display: flex;
      gap: 20px;
      justify-content: space-between;
    }
    &__col{
      max-width: 560px;
    }
    &__text{
      margin-bottom: 20px;
    }
    &__subtitle{
      margin-bottom: 20px;

      font-weight: 700;
      font-size: 20px;
      line-height: 130%;
      color: #2A2E2B;
    }

  }
}

.alt-preview{
  margin-top: 60px;
  padding-left: 34px;
  display: flex;
  gap: 20px;
  justify-content: space-between;

  max-width: 1284px;

  @media #{media(">", xl)} {
    padding-left: 274px;
    gap: 140px;
  }
  @media (min-width: 1025px) and (max-width: 1280px) {
    max-width: 1184px;
  }
  &__img{
    max-width: 566px;
    max-height: 511px;
    flex-shrink: 0;
    
  }

  &__content{
    max-width: 578px;
  }

  &__title{
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 36px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2A2E2B;
  }

  &__job{
    margin-bottom: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: #727A75;
  }

  &__dates{
    display: flex;
    gap: 42px;
    margin-bottom: 20px;
    &-col{
      &.bulgakov{
        &-left{
          width: 258px;
        }
        &-right{
          width: 278px;
        }
      }
    }
    &-top{
      margin-bottom: 4px;

      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #2A2E2B;

    }
    &-bot{
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #2A2E2B;
    }
  }

  &__knowledge{
    display: flex;
    gap: 42px;
    &-title{
      margin-bottom: 16px;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      color: #2A2E2B;
    }
    &-col{
      .knowledge-mark{
        display: flex;
        gap: 11px;
        margin-bottom: 12px;

        &__icon{
          display: flex;
          justify-content: center;

          svg{
            width: 20px;
            height: 20px;
          }
        }
        &__title{
          margin-bottom: 4px;

          font-weight: 700;
          font-size: 12px;
          line-height: 150%;
          color: #727A75;
        }
        &__text{
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          color: #2A2E2B;
        }

        &__desk{
          max-width: 230px;
        }
      }
    }
    &-shares{
      font-weight: 400;
      font-size: 12px;
      line-height: 150%;
      color: #727A75;
    }

    &-bot{
      margin-top: 39px;

      &.grom{
        margin-top: 160px;
      }
    }
  }
}