.indicators {
  &__row {
    position: relative;
    margin-top: 60px;
    display: flex;
    gap: 20px;
  }

  &__number {
    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 160px;
    line-height: 80%;
    letter-spacing: -0.08em;
    color: color(green);

    @media #{media('<',m)} {
      font-size: 60px;
    }
  }

  &__suffix {
    position: absolute;
    right: 0;
  }

  .col {
    position: relative;
  }

  &__description {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #2A2E2B;

    @media #{media('<',m)} {
      font-size: 12px;
    }
  }

  &__top {
    padding: 100px 0;
    background: url('../assets/images/indicators-bg.png'), center/cover, no-repeat;


  }

  &__row {
    &-top {
      @media #{media('<',m)} {
        padding: 40px 0;
        background: url('../assets/images/indicators-bg-mobile.png'), center/cover, no-repeat;
      }
    }
  }

  &__bottom {
    margin-top: 100px;

    @media #{media('<',t)} {
      margin-top: 40px;
    }

    .indicators__item {
      position: relative;

      &:nth-child(even) {
        border-top: 1px solid #045C25;
      }

      &:nth-child(odd) {
        border-top: 1px solid #69DA91;
      }
    }
  }

  &__box {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 100px;

    @media #{media('<',t)} {
      grid-template-columns: repeat(1, 1fr);
    }

    &_bottom {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 40px;
      grid-row-gap: 40px;

      @media #{media('<',t)} {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;

    border-top: 1px solid #045C25;

    .row {
      display: flex;
      gap: 8px;

    }

    &-number {
      position: relative;
      display: flex;

      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 100px;
      line-height: 80%;
      letter-spacing: -0.08em;
      color: color(green);

      &_light {
        color: #69DA91;
      }
    }

    &-grey {

      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #727A75;
    }
  }

}

.indicators-finance {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #045C25;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__img {
    margin-top: 40px;
  }
}

@media #{media('<',m)} {
  .indicators {
    &__inner {
      padding: 0;
    }

    &__row {
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__mobile {
      padding: 40px;
      width: calc(100% + 40px);
      margin-left: -20px;
      padding-left: 40px;
      background: url('../assets/images/indicators-bg.png'), center/cover, no-repeat;
    }

    &__number {
      font-size: 60px;

      &_big {
        font-size: 60px;
      }
    }

    &__top {
      padding: 0;
      background: transparent;
    }

    &__description {
      padding-bottom: 12px;

      border-bottom: 1px solid #045C25;
    }

    &__bottom {
      margin-top: 20px;
    }

    &__box {
      margin-top: 40px;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 20px;

      &_bottom {
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
      }
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding-top: 12px;

      .row {
        display: flex;
        gap: 8px;

      }

      &-number {
        font-size: 60px;
      }
    }

  }

  .indicators-finance {
    &__inner {
      padding-top: 8px;
    }

    &__title {
      font-size: 14px;
    }

    &__img {
      margin-top: 20px;
      width: calc(100% + 40px);
      margin-left: -20px;
      padding-left: 20px;
      overflow-x: scroll;
      @include scrollbar-hidden;


    }

    picture {
      width: 507px;
      height: 177px;
    }
  }
}

.colo {
  color: var(--unnamed, #045C25);
  font-size: 64px;
  font-family: Halvar Breitschrift;
  font-weight: 700;
  line-height: 80%;
  letter-spacing: -5.12px;
}

.number-animate {
  opacity: 0;
  transform: translateY(30px);
  transition: transform 1s cubic-bezier(0.33, 1, 0.68, 1);
}