.main-contents {
  margin-bottom: 73px;

  &__container {
    width: 100%;
    padding: 0px 40px;

    @media #{media('<', m)} {
      padding: 0px 20px;
    }
  }

  &__title {
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #045c25;

    @media #{media("<", m)} {
      margin-bottom: 20px;
    }
  }

  &__decor {
    position: absolute;
    right: 0;
    top: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;

    @media #{media('<', d)} {
      grid-template-columns: repeat(2, 1fr);
    }

    @media #{media('<', m)} {
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    @media (max-width: 500px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__card {
    &-content {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      height: 194px;
      background: #f4f4f4;

      @media #{media('<', m)} {
        height: 130px;
        width: 100%;
      }

      @media #{media('<', m)} {
        height: auto;
        min-height: 200px;
      }

      &:hover {
        .main-contents__card-btn {
          &::before {
            transform: translateY(0%);
          }

          .main-contents__card-arrow {
            svg {
              animation: MoveUpInitial 0.2s forwards,
                MoveUpEnd 0.2s forwards 0.2s;
            }
          }
        }
      }
    }

    &-number {
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 2;

      font-family: 'Halvar Breitschrift';
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 80%;
      letter-spacing: -0.03em;
      background: linear-gradient(180deg, #045c25 11.11%, #69da91 77.47%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-text-fill-color: transparent;

      @media #{media('<', m)} {
        font-size: 32px;
        line-height: 80%;
      }
    }

    &-img {
      position: absolute;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;

      picture {
        height: 100%;
      }
    }

    &-btn {
      position: absolute;
      bottom: 20px;
      right: 20px;
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;

      background: #045c25;
      transition: background-color 0.5s cubic-bezier(0.33, 1, 0.68, 1);
      overflow: hidden;

      @media #{media('<', m)} {
        width: 32px;
        height: 32px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #2a2e2b;
        transform: translateY(100%);
        transition: transform 0.5s cubic-bezier(0.33, 1, 0.68, 1);
      }
    }

    &-arrow {
      z-index: 2;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      overflow: hidden;

      svg {
        display: block;
        width: 12.5px;
        height: 12.5px;

        @media #{media('<', m)} {
          width: 10px;
          height: 10px;
        }
      }
    }

    &-subtext {
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      letter-spacing: -0.06em;
      text-transform: uppercase;
      color: #2a2e2b;
      text-align: center;

      &.absolute {
        position: absolute;
        bottom: 20px;
        left: 20px;
      }

      @media #{media('<', m)} {
        margin-top: 12px;
        font-size: 16px;
        line-height: 120%;
      }
    }
  }

  &__code {
    position: absolute;
    bottom: 40px;
    right: 40px;

    width: 107px;
    height: 107px;

    @media #{media('<', t)} {
      display: none;
    }
  }
}