.map {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media #{media('<',m)} {
  .map {
    margin-top: 40px;

    &__img {
      overflow-x: scroll;
    }


    .img {
      height: 610px;
      width: 940px;
    }


  }
}