.operation-results{
  position: relative;
  padding: 81px 30px 47px;
  display: flex;
  gap: 150px;
  margin-top: 20px;

  background: #F4F4F4;

  @media #{media(">", ll)} {
    gap: 20px;
    justify-content: space-between;
  }

  @media (min-width:768px) and (max-width: 1025px) {
    gap: 40px;
  }
  @media #{media("<", m)} {
    padding: 0px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;


    background: color(white);
  }
  &__col{
    &:nth-child(1){
      margin-left: 40px;
      width: 640px;
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &:nth-child(2){
      max-width: 560px;
      
      @media #{media(">", ll)} {
        max-width: 870px;
      }

      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &:nth-child(3){
      max-width: 560px;
      
      @media #{media(">", ll)} {
        max-width: 870px;
      }
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }

  }

  &__title{
    margin-bottom: 32px;
    width: 359px;

    @media #{media(">", ll)} {
      width: 670px;
    }
  }

  &__text{
    max-width: 540px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: color(dark);

    @media (min-width:768px) and (max-width: 1025px) {
      max-width: 400px;
    }
    @media #{media("<", m)} {
      width: 311px;

      font-size: 14px;
      line-height: 150%;
    }
  }

  &__subtitle{
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: 14px;
      line-height: 150%;
    }
  }

  
}