.operation-results{
  position: relative;
  padding: 81px 30px 47px;
  display: flex;
  gap: 40px;
  margin-top: 20px;

  background: #F4F4F4;

  @media #{media("<", m)} {
    padding: 0px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;


    background: color(white);
  }
  &__col{
    &:nth-child(1){
      margin-left: 40px;
      width: 640px;
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }
    &:nth-child(2){
      width: 560px;
      @media #{media("<", m)} {
        width: rem(335px);
      }
    }

  }

  &__title{
    margin-bottom: 32px;
    width: 359px;
  }

  &__text{
    width: 540px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: color(dark);

    @media #{media("<", m)} {
      width: 311px;

      font-size: 14px;
      line-height: 150%;
    }
  }

  &__subtitle{
    margin-bottom: 20px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: 14px;
      line-height: 150%;
    }
  }

  .preview__line{
    width: 1340px;
  }
}