.operation-results {
  margin-top: 20px;

  width: 100%;

  background: #F4F4F4;

  &__inner {
    padding-top: 80px;
    padding-bottom: 50px;
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media #{media('<',t)} {
      padding: 20px 20px;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    @media #{media('<',m)} {
      padding-left: 0px;
      flex-direction: column;

      background: color(white);
    }

  }



  &__col {
    &:nth-child(1) {
      margin-left: 40px;
      width: 640px;

      @media #{media("<", m)} {
        width: rem(335px);
      }
    }

    &:nth-child(2) {
      max-width: 560px;

      @media #{media(">", ll)} {
        max-width: 870px;
      }

      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &:nth-child(3) {
      max-width: 560px;

      @media #{media(">", ll)} {
        max-width: 870px;
      }

      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &.left{
      max-width: 640px;
      flex-shrink: 0;

      @media #{media("<", d)} {
        width: 400px;
      }

      @media #{media("<", t)} {
        width: 100%;
      }
      
      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &.right{
      margin-right: 120px;
      width: 560px;
      flex-shrink: 0;

      @media #{media("<", d)} {
        width: 400px;
      }

      @media #{media("<", t)} {
        max-width: 100%;
        width: 100%;
      }

      @media #{media("<", m)} {
        margin-right: 0px;
        width: 100%;
      }
    }
  }

  &__title {
    width: 359px;

    @media #{media("<", t)} {
      width: 100%;
    }
  }

  &__text {

    max-width: 540px;
    margin-top: 32px;

    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: color(dark);

    @media (min-width:768px) and (max-width: 1025px) {
      max-width: 400px;
    }

    @media #{media("<", t)} {
      max-width: 100%;
      width: 100%;
    }

    @media #{media("<", m)} {
      margin-top: 20px;
      width: auto;
      line-height: 150%;
    }
  }

  &__subtitle {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

    @media #{media("<", m)} {
      font-size: 14px;
      line-height: 150%;
    }
  }


  &__vector{
    display: flex;
  }

  &__inner{
    padding-left: 40px;

    @media #{media("<", m)} {
      padding: 0px;
    }
  }

  @media print {
    page-break-after: always;
  }
}