.preservation-finance {
  margin-top: 100px;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__row {
    display: flex;
    gap: 40px;
    margin-top: 40px;
  }

  &__description {
    width: 560px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);
  }

  .col {
    &:nth-child(2) {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  }
}

.preservation-dynamic {
  margin-top: 100px;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #045C25;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__img {
    margin-top: 20px;
  }
}

.preservation-sales {

  .col {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &:nth-child(2) {
      padding-top: 20px;

      border-top: 1px solid #E8E8E8;
    }
  }

  &__inner {
    border-top: 1px solid #69DA91;
    padding-top: 20px;
  }

  &__img {
    max-width: 460px;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    gap: 40px;
  }

  &__text {
    width: 560px;
  }

  &__description {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__img {
    margin-top: 40px;
  }
}

.preservation-structure {
  .col {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__inner {
    margin-top: 100px;
    padding-top: 20px;

    border-top: 1px solid #045C25;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__img {
    transform: translateX(8px);
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

}

.preservation-profit {
  .text {
    margin-top: 24px;
  }
}

.preservation-expenses {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__description {
    padding-top: 40px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);

  }
}

.preservation-statistics {

  &__row {
    display: flex;
    gap: 40px;
  }

  &__text {
    width: 560px;
  }
}

@media #{media('<',t)} {
  .preservation-finance {
    &__row {
      flex-direction: column;
    }

    &__description {
      width: auto;
    }
  }

  .preservation-sales {
    &__row {
      flex-direction: column;
    }
  }
}