.report-hero {
  display: flex;
  position: relative;
  margin-top: 84px;
  margin-bottom: 20px;

  width: 100%;
  height: 707px;

  @media (min-width: 1025px) {
    margin-top: 84px;
    width: 100%;
    height: calc(100vh - 84px);
  }

  @media (max-width: 1024px) {
    height: 600px;
  }

  @media (max-width: 820px) {
    height: 500px;
  }

  @media #{media("<", m)} {
    margin-top: 56px;
    width: 100%;
    height: 735px;
    height: auto;
  }

  @media print {
    margin-top: 0px;
  }

  &__background {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

    picture {
      height: 100%;
      width: 100%;

      img {
        object-fit: fill;
      }
    }

    @media #{media(">", ll)} {
      width: 100%;
    }

    @media #{media("<", m)} {
      display: none;
    }
  }

  &__row {
    display: flex;
    width: 100%;
    height: 100%;

    @media #{media("<", m)} {
      display: flex;
      flex-wrap: wrap;
      gap: 0px;
    }

    &.about-row {
      gap: 0px;
    }
  }

  &__col {
    position: relative;
    overflow: hidden;
    width: 50%;

    &:nth-child(1) {
      width: 50%;

      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &:nth-child(2) {
      width: 50%;

      @media #{media("<", m)} {
        width: 100%;
        height: 260px;
        order: -1;
      }
    }

    @media #{media("<", m)} {
      width: 100%;

      &:nth-child(1) {
        background: #f4f4f4;
        height: auto;
      }

      &:nth-child(3) {
        order: -1;
        height: 260px;
      }
    }

    &-background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: none;

      @media #{media("<", m)} {
        z-index: -1;
        display: block;
      }

      &.about-desktop {
        display: block;
        z-index: -1;

        @media #{media("<", m)} {
          display: none;
        }
      }
    }

    &.main-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;

      padding: 40px;
      position: relative;

      background: #69da91;

      @media #{media('<', m)} {
        width: 100%;
        height: 380px;
        padding: 20px;
      }
    }

    &.main-right {
      flex-shrink: 0;

      @media #{media('<', m)} {
        width: 100%;
        height: auto;
        order: 1;
      }

      @media (min-width: 550px) and (max-width: 768px) {
        height: auto;
      }
    }
  }

  &__portrait {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;

    &.mobile {
      @media #{media("<", m)} {
        display: flex !important;
      }
    }

    @media #{media("<", m)} {
      display: none;

      &.mobile {
        height: 390px;
        height: auto;
        display: block;
        top: 85px;
        left: 0px;
        position: relative;
        top: 0px;

        picture {
          img {
            object-fit: cover;
          }
        }

        @media print {
          width: 100%;
          height: auto;

          picture {
            img {
              object-fit: contain;
            }
          }
        }
      }

      @media print {
        width: 100%;
        height: auto;

        picture {
          width: 100% !important;
          height: 100% !important;

          img {
            object-fit: contain;
          }
        }

        &.mobile {
          width: 100% !important;

        }
      }
    }

    picture {
      width: 100%;
      height: 100%;

      img {
        object-position: bottom;
        object-fit: contain;
      }
    }

    &.alt-margin {
      margin-left: -37px;
    }

    &.hero-4 {
      position: relative;
      margin-top: auto;
    }
  }

  &__texts {
    position: absolute;

    @media #{media("<", m)} {
      position: relative;
    }
  }

  &__name {
    margin: 40px 0px 10px 40px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: color(dark);

    @media #{media("<", m)} {
      margin: 20px 0px 4px 20px;
    }

    @media #{media(">", xl)} {
      font-size: 20px;
      line-height: 110%;
    }

    @media (max-width: 1025px) {
      font-size: 15px;
    }
  }

  &__job-title {
    margin-left: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: color(alt-grey);

    &.alt-200 {
      position: relative;
      width: 209px;
      z-index: 3;

      @media #{media('<',m)} {
        width: 259px;
      }
    }

    @media #{media("<", m)} {
      margin-left: 20px;
    }
  }

  &__title {
    padding: 40px 40px 60px 60px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #ffffff;

    @media print {
      color: white;
      opacity: 1;
      z-index: 1;
    }

    @media #{media(">", xl)} {
      font-size: 80px;
      line-height: 90%;
    }

    @media (min-width: 1026px) and (max-width: 1281px) {
      padding: 30px 30px 30px 60px;
      font-size: 40px;
    }

    @media (max-width: 1025px) {
      padding: 30px 50px 30px 37px;
      font-size: 32px;
    }

    @media #{media("<", m)} {
      padding: 40px 20px 0px 20px;

      font-size: 32px;
      line-height: 90%;
    }

    @media (max-width: 350px) {
      font-size: 24px;
    }

    @media print {
      position: relative;
      z-index: 4;
      color: white;
      font-size: 32px;
    }

    &.page-2 {
      width: 600px;

      @media #{media("<", m)} {
        width: 335px;
      }

      @media #{media(">", ll)} {
        width: 810px;
      }

      @media #{media("<", t)} {
        width: 350px;
      }
    }

    &.grom {
      max-width: 750px;

      @media (max-width: 1025px) {
        font-size: 35px;
      }

      @media #{media("<", m)} {
        width: 335px;
        font-size: 32px;
      }
    }
  }

  &__list {
    margin-left: 100px;

    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 12px;

      margin-bottom: 16px;

      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: color(dark);
      cursor: pointer;

      &::before {
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3.75 10.5L8.25 6L3.75 1.5' stroke='%232A2E2B' stroke-width='1.5'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        z-index: 2;
      }

      &:hover {
        text-decoration: underline;
      }

      @media #{media(">", ll)} {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 130%;
      }

      @media (max-width: 1025px) {
        font-size: 13px;
      }
    }

    @media #{media("<", t)} {
      display: none;
    }
  }

  &__number {
    position: absolute;
    right: 30px;
    bottom: 20px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 340px;
    line-height: 80%;

    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: -0.03em;

    background: linear-gradient(180deg, #006525 0%, #35ca76 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media #{media(">", xl)} {
      font-size: 450px;
      line-height: 80%;
    }

    @media #{media(">", xl)} {
      font-size: 450px;
      line-height: 80%;
    }

    @media (max-width: 1200px) {
      font-size: 240px;
    }

    @media #{media("<", m)} {
      font-size: 140px;
      bottom: 10px;
      right: 13px;
    }

    &.grom {
      @media (min-width: 768px) and (max-width: 1025px) {
        font-size: 200px;
      }
    }
  }

  &_about {
    @media (min-width: 1024px) and (max-width: 1025px) {
      height: 502px;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
      height: 380px;
    }

    @media #{media("<", m)} {
      height: 619px;
    }
  }

  &__main {
    &-bg {
      position: absolute;
      left: 0px;
      top: 0px;

      width: 100%;
      height: 100%;
    }

    &-img {
      width: 100%;
      height: 100%;

      picture {
        img {
          object-fit: fill;
        }
      }
    }

    &-logo {
      position: absolute;
      bottom: 0px;
      right: 0px;

      @media #{media('<', m)} {
        top: 117px;

        svg {
          height: 263px;
          width: 180px;
        }
      }
    }

    &-title {
      position: relative;
      z-index: 2;
      max-width: 545px;

      font-weight: 700;
      font-size: 90px;
      line-height: 80%;
      letter-spacing: -0.03em;
      color: #ffffff;

      span {
        display: block;
        color: color(dark);
      }

      @media #{media('<', d)} {
        font-size: 60px;
      }

      @media #{media("<", t)} {
        font-size: 40px;
      }

      @media #{media("<", m)} {
        font-size: 48px;
        width: 273px;
      }
    }

    &-text {
      position: relative;
      z-index: 2;
      margin-bottom: 16px;

      font-weight: 700;
      font-size: 24px;
      line-height: 80%;
      letter-spacing: -0.01em;
      color: #2a2e2b;

      @media #{media("<", m)} {
        margin-bottom: 12px;

        font-size: 20px;
        line-height: 80%;
      }
    }

    &-number {
      position: relative;
      z-index: 2;
      font-family: 'Halvar Breitschrift';
      font-style: normal;
      font-weight: 700;
      font-size: 90px;
      line-height: 80%;
      letter-spacing: -0.06em;
      color: #2a2e2b;

      @media #{media('<', d)} {
        font-size: 65px;
      }

      @media #{media("<", m)} {
        font-size: 48px;
        line-height: 80%;
      }
    }
  }

  &.custom-main {
    @media #{media("<", m)} {
      height: 760px;
    }
  }

  &_about {
    display: flex;
    height: auto;

    @media #{media(">", xl)} {
      .report-hero__background {
        background-position: top 0px left -100px;
      }
    }

    .report-hero__img-about {
      width: 100%;
      height: auto;

      picture {
        img {
          object-position: top;
          object-fit: cover;

          @media #{media(">", l)} {
            object-fit: fill;
          }
        }
      }
    }
  }

  &.custom-main {
    height: auto;
  }
}

@media print {
  .report-hero__portrait {
    width: 100%;
    height: auto;
  }
}