.report-hero{
  position: relative;
  margin-top: 84px;
  margin-bottom: 20px;

  width: 1440px;
  width: 100%;
  height: 707px;

  @media #{media(">", xl)} {
    width: 100%;
    height: 936px;
  }
  
  @media #{media("<", l)} {
    width: 100%;
    height: 628px;
  }
  
  @media (max-width: 1024px) {
    margin-top: rem(56px);
    height: rem(475px);
  }
  @media (min-width:1024px) and (max-width: 1025px) {
    height: 600px;
  }
  @media #{media("<", m)} {
    margin-top: rem(56px);
    width: 100%;
    height: 735px;
    height: auto;
  }
  &__background{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    @media #{media(">", ll)} {
      width: 100%;
    }
    @media #{media("<", m)} {
      display: none;
    }
  }

  &__row{
    display: flex;
    width: 100%;
    height: 100%;
    @media #{media("<", m)} {
      display: flex;
      flex-wrap: wrap;
      gap: 0px;
    }

    &.about-row{
      gap: 0px;
    }
    &.main-page{
      @media #{media("<", m)} {
        height: rem(760px);
      }
    }
  }

  &__col{
    position: relative;
    overflow: hidden;
    width: 50%;

    &:nth-child(1){
      width: 50%;
      @media #{media("<", m)} {
        width: 100%;
      }
    }
    &:nth-child(2){
      width: 50%;
      @media #{media("<", m)} {
        width: 100%;
        height: 260px;
        order: -1;
      }
    }

    @media #{media("<", m)} {
      width: 100%;

      &:nth-child(1){
        background: #F4F4F4;
        height: auto;
      }
      &:nth-child(3){
        order: -1;
        height: 260px;
      }
    }

    &-background{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      display: none;
      @media #{media("<", m)} {
        z-index: -1;
        display: block;
      }
    }

    &.about{
      &-left{
        width: 740px;
        
        @media #{media(">", ll)} {
          width: 51.5%;
        }
        
        @media #{media("<", m)} {
          height: rem(359px);
        }
      }
      &-right{
        width: 700px;
        @media #{media(">", ll)} {
          width: 48.5%;
        }
        
        @media #{media("<", m)} {
          order: -1;
          height: rem(260px);
        }
      }
    }

    &.main-left{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-shrink: 0;

      padding: 40px;
      position: relative;
      width: 740px;

      background: #69DA91;

      @media #{media("<", l)} {
        width: 51.5%;
      }
      @media #{media(">", ll)} {
        width: 51.5%;
      }
      @media #{media('<', m)} {
        width: 100%;
        height: rem(380px);
        padding: 20px;
      }
    }
    &.main-right{

      width: 700px;
      flex-shrink: 0;
      @media #{media("<", l)} {
        width: 48.5%;
      }
      @media #{media(">", ll)} {
        width: 48.5%;
      }
      @media #{media('<', m)} {
        width: 100%;
        height: rem(380px);
        order: 1;
      }
    }
  }

  &__portrait{
    position: absolute;
    top: rem(60px);
    left: 0px;
    z-index: 2;
    width: 691px;
    height: auto;
    width: 100%;

    &.mobile{
      display: none;
    }
    @media #{media(">", xl)} {
      width: 980px;
    }
    @media #{media("<", m)} {
      display: none;

      &.mobile{
        height: 390px;
        display: block;
        top: rem(85px);
        left: 0px;
        height: auto;
        position: relative;
        top: 0px;

        picture{
          img{
            object-fit: fill;
          }
        }
      }
    }

    picture{
      width: 100%;
      height: 100%;

      img{
        object-fit: cover;
        @media #{media("<", m)} {
          object-fit: contain;
        }
      }
    }

    &.alt-margin{
      margin-left: -37px;
    }

    &.hero-4{
      top: 0px;
      // top: rem(75px);
      height: 100%;

      @media #{media("<", l)} {
        // top: rem(95px);
      }
      img{
        object-fit: contain;
        object-position: bottom;
      }
    }

    &.page-2{
      @media (max-width: 1025px) {
        top: rem(120px);
      }
      @media (min-width: 1024px) and (max-width: 1280px) {
        margin-left: 50px;
      }
      
    }

    &.hero-5{
      top: 130px;

      @media (min-width: 768px) and (max-width: 1024px) {
        top: rem(150px);
      }
      picture{
        img{
          object-fit: contain;
        }
      }
    }

    &.grom{
      @media (min-width: 768px) and (max-width: 1024px) {
        display: none;
      }
      
    }
    &.custom-1024{
      display: none;
      @media (min-width: 768px) and (max-width: 1024px) {
        display: block;
        top: rem(100px);
        margin-left: -20px;
      }
    }
  }

  &__name{
    margin: 40px 0px 10px 40px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 16px;
    line-height: 110%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: color(dark);
    @media #{media("<", m)} {
      margin: 20px 0px 4px 20px;
      
    }
    @media #{media(">", ll)} {
      font-size: rem(20px);
      line-height: 110%;
    }

    @media (max-width: 1025px) {
      font-size: 15px;
    }
    
  }

  &__job-title{
    margin-left: 40px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: color(alt-grey);

    &.alt-200{
      position: relative;
      width: 209px;
      z-index: 3;

      @media #{media('<',m)} {
        width: rem(259px);
      }
    }
    @media #{media("<", m)} {
      margin-left: 20px; 
    }
  }


  &__title{
    padding: 40px 40px 60px 60px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 60px;
    line-height: 90%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;

    
    @media #{media(">", ll)}{
      font-size: rem(80px);
      line-height: 90%;
    }
    @media (min-width: 1026px) and (max-width: 1281px) {
      padding: 30px 30px 30px 60px;
      font-size: 40px;
    }
    @media (max-width: 1025px) {
      padding: 30px 30px 30px 37px;
      font-size: 32px;
    }
    @media #{media("<", m)} {
      padding: 40px 20px 0px 20px;

      font-size: rem(32px);
      line-height: 90%;
    }
    &.page-2{
      width: 600px;
      @media #{media("<", m)} {
        width: 335px;
      }
      @media #{media(">", ll)} {
        width: rem(810px);
      }
    }
    &.grom{
      @media (max-width: 1025px) {
        font-size: 35px;
      }
    }
  }

  &__list{
    margin-left: 100px;

    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }
    &-item{
      display: flex;
      align-items: center;
      gap: 12px;

      margin-bottom: 16px;

      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: color(dark);

      &::before{
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M3.75 10.5L8.25 6L3.75 1.5' stroke='%232A2E2B' stroke-width='1.5'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        z-index: 2;
      }
      @media #{media(">", ll)} {
        margin-bottom: rem(20px);
        font-size: куь(16px);
        line-height: 130%;
      }

      @media (max-width: 1025px) {
        font-size: 13px;
      }
    }
    @media #{media("<", t)} {
      display: none;
    }

    
  }

  &__number{
    position: absolute;
    right: 30px;
    bottom: 20px;

    font-family: 'Halvar Breitschrift';
    font-weight: 700;
    font-size: 340px;
    line-height: 80%;

    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: -0.03em;

    background: linear-gradient(180deg, #006525 0%, #35CA76 95.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    
    @media #{media(">", xl)} {
      font-size: 450px;
      line-height: 80%;
    }
    @media #{media(">", xl)} {
      font-size: 450px;
      line-height: 80%;
    }
    @media (max-width: 1200px) {
      font-size: 240px;
    }

    @media #{media("<", m)} {
      font-size: rem(140px);
      bottom: 10px;
      right: 13px;
    }
    &.grom{
      @media (min-width: 768px) and (max-width: 1025px) {
        font-size: 200px;
      }
    }
  }

  &_about{
    @media (min-width: 1024px) and (max-width: 1025px) {
      height: rem(502px);
    }
    @media (min-width: 768px) and (max-width: 1023px) {
      height: rem(380px);
    }
    @media #{media("<", m)} {
      height: rem(619px);
    }
  }

  &__main{

    &-img{
      width: 100%;
      height: 100%;

      picture{
        img{
          object-fit: fill;
        }
      }
    }


    &-logo{
      position: absolute;
      bottom:0px;
      right: 0px;

      @media #{media('<', m)} {
        top: 117px;

        svg{
          height: 263px;
          width: 180px;
        }
      }
    }

    &-title{
      position: relative;
      z-index: 2;
      max-width: 545px;

      font-weight: 700;
      font-size: 90px;
      line-height: 80%;
      letter-spacing: -0.03em;
      color: #FFFFFF;

      span{
        display: block;
        color: color(dark);
      }

      @media #{media('<', d)} {
        font-size: 60px;
      }
      @media #{media("<", m)} {
        font-size: rem(48px);
      }
    }

    &-text{
      position: relative;
      z-index: 2;
      margin-bottom: 16px;

      font-weight: 700;
      font-size: 24px;
      line-height: 80%;
      letter-spacing: -0.01em;
      color: #2A2E2B;

      @media #{media("<", m)} {
        margin-bottom: 12px;

        font-size: rem(20px);
        line-height: 80%;
      }
    }

    &-number{
      position: relative;
      z-index: 2;
      font-family: 'Halvar Breitschrift';
      font-style: normal;
      font-weight: 700;
      font-size: 90px;
      line-height: 80%;
      letter-spacing: -0.06em;
      color: #2A2E2B;

      @media #{media('<', d)} {
        font-size: 65px;
      }
      @media #{media("<", m)} {
        font-size: rem(48px);
        line-height: 80%;
      }
    }
  }
  &.custom-main{
    @media #{media("<", m)} {
      height: rem(760px);
    }
  }

  &_about{
    height: 709px;
    @media #{media(">", xl)} {
      height: auto;
    }
    @media (min-width:2500px) {
      height: 1260px;
    }
    @media #{media("<", l)} {
      height: 628px;
    }
    @media #{media("<", t)} {
      height: rem(375px);
    }
    @media #{media("<", m)} {
      height: auto;
    }
    @media (min-width:1024px) and (max-width:1024px) {
      height: 503px;
    }
    .report-hero__img-about{
      width: 100%;
      height: 100%;
      picture{
        img{
          object-fit: fill;
        }
      }
    }
  }
}