.security {
  &__inner {
    display: flex;
    flex-direction: column;
    gap: 40px
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;

  }
}

.security-conditions {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);
  }

  &__list {
    margin-top: 24px;
  }

  &__row {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
  }

}

.security-training {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 20px;
    display: flex;
    justify-content: end;
  }

  &__text {
    max-width: 760px;

    @media #{media('<',t)} {
      max-width: 100%;
    }
  }

}

.security-work {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px
  }

  &__description {
    max-width: 360px;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
    }
  }

}

.security-covid {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px
  }

  &__description {
    max-width: 360px;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
    }
  }

}

.security-fire {
  &__inner {
    padding-top: 20px;

    border-top: 1px solid #6BD895;
  }

  &__row {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 40px
  }

  &__description {
    max-width: 360px;
  }

  &__col {
    &:nth-child(1) {
      flex-shrink: 0;
    }
  }

}

@media #{media('<',m)} {
  .security {
    &__inner {
      gap: 20px
    }

    &__title {
      font-size: 18px;
    }

    &__row {
      grid-template-columns: repeat(1, 1fr);
      gap: 12px;

    }
  }

  .security-conditions {
    &__inner {
      padding-top: 8px;
    }

    &__title {
      font-size: 18px;
    }

    &__list {
      margin-top: 20px;
    }

    &__row {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 20px
    }

  }

  .security-training {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      justify-content: end;
    }

  }

  .security-work {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px
    }

    &__description {
      max-width: 100%
    }
  }

  .security-covid {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px
    }

    &__description {
      max-width: 100%
    }
  }

  .security-fire {
    &__inner {
      padding-top: 8px;
    }

    &__row {
      margin-top: 20px;
      flex-direction: column;
      gap: 20px
    }

    &__description {
      max-width: 100%
    }
  }
}