.select-wrapper{
  width: 100%;
  height: 100%;
  .select{
      width: 100%;
      height: 100%;
      transition: 0.3s;

      .select2-container {
          width: 100% !important;
          height: 100%;
          transition: 0.3s;

          .selection{
              height: 100%;
              transition: 0.3s;

              .select2-selection{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  transition: 0.3s;

                  .select2-selection__rendered{
                      padding: 0px;
                      margin-left: -12px;

                      font-weight: 500;
                      font-size: 18px;
                      line-height: 130%;
                      text-align: center;
                      color: #181D1D;
                      transition: color .5s cubic-bezier(0.33, 1, 0.68, 1);

                      @media #{media("<", m)} {
                          font-size: 14px;
                          line-height: 130%;
                      }
                  }

                  .select2-selection__arrow{
                      b{
                          display: none;
                      }
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      top: 50%;
                      right: 20px;
                      transform: translateY(-50%);

                      width: 12px;
                      height: 13px;

                      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M1.5 4.25L6 8.75L10.5 4.25' stroke='%232A2E2B' stroke-width='1.5'/%3E%3C/svg%3E");
                      background-repeat: no-repeat;
                      background-size: contain;
                      transition: 0.3s;

                      @media #{media("<", m)} {
                          right: 10px;
                      }
                  }
              }
              .select2-selection--single{
                  border: none;
                  border-bottom: 1px solid color(borders);
                  transition: 0.3s;
                  border-radius: 0px;
              }
          }
          &.select2-container--focus{
              .select2-selection--single{
                  background-color: color(black) !important;
                  border-radius: 0px;
              }
              .selection{
                  .select2-selection{
                      .select2-selection__rendered{
                          color: color(white);
                          transition: 0.3s;
                      }
                      .select2-selection__arrow{
                          top: 50%;
                          transform: translateY(-50%) rotate(-180deg);

                          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M1.5 4.25L6 8.75L10.5 4.25' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
                          background-repeat: no-repeat;
                          background-size: contain;
                          transition: 0.3s;
                      }
                  }
              }
          }
      }
  }
}


.select-wrapper{
    .select2-container--open{
      .select2-dropdown{
        border: 1px solid color(borders);
        border-radius: 0px;
        .select2-results{
          .select2-results__options{
            .select2-results__option{
              padding: 12px;
              display: flex;
              align-items: center;
              justify-content: center;

              font-weight: 500;
              font-size: 18px;
              line-height: 130%;
              text-align: center;
              color: #2A2E2B;
              transition: 0.3s;

              &--highlighted{
                background: color(black);
                color: white;
              }
              &--selected{
                background: none;
                color: color(black);
              }

              @media #{media("<", m)} {
                font-size: 14px;
                line-height: 130%;
            }
            }
            
            
          }
        }
      } 
    }

    .select2-container--default{
      overflow: hidden;
      &:before{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 0;
        transform: translateY(100%);
        
        transition: transform .5s cubic-bezier(0.33, 1, 0.68, 1);
        background-color: #006525;
        pointer-events: none;
      }
      &:hover{
        border-color: #045C25;
        transition: border-color .5s cubic-bezier(0.33, 1, 0.68, 1);
        &:before{
            transform: none;
        }

        .selection{
          .select2-selection__rendered{
            position: relative;
            z-index: 999;
            transition: 0.4s;
            color: white !important;
            
          }
          .select2-selection{
            .select2-selection__arrow{
              top: 50%;
              transform: translateY(-50%) rotate(-180deg);
  
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' viewBox='0 0 12 13' fill='none'%3E%3Cpath d='M1.5 4.25L6 8.75L10.5 4.25' stroke='%23FFFFFF' stroke-width='1.5'/%3E%3C/svg%3E");
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
          
        }
      }

      &.select2-container--open{
        &:before{
          content: none;
        }
      }

      
    }
}