.strategy-ticket {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
  padding: 30px;

  width: 560px;
  height: 208px;


  border: 2px solid #69DA91;
  overflow: hidden;

  &__title {
    z-index: $index-1;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: color(dark);

  }

  &__text {
    z-index: $index-1;

    font-family: 'Manrope';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: color(dark);

  }

  &__svg {
    position: absolute;
    top: 0;
    left: 0;
  }

}

.strategy-cards {
  margin-top: 100px;

  &__inner {
    display: flex;
    gap: 12px;
    justify-content: space-between;
  }
}

.strategy-stakeholder {
  margin-top: 100px;

  &__box {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

  }
}

.strategy-card {
  padding: 25px;
  position: relative;

  height: 258px;

  border: 1.10476px solid #E8E8E8;

  &:not(:last-child, :nth-child(4)) {
    border-right: 0;
  }

  &_small {
    height: 154px;
    border-top: 0;
  }

  &__text {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: color(dark);

    span {
      font-weight: 700;
    }
  }

  &__number {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 44.2px;
    height: 44.2px;

    border: 1.10476px solid #E8E8E8;
    border-right: 0;
    border-bottom: 0;

    p {
      @include absolute-center;
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 25px;
      line-height: 80%;
      letter-spacing: -0.08em;
      background: linear-gradient(180deg, #045C25 16.15%, rgba(85, 222, 145, 0.37) 79.17%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
}

.strategy-principles {
  margin-top: 100px;


  &__inner {
    border-top: 1px solid #69DA91;
    padding-top: 20px;
  }

  &__box {
    display: flex;
    margin-top: 40px;
    gap: 40px;
  }

  .row {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__subtitle {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);
  }

  &__description {
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: color(dark);
  }

  &__subtitile {
    width: 460px;

    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: color(dark);
  }

  &__list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    display: flex;
    gap: 8px;
  }

  &-svg {
    flex-shrink: 0;
  }

  &__text {
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #2A2E2B;
  }
}

.strategy-mechanism {
  display: block;
  margin-top: 100px;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }
}

.strategy-iter {
  margin-top: 100px;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__box {
    margin-top: 40px;
    display: flex;
  }

  .col {
    width: 50%;
  }

  &__text {
    max-width: 561px;
  }
}

.strategy-partners {
  margin-top: 100px;

  .col {
    width: 50%;
  }

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__box {
    display: flex;
    gap: 20px;
  }

  &__text {
    margin-top: 40px;

    max-width: 561px;
  }
}

.strategy-cargo {
  margin-top: 100px;

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    color: color(dark);
  }

  &__box {
    display: flex;
    gap: 20px;
  }

  &__text {
    margin-top: 40px;

    max-width: 561px;
  }
}

.strategy-cooperation {
  margin-top: 100px;

  .col {
    width: 50%;
  }

  &__inner {
    padding-top: 20px;

    border-top: 1px solid #69DA91;
  }

  &__box {
    display: flex;
    margin-top: 40px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px
  }

  &__item {
    display: flex;
    gap: 8px;

    p {
      font-family: 'Manrope';
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      color: color(dark);
    }
  }


  &-svg {
    flex-shrink: 0;
  }
}

@media #{media('<',t)} {
  .strategy-card {

    height: auto;
    padding-bottom: 45px;


    // &:last-child,
    // &:nth-child(4) {
    //   border-right: 1.10476px solid #E8E8E8;
    // }

    // &:not(:last-child) {
    //   border-bottom: none;
    // }

  }
}

@media #{media('<',m)} {
  .strategy-ticket {
    position: relative;
    gap: 12px;
    padding: 20px;

    width: auto;
    height: auto;

    &__title {
      z-index: $index-1;
      font-size: 18px;
    }

    &__text {
      font-size: 12px;
    }

    &__svg {
      left: -33px;
      width: 176px;
      height: 93px;
    }

  }

  .strategy-cards {
    margin-top: 40px;

    &__inner {
      flex-direction: column;
      gap: 12px;
    }
  }

  .strategy-stakeholder {
    margin-top: 40px;

    &__box {
      margin-top: 20px;
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .strategy-card {
    padding: 20px;
    padding-right: 50px;

    height: auto;

    border: 1.10476px solid #E8E8E8 !important;

    &:not(:last-child) {
      border-bottom: 0px !important;
    }

    &_small {
      height: auto;
      border-top: 1.10476px solid #E8E8E8;
    }
  }

  .strategy-principles {
    margin-top: 40px;

    &__inner {
      padding-top: 8px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 12px;
    }

    .col {
      width: auto;
    }

    .row {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &__subtitle {
      width: auto;
      font-size: 14px;
    }

    &__description {
      font-size: 12px;
    }

    &__subtitile {
      font-size: 14px;
    }

    &__list {
      margin-top: 12px;
      gap: 4px;
    }

    &__text {
      font-size: 12px;
    }
  }

  .strategy-mechanism {
    margin-top: 40px;

    &__inner {
      padding-top: 8px;
    }
  }

  .strategy-iter {
    margin-top: 40px;

    &__inner {
      padding-top: 8px;
    }

    &__box {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
    }

    .col {
      width: auto;
    }

    &__text {
      max-width: auto;
    }
  }

  .strategy-partners {
    margin-top: 40px;

    .col {
      width: auto;
    }

    &__inner {
      padding-top: 8px;
    }

    &__box {
      display: flex;
      flex-direction: column;
    }

    &__text {
      margin-top: 20px;

      max-width: auto;
    }
  }

  .strategy-cargo {
    margin-top: 40px;

    &__inner {
      padding-top: 8px;
    }

    &__title {
      font-size: 14px;
    }

    &__box {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    &__text {
      margin-top: 20px;

      max-width: auto;
    }
  }

  .strategy-cooperation {
    margin-top: 40px;

    .col {
      width: auto;
    }

    &__inner {
      padding-top: 8px;
    }

    &__box {
      flex-direction: column;
      gap: 12px;
      margin-top: 20px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 10px
    }

    &__item {
      p {
        font-size: 12px;
      }
    }

  }
}