h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 110%;
  letter-spacing: -0.03em;
  color: color(black);

  @media #{media('<',m)} {
    font-size: 24px;
  }

}


h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: color(black);

  @media #{media('<',m)} {
    font-size: 24px;
  }
}

h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: color(black);

  @media #{media('<',m)} {
    font-size: 14px;
  }
}

h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: color(black)
}

h6{
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #2A2E2B;

  @media #{media('<',m)} {
    font-size: 14px;
    line-height: 150%;
    color: #2A2E2B;
  }
}

.text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: color(black);

  @media #{media('<',m)} {
    font-size: 12px;
  }

  &_big {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: color(black);
    font-size: 18px;

    @media #{media('<',m)} {
      font-size: 14px;
    }

  }

}

.links {
  display: flex;

  font-family: 'Manrope';
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;

  &__text {
    color: color(dark);

  }

  &__link {
    color: color(alt-grey)
  }
}


.list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  svg {
    flex-shrink: 0;
  }

  li {
    display: flex;
    gap: 8px;
  }
}

.description {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: color(dark);

  &_big {
    font-weight: 700;
    line-height: 150%;
    color: color(dark);
    font-size: 20px;

    @media #{media('<',m)} {
      font-size: 14px;
    }
  }


}

//title

.title-24 {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #2A2E2B;
}


.normal-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #2A2E2B;
}