.who-we {
  margin-top: 100px;

  @media #{media("<", m)} {
    margin-top: 40px;
  }
  &__hero {
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;

    border-bottom: 1px solid color(green);
    @media #{media("<", m)} {
      padding-top: 8px;
    }

    &-line {
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);

      height: 2px;
      width: 100%;

      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 0;

        width: 100%;
        height: 2px;

        opacity: 0.4;
        border: 1px dashed color(green);
      }

      &::after {
        content: '';
        position: absolute;
        left: -100%;
        top: 0;

        width: 260px;
        height: 2px;

        transition: opacity $transition;
        animation: leftToRight 2s $transition-timing-function infinite forwards;
        animation-delay: 2s,
          1.5s;
        background: linear-gradient(270deg, color(green) 0%, rgba(255, 255, 255, 0) 79.69%);
      }
    }

    &-title {

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-subtitle {
      margin-top: 39px;

      width: 460px;

      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: color(dark);
      @media #{media("<", d)} {
        width: 100%;
      }
      @media #{media("<", m)} {
        margin-top: 0px;
        margin-bottom: 20px;

        width: 100%;

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-text {
      margin-left: 600px;

      width: 560px;
      @media #{media("<", d)} {
        margin-top: 20px;
        margin-left: 0px;

        width: 100%;
      }
      @media #{media("<", m)} {
        margin-left: 0px;

        width: 100%;
      }
    }
  }

  &__horizonts{
    margin-top: 100px;
    
    @media #{media("<", m)} {
      margin-top: 40px;
    }
  }

  &__trains {
    position: relative;

    &-top {
      display: flex;
      gap: 17px;
      margin-top: 20px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-bot {
      display: flex;
      justify-content: end;
      margin-right: 200px;
      margin-top: 478px;

      @media #{media("<", m)} {
        width: 100%;
        
        margin-top: 0px;
        margin-left: 0px;
      }
    }

    

    &-number {
      position: relative;
      font-family: 'Halvar Breitschrift';
      font-weight: 700;
      font-size: 160px;
      line-height: 80%;
      letter-spacing: -0.08em;
      color: #045C25;

      @media #{media("<", m)} {
        width: 100%;

        font-size: rem(60px);
        line-height: 80%;
      }
    }

    &-title {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: color(dark);
    }

    &-cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 40px;

      .ge-card {
        .ge-card__text-grey {
          max-width: 100%;
        }
      }

      @media #{media("<", m)} {
        gap: 20px;
      }
    }

    @media #{media("<", m)} {
      height: auto;
    }

  }


  &__parallax-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
    transition: bottom 0.3s cubic-bezier(0.33, 1, 0.68, 1);
    picture{
      img{
        object-position: center;
        object-fit: cover;
      }
    }
    @media #{media(">", l)} {
      height: auto;
    }
    @media #{media("<", m)} {
      position: relative;
      margin-left: -20px;

      width: 100vw;
      height: 270px;
      
      z-index: 1;
    }
  }

  //NEW-HORIZONTS

  .new-horizonts {
    padding-top: 20px;
    border-top: 1px solid #045C25;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &__title {

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &__text {
      margin-top: 40px;
      margin-left: 600px;

      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: color(dark);

      @media #{media("<", t)} {
        margin-left: 0px;
      }
      @media #{media("<", m)} {
        margin-left: 0px;
        margin-top: 0px;

        width: 100%;

        font-size: rem(14px);
        line-height: 160%;
      }
    }
  }

  .reference {
    margin-top: 100px;
    border-top: 1px solid #69DA91;
    padding-top: 20px;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-subtitle {
      margin-bottom: 40px;

      width: 860px;

      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", t)} {
        width: 100%;
      }
      @media #{media("<", m)} {
        margin-bottom: 20px;

        width: 100%;

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    &-row {
      display: flex;
      gap: 40px;

      @media #{media("<", m)} {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
      }
    }

    &-text {
      width: 560px;

      @media #{media("<", m)} {
        width: 100%;
      }
    }

    &-subrow {

      display: flex;
      gap: 40px;

      &.custom-first {
        margin-top: 100px;
        border-top: 1px solid #045C25;
        padding-top: 20px;

        @media #{media("<", t)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
        @media #{media("<", m)} {
          margin-top: 40px;
          padding-top: 8px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
        }
      }

      &.custom-second {
        margin-top: 40px;

        @media #{media("<", m)} {
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &__col {
        width: 560px;
        @media #{media("<", m)} {
          width: 100%;
        }
      }

      &__card {
        &-number {
          font-family: 'Halvar Breitschrift';
          font-weight: 700;
          font-size: 100px;
          line-height: 80%;
          letter-spacing: -4.8px; 

          &.green {
            color: color(green);
          }

          &.light-green {
            color: color(light-green);
          }

          @media #{media("<", m)} {
            font-size: rem(60px);
            line-height: 80%;
          }
        }

        &-text {
          font-family: 'Halvar Breitschrift';
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          letter-spacing: -0.06em;
          text-transform: uppercase;
          color: #727A75;
        }

        &-textgrey {
          margin-top: 20px;

          font-weight: 400;
          font-size: 15px;
          line-height: 160%;
          color: #727A75;

          @media #{media("<", m)} {
            margin-top: 12px;

            font-size: rem(12px);
            line-height: 160%;
          }
        }

        &-top {
          display: flex;
        }

        &.custom-lightgreen {
          padding-top: 20px;
          border-top: 1px solid #69DA91;
        }
      }


      &__col {
        &.icons {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          align-items: left;

          @media #{media("<", m)} {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
          }
        }
      }

      &__item {


        &:nth-child(1) {
          margin-right: 54px;

          .reference-subrow__item-icon {
            svg {
              width: 88px;
              height: 48px;
            }
          }

          .reference-subrow__item-text {
            margin-top: 34px;
            width: 112px;

            @media #{media("<", m)} {
              margin-top: 10px;

              width: rem(160px);

              font-size: rem(10px);
              line-height: 150%;
            }
          }

          @media #{media("<", m)} {
            order: -4;
            margin-right: 0px;
          }
        }

        &:nth-child(2) {
          margin-top: -15px;
          margin-right: 64px;
          @media #{media("<", m)} {
            margin-right: 0px;
            max-width: 50%;
          }
          .reference-subrow__item-icon {
            svg {
              width: 72px;
              height: 78px;
            }
          }

          .reference-subrow__item-text {
            margin-top: 20px;
            width: 88px;

            @media #{media("<", m)} {
              margin-top: 10px;

              width: auto;

              font-size: rem(10px);
              line-height: 150%;
            }
          }

          @media #{media("<", m)} {
            order: -3;
          }
        }

        &:nth-child(3) {
          margin-right: 35px;

          .reference-subrow__item-icon {
            svg {
              width: 44px;
              height: 56px;
            }
          }

          .reference-subrow__item-text {
            margin-top: 32px;
            width: 45px;

            @media #{media("<", m)} {
              margin-top: 10px;

              width: auto;

              font-size: rem(10px);
              line-height: 150%;
            }
          }
          @media #{media("<", m)} {
            order: -1;
            margin-right: 0px;
          }
        }

        &:nth-child(4) {
          .reference-subrow__item-icon {
            svg {
              width: 64px;
              height: 53px;
            }
          }

          .reference-subrow__item-text {
            margin-top: 31px;
            width: auto;

            @media #{media("<", m)} {
              margin-top: 10px;

              width: rem(160px);

              font-size: rem(10px);
              line-height: 150%;
            }
          }

          @media #{media("<", m)} {
            order: -2;
          }
        }

        &-icon {
          display: flex;
          align-items: center;
          justify-content: start;
        }

        &-text {
          font-weight: 400;
          font-size: 12px;
          line-height: 150%;
          color: #727A75;
        }
      }
    }


    &-mission {
      margin-top: 100px;

      @media #{media("<", m)} {
        margin-top: 40px;
      }
      &__title {
        display: flex;
        align-items: center;
        justify-content: center;

        @media #{media("<", m)} {
          margin-bottom: 10px;
          text-align: center;
        }
      }

      &__block {
        position: relative;
        padding: 33px 0px 34px;
        margin-top: 20px;

        @media #{media("<", m)} {
          padding: rem(26px) rem(16px);
        }
        &-text {
          margin: 0 auto;

          width: 640px;

          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          text-align: center;
          color: #727A75;

          @media #{media("<", m)} {
            margin: 0px;

            width: 100%;
          }
        }

        &-arrow {
          position: absolute;

          &.lt {
            top: 0px;
            left: 0px;
          }

          &.rt {
            top: 0px;
            right: 0px;
          }

          &.ld {
            bottom: 0px;
            left: 0px;
          }

          &.rd {
            bottom: 0px;
            right: 0px;
          }
        }
      }
    }
  }

  &__achievement {
    margin-top: 100px;
    border-top: 1px solid #69DA91;
    padding-top: 20px;


    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;

      @media #{media("<", t)} {
        grid-template-columns: repeat(2, 1fr);
      }
      @media #{media("<", m)} {
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
      }
    }

    &-item {
      position: relative;
      padding: 24px;

      height: 186px;

      border: 1px solid color(borders);

      &:nth-child(7) {
        height: 245px;
        @media #{media("<", m)} {
          height: auto;
        }
      }

      &:nth-child(8) {
        height: 245px;
        @media #{media("<", m)} {
          height: auto;
        }
      }

      &:nth-child(9) {
        height: 245px;
        @media #{media("<", m)} {
          height: auto;
        }
      }
      &:nth-child(10) {
        @media #{media("<", t)} {
          height: 245px;
        }
        @media #{media("<", m)} {
          height: auto;
        }
      }

      &.light-green {
        border-top: 2px solid #69DA91;
      }

      &.green {
        border-top: 2px solid #045C25;
      }


      @media #{media("<", d)} {
        height: 210px;
      }

      @media #{media("<", m)} {
        padding: 20px;
        height: auto;
        min-height: 93px;
      }

      @media (max-width:350px) {
        min-height: 140px;
      }
    }

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        width: rem(257px);
      }
    }

    &-img {
      position: absolute;
      bottom: 0px;
      right: 0px;

      width: 120px;
      height: 120px;
      z-index: -1;

      @media #{media("<", m)} {
        width: rem(71px);
        height: rem(72px);
      }
    }
  }

  &__report {
    margin-top: 100px;
    padding-top: 20px;

    border-top: 1px solid #69DA91;

    @media #{media("<", m)} {
      margin-top: 40px;
      padding-top: 8px;
    }
    &-title {
      margin-bottom: 40px;

      @media #{media("<", m)} {
        margin-bottom: 20px;
      }
    }

    &-subtitle {
      margin-bottom: 40px;

      font-weight: 700;
      font-size: 20px;
      line-height: 150%;
      color: color(dark);

      @media #{media("<", m)} {
        margin-bottom: 20px;

        width: rem(247px);

        font-size: rem(14px);
        line-height: 150%;
      }
    }

    .report {


      &-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        @media #{media("<", t)} {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
        @media #{media("<", m)} {
          grid-template-columns: repeat(1, 1fr);
          gap: 20px;
        }
      }

      &-col {
        width: 560px;

        @media #{media("<", d)} {
          width: 100%;
        }
        @media #{media("<", m)} {
          width: 100%;
        }
      }

      &__text {

        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: color(dark);

        @media #{media("<", m)} {
          font-size: rem(12px);
          line-height: 160%;
        }
        &_big {
          margin-bottom: 32px;

          font-size: 18px;

          @media #{media("<", m)} {
            margin-bottom: 20px;

            font-size: rem(14px);
            line-height: 160%;
          }
        }

        &_mark {
          position: relative;
          padding-left: 28px;

          &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;

            width: 20px;
            height: 20px;

            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.99951 9L7.99951 14L16.9995 5' stroke='%23045C25' stroke-width='1.66667'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
          }

          span {
            font-weight: 700;
            @media #{media("<", m)} {
              font-weight: 600;
            }
          }
        }

        &.top {
          margin-bottom: 20px;
          @media #{media("<", m)} {
            margin-bottom: 12px;
          }
        }

        &.right {
          margin-bottom: 32px;
          @media #{media("<", m)} {
            width: 100%;
          }
        }
      }

      &__protocol {
        padding-top: 12px;

        border-top: 1px solid #045C25;

        &-item {
          margin-bottom: 12px;

          font-weight: 700;
          font-size: 14px;
          line-height: 150%;
          color: color(dark);
        }
      }
    }

  }


  &__appeal {
    margin-top: 100px;
    @media #{media("<", m)} {
      margin-top: 40px;
    }
    .appeal {
      &-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;

        @media #{media("<", d)} {
          padding: 0px 20px;
          display: flex;
          gap: 0px;
        }
        @media (min-width:768px) and (max-width: 1025px) {
          padding: 0px;
        }
        @media #{media("<", m)} {
          padding: 0px;
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 24px;
        }
      }

      &-col {
        &:nth-child(1) {
          position: relative;
          width: 720px;
          height: 988px;
          overflow: hidden;

          background: #F4F4F4;
          @media #{media("<", d)} {
            max-width: 521px;
            height: 714px;
          }
          @media (min-width:768px) and (max-width: 1025px) {
            width: 50%;
            height: 515px;
            flex-shrink: 0;
            overflow: visible;
          }
          
          @media #{media("<", m)} {
            width: 100%;

            height: auto;
          }
        }

        &:nth-child(2) {
          position: relative;
          padding: 156px 79px 105px 100px;

          width: 680px;
          height: 1326px;

          border: 1px solid color(borders);
          @media (min-width:768px) and (max-width: 1280px) {
            padding: 110px 20px 84px 20px;
            height: auto;
            width: 50%;
            flex-shrink: 0;
          }
          @media #{media("<", m)} {
            padding: 84px 20px;

            width: 100%;
            height: auto;
          }
        }
      }

      &-img {
        width: 720px;
        height: 780px;

        
        @media #{media("<", d)} {
          width: 521px;
          height: 559px;
        }
        @media (min-width:768px) and (max-width: 1025px) {
          width: 100%;
          height: 413px;
        }
        @media #{media("<", m)} {
          margin-left: 0px;

          width: 100%;
          height: rem(413px);
        }
        picture {
          img {
            object-fit: contain;
          }
        }

        &__svg {
          position: absolute;
          bottom: 0px;
          left: 0px;

          height: 147px;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      &-line {
        position: absolute;
        top: 41px;
        left: 50%;
        transform: translateX(-50%);

        height: 2px;
        width: 640px;

        overflow: hidden;

        &::before {
          content: '';
          position: absolute;
          top: 0;

          width: 100%;
          height: 2px;

          opacity: 0.4;
          border: 1px dashed color(green);
        }

        &::after {
          content: '';
          position: absolute;
          left: -100%;
          top: 0;

          width: 260px;
          height: 2px;

          transition: opacity $transition;
          animation: leftToRight 2s $transition-timing-function infinite forwards;
          animation-delay: 2s,
            1.5s;
          background: linear-gradient(270deg, color(green) 0%, rgba(255, 255, 255, 0) 79.69%);
        }
        
        @media #{media("<", d)} {
          width: 90%;
        }
        @media (min-width:768px) and (max-width: 1025px) {
          top: 12px;
        }
        @media #{media("<", m)} {
          top: 12px;
          width: 90%;
        }
      }

      &-title {
        margin-top: 61px;
        margin-left: 40px;
        @media (min-width:768px) and (max-width: 1025px) {
          margin-top: 20px;
          margin-left: 12px;
        }
        @media #{media("<", m)} {
          margin-bottom: 15px;
          margin-top: 20px;
          margin-left: 12px;
        }
      }

      &-name {
        margin-left: 480px;

        &__surname {
          margin-bottom: 4px;

          font-family: 'Halvar Breitschrift';
          font-weight: 700;
          font-size: 16px;
          line-height: 110%;
          letter-spacing: -0.03em;
          text-transform: uppercase;
          color: color(dark);

          
        }

        &__job {
          font-weight: 500;
          font-size: 14px;
          line-height: 150%;
          color: #727A75;
        }

        @media #{media("<", d)} {
          margin-left: 335px;
        }
        @media #{media("<", m)} {
          padding-top: 12px;
          position: relative;
          z-index: 2;
          margin-left: 0px;

          background: white;
        }

        &.desktop{
          @media (min-width:768px) and (max-width: 1025px) {
            display: none;
          }
        }
        &.devices{
          display: none;
          @media (min-width:768px) and (max-width: 1025px) {
            display: block;
            margin-left: 0px;
            padding-top: 20px;
            background: white;
          }
        }
      }

      &-subtitle {
        margin-bottom: 20px;

        font-weight: 700;
        font-size: 22px;
        line-height: 130%;
        color: color(dark);

        @media #{media("<", t)} {
          font-size: 20px;
          letter-spacing: -0.02em;
        }
        @media #{media("<", m)} {
          font-size: rem(20px);
        }
      }

      &-text {
        margin-bottom: 12px;
        @media (min-width:768px) and (max-width: 1025px) {
          font-size: rem(12px);
          line-height: 160%;
        }
      }

      &-subtext {
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: color(dark);


        @media #{media("<", t)} {
          margin-bottom: 8px;

          font-size: rem(14px);
          line-height: 150%;
        }
      }

      &-signature {
        width: 226px;

        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #727A75;

        @media #{media("<", t)} {
          font-size: rem(12px);
          line-height: 160%;
        }
      }

      &-svg {
        position: absolute;

        &.grey {
          top: 40px;
          left: 60px; 

          @media #{media("<", d)} {
            top: 20px;
            left: 20px;
          }

          @media #{media("<", t)} {
            top: 20px;
            left: 20px;
            
            svg{
              width: rem(72px);
              height: rem(44px);
            }
          }
        }

        &.green {
          right: 60px;
          bottom: 30px;
          
          @media (min-width:768px) and (max-width: 1025px) {
            right: 264px;
            bottom: 20px;
            svg{
              width: rem(72px);
              height: rem(44px);
            }
          }
          @media #{media("<", m)} {
            bottom: 20px;
            right: 20px;
            
            svg{
              width: rem(72px);
              height: rem(44px);
            }
          }
        }
      }
    }
  }
}