mixin business-content  
  section(data-aos="fade-up").business.mt-section 
    .container-content 
      .business__inner
        p.business__description.description_big Совет директоров Общества утвердил новую редакцию операционной модели 27 декабря 2021 года (протокол от 27.12.2021 №46). Она содержит следующие элементы сегментации контейнерных перевозок:
        .business__row
          .col 
            ul.business__list.list 
              each item in ["География деятельности (указаны конкретные базовые и дополнительные маршруты, добавлены перевозки в экспортном и импортном направлениях)","Состав транспортно-логистической услуги, оказываемой Обществом","Порядок ценообразования и тарифная политика","Принципы работы с ДЗО акционеров","Каналы продаж, взаимодействие с ДЗО",]
                li.business__item 
                  +mark-text-svg.business-svg 
                  p.business__text.text=item
          .col 
            p.business__text.text
              | ОТЛК ЕРА обеспечивает загрузку имеющихся пропускных мощностей и обеспечивает оптимальные параметры перевозки за счет технологического и ценового преимущества. 
              br
              | Наша компания предлагает услуги на принципах открытой тарифной политики для всех клиентов, обеспечивая недискриминационный доступ и прозрачный сервис для любого потенциального пользователя.
            +message-block("Наша операционная модель предполагает работу компании как «оператора контейнерного сервиса» по схеме «asset-optimum»").business__elem
  section(data-aos="fade-up").business-info.mt-section
    .container-content 
      .business-info__inner 
        .business-info__left
          p.business-info__text.text ОТЛК&nbsp;ЕРА закрепила свою позицию интегратора компонентов транспортно-логистической услуги в транзите. Благодаря этому, на фоне общего снижения таких перевозок в 2022 году, мы смогли плавно переключиться на новые сегменты — экспорт и импорт.

          p.business-info__text.text Новая рыночная реальность подтолкнула экспортеров больше фокусироваться на восточных клиентах и грузополучателях — и мы предложили им наш высвободившийся парк вагонов (так называемый ломаный транзит, когда контейнеры завозятся из Европы, загружаются в Белоруссии или в России, а затем отправляются в Китай).
        .col 
          p.business-info__description.description_big Примеры таких маршрутов
          ul.business-info__list.list
            each item in ["Организация перевозок различных номенклатур грузов из центральных и восточных регионов России (станции Тобольск, Формачево, Кыштым и другие)"]
              li.business-info__item
                +mark-text-svg.business-info-svg 
                p.business-info__text.text=item
mixin business-content-CN  
  section(data-aos="fade-up").business.mt-section 
    .container-content 
      .business__inner
        p.business__description.description_big 公司董事会于2021年12月27日通过了新版《运营模式》（第46号纪要）。它包含集装箱运输细分的下列要素：
        .business__row
          .col 
            ul.business__list.list 
              each item in ["活动地理范围（具体基本路线和补充路线，增加了出口和进口方向的运输；","公司提供的运输和物流服务的构成；","定价程序和关税政策；","股东子公司和关联公司的持股原则；","销售渠道，与子公司和关联公司互动。",]
                li.business__item 
                  +mark-text-svg.business-svg 
                  p.business__text.text=item
          .col 
            p.business__text.text UTLC&nbsp;ERA利用现有通车能力装载，并通过技术和价格优势，提供最佳运输参数。我们公司为所有客户提供开放的资费政策，为任何潜在用户提供公平的访问和透明的服务。
            +message-block("我们的运营模式以公司作为“asset-optimum（资产优化）”体制下的“集装箱服务运营商”为前提。").business__elem
  section(data-aos="fade-up").business-info.mt-section
    .container-content 
      .business-info__inner 
        .business-info__left
          p.business-info__text.text 为前提。UTLC&nbsp;ERA巩固了其作为过境运输和物流服务组成部分集成商的地位。因此，在2022年此类运输普遍下降的背景下，我们能够顺利切换到新的细分市场，即出口和进口细分市场。


          p.business-info__text.text 新的市场现实促使出口商更多地关注东部客户和收货人 — 且我们向他们提供了我们闲置的车队（所谓的破碎中转，当集装箱从欧洲进口，在白俄罗斯或俄罗斯装载，然后运往中国）。这些路线例子
        .col 
          p.business-info__description.description_big 此类路线的示例
          ul.business-info__list.list
            each item in ["发展与哈萨克斯坦铁路国有公司的联合服务，组织白俄罗斯钾肥和俄罗斯木材运往中国的出口运输。,","组织来自俄罗斯中部和东部地区（托博尔斯克、福尔马切沃、克什蒂姆等站）的各类货物的运输。"]
              li.business-info__item
                +mark-text-svg.business-info-svg 
                p.business-info__text.text=item
mixin business-content-EN 
  section(data-aos="fade-up").business.mt-section 
    .container-content 
      .business__inner
        p.business__description.description_big The Company’s Board of Directors approved the new revision of the operating model on December 27, 2021 (Minutes No. 46). It contains the following container traffic segmentation elements:
        .business__row
          .col 
            ul.business__list.list 
              li.business__item 
                +mark-text-svg.business-svg 
                p.business__text.text Traffic geography (with the specific basic and additional routes indicated and the export and import traffic routes added)
              li.business__item 
                +mark-text-svg.business-svg 
                p.business__text.text Scope of transportation and logistics services provided by the company
              li.business__item 
                +mark-text-svg.business-svg 
                p.business__text.text Pricing procedure and tariff policy","Shareholder subsidiaries and affiliates cooperation procedure
              li.business__item 
                +mark-text-svg.business-svg 
                p.business__text.text Sales channels, interfaces with subsidiaries and affiliates.
          .col 
            p.business__text.text UTLC&nbsp;ERA provides for full utilization of the available throughput capacities and the best traffic parameters due to its technological and price advantage. Our company offers its services based on an open tariff policy applicable to all our customers, thereby ensuring a non-discriminatory approach and transparent service for any potential user.
            +message-block("Our operating model supports the activities of the company as a “container service operator” based on the “asset optimum” mechanism.").business__elem
  section(data-aos="fade-up").business-info.mt-section
    .container-content 
      .business-info__inner 
        .business-info__left
          p.business-info__text.text UTLC&nbsp;ERA has solidified its position as an integrator of the transit transportation and logistics service components. This has enabled our smooth transition to such new segments as export and import against the general decline in such transit in 2022. 


          p.business-info__text.text The new market realities have caused exporters to increasingly focus on our Eastern customers and consignees, to whom we offered our available rail car fleet (the so-called “broken transit”, when containers arrive from Europe to be loaded in Belarus or Russia and then dispatched to China). 
        .col 
          p.business-info__description.description_big Examples of routes:
          ul.business-info__list.list
            li.business-info__item
              +mark-text-svg.business-info-svg 
              p.business-info__text.text Arrangements to ensure traffic of various cargo classes from central and eastern regions of Russia (Tobolsk, Formachyovo, Kyshtym Stations, etc.).
