mixin business-content  
  section.business 
    .container-content 
      .business__inner
        p.business__description Совет директоров Общества утвердил новую редакцию операционной модели 27 декабря 2021 года (протокол от 27.12.2021 №46). Она содержит следующие элементы сегментации контейнерных перевозок:
        .business__row
          .col 
            ul.business__list 
              each item in ['География деятельности (указаны конкретные базовые и дополнительные маршруты, добавлены перевозки в экспортном и импортном направлениях)','Состав транспортно-логистической услуги, оказываемой Обществом','Порядок ценообразования и тарифная политика','Принципы работы с ДЗО акционеров','Каналы продаж, взаимодействие с ДЗО',]
                li.business__item 
                  +mark-text-svg.business-svg 
                  p.business__text.text=item
          .col 
            p.business__text.text ОТЛК ЕРА обеспечивает загрузку имеющихся пропускных мощностей и обеспечивает оптимальные параметры перевозки за счет технологического и ценового преимущества. Наша компания предлагает услуги на принципах открытой тарифной политики для всех клиентов, обеспечивая недискриминационный доступ и прозрачный сервис для любого потенциального пользователя.
            .business__elem
              +message-svg.business__elem-svg 
              p.business__elem-text Наша операционная модель предполагает работу компании как «оператора контейнерного сервиса» по схеме «asset-optimum»
  section.business-info 
    .container-content 
      .business-info__inner 
        .business-info__left
          p.business-info__text.text ОТЛК ЕРА закрепила свою позицию интегратора компонентов транспортно-логистической услуги в транзите. Благодаря этому, на фоне общего снижения таких перевозок в 2022 году, мы смогли плавно переключиться на новые сегменты — экспорт и импорт.

          p.business-info__text.text Новая рыночная реальность подтолкнула экспортеров больше фокусироваться на восточных клиентах и грузополучателях — и мы предложили им наш высвободившийся парк вагонов (так называемый ломаный транзит, когда контейнеры завозятся из Европы, загружаются в Белоруссии или в России, а затем отправляются в Китай).
        .col 
          p.business-info__description Примеры таких маршрутов
          ul.business-info__list 
            each item in ['Развитие совместных сервисов с АО «НК «КТЖ», организация экспортных перевозок калийных удобрений из Беларуси и лесоматериалов из России в Китай', 'Организация перевозок различных номенклатур грузов из центральных и восточных регионов России (станции Тобольск, Формачево, Кыштым и другие)']
              li.business-info__item
                +mark-text-svg.business-info-svg 
                p.business-info__text.text=item
