mixin case-content 
  section.case 
    .container-content 
      .case__inner 
        p.case__text В 2022 году представители Общества регулярно участвовали в деятельности рабочих органов и групп на площадках Минтранса,и Минфина, ФТС и других федеральных органов исполнительной власти России, Евразийской экономической комиссии, а также на площадках бизнес-объединений — Российского союза промышленников и предпринимателей, ТПП России, Евразийского союза участников железнодорожных грузовых перевозок, Ассоциации «Цифровой транспорт и логистика», Ассоциации национальных экспедиторов Республики Казахстан, Координационного Совета по Трансъевразийским перевозкам, ОСЖД. 
  section.case-direction 
    .container-content 
      .case-direction__inner 
        h6.case-direction__title Это позволило обеспечить реализацию и продвижение в 2022 году интересов ОТЛК ЕРА <br/> в нескольких важных направлениях:
        .row 
          ul.case-direction__list 
            each item in['Внести изменения в решение совета директоров Банка России от 25.03.2022 об установлении размера суммы отдельных операций резидентов и нерезидентов (ограничение авансов в пределах 30%) в части исключения транспортно-логистических услуг, связанных с организацией и осуществлением железнодорожных перевозок','Учесть позицию компании при подготовке проекта рекомендации коллегии ЕЭК «Об организации в Евразийском экономическом союзе смешанных перевозок и предложениях по совершенствованию права Евразийского экономического союза в части осуществления контейнерных перевозок»','Получить возможность многократного использования иностранного контейнера (в пределах срока временного ввоза) для внутренних перевозок по территории России. Принят федеральный закон от 15.04.2022 № 92-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации»','Предложить поправку в ст. 145 Таможенного кодекса ЕАЭС в целях упрощения процедуры переадресовки товаров, перевозимых железнодорожным транспортом в рамках таможенной процедуры таможенного транзита. Минфин России проводит работу по согласованию инициативы в установленном порядке;','Снизить количество досмотров, проводимых таможенными органами в железнодорожных пунктах пропуска. Соответствующее решение ФТС России учитывается системой управления рисками таможенных органов','Обратить внимание российских таможенных органов на необходимость исключения формального подхода при применении изъятий или арестов товаров. Обсуждение состоялось на заседании постоянной комиссии Экспертно-консультативного совета по реализации таможенной политики при ФТС России','Учесть позицию компании при подготовке поправок в Таможенный кодекс ЕАЭС по упрощению порядка перемещения иностранных контейнеров через таможенную границу ЕАЭС. ЕЭК готовит проект протокола по внесению соответствующих изменений в Приложение № 1 к Договору о Таможенном кодексе Евразийского экономического союза (от 11.04.2017)',]
              li.case-direction__item 
                +mark-text-svg.case-direction-svg
                p.case-direction__text=item
  section.next 
    .container 
      .next__inner 
        p.next__text Следующий раздел
        p.next__title Устойчивое развитие
        p.next__number 4
        +column-svg.next-svg
        +button