mixin case-content 
  section(data-aos="fade-up").case
    .container-content 
      .case__inner 
        p.case__text.text_big В 2022 году представители Общества регулярно участвовали в деятельности рабочих органов и групп на площадках Минтранса и Минфина, ФТС и других федеральных органов исполнительной власти России, Евразийской экономической комиссии, а также на площадках бизнес-объединений — Российского союза промышленников и предпринимателей, ТПП России, Евразийского союза участников железнодорожных грузовых перевозок, Ассоциации «Цифровой транспорт и логистика», Ассоциации национальных экспедиторов Республики Казахстан, Координационного Совета по Трансъевразийским перевозкам, ОСЖД. 
  section(data-aos="fade-up").case-direction.mt-section
    .container-content 
      .case-direction__inner 
        p.case-direction__description.description_big Это позволило обеспечить реализацию и продвижение в 2022 году интересов ОТЛК&nbsp;ЕРА <br class='br'/>&nbsp; в нескольких важных направлениях:
        .row 
          ul.case-direction__list 
            each item in['Внести изменения в решение совета директоров Банка России от 25.03.2022 об установлении размера суммы отдельных операций резидентов и нерезидентов (ограничение авансов в пределах 30%) в части исключения транспортно-логистических услуг, связанных с организацией и осуществлением железнодорожных перевозок','Учесть позицию компании при подготовке проекта рекомендации коллегии ЕЭК «Об организации в Евразийском экономическом союзе смешанных перевозок и предложениях по совершенствованию права Евразийского экономического союза в части осуществления контейнерных перевозок»','Получить возможность многократного использования иностранного контейнера (в пределах срока временного ввоза) для внутренних перевозок по территории России. Принят федеральный закон от 15.04.2022 № 92-ФЗ «О внесении изменений в отдельные законодательные акты Российской Федерации»','Предложить поправку в ст. 145 Таможенного кодекса ЕАЭС в целях упрощения процедуры переадресовки товаров, перевозимых железнодорожным транспортом в рамках таможенной процедуры таможенного транзита. Минфин России проводит работу по согласованию инициативы в установленном порядке;','Обратить внимание российских таможенных органов на необходимость исключения формального подхода при применении изъятий или арестов товаров. Обсуждение состоялось на заседании постоянной комиссии Экспертно-консультативного совета по реализации таможенной политики при ФТС России','Учесть позицию компании при подготовке поправок в Таможенный кодекс ЕАЭС по упрощению порядка перемещения иностранных контейнеров через таможенную границу ЕАЭС. ЕЭК готовит проект протокола по внесению соответствующих изменений в Приложение № 1 к Договору о Таможенном кодексе Евразийского экономического союза (от 11.04.2017)','Снизить количество досмотров, проводимых таможенными органами в железнодорожных пунктах пропуска. Соответствующее решение ФТС России учитывается системой управления рисками таможенных органов',]
              li.case-direction__item 
                +mark-text-svg.case-direction-svg
                p.case-direction__text=item

mixin case-content-CN 
  section(data-aos="fade-up").case
    .container-content 
      .case__inner 
        p.case__text.text_big 2022年，公司代表定期参加交通运输部和财政部、联邦运输网和俄罗斯其他联邦执行机构、欧亚经济委员会，以及商业协会的网站 —— 俄罗斯工业家和企业家联盟、俄罗斯工商会、欧亚铁路货运参与者联盟、数字运输和物流协会，哈萨克斯坦共和国国家货运代理协会、跨欧亚运输协调委员会，铁路合作组织的现场工作机构和小组的活动。 
  section(data-aos="fade-up").case-direction.mt-section
    .container-content 
      .case-direction__inner 
        p.case-direction__description.description_big 确保了2022年UTLC&nbsp;ERA利益在几个重要领域的实施和促进：
        .row 
          ul.case-direction__list 
            each item in['修改俄罗斯银行董事会于2022年3月25日通过的关于确定企业居民和非企业居民关于取消与组织和实施铁路运输相关的运输和物流服务个别交易金额的决定（将预付款限制在30%以内）','获得在俄罗斯境内多次使用外国集装箱（在临时进口期限内）进行国内运输的机会。通过了2022年4月15日第92-FZ号联邦法“关于俄罗斯联邦某些立法法案的修正案”；','减少海关在铁路口岸的检查次数。海关机构风险管理系统考虑了俄罗斯联邦运输网的相关决定；','在准备修订EAEU关于简化外国集装箱穿越EAEU海关边境程序的海关法时，考虑公司的立场。欧洲经委会正在编写一份议定书草案，对《欧亚经济联盟海关法条约》（2017年4月11日）附件1进行适当修改；   ','在准备欧洲经委会委员会“关于过境报关单的形式和填写程序”的决定草案时，考虑公司的立场。该决定草案将由欧洲经委会转交欧亚经济联盟成员国，以便按照既定程序进行协调，其中包括旨在简化铁路货物运输海关过境海关程序的建议；','在准备欧亚经济联盟委员会的建议草案“关于在欧亚经济联盟中组织多式联运和改进欧亚经济联盟在集装箱运输方面的法律的建议”时考虑公司的立场；','对欧亚经济联盟海关法第145条提出修订建议，以简化在海关过境海关程序框架内通过铁路运输的货物的转运程序。俄罗斯财政部正在按照既定程序开展协调倡议的工作；','提请俄罗斯海关当局注意，在没收或扣押货物时，必须避免采取形式化方法。在俄罗斯联邦运输网海关政策实施专家咨询委员会常设委员会会议上进行了讨论。',]
              li.case-direction__item 
                +mark-text-svg.case-direction-svg
                p.case-direction__text=item



mixin case-content-EN
  section(data-aos="fade-up").case
    .container-content 
      .case__inner 
        p.case__text.text_big In 2022, the company’s representatives actively participated in the operation of working bodies and task forces under the Ministry of Transport, the Ministry of Finance, the Federal Customs Service and other federal executive bodies of the Russian Federation, the Eurasian Economic Commission, as well as the platforms provided by business associations such as the Russian Union of Industrialists and Entrepreneurs, the Russian Chamber of Commerce and Industry, the Eurasian Union of Rail Freight Traffic Participants, the Digital Transport and Logistics Association, the National Freight Forwarders Association of the Republic of Kazakhstan, the Coordinating Council on Trans-Eurasian Transportation, the Organization for Cooperation between Railways. 
  section(data-aos="fade-up").case-direction.mt-section
    .container-content 
      .case-direction__inner 
        p.case-direction__description.description_big This helped pursue and promote UTLC&nbsp;ERA’s interests in multiple critical areas in 2022:
        .row 
          ul.case-direction__list 
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Amend the Resolution adopted by the Board of Directors of the Bank of Russia dated 25.03.2022 regarding establishment of the total amount of individual transactions for residents and non-residents (limitation of advance payments to 30%) to the extent related to exclusion of transportation and logistics services provided to manage and carry out rail transportation operations.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Enable the multiple use of a foreign container (during the temporary import period) for domestic traffic within Russia. Federal Law No. 92-FZ dated 15.04.2022 On Amendments to Certain Legal Acts of the Russian Federation was adopted.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Reduce the number of inspections made by customs authorities at the rail border crossing points. The corresponding resolution of the Russian Federal Customs Service is incorporated in the customs risk management system.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Incorporate the company’s position in the development of amendments to the EAEU Customs Code regarding the simplified transfer of foreign containers across the EAEU customs border. The Eurasian Economic Commission is currently developing the draft minutes to introduce the corresponding amendments into Appendix No. 1 to the Treaty on the Customs Code of the Eurasian Economic Union (dated 11.04.2017). 
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Incorporate the company’s position in the development of the draft resolution by the Eurasian Economic Commission Board On Transit Declaration Form and Fill-Out Procedure. The draft resolution, which will be sent by the Eurasian Economic Commission to the EAEU member states for due approval, includes the proposals intended to simplify the customs transit procedure for goods transported by rail.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Incorporate the company’s position in the development of the draft recommendation by the Eurasian Economic Commission Board On Mixed Traffic Management in the Eurasian Economic Union and Proposals to Improve the Container Traffic Laws of the Eurasian Economic Union.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text Propose to amend Article 145 of the EAEU Customs Code in order to simplify the readdressing procedure for goods transported by rail under the customs transit procedure. The Russian Ministry of Finance is currently making efforts to duly approve this initiative.
            li.case-direction__item 
              +mark-text-svg.case-direction-svg
              p.case-direction__text To draw the attention of the Russian customs authorities to the need to eliminate the formalist approach to the withdrawal and seizure of goods. This matter was discussed at the meeting of the Standing Committee of the Expert Advisory Board for Customs Policy Implementation under the Russian Federal Customs Service. 


