mixin client-portfolio
  .container-content
    section.client-portfolio(id="client-transportation")(data-aos="fade-up")
      .transportation-development(data-aos="fade-up")
        h2.transportation-development__title Развитие перевозок <span class='nbsp'> Китай–РФ </span>
        .transportation-development__row.top(data-aos="fade-up")
          .transportation-development__col(data-aos="fade-up") 
            .transportation-development__subtitle В 2022 году наметилась тенденция к увеличению объемов перевозок грузов по маршруту <span class='nbsp'> Китай–РФ </span>в сервисах ОТЛК&nbsp;ЕРА
          .transportation-development__col(data-aos="fade-up")
            .transportation-development__text.top.text Запрос на альтернативные логистические цепочки, а также механизмы оплаты (например, расчеты в китайском юане) способствовали увеличению спроса со стороны клиентов Общества на перевозки в этом направлении.
            .transportation-development__cards 
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='12') 
                  .ge-card__text.mobile-mini.number-animate-12.number-animate договоров в юанях 
                .ge-card__bot
                  .ge-card__text-grey Было заключено в 2022 году
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='31') 
                  .ge-card__text.number-animate-31.number-animate поезд и 3 082 ДФЭ 
                .ge-card__bot
                  .ge-card__text-grey Объемы перевозок по таким договорам
        .transportation-development__row.mid(data-aos="fade-up")
          .transportation-development__col.mid
            .transportation-development__text.text Всего в 2022 году были задействованы 26 различных станций назначения ОАО «РЖД» — в два раза больше предыдущих показателей. Основной рост объемов перевозок пришелся на станции Московского ж/д узла, показатели 2022 года достигли значения в 130 564 ДФЭ, а сервисом на данном направлении воспользовались 42 клиента ОТЛК&nbsp;ЕРА.
          .transportation-development__col.mid.print-none
            h4.transportation-development__heading Рост суммарного объема перевозок Китай–РФ к 2021 году
            .ge-card__num.green.countup-element.mt-20(data-countup='776' data-countup-prefix = '+' data-countup-suffix='%') 

            .transportation-development__video
              video( muted class='video-play' playsinline  data-svg='transportation9')
                source(src="./assets/videos/rost_summy2.mp4" type="video/mp4")
                source(src="./assets/videos/rost_summy2.webm" type="video/webm")
              +svg-transportation-development.for-video.video-play-transportation9 
        .transportation-development__case(id="client-development__case")(data-aos="fade-up")
          .transportation-development__case-top(data-aos="fade-up")
            .transportation-development__case-name Кейс
            .transportation-development__case-texts 
              h3.transportation-development__case-title Рефрижераторные перевозки
              .transportation-development__case-subtitle ОТЛК&nbsp;ЕРА совместно с одним из партнеров открыли сервис по отправке полносоставных рефрижераторных поездов из Китая в Россию через казахстанско-китайскую границу. 
          .transportation-development__case-bot(data-aos="fade-up")
            .transportation-development__case-card(data-aos="fade-up")
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green.countup-element(data-countup='374')  
                  .ge-card__text.number-animate-374.number-animate контейнера
                .ge-card__bot
                  .ge-card__text-grey Отправлено с соблюдением специальных температурных режимов 
            .transportation-development__case-desk(data-aos="fade-up") 
              .transportation-development__case-text.top.text К перевозке быстрозамороженной продукции (тунец, треска, масляная рыба, минтай, коктейль из морепродуктов и т.д.) и замороженных фруктов и овощей (манго, абрикосы, персики, клубника, черная смородина и т.д.) предъявляются особые требования. Такие грузы требуют применения технологии перегруза по прямому варианту для минимизации сроков нахождения состава на пограничных пунктах пропуска, а также безотлагательного принятия решений при возникновении каких-либо проблем с рефрижераторным оборудованием в пути следования. Решения могут быть связаны, например, с допуском ремонтных бригад для осмотра на предмет мелкого ремонта или подключения к сети электропитания. 
              .transportation-development__case-text.text В этой связи стоит отметить слаженную работу совместно с одним из партнеров, которая помогла максимально сократить время пребывания груза на пограничных переходах. В итоге мы добились хороших показателей общего транзитного времени, так важного для скоропортящихся грузов. Среднее транзитное время по рефрижераторным перевозкам составило 15 суток, а минимальные значения доходили до 10 суток при перевозке по маршруту <span class= 'basp'> Вэньдэн–Достык–Селятино.</span> 
          .transportation-development__case-vector(data-aos="fade-up") 
            +picture('transportation-development-case.png') 
        .transportation-development__paperless(id="client-development__paperless")(data-aos="fade-up")
          h2.transportation-development__paperless-title Безбумажные перевозки: <br>инновационное развитие
          .transportation-development__paperless-text Мы — интеграционная компания на пространстве 1520 мм, которая активно работает над подготовкой и внедрением цифровых технологий на своих маршрутах. Осознавая, что именно цифровые технологии станут в 2023-2024 годах основным конкурентным преимуществом логистических компаний, ОТЛК&nbsp;ЕРА продолжает работу по поиску оптимального решения.
          .transportation-development__paperless-project(data-aos="fade-up") 
            .transportation-development__paperless-col(data-aos="fade-up") 
              .transportation-development__paperless-grey.desktop Проект
              .transportation-development__paperless-minititle Идея
              .transportation-development__paperless-minitext Цифровое сопровождение перевозок на колее 1&nbsp;520 мм.
              .transportation-development__paperless-minititle Подход
              .transportation-development__paperless-minitext Создание цифровой инфраструктуры конвейера <br>с доверительным информационным пространством <br>для различных участников перевозок.
              .transportation-development__paperless-minititle Задача
              .transportation-development__paperless-minitext Формирование электронных транзитных деклараций на основании электронных сопроводительных документов; взаимодействие с таможенными службами ЕАЭС; передача другим заинтересованным участникам перевозок электронных сопроводительных документов.
              .transportation-development__paperless-minititle Ожидаемый результат
              .transportation-development__paperless-minitext Проект позволит полностью оцифровать в ЕАЭС как перевозки, так и государственный контроль на внешних границах.
            .transportation-development__paperless-col(data-aos="fade-up")
              .transportation-development__paperless-grey.mobile Проект
              .transportation-development__paperless-subtitle Цифровой экспедитор
              .transportation-development__paperless-text В возможной перспективе реализация проекта продемонстрирует партнерам в Европе и Китае готовность евразийской цифровой инфраструктуры к переходу на современные технологии и повысит привлекательность евразийских железнодорожных коридоров.
              .formation-park__structure-plug.paperless 
                .formation-park__structure-subtitle Мы считаем, что это наиболее прагматичный подход в текущих политических и экономических реалиях
                .formation-park__structure-icon
                  +green-chat-svg

mixin client-portfolio-EN
  .container-content
    section.client-portfolio(id="client-transportation")(data-aos="fade-up")
      .transportation-development(data-aos="fade-up")
        h2.transportation-development__title China–Russia Traffic Development
        .transportation-development__row.top(data-aos="fade-up")
          .transportation-development__col(data-aos="fade-up") 
            .transportation-development__subtitle In 2022, the cargo traffic volumes on the China–Russia route in UTLC&nbsp;ERA’s services demonstrated an upward trend.
          .transportation-development__col(data-aos="fade-up")
            .transportation-development__text.top.text The need for alternative logistics chains and payment mechanisms, e.g. settlements in Chinese yuans, increased the demand for traffic operations in this direction among the company’s customers. 
            .transportation-development__cards 
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='12') 
                  .ge-card__text.mobile-mini.number-animate-12.number-animate contracts in yuans 
                .ge-card__bot
                  .ge-card__text-grey concluded in 2022
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='31') 
                  .ge-card__text.number-animate-31.number-animate trains and 3,082 TEUs 
                .ge-card__bot
                  .ge-card__text-grey traffic volumes under these contracts
        .transportation-development__row.mid(data-aos="fade-up")
          .transportation-development__col.mid
            .transportation-development__text.text A total of 26 various destination stations operated by JSCo "RZD" were engaged in 2022, which is twice as many as previously. The greatest contributors to the traffic volume growth were the stations of the Moscow Railway Hub. The volumes reached 130,564 TEUs in 2022, and 42 UTLC&nbsp;ERA’s customers used the service in this direction.
          .transportation-development__col.mid
            h4.transportation-development__heading Growth of the total traffic volume from China to Russia by 2021
            .ge-card__num.green.countup-element.mt-20(data-countup='776' data-countup-prefix = '+' data-countup-suffix='%') 
            .transportation-development__video
              video( muted class='video-play' playsinline  data-svg='transportation9')
                source(src="./assets/videos/rost_summy2.mp4" type="video/mp4")
                source(src="./assets/videos/rost_summy2.webm" type="video/webm")
              +svg-vector-776-EN.for-video.video-play-transportation9.svg-top15 
        .transportation-development__case(id="client-development__case")(data-aos="fade-up")
          .transportation-development__case-top(data-aos="fade-up")
            .transportation-development__case-name Case Study
            .transportation-development__case-texts 
              h3.transportation-development__case-title Refrigerator Traffic
              .transportation-development__case-subtitle UTLC&nbsp;ERA in cooperation with one of the partners launched a service to dispatch full-length refrigerator trains from China to Russia via the Kazakhstan–China border.
          .transportation-development__case-bot(data-aos="fade-up")
            .transportation-development__case-card(data-aos="fade-up")
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green.countup-element(data-countup='374') 
                  .ge-card__text.number-animate-374.number-animate containers
                .ge-card__bot
                  .ge-card__text-grey dispatched under the special temperature conditions 
            .transportation-development__case-desk(data-aos="fade-up") 
              .transportation-development__case-text.top.text Transportation of quick-frozen products (tuna, cod, butterfish, pollack, seafood cocktail, etc.) and frozen fruit and vegetables (mango, apricot, peach, strawberry, black currant, etc.) is subject to the specific requirements. Such cargoes require the application of the direct transfer technology to minimize the time spent at the border crossing points, as well as prompt decisions should any refrigerator equipment fail en route. For instance, these decisions may be related to access of repair crews for inspection in order to perform minor repairs or to energize the equipment.
              .transportation-development__case-text.text In this regard, the well-managed joint efforts with one of the partners should be highlighted, which helped minimize the time spent by the cargo at the border crossing points. As a result, we performed well in terms of total time in transit, which is essential for perishable cargoes. The average time in transit for refrigerator traffic was 15 days, with the minimum time reaching 10 days on the Wendeng–Dostyk–Selyatino route.
          .transportation-development__case-vector(data-aos="fade-up") 
            +picture('transportation-development-case.png') 
        .transportation-development__paperless(id="client-development__paperless")(data-aos="fade-up")
          h2.transportation-development__paperless-title Paperless Traffic: <br>Innovative Development
          .transportation-development__paperless-text We are an integration company in the 1,520 mm track gauge area, which is actively engaged in developing and introducing digital technologies on its routes. Acknowledging that the digital technologies will give the greatest competitive edge to logistics companies in 2023 to 2024, UTLC&nbsp;ERA continues to look for the best solution
          .transportation-development__paperless-project(data-aos="fade-up") 
            .transportation-development__paperless-col(data-aos="fade-up") 
              .transportation-development__paperless-grey.desktop Project
              .transportation-development__paperless-minititle Idea
              .transportation-development__paperless-minitext digital traffic support in the <span class='nbsp'> 1,520 mm track gauge area.</span>
              .transportation-development__paperless-minititle Approach
              .transportation-development__paperless-minitext establishing a conveyor digital infrastructure with the trusted information environment for various traffic process participants.
              .transportation-development__paperless-minititle Task
              .transportation-development__paperless-minitext generation of electronic transit declarations based on electronic shipping documents; interfaces with EAEU customs services; transfer of electronic shipping documents to other traffic stakeholders.
              .transportation-development__paperless-minititle Expected outcome
              .transportation-development__paperless-minitext the project will help achieve full digitalization of both the traffic process and the state control at the external borders in the EAEU.
            .transportation-development__paperless-col(data-aos="fade-up")
              .transportation-development__paperless-grey.mobile Project
              .transportation-development__paperless-subtitle Digital Freight Forwarder
              .transportation-development__paperless-text Implementation of this project may potentially demonstrate to the partners in Europe and China that the Eurasian digital infrastructure is ready to shift to state-of-the-art technologies and make the Eurasian rail corridors more attractive.
              .formation-park__structure-plug.paperless 
                .formation-park__structure-subtitle We believe this approach is the most reasonable in the current political and economic situation
                .formation-park__structure-icon
                  +green-chat-svg

mixin client-portfolio-CN
  .container-content
    section.client-portfolio(id="client-transportation")(data-aos="fade-up")
      .transportation-development(data-aos="fade-up")
        h2.transportation-development__title 发展中-俄运输
        .transportation-development__row.top(data-aos="fade-up")
          .transportation-development__col(data-aos="fade-up") 
            .transportation-development__subtitle 2022年，UTLC&nbsp;ERA服务中中-俄航线货物运输量呈增长趋势。
          .transportation-development__col(data-aos="fade-up")
            .transportation-development__text.top.text 对替代物流链和支付机制的需求，例如人民币结算，增加了企业客户对这方面运输的需求。
            .transportation-development__cards 
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='12') 
                  .ge-card__text.mobile-mini.number-animate-12.number-animate 份人民币合同
                .ge-card__bot
                  .ge-card__text-grey 于2022年签订
              .ge-card.green
                .ge-card__top.gap-8
                  .ge-card__num.green.countup-element(data-countup='31') 
                  .ge-card__text.number-animate-31.number-animate 列火车和 3082 TEU
                .ge-card__bot
                  .ge-card__text-grey 该类合同下的运输量
        .transportation-development__row.mid(data-aos="fade-up")
          .transportation-development__col.mid
            .transportation-development__text.text 2022年，共有26个不同的俄罗斯铁路目的地车站参与其中，是之前指标的两倍。运输量的主要增长来自莫斯科铁路枢纽站，2022年的指标达到130 564个TEU，42家UTLC&nbsp;ERA客户使用了该方向的服务。
          .transportation-development__col.mid.print-none
            h4.transportation-development__heading 2021年中-俄运输总量增长
            .ge-card__num.green.countup-element.mt-20(data-countup='776' data-countup-prefix = '+' data-countup-suffix='%') 
            .transportation-development__video
              video( muted class='video-play' playsinline  data-svg='transportation9')
                source(src="./assets/videos/rost_summy2.mp4" type="video/mp4")
                source(src="./assets/videos/rost_summy2.webm" type="video/webm")
              +svg-transportation-development.for-video.video-play-transportation9 
        .transportation-development__case(id="client-development__case")(data-aos="fade-up")
          .transportation-development__case-top(data-aos="fade-up")
            .transportation-development__case-name 案例
            .transportation-development__case-texts 
              h3.transportation-development__case-title 冷藏运输
              .transportation-development__case-subtitle UTLC&nbsp;ERA与俄罗斯铁路物流股份公司合作，开通了从中国经哈萨克斯坦-中国边境向俄罗斯发送全列车冷藏列车的服务。
          .transportation-development__case-bot(data-aos="fade-up")
            .transportation-development__case-card(data-aos="fade-up")
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green.countup-element(data-countup='374')  
                  .ge-card__text.number-animate-374.number-animate 个集装箱
                .ge-card__bot
                  .ge-card__text-grey 在特殊温度条件下发车
            .transportation-development__case-desk(data-aos="fade-up") 
              .transportation-development__case-text.top.text 对运输速冻食品（金枪鱼、鳕鱼、油鱼、狭鳕、海鲜鸡尾酒等）和冷冻水果和蔬菜（芒果、杏子、桃子、草莓、黑醋栗等）有特殊要求。这类货物需要采用直接转运技术，以尽量缩短列车在过境点的停留时间，并在途中冷藏设备出现任何问题时，迅速作出解决方案。例如，解决办法可能涉及派遣维修小组检查小修或连接电源电网。 
              .transportation-development__case-text.text 在这方面，与俄罗斯铁路物流股份公司的协调工作值得注意，这有助于最大限度地减少货物在过境点的停留时间。因此，我们在总过境时间方面取得了良好的成绩，对易腐货物来说是十分重要。冷藏运输的平均过境时间为15天，文登-多斯特克-谢利亚蒂诺航线的最少天数为10天。
          .transportation-development__case-vector(data-aos="fade-up") 
            +picture('transportation-development-case.png') 
        .transportation-development__paperless(id="client-development__paperless")(data-aos="fade-up")
          h2.transportation-development__paperless-title 无纸化运输：创新发展
          .transportation-development__paperless-text 我们 - 作为1520毫米空间的集成公司，积极致力于在自己的航线上筹备和引入数字技术。意识到数字技术将在2023-2024年成为物流公司的主要竞争优势，UTLC&nbsp;ERA 继续努力寻找最佳解决方案。
          .transportation-development__paperless-project(data-aos="fade-up") 
            .transportation-development__paperless-col(data-aos="fade-up") 
              .transportation-development__paperless-grey.desktop 项目
              .transportation-development__paperless-minititle 想法
              .transportation-development__paperless-minitext 1 520 毫米轨道上的数字运输跟踪。
              .transportation-development__paperless-minititle 方法
              .transportation-development__paperless-minitext 为不同运输参与者建立具有信任信息空间的数字流水线基础设施。
              .transportation-development__paperless-minititle 目标
              .transportation-development__paperless-minitext 根据电子随附文件生成电子过境报关单；与欧亚经济联盟海关服务互动；向其他感兴趣的参与人传送电子随附单证。
              .transportation-development__paperless-minititle 预期产出
              .transportation-development__paperless-minitext 该项目将使欧亚经济联盟的运输和境外国家监管完全数字化成为可能。
            .transportation-development__paperless-col(data-aos="fade-up")
              .transportation-development__paperless-grey.mobile 项目
              .transportation-development__paperless-subtitle 数字货运代理。
              .transportation-development__paperless-text 在潜在的前景方面，该项目的实施将向欧洲和中国的合作伙伴展示欧亚数字基础设施已准备好向现代技术过渡，并提升欧亚铁路走廊的吸引力。
              .formation-park__structure-plug.paperless 
                .formation-park__structure-subtitle 我们认为，这是当前政治和经济现实中最务实的做法。
                .formation-park__structure-icon
                  +green-chat-svg