mixin client-portfolio
  .container-content
    section.client-portfolio
      .transportation-development
        h2.transportation-development__title Развитие перевозок Китай — РФ
        .transportation-development__row.top
          .transportation-development__col 
            .transportation-development__subtitle В 2022 году наметилась тенденция к увеличению объемов перевозок грузов по маршруту Китай — РФ в сервисах ОТЛК ЕРА
          .transportation-development__col
            .transportation-development__text.top Запрос на альтернативные логистические цепочки, а также механизмы оплаты — например, расчеты в китайском юане — способствовали увеличению спроса со стороны клиентов Общества на перевозки в этом направлении.
            .transportation-development__cards 
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 12
                  .ge-card__text договоров в юанях 
                .ge-card__bot
                  .ge-card__text-grey Было заключено в 2022 году
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 31
                  .ge-card__text поезд и 3 082 ДФЭ 
                .ge-card__bot
                  .ge-card__text-grey Объемы перевозок по таким договорам
        .transportation-development__row.mid
          .transportation-development__col.mid
            .transportation-development__text Всего в 2022 году было задействовано 26 различных станций назначения ОАО «РЖД» — в два раза больше предыдущих показателей. Основной рост объемов перевозок пришелся на станции Московского ж/д узла, показатели 2022 года достигли значения в 130 564 ДФЭ, а сервисом на данном направлении воспользовались 42 клиента ОТЛК ЕРА.
          .transportation-development__col.mid
            h4.transportation-development__heading Рост суммарного объема перевозок Китай — РФ к 2021 году
            .transportation-development__vector 
              +picture('transportation-development.png')