mixin controls-content
  section(data-aos="fade-up").controls.mt-section
    .container-content 
      .controls__inner 
        .col 
          p.controls__description.description_big Наша компания предъявляет повышенные требования к надежности и эффективности систем контроля: управления рисками, комплаенс и информационной безопасности. 
        .col 
          p.controls__text.text Система контроля в ОТЛК&nbsp;ЕРА формализована и основана на общепринятых международных стандартах, охватывает бизнес-процессы и все уровни управления компании.
          p.controls__text.text Контроль за функционированием системы осуществляет совет директоров, в&nbsp;том числе через комитет по аудиту.
  section(data-aos="fade-up").controls-revision.mt-section(id="controls-revision")
    .container-content 
      .controls-revision__inner 
        h3.controls-revision__title Ревизионная комиссия
        .controls-revision__row 
          .controls-revision__left
            p.controls-revision__text.text Ревизионная комиссия ОТЛК&nbsp;ЕРА — постоянно действующий выборный орган. Ревизионная комиссия действует на основании устава ОТЛК&nbsp;ЕРА и положения о ревизионной комиссии, утвержденного решением внеочередного общего собрания акционеров 22 июля 2021 года. Ревизионная комиссия осуществляет контроль над формированием достоверной финансовой и бухгалтерской отчетности, иной информации о финансово-хозяйственной деятельности и имущественном положении ОТЛК&nbsp;ЕРА, а также над повышением эффективности управления активами, снижением финансовых и операционных рисков и совершенствованием системы внутреннего контроля.
            .row 
              p.controls-revision__description.description Ревизионная комиссия ОТЛК&nbsp;ЕРА избирается на годовом общем собрании акционеров на один год до следующего годового общего собрания в количестве трех членов
              ul.list
                each item in ['Один представитель ОАО «РЖД»','Один представитель АО «НК «КТЖ»','Один представитель Белорусской железной дороги']
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text=item 
          .controls-revision__right
            p.controls-revision__subtitle.description Компетенции ревизионной комиссии
            ul.list
              each item in ['Подтверждение достоверности данных, содержащихся в годовом отчете и годовой бухгалтерской (финансовой) отчетности','Анализ финансового состояния ОТЛК&nbsp;ЕРА','Организация и осуществление проверки (ревизии) финансово-хозяйственной деятельности ОТЛК&nbsp;ЕРА','Контроль за сохранностью и использованием основных средств, расходованием денежных средств ОТЛК&nbsp;ЕРА в соответствии с бюджетом','Контроль за формированием и использованием резервного и иных специальных фондов ОТЛК&nbsp;ЕРА','Проверка выполнения ранее выданных предписаний по устранению нарушений и недостатков, выявленных предыдущими проверками (ревизиями)','Осуществление иных действий (мероприятий), связанных с проверкой финансово-хозяйственной деятельности ОТЛК&nbsp;ЕРА',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text!=item 
  section(data-aos="fade-up").controls-auditor.mt-section(id="controls-auditor")
    .container-content 
      .controls-auditor__inner 
        h3.controls-auditor__title Аудитор
        .controls-auditor__row 
          .col 
            p.controls-auditor__description.description_big Наша компания привлекает внешнего независимого аудитора для проведения ежегодного аудита финансовой отчетности в соответствии с РСБУ и финансовой отчетности в соответствии с МСФО. Кандидатура аудитора утверждается общим собранием акционеров по предложению совета директоров.
            .row
              p.controls-auditor__text.text Аудитор ОТЛК&nbsp;ЕРА — ООО «ЦАТР — аудиторские услуги» (ИНН 7709383532).
              p.controls-auditor__text.text Совет директоров 6 апреля 2022 года утверждил порядок определения кандидатуры аудитора ОТЛК&nbsp;ЕРА в 2022 году и определил начальную (максимальную) цену договора на проведение аудита бухгалтерской (финансовой) отчетности Общества за 2022 год в размере 8 267 010 рублей 00 копеек без учёта НДС 20% (протокол от 06.04.2022 года № 50).
          .col
            p.controls-auditor__text.text Наша компания провела конкурентную процедуру закупки путем закрытого конкурса по выбору аудитора, обладающего достаточной квалификацией на оказание аудиторских услуг по РСБУ и МСФО для нужд ОТЛК&nbsp;ЕРА за 2022 год. По результатам закупочных процедур совету директоров для избрания была предложена кандидатура ООО «ЦАТР — аудиторские услуги», которую утвердили 24 июня 2022 года (протокол от 24.06.2022 № 53).
            p.controls-auditor__text.text Размер вознаграждения аудитора ОТЛК&nbsp;ЕРА составляет 7 000 000 (семь миллионов) рублей 00 копеек без учета НДС 20%.
mixin controls-content-EN
  section(data-aos="fade-up").controls.mt-section
    .container-content 
      .controls__inner 
        .col 
          p.controls__description.description_big Our company targets higher reliability and efficiency standards of our control systems: risk management, compliance and data security.  
        .col 
          p.controls__text.text UTLC ERA’s control system is formalized and based on the generally accepted international standards, covering the business processes and all company’s management levels.
          p.controls__text.text The system operation is supervised by the Board of Directors, including supervision through the Audit Committee.
  section(data-aos="fade-up").controls-revision.mt-section(id="controls-revision")
    .container-content 
      .controls-revision__inner 
        h3.controls-revision__title Audit Commission
        .controls-revision__row 
          .controls-revision__left
            p.controls-revision__text.text The Audit Commission of UTLC ERA is a permanent elected body. The Audit Commission acts on the basis of the Articles of Association of UTLC ERA and the Regulations on the Audit Commission approved by the Extraordinary General Meeting of Shareholders on July 22, 2021. The Audit Commission monitors generation of reliable financial and accounting statements and other information about the UTLC ERA’s financial and business operations and financial situation, as well as asset management improvements, mitigation of financial and operational risks and internal control system improvements.
            .row 
              p.controls-revision__description.description The Audit Commission of UTLC ERA is elected by the Annual General Meeting of Shareholders for one year until the next Annual General Meeting of Shareholders, and is composed of three members:
              ul.list
                li
                  +mark-text-svg.list-svg
                  p.text.list__text One representative of JSCo "RZD"
                li
                  +mark-text-svg.list-svg
                  p.text.list__text One representative of JSC “NC “KTZ”
                li
                  +mark-text-svg.list-svg
                  p.text.list__text One representative of the Belarusian Railway
          .controls-revision__right
            p.controls-revision__subtitle.description Competencies of the Audit Commission
            ul.list
              li
                +mark-text-svg.list-svg
                p.text.list__text Confirms reliability of the information contained in the annual report and the annual accounting (financial) statements
              li
                +mark-text-svg.list-svg
                p.text.list__text Reviews the financial situation of UTLC ERA
              li
                +mark-text-svg.list-svg
                p.text.list__text Arranges and carries out inspection (audit) of UTLC ERA’s financial and business operations
              li
                +mark-text-svg.list-svg
                p.text.list__text Monitors safety and use of fixed assets and expenditure of UTLC ERA’s funds in accordance with the budget
              li
                +mark-text-svg.list-svg
                p.text.list__text Follows up on earlier directives issued to eliminate violations and shortcomings revealed by previous inspections (audits)
              li
                +mark-text-svg.list-svg
                p.text.list__text Takes other actions (measures) related to the audit of UTLC ERA’s financial and business operations
  section(data-aos="fade-up").controls-auditor.mt-section(id="controls-auditor")
    .container-content 
      .controls-auditor__inner 
        h3.controls-auditor__title Auditor
        .controls-auditor__row 
          .col 
            p.controls-auditor__description.description_big Our company engages an independent external auditor to carry out the annual audit of our financial statements in accordance with the Russian Accounting Standards (RAS) and the International Financial Reporting Standards (IFRS). The auditor is approved by the General Meeting of Shareholders and nominated by the Board of Directors.
            .row
              p.controls-auditor__text.text The auditor of UTLC ERA is CATR – Auditing Services LLC (TIN 7709383532).
              p.controls-auditor__text.text On April 6, 2022, the Board of Directors approved the procedure for selecting the auditor of UTLC ERA in 2022 and established the initial (maximum) price of the contract to audit the company’s 2022 accounting (financial) statements in the amount of 8,267,010.00 rubles, excluding 20% VAT (Minutes No. 50 dated 06.04.2022).
          .col
            p.controls-auditor__text.text Our company held a closed tender to select an auditor who is sufficiently qualified to provide auditor services according to RAS and IFRS to cover the needs of UTLC ERA in 2022. Based on the tender, CATR – Auditing Services LLC was nominated to the Board of Directors and approved on June 24, 2022 (Minutes No. 53 dated 24.06.2022).
            p.controls-auditor__text.text The remuneration of UTLC ERA’s auditor is seven million (7,000,000.00) rubles, excluding 20% VAT.
mixin controls-content-CN
  section(data-aos="fade-up").controls.mt-section
    .container-content 
      .controls__inner 
        .col 
          p.controls__description.description_big 我公司对监管系统的可靠性和有效性提出了更高的要求：风险管理、合规和信息安全。
        .col 
          p.controls__text.text UTLC ERA中的控制系统基于普遍接受的国际标准形成系统并建立，涵盖公司的业务流程和所有管理级别。
          p.controls__text.text 该系统由董事会监督，包括审计委员会监督
  section(data-aos="fade-up").controls-revision.mt-section(id="controls-revision")
    .container-content 
      .controls-revision__inner 
        h3.controls-revision__title 监察委员会
        .controls-revision__row 
          .controls-revision__left
            p.controls-revision__text.text UTLC ERA股份公司的监察委员会是一个常设选举机构。监察委员会根据经2021年7月22日临时股东大会决议批准的UTLC ERA章程和《监察委员会条例》运作。监察委员会对UTLC ERA财务会计报告、财务经营活动和财产状况等信息的编制进行监督，并对提高资产管理效率、降低财务经营风险、完善内部控制制度进行监督。
            .row 
              p.controls-revision__description.description 在年度股东大会上选举产生的监察委员会由三名成员组成，任期一年，直至下一次年度股东大会：
              ul.list
                each item in ['俄罗斯铁路股份有限公司的一名代表；','哈萨克斯坦铁路国有企业股份公司的一名代表；','白俄罗斯铁路的一名代表。']
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text=item 
          .controls-revision__right
            p.controls-revision__subtitle.description 监察委员会职权范围
            ul.list
              each item in ['确认年度报告和年度会计（财务）报告所载数据的真实性；','分析UTLC ERA的财务状况；','组织和实施对UTLC ERA财务经营活动的检查（审计）；','根据预算控制UTLC ERA固定资产的保管和使用、货币资金的支出；','监管UTLC ERA储备金和其他专项资金的建立和使用；','检查之前发出的指示的执行情况，以纠正以前检查（审计）发现的违规行为和缺陷；','实施与UTLC ERA财务经营活动检查有关的其他行为（措施）；','2013年至今，- 任白俄罗斯铁路管理局会计及方法学服务部会计及税务登记方法科副主任。',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text!=item 
  section(data-aos="fade-up").controls-auditor.mt-section(id="controls-auditor")
    .container-content 
      .controls-auditor__inner 
        h3.controls-auditor__title 审计员
        .controls-auditor__row 
          .col 
            p.controls-auditor__description.description_big 公司聘请外部独立审计师对财务报表是否符合俄罗斯会计核算标准和是否符合国际财务报表准则进行年度审计。审计师的提名由股东大会根据董事会的提名通过。
            .row
              p.controls-auditor__text.text UTLC ERA审计员-“Tsatr-审计服务”有限责任公司（纳税人识别号7709383532）。
              p.controls-auditor__text.text 2022年4月6日，董事会批准了确定2022年UTLC ERA审计师候选人资格的程序，并确定了公司2022年会计（财务）报表审计协议的初始（最高）价格为8,267,010卢布00戈比，不包括20%的增值税（2022年4月6日第50号协议）。
          .col
            p.controls-auditor__text.text 公司通过非公开招标的方式进行了竞争性采购程序，以选择具有足够资格为UTLC ERA2022年需要的俄罗斯会计核算标准和国际财务报表准则审计服务的审计师。根据采购程序的结果，Tsatr-审计服务有限责任公司的候选人资格提交给董事会选举，并于2022年6月24日获得批准（2022年6月24日第53号协议）。
            p.controls-auditor__text.text UTLC ERA审计员的薪酬为700万（700万）卢布00戈比，不包括20%的增值税。