mixin controls-content
  section.controls.mt-section
    .container-content 
      .controls__inner 
        .col 
          p.controls__description.description_big Наша компания предъявляет повышенные требования к надежности и эффективности систем контроля: управления рисками, комплаенс и информационной безопасности. 
        .col 
          p.controls__text.text Система контроля в ОТЛК&nbsp;ЕРА формализована и основана на общепринятых международных стандартах, охватывает бизнес-процессы и все уровни управления компании.
          p.controls__text.text Контроль за функционированием системы осуществляет совет директоров, в том числе через комитет по аудиту.
  section.controls-revision.mt-section
    .container-content 
      .controls-revision__inner 
        h3.controls-revision__title Ревизионная комиссия
        .controls-revision__row 
          .controls-revision__left
            p.controls-revision__text.text Ревизионная комиссия ОТЛК&nbsp;ЕРА — постоянно действующий выборный орган. Ревизионная комиссия действует на основании устава ОТЛК&nbsp;ЕРА и положения о ревизионной комиссии, утвержденного решением внеочередного общего собрания акционеров 22 июля 2021 года. Ревизионная комиссия осуществляет контроль над формированием достоверной финансовой и бухгалтерской отчетности, иной информации о финансово-хозяйственной деятельности и имущественном положении ОТЛК&nbsp;ЕРА, а также над повышением эффективности управления активами, снижением финансовых и операционных рисков и совершенствованием системы внутреннего контроля.
            .row 
              p.controls-revision__description Ревизионная комиссия ОТЛК&nbsp;ЕРА избирается на годовом общем собрании акционеров на один год до следующего годового общего собрания в количестве трех членов
              ul.list
                each item in ['Один представитель ОАО «РЖД»','Один представитель АО «НК «КТЖ»','Один представитель Белорусской железной дороги']
                  li
                    +mark-text-svg.list-svg
                    p.text.list__text=item 
          .controls-revision__right
            p.controls-revision__subtitle.description Компетенции ревизионной комиссии
            ul.list
              each item in ['Подтверждение достоверности данных, содержащихся в годовом отчете и годовой бухгалтерской (финансовой) отчетности','Анализ финансового состояния ОТЛК&nbsp;ЕРА','Организация и осуществление проверки (ревизии) финансово-хозяйственной деятельности ОТЛК&nbsp;ЕРА','Контроль за сохранностью и использованием основных средств, расходованием денежных средств ОТЛК&nbsp;ЕРА в соответствии с бюджетом','Контроль за формированием и использованием резервного и иных специальных фондов ОТЛК&nbsp;ЕРА','Проверка выполнения ранее выданных предписаний по устранению нарушений и недостатков, выявленных предыдущими проверками (ревизиями)','Осуществление иных действий (мероприятий), связанных с проверкой финансово-хозяйственной деятельности ОТЛК&nbsp;ЕРА',]
                li
                  +mark-text-svg.list-svg
                  p.text.list__text=item 
  section.controls-auditor.mt-section
    .container-content 
      .controls-auditor__inner 
        h3.controls-auditor__title Аудитор
        .controls-auditor__row 
          .col 
            p.controls-auditor__description.description Наша компания привлекает внешнего независимого аудитора для проведения ежегодного аудита финансовой отчетности в соответствии с РСБУ и финансовой отчетности в соответствии с МСФО. Кандидатура аудитора утверждается общим собранием акционеров по предложению совета директоров.
            .row
              p.controls-auditor__text.text Аудитор ОТЛК&nbsp;ЕРА — ООО «ЦАТР — аудиторские услуги» (ИНН 7709383532).
              p.controls-auditor__text.text Совет директоров 6 апреля 2022 года утверждил порядок определения кандидатуры аудитора ОТЛК&nbsp;ЕРА в 2022 году и определил начальную (максимальную) цену договора на проведение аудита бухгалтерской (финансовой) отчетности Общества за 2022 год в размере 8 267 010 рублей 00 копеек без учёта НДС 20% (протокол от 06.04.2022 года № 50).
          .col
            p.controls-auditor__text.text Наша компания провела конкурентную процедуру закупки путем закрытого конкурса по выбору аудитора, обладающего достаточной квалификацией на оказание аудиторских услуг по РСБУ и МСФО для нужд ОТЛК&nbsp;ЕРА за 2022 год. По результатам закупочных процедур совету директоров для избрания была предложена кандидатура ООО «ЦАТР — аудиторские услуги», которую утвердили 24 июня 2022 года (протокол от 24.06.2022 № 53).
            p.controls-auditor__text.text Размер вознаграждения аудитора ОТЛК&nbsp;ЕРА составляет 7 000 000 (семь миллионов) рублей 00 копеек без учета НДС 20%.
