mixin corporate-responsibility
  .corporate-responsibility.container-content
    .corporate-responsibility__row 
      .corporate-responsibility__subtitle Деятельность ОТЛК ЕРА в области КСО — неотъемлемая часть бизнеса.
      .corporate-responsibility__text Становление, рост и развитие компании предполагают и прогресс в области КСО — систематизацию процессов, повышение вовлеченности компании и заинтересованных сторон, увеличение финансового вклада в КСО по мере роста экономических показателей.
    .corporate-responsibility__principles
      .corporate-responsibility__principles-title Принципы КСО ОТЛК ЕРА
      .corporate-responsibility__principles-list 
        .corporate-responsibility__principles-item 
          .principes-text Системность
          .principes-img
            +picture('achievement-number-1.png')
        .corporate-responsibility__principles-item 
          .principes-text Вовлеченность <br>персонала
          .principes-img
            +picture('achievement-number-2.png')
        .corporate-responsibility__principles-item 
          .principes-text Экологичность
          .principes-img
            +picture('achievement-number-3.png')
        .corporate-responsibility__principles-item 
          .principes-text Партнерство
          .principes-img
            +picture('achievement-number-4.png')
        .corporate-responsibility__principles-item 
          .principes-text Этичность
          .principes-img
            +picture('achievement-number-5.png')
        .corporate-responsibility__principles-item 
          .principes-text Забота об общественном благе
          .principes-img
            +picture('achievement-number-6.png')
        .corporate-responsibility__principles-item 
          .principes-text Следование <br>традициям
          .principes-img
            +picture('achievement-number-7.png')
        .corporate-responsibility__principles-item 
          .principes-text Прозрачность <br>и честность
          .principes-img
            +picture('achievement-number-8.png')
  .corporate-responsibility__key.container-content 
    .corporate-responsibility__key-title Ключевые направления
    .corporate-responsibility__principles-list 
        .corporate-responsibility__principles-item 
          .principes-text Забота о персонале
          .principes-icon 
            +peoples-svg
        .corporate-responsibility__principles-item 
          .principes-text Развитие <br>образования
          .principes-icon 
            +univer-hat-svg
        .corporate-responsibility__principles-item 
          .principes-text Охрана окружающей среды
          .principes-icon 
            +leafes-svg
        .corporate-responsibility__principles-item 
          .principes-text Благотворительность <br>и спонсорство
          .principes-icon 
            +hands-svg 
        .corporate-responsibility__principles-item 
          .principes-text Поддержка ветеранов отрасли
          .principes-icon 
            +girl-svg
    .corporate-responsibility__key-subtext.top Принципы КСО разработаны на основании представлений о том, какой дополнительный вклад мы можем внести в развитие общества и охрану окружающей среды, с учетом возможных изменений, происходящих в отрасли, странах ведения деятельности и мире в целом.
    .corporate-responsibility__key-subtext Разделяя концепцию социальной ответственности, компания стремится к продвижению идей КСО среди своих клиентов, партнеров и других заинтересованных сторон, внедрению принципов КСО по всей цепочке поставок, а в перспективе — во всей отрасли.
  .corporate-responsibility__care.container-content 
    .corporate-responsibility__care-title Забота о людях
    .corporate-responsibility__care-row 
      .corporate-responsibility__care-col 
        .corporate-responsibility__care-subtitle Люди, работающие в ОТЛК ЕРА — основное конкурентное преимущество компании, а их благополучие — часть корпоративной культуры well-being. ОТЛК ЕРА стремится создавать все условия для соблюдения интересов персонала, поэтому для компании важны:
      .corporate-responsibility__care-col
        .corporate-responsibility__care-subtext Процессы подбора, адаптации и развития персонала в компании регламентируют
        .corporate-responsibility__care-list 
          each item in ['Профессиональное и личностное развитие каждого сотрудника', 'Создание благоприятного морально-психологического климата и нормальных условий труда на рабочих местах', 'Справедливая оценка вклада и инициативности сотрудников', 'Здоровье и благополучие сотрудников и членов их семей']
            .recruitment-processes__hr-mark=item
        .corporate-responsibility__care-text.top Компания обеспечивает достойный уровень оплаты труда, но не ограничивается этим и стремится оказать сотрудникам максимальную социальную поддержку и предоставить возможности для обучения и развития. Мы заботимся о благополучии сотрудников, об улучшении их психического и физического состояния, а также уровне удовлетворенности.
        .corporate-responsibility__care-text В рамках well-being программ в 2022 году компания внедрила сервис по поддержке сотрудников, в рамках которого можно обратиться неограниченное количество раз за психологической, финансовой, юридической консультацией к профильным экспертам.