mixin corporate-responsibility
  .container-content
    .corporate-responsibility(data-aos="fade-up")
      .corporate-responsibility__row(data-aos="fade-up") 
        .corporate-responsibility__subtitle Деятельность ОТЛК&nbsp;ЕРА в области КСО — неотъемлемая часть бизнеса.
        .corporate-responsibility__text Становление, рост и развитие компании предполагают и прогресс в области КСО — систематизацию процессов, повышение вовлеченности компании и заинтересованных сторон, увеличение финансового вклада в КСО по мере роста экономических показателей.
      .corporate-responsibility__principles(data-aos="fade-up")
        .corporate-responsibility__principles-title Принципы КСО ОТЛК&nbsp;ЕРА
        .corporate-responsibility__principles-list 
          .corporate-responsibility__principles-item 
            .principes-text Системность
            .principes-img
              +picture('achievement-number-1.png')
          .corporate-responsibility__principles-item 
            .principes-text Вовлеченность <br>персонала
            .principes-img
              +picture('achievement-number-2.png')
          .corporate-responsibility__principles-item 
            .principes-text Экологичность
            .principes-img
              +picture('achievement-number-3.png')
          .corporate-responsibility__principles-item 
            .principes-text Партнерство
            .principes-img
              +picture('achievement-number-4.png')
          .corporate-responsibility__principles-item 
            .principes-text Этичность
            .principes-img
              +picture('achievement-number-5.png')
          .corporate-responsibility__principles-item 
            .principes-text Забота об общественном благе
            .principes-img
              +picture('achievement-number-6.png')
          .corporate-responsibility__principles-item 
            .principes-text Следование <br>традициям
            .principes-img
              +picture('achievement-number-7.png')
          .corporate-responsibility__principles-item 
            .principes-text Прозрачность <br>и честность
            .principes-img
              +picture('achievement-number-8.png')
  .container-content 
    .corporate-responsibility__key(data-aos="fade-up")
      .corporate-responsibility__key-title Ключевые направления
      .corporate-responsibility__principles-list(data-aos="fade-up") 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons Забота о персонале
            .principes-icon 
              +peoples-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Развитие <br>образования
            .principes-icon 
              +univer-hat-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Охрана окружающей среды
            .principes-icon 
              +leafes-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Благотворительность <br>и спонсорство
            .principes-icon 
              +hands-svg 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons.girl  Поддержка ветеранов отрасли
            .principes-icon 
              +girl-svg
      .corporate-responsibility__key-subtext.top.text Принципы КСО разработаны на основании представлений о том, какой дополнительный вклад мы можем внести в развитие общества и охрану окружающей среды, с учетом возможных изменений, происходящих в отрасли, странах ведения деятельности и мире в целом.
      .corporate-responsibility__key-subtext.text Разделяя концепцию социальной ответственности, компания стремится к продвижению идей КСО среди своих клиентов, партнеров и других заинтересованных сторон, внедрению принципов КСО по всей цепочке поставок, а в перспективе — во всей отрасли.
  .container-content 
    .corporate-responsibility__care(id="corporate-responsibility-care")(data-aos="fade-up") 
      h2.corporate-responsibility__care-title Забота о людях
      .corporate-responsibility__care-row(data-aos="fade-up") 
        .corporate-responsibility__care-col(data-aos="fade-up") 
          .corporate-responsibility__care-subtitle Люди, работающие в ОТЛК&nbsp;ЕРА — основное конкурентное преимущество компании, а их благополучие — часть корпоративной культуры well-being. ОТЛК&nbsp;ЕРА стремится создавать все условия для соблюдения интересов персонала, поэтому для компании важны:
          .corporate-responsibility__care-list 
            .recruitment-processes__hr-mark Профессиональное и личностное развитие каждого сотрудника
            .recruitment-processes__hr-mark Создание благоприятного морально-психологического климата и&nbsp;нормальных условий труда на рабочих местах
            .recruitment-processes__hr-mark Справедливая оценка вклада и инициативности сотрудников
            .recruitment-processes__hr-mark Здоровье и благополучие сотрудников и членов их семей
        .corporate-responsibility__care-col(data-aos="fade-up")
          .corporate-responsibility__care-text.top.text Компания обеспечивает достойный уровень оплаты труда, но не ограничивается этим, и стремится оказать сотрудникам максимальную социальную поддержку и предоставить возможности для обучения и развития. Мы заботимся о благополучии сотрудников, об улучшении их психического и физического состояния, а также уровне удовлетворенности.
          .corporate-responsibility__care-text.text В рамках well-being программ в 2022 году компания внедрила сервис по поддержке сотрудников, в рамках которого можно обратиться неограниченное количество раз за психологической консультацией.
  
  
  
  
  .container-content
    .corporate-responsibility__events(id="corporate-responsibility-events")(data-aos="fade-up") 
      h2.corporate-responsibility__events-title Корпоративные мероприятия
      .corporate-responsibility__events-row 
        .corporate-responsibility__events-subtitle Мы рассматриваем проведение мероприятий как особый способ внедрения корпоративных ценностей, важную составляющую корпоративной культуры и&nbsp;инструмент построения эффективной команды.
        .corporate-responsibility__events-text.text В мероприятии ценности не представляются в виде абстрактных схем, а&nbsp;непосредственно переживаются сотрудниками как часть их реальной жизни. В компании традиционно отмечают 23 февраля, 8 марта, день образования компании, профессиональный праздник День железнодорожника, Новый год и др.
  .container-content
    .corporate-responsibility__health(id="corporate-responsibility-health")(data-aos="fade-up") 
      h2.corporate-responsibility__health-title Здоровье и медицинское обеспечение
      .corporate-responsibility__health-row(data-aos="fade-up") 
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text Несмотря на снятие ряда ограничений в Москве, связанных с распространением вируса COVID-19, мы предоставляем большей части сотрудников возможность работать удаленно и приезжать в офис только по необходимости. 
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text Для бесперебойной и эффективной работы персонала организован удаленный доступ к корпоративным ресурсам, налажено обеспечение персональными компьютерами. Принятые в течение 2022 года сотрудники переводятся на удаленную работу после прохождения испытательного срока.
          .ge-card.light-green
              .ge-card__top
                .ge-card__num.light.countup-element(data-countup='78' data-countup-suffix='%')
              .ge-card__bot
                .ge-card__text-grey Сотрудников могут работать удаленно
          .corporate-responsibility__health-text Для сотрудников, работающих в офисе в связи с производительнной необходимостью, закуплены дезинфицирующие средства для уборки помещений и обработки рук, средства индивидуальной защиты органов дыхания. Каждые три часа производится влажная уборка.
  .container-content 
    .personal-subsection(data-aos="fade-up") 
      .personal-subsection__title Для компании важно обеспечить персонал возможностью получить лучшие медицинские услуги в самых прогрессивных медицинских учреждениях Москвы и Московской области. 
      .personal-subsection__row.first(data-aos="fade-up") 
        .personal-subsection__col.text
          .personal-subsection__text Для поддержки здоровья и стабильного психоэмоционального состояния коллектива в период пандемии компания значительно расширила программу добровольного медицинского страхования и ее географию.
        .personal-subsection__col.text
          .personal-subsection__text В компании действует программа предоставления услуг санаторно-курортного лечения. Программа определяет порядок бронирования, распределения и оплаты путевок в оздоровительные учреждения, специализирующихся на санаторно-курортном лечении, оздоровлении и отдыхе. 
      .personal-subsection__row.second(data-aos="fade-up") 
        .personal-subsection__col.left(data-aos="fade-up") 
          .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='8')
                .ge-card__text.number-animate-8.number-animate  сотрудников
              .ge-card__bot
                .ge-card__text-grey.short В 2022 году получили санаторно-курортное лечение
          .personal-subsection__text.custom-top.text Компания заботится и о детях сотрудников. <br>Так, с мая 2022 года им доступна еще одна социальная гарантия –  возмещение (компенсация) за отдых и оздоровление ребенка. 
        .personal-subsection__col.right(data-aos="fade-up")
          .personal-subsection__subtitle Программа включает
          each item in ['Онлайн-прием терапевта', 'Онлайн-запись к врачам узкой специализации через приложение', 'Бесплатную психологическую помощь для сотрудников и их семей', 'Круглосуточный доступ к материалам программ, направленных на формирование картины здоровья, благополучия коллектива, повышение приверженности здоровому образу жизни', 'Возможность приобрести медицинские полисы ДМС для близких родственников по корпоративным ценам', 'Оформление справок для санаторно-курортного лечения', 'Полис для выезда за пределы Российской Федерации', 'Реабилитационно-восстановительное лечение для застрахованных сотрудников, перенесших вирусную пневмонию, в том числе COVID-19', 'Лечение впервые диагностированных критических заболеваний',]
            .recruitment-processes__hr-mark!=item
          .personal-subsection__subrow 
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='60000')
                .ge-card__text.number-animate-60000.number-animate руб <br>в год
              .ge-card__bot
                .ge-card__text-grey Сумма компенсации за детский отдых или оздоровление
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='3') 
                .ge-card__text.number-animate-3.number-animate  сотрудника
              .ge-card__bot
                .ge-card__text-grey Воспользовались в 2022 году этой возможностью 
          .personal-subsection__text.text Кроме того, в компании на постоянной основе действует программа развития корпоративного спорта, направленная на укрепление здоровья сотрудников. Они могут посещать различные спортивные занятия, в том числе йогу, пилатес и танцы. Также мы арендуем поле для занятий по футболу.
  .container-content
    .material-help(id="material-help")(data-aos="fade-up")  
      .material-help__title Материальная и иная помощь
      .material-help__row(data-aos="fade-up") 
        .material-help__col(data-aos="fade-up") 
          .material-help__subtitle Сотрудники имеют право на предоставление материальной помощи в случае регистрации брака впервые, рождения ребенка, в связи с юбилеем, потерей близких, болезнью, а также для оплаты лечения. 
        .material-help__col(data-aos="fade-up") 
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='21') 
              .ge-card__text.number-animate-21.number-animate  сотрудник
            .ge-card__bot
              .ge-card__text-grey Получил материальную помощь в 2022 году 
          .material-help__text.top.text В качестве нематериальной мотивации компания поощряет лучших сотрудников, награждает их почетными грамотами, предоставляет возможность обучения, карьерного роста и горизонтальной ротации, организует участие в кросс-функциональных стажировках, проводит тренинги и другие мероприятия.
        .material-help__col(data-aos="fade-up")
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='8')
              .ge-card__text.number-animate-8.number-animate сотрудников
            .ge-card__bot
              .ge-card__text-grey Получили различные награды
          .material-help__subtext В 2022 году в соответствии с действующими нормативными документами были награждены 8 сотрудников:
          p.recruitment-processes__hr-mark 3 сотрудника получили награды <br class="br"> от ОАО «РЖД» за добросовестный труд и высокий профессионализм
          p.recruitment-processes__hr-mark 5 сотрудников награждены от Белорусской железной дороги за большой вклад в повышение эффективности производственного взаимодействия с подразделениями Белорусской железной дороги и обеспечение роста транзитных контейнерных перевозок, высокий профессионализм и добросовестный труд
  .container-content
    .education-support(id="education-support")(data-aos="fade-up") 
      .education-support__title Поддержка образования
      .education-support__row(data-aos="fade-up")   
        .education-support__col(data-aos="fade-up") 
          .education-support__subtitle ОТЛК&nbsp;ЕРА заинтересована <br class="br"> в повышении уровня образования <br class="br"> и кадрового потенциала <br class="br"> в транспортной отрасли.
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='7')
              .ge-card__text.number-animate-7.number-animate студентов
            .ge-card__bot
              .ge-card__text-grey Прошли практику в компании в 2022 году
        .education-support__col(data-aos="fade-up") 
          .education-support__text.top.text Компания поддерживает учебные заведения транспортной направленности, организует совместные программы, приглашает студентов и молодых специалистов на практику и открыта для любых иных форматов развития образования.  
          .education-support__text.text В течение 2022 года сотрудники ОТЛК&nbsp;ЕРА дважды принимали участие в оффлайн-мероприятии <span class='nbsp'> «День карьеры» </span> в Российском университете транспорта (МИИТ). Встречи носили интерактивный характер: студентам рассказывали о компании и возможности пройти практику, проводили карьерные мини-консультации и викторины на железнодорожную тематику. 
  .container-content 
    .education-development(id="education-development")(data-aos="fade-up") 
      .education-development__title Обучение и развитие
      .education-development__row(data-aos="fade-up") 
        .education-development__col 
          .education-development__subtitle Наши сотрудники проходят обучение и повышают свою квалификацию.
        .education-development__col 
          .education-development__text.text В 2022 году обучение (краткосрочные курсы, вебинары, профессиональные конференции) прошли 66 человек, что ниже уровня 2021 года на 7%. Затраты на обучение персонала были сокращены в целях поддержания ликвидности Общества. 
    .education-development__personal(data-aos="fade-up") 
      .education-development__personal-row 
        .education-development__personal-col
          .education-development__personal-title Обучение и повышение квалификации персонала (человек)
          .education-development__personal-cubes 
            .education-development__personal-cube 
              .education-development__personal-rect.green 
              .education-development__personal-text Краткосрочные курсы (семинары)
            .education-development__personal-cube 
              .education-development__personal-rect.light-green 
              .education-development__personal-text Повышение квалификации
            .education-development__personal-cube 
              .education-development__personal-rect.grey 
              .education-development__personal-text Конференции
        .education-development__personal-col 
          .education-development__personal-grafic 
            +picture('education-development__personal.png')
          +activity-buttons('education-development__personal.jpg')
    .education-development__subsection(data-aos="fade-up") 
      .education-development__subsection-row.top(data-aos="fade-up") 
        .education-development__subsection-col 
          .education-development__subsection-text.custom-1.text В 2022 году сотрудники компании продолжали заниматься изучением английского и китайского языков.
          .education-development__subsection-text.text Часть сотрудников приняли участие в подготовке к финалу корпоративного чемпионата профессионального мастерства по методике World Skills — RZDSkills 2022 в качестве экспертов по компетенциям «Управление логистикой на железнодорожном транспорте», «Продажи транспортно-логистических услуг» и «Сопровождение клиентов». Проведение чемпионата сформировало основу единого профессионального сообщества и новые подходы к развитию производственной культуры на основе международных стандартов World Skills.
        .education-development__subsection-col 
          .education-development__subsection-text.text Ежегодно компания выборочно проводит оценку по утвержденной модели корпоративных компетенций. В 2022 году оценку прошли 11 человек, и по итогам всем участникам выданы рекомендации и разработаны индивидуальные планы развития на год. 
      .education-development__subsection-row(data-aos="fade-up")
        .education-development__subsection-col
          .education-development__subsection-subtitle Для повышения профессионального уровня и личностного роста сотрудников в течение 2022 года компания предоставляла доступ к электронной библиотеке.
        .education-development__subsection-col
          .ge-card.green
            .ge-card__top
              .ge-card__num.green.countup-element(data-countup='1200' data-countup-prefix='>')
            .ge-card__bot
              .ge-card__text-grey.long Книг скачали сотрудники бесплатно (эквивалентно  3010 академ.часам обучения)
          .education-development__subsection-text.custom-3.text В офисе компании оборудована библиотека, в которой представлены профессиональные издания, книги по бизнесу и саморазвитию. Сотрудники организовали обмен детской и художественной литературой. Коллекция книг пополняется ежемесячно.
    section.corporate-responsibility__trainings(id="education-responsibility__trainings")(data-aos="fade-up") 
      h2.corporate-responsibility__trainings-title Тренинги и конференции
      .corporate-responsibility__trainings-row 
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-subtitle В 2022 году сотрудники принимали участие в следующих тренингах:
          each item in ['Оффлайн-тренинг «В одной связке» – для повышения работоспособности сотрудников, сплочения и улучшения коммуникаций внутри коллектива', 'Онлайн-игра «Активация» – для поднятия осознанности сотрудников и проработки проблем, связанных с онлайн коммуникацией', 'Бизнес-тренинг «Развитие коммуникаций и навыков взаимодействия в команде» – для выстраивания межличностных связей и более эффективного исполнения задач компании', 'Тренинг на тему «Управление рисками» – для внедрения системы управления рисками в операционную деятельность компании', 'Серия тренингов по управленческим компетенциям для начинающих и опытных руководителей']
            .recruitment-processes__hr-mark!=item
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-text.text В нашей компании есть традиция — каждый год награждать молодых специалистов «Билетом в будущее», который можно использовать для прохождения кросс-функциональных стажировок в компаниях-партнерах или участия в тематических конференциях. В рамках этой программы 3 молодых специалиста в 2022 году приняли участие в международном контейнерном форуме «ЕСЭ-2022: контейнерная логистика в новых реалиях» (г. Сочи).
          .corporate-responsibility__trainings-text.text Кроме того, 6 сотрудников приняли участие в 4-ой Конференции транспортно-логистического бизнес-блока холдинга ОАО «РЖД» (г. Нижний Новгород). В рамках одного из потоков — молодежного — эксперты и модераторы проводили оценку участников. По результатам был сформирован рейтинг ТОП-30 молодых и перспективных специалистов, куда вошли 2 наших сотрудника. А в HR-потоке директор по организационному развитию компании представил доклад на тему «Система мотивации для блока продаж».
          .corporate-responsibility__trainings-text.custom-1.text Директор по развитию бизнеса и анализу рисков компании принял участие в бизнес-симуляции транспортно-логистического бизнес-блока холдинга ОАО«РЖД» «Единство синергии и эффективности», и команда под его руководством одержала победу.
    section.corporate-responsibility__it(id="education-it")(data-aos="fade-up")  
      h2.corporate-responsibility__it-title ИТ-ресурсы для сотрудников
      .corporate-responsibility__it-row 
        .corporate-responsibility__it-subtitle Запущенный в 2020 году корпоративный портал сегодня пользуется популярностью среди коллег и служит эффективной площадкой для информирования персонала об изменениях в жизни компании. 
        .corporate-responsibility__it-texts 
          .corporate-responsibility__it-text.text Ресурс позволяет узнавать актуальные новости отрасли, делиться идеями, получать комментарии и поддержку коллег. Также на портале размещаются полезные статьи по бизнесу и саморазвитию.
          .corporate-responsibility__it-text.text В рамках создания прозрачной и понятной для сотрудников системы возможностей развития внутри компании, на базе корпоративного портала в 2021 году разработано ИТ-решение «Маркетплейс возможностей». В 2022 году были реализованы два обучающих блока — «Продажи» и «Перевозки», в которых ведущие специалисты и эксперты по направлениям деятельности проводят видеоуроки и рассказывают про работу своих подразделений, а также делятся экспертизой. Сотрудники проходят обучение, выполняют задания, отвечают на вопросы и в конце обучения готовят проект, при успешной защите которого попадают в кадровый резерв.



mixin corporate-responsibility-EN
  .container-content
    .corporate-responsibility(data-aos="fade-up")
      .corporate-responsibility__row(data-aos="fade-up") 
        .corporate-responsibility__subtitle CSR is an integral part of UTLC&nbsp;ERA’s business.
        .corporate-responsibility__text The company’s establishment, growth and development envisage CSR progress, such as process alignment, enhanced engagement by the company and its stakeholders and larger funds to be allocated to CSR as the economics gradually improve.
      .corporate-responsibility__principles(data-aos="fade-up")
        .corporate-responsibility__principles-title UTLC&nbsp;ERA CSR principles
        .corporate-responsibility__principles-list 
          .corporate-responsibility__principles-item 
            .principes-text Consistency
            .principes-img
              +picture('achievement-number-1.png')
          .corporate-responsibility__principles-item 
            .principes-text Personnel <br>engagement
            .principes-img
              +picture('achievement-number-2.png')
          .corporate-responsibility__principles-item 
            .principes-text Environmental friendliness
            .principes-img
              +picture('achievement-number-3.png')
          .corporate-responsibility__principles-item 
            .principes-text Partnership
            .principes-img
              +picture('achievement-number-4.png')
          .corporate-responsibility__principles-item 
            .principes-text Ethics
            .principes-img
              +picture('achievement-number-5.png')
          .corporate-responsibility__principles-item 
            .principes-text Care about public welfare
            .principes-img
              +picture('achievement-number-6.png')
          .corporate-responsibility__principles-item 
            .principes-text Commitment <br>to tradition
            .principes-img
              +picture('achievement-number-7.png')
          .corporate-responsibility__principles-item 
            .principes-text Transparency <br> and integrity
            .principes-img
              +picture('achievement-number-8.png')
  .container-content 
    .corporate-responsibility__key(data-aos="fade-up")
      .corporate-responsibility__key-title Key directions
      .corporate-responsibility__principles-list(data-aos="fade-up") 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons Personnel care
            .principes-icon 
              +peoples-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Development <br>education
            .principes-icon 
              +univer-hat-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Environmental protection
            .principes-icon 
              +leafes-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  Charity <br>and sponsorship
            .principes-icon 
              +hands-svg 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons.girl Support for industry veterans
            .principes-icon 
              +girl-svg
      .corporate-responsibility__key-subtext.top.text Our CSR principles are based on our understanding of the additional contribution that we can make to social development and environmental protection, taking into account potential changes affecting the industry, countries of operation and the whole world.
      .corporate-responsibility__key-subtext.text By sharing the social responsibility concept, the company strives to promote CSR ideas among its customers, partners and other stakeholders, to implement CSR principles throughout the supply chain and, in the longer term, throughout the industry.
  .container-content 
    .corporate-responsibility__care(id="corporate-responsibility-care")(data-aos="fade-up") 
      h2.corporate-responsibility__care-title Caring About People
      .corporate-responsibility__care-row(data-aos="fade-up") 
        .corporate-responsibility__care-col(data-aos="fade-up") 
          .corporate-responsibility__care-subtitle People working for UTLC&nbsp;ERA are our key competitive edge, and their well-being is an integral part of our corporate culture. UTLC&nbsp;ERA is committed to creating all possible conditions for respecting the interests of our personnel, therefore, the company attaches great value to:
          .corporate-responsibility__care-list.mt-20
            .recruitment-processes__hr-mark Professional and personal development of each employee
            .recruitment-processes__hr-mark Favorable moral and psychological climate and normal workplace conditions
            .recruitment-processes__hr-mark Fair assessment of the individual contribution and proactive approach
            .recruitment-processes__hr-mark Health and well-being of our employees and their families
        .corporate-responsibility__care-col(data-aos="fade-up")
          .corporate-responsibility__care-text.top.text The company goes above and beyond ensuring the decent remuneration levels and strives to render maximum social support and offer training and development opportunities to the personnel. We care about the well-being of our team members, improvement of their mental and physical state, as well as their satisfaction level.
          .corporate-responsibility__care-text.text In 2022, the company implemented the well-being programs that included establishment of an employee support service, which grants unlimited access to psychological, financial or legal advice from subject matter experts.
  .container-content
    .corporate-responsibility__events(id="corporate-responsibility-events")(data-aos="fade-up") 
      h2.corporate-responsibility__events-title Corporate Events
      .corporate-responsibility__events-row 
        .corporate-responsibility__events-subtitle We regard events as a special way of promoting corporate values, a key component of corporate culture, and an effective team-building tool.
        .corporate-responsibility__events-text.text The events enable to translate our values into real-life experiences for our personnel rather than present them as abstract notions. The company traditionally celebrates February 23 (Defender of the Fatherland Day in Russia), March 8 (International Women’s Day), the company’s incorporation day, the Railway Worker Day (a professional holiday), the New Year, etc.
  .container-content
    .corporate-responsibility__health(id="corporate-responsibility-health")(data-aos="fade-up") 
      h2.corporate-responsibility__health-title Health and Medical Support
      .corporate-responsibility__health-row(data-aos="fade-up") 
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text Although many COVID-19 restrictions in Moscow have been cancelled, we give most of our staff an opportunity to work remotely and visit the office on an as-needed basis.
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text To ensure uninterrupted and effective team work, we have arranged remote access to the corporate web resources and allocated personal computers to our employees. The employees hired in 2022 start working remotely upon passing their probation period.
          .ge-card.light-green
              .ge-card__top
                .ge-card__num.light.countup-element(data-countup='78' data-countup-suffix='%')
              .ge-card__bot
                .ge-card__text-grey Employees can work remotely
          .corporate-responsibility__health-text For those working in the office due to operational needs, we have purchased disinfectants, hand sanitizers and personal respiratory protective devices. Wet cleaning is made very three hours.
  .container-content 
    .personal-subsection(data-aos="fade-up") 
      .personal-subsection__title The company places special emphasis on enabling its personnel to obtain the best medical service in the most advanced medical institutions of Moscow and the Moscow Region. 
      .personal-subsection__row.first(data-aos="fade-up") 
        .personal-subsection__col.text
          .personal-subsection__text To support health and stable emotional state within the team during the pandemic, the company has considerably expanded the voluntary health insurance plan and its geography.
        .personal-subsection__col.text
          .personal-subsection__text The company has a health resort treatment program in place. The program defines the procedures for booking, distribution and payment of vouchers to health improvement institutions, which are focused on health resort treatment, health improvement and recreation.
      .personal-subsection__row.second(data-aos="fade-up") 
        .personal-subsection__col.left(data-aos="fade-up") 
          .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='8')
                .ge-card__text.number-animate-8.number-animate  employees
              .ge-card__bot
                .ge-card__text-grey.short Got health resort treatment in 2022
          .personal-subsection__text.custom-top.text We also care about our personnel’s children. A new social guarantee is available since May 2022, namely reimbursement (compensation) of the child’s recreation and health improvement.
        .personal-subsection__col.right(data-aos="fade-up")
          .personal-subsection__subtitle The plan includes:
          .recruitment-processes__hr-mark Online appointment with a general practitioner
          .recruitment-processes__hr-mark Online booking of appointments with specialist doctors via an application
          .recruitment-processes__hr-mark Free psychological aid for employees and their families
          .recruitment-processes__hr-mark 24/7 access to the programs aimed at keeping health records, maintaining team welfare and promoting commitment to a healthy lifestyle
          .recruitment-processes__hr-mark Possibility to obtain voluntary health insurance policies for close family members at corporate prices
          .recruitment-processes__hr-mark Issue of medical certificates for health resort treatment
          .recruitment-processes__hr-mark Travel insurance policy for trips outside the Russian Federation
          .recruitment-processes__hr-mark Rehabilitation treatment for insured employees recovering from viral pneumonia, including COVID-19
          .recruitment-processes__hr-mark Treatment of newly diagnosed critical diseases
          .personal-subsection__subrow 
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='60000')
                .ge-card__text.number-animate-60000.number-animate rubles<br> per year
              .ge-card__bot
                .ge-card__text-grey Reimbursement of costs for children’s recreation or health improvement 
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='3') 
                .ge-card__text.number-animate-3.number-animate  employees
              .ge-card__bot
                .ge-card__text-grey Took advantage of this opportunity in 2022
          .personal-subsection__text.text In addition, we have an ongoing corporate sports development program focused on personnel’s health improvement. Employees can attend various sports activities, such as yoga, pilates and dance classes. We also rent a football training facility.
  .container-content
    .material-help(id="material-help")(data-aos="fade-up")  
      .material-help__title Financial and Other Aid
      .material-help__row(data-aos="fade-up") 
        .material-help__col(data-aos="fade-up") 
          .material-help__subtitle Employees are entitled to financial aid on the occasion of first marriage, birth of a child, milestone birthdays, death of close relatives, as well as to cover medical treatment. 
        .material-help__col(data-aos="fade-up") 
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='21') 
              .ge-card__text.number-animate-21.number-animate  employees
            .ge-card__bot
              .ge-card__text-grey Received financial aid in 2022
          .material-help__text.top.text In terms of soft incentives, the company encourages its best employees by awarding certificates of appreciation, provides learning, career and horizontal rotation opportunities, arranges participation in cross-functional internships, holds trainings and other activities.
        .material-help__col(data-aos="fade-up")
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='8')
              .ge-card__text.number-animate-8.number-animate employees
            .ge-card__bot
              .ge-card__text-grey Received various awards
          .material-help__subtext 8 employees were awarded in 2022 in accordance with the effective regulations:
          p.recruitment-processes__hr-mark 3 employees were awarded by JSCo "RZD" to honor their dedicated work and high professionalism
          p.recruitment-processes__hr-mark 5 employees were awarded by Belarusian Railway to honor their great contribution to improving the operational interaction with the Belarusian Railway divisions and ensuring growth of transit container traffic volumes, high professionalism and dedicated work
  .container-content
    .education-support(id="education-support")(data-aos="fade-up") 
      .education-support__title Support for Education
      .education-support__row(data-aos="fade-up")   
        .education-support__col(data-aos="fade-up") 
          .education-support__subtitle UTLC&nbsp;ERA is committed to raising the education level and HR potential in the transport industry.
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='7')
              .ge-card__text.number-animate-7.number-animate students
            .ge-card__bot
              .ge-card__text-grey  Underwent on-the-job training in the company in 2022
        .education-support__col(data-aos="fade-up") 
          .education-support__text.top.text The company supports transport-oriented educational institutions, arranges joint programs, invites students and young specialists for on-the-job training, and is generally open to any other education development forms.
          .education-support__text.text During 2022, employees of UTLC&nbsp;ERA participated twice in an offline event called "Career Day" at the Russian University of Transport (MIIT). The meetings were interactive: with presentations about the company and opportunities for internships, as well as career mini-consultations and quizzes on railway-related topics being conducted for the students.
  .container-content 
    .education-development(id="education-development")(data-aos="fade-up") 
      .education-development__title Training and Development
      .education-development__row(data-aos="fade-up") 
        .education-development__col 
          .education-development__subtitle Our employees undergo training and advance training.
        .education-development__col 
          .education-development__text.text 66 people passed training in 2022 (short-term courses, webinars, professional conferences), which is 7% below the 2021 level. The training costs were reduced in order to maintain the company’s liquidity. 
    .education-development__personal(data-aos="fade-up") 
      .education-development__personal-row 
        .education-development__personal-col
          .education-development__personal-title Training and Professional Development (People)
          .education-development__personal-cubes 
            .education-development__personal-cube 
              .education-development__personal-rect.green 
              .education-development__personal-text Short courses (seminars)
            .education-development__personal-cube 
              .education-development__personal-rect.light-green 
              .education-development__personal-text Professional development
            .education-development__personal-cube 
              .education-development__personal-rect.grey 
              .education-development__personal-text Conferences
        .education-development__personal-col 
          .education-development__personal-grafic 
            +picture('education-development__personal.png')
          +activity-buttons('education-development__personal.jpg')
    .education-development__subsection(data-aos="fade-up") 
      .education-development__subsection-row.top(data-aos="fade-up") 
        .education-development__subsection-col 
          .education-development__subsection-text.text In 2022, our employees continued their studies of the English and Chinese languages.
          .education-development__subsection-text.text.mt-20 Some employees took part in the preparation for the finals of World Skills – RZDSkills 2022 as experts on such competencies as Railway Logistics Management, Sale of Transport and Logistics Services and Customer Support. The competition established the basis of the integrated professional community and the new approaches to workplace culture based on the World Skills international standards.
        .education-development__subsection-col 
          .education-development__subsection-text.text The company makes an annual sample assessment in accordance with the approved model of corporate competencies. In 2022, 11 people were assessed, with every participant obtaining recommendations and annual individual development plans.
      .education-development__subsection-row(data-aos="fade-up")
        .education-development__subsection-col
          .education-development__subsection-subtitle To enhance the professional level and personal growth of employees, throughout 2022, the company provided access to an electronic library from the publishing house.
        .education-development__subsection-col
          .ge-card.green
            .ge-card__top
              .ge-card__num.green.countup-element(data-countup='1200' data-countup-prefix='>')
            .ge-card__bot
              .ge-card__text-grey.long Books were downloaded by employees free of charge (equivalent to 3,010 classroom hours)
          .education-development__subsection-text.custom-3.text There is a library available in the company’s office, which contains professional publications, business and self-development books. The employees have arranged an exchange of children’s books and fiction. The collection of books is replenished every month.
    section.corporate-responsibility__trainings(id="education-responsibility__trainings")(data-aos="fade-up") 
      h2.corporate-responsibility__trainings-title Trainings and Conferences
      .corporate-responsibility__trainings-row 
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-subtitle.mb-20 In 2022, our employees attended the following trainings:
            .recruitment-processes__hr-mark.mt-20 Tied Together – an offline training to promote personnel productivity, team-building and team communications.
            .recruitment-processes__hr-mark Activation – an online game to raise awareness and address the online communication issues.
            .recruitment-processes__hr-mark Development of Team Communication and Interaction Skills – a business training to build interpersonal communications and to improve performance according to the company’s tasks.
            .recruitment-processes__hr-mark Risk Management – a training course to integrate the risk management system in the company’s operations.
            .recruitment-processes__hr-mark A series of trainings on management competencies for new and experienced managers.
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-text.text Our company traditionally awards a “Ticket to the Future” to its young specialists on an annual basis. The awarded young specialists can use this ticket to participate in cross-functional on-the-job training and discipline-specific conferences. Under this program, 3 young specialists took part in ESE-2022: Container Logistics in New Realities, an international container forum in Sochi in 2022.
          .corporate-responsibility__trainings-text.text 6 employees participated in the 4th Conference of JSCo "RZD" Holding Transport and Logistics Business Unit in Nizhny Novgorod. Within the section dedicated to young specialists, experts and facilitators assessed the participants. Two of our employees made the TOP 30 young and promising specialists based on this assessment. In the HR section, our Organizational Development Director made a presentation on the Sales Unit Incentive System.
          .corporate-responsibility__trainings-text.custom-1.text The Business Development and Risk Analysis Director participated in the business simulation of JSCo "RZD" Transport and Logistic Business Unit called “Synergy and Effectiveness United”, and the team led by him took home the win.
    section.corporate-responsibility__it(id="education-it")(data-aos="fade-up")  
      h2.corporate-responsibility__it-title IT Resources for Employees
      .corporate-responsibility__it-row 
        .corporate-responsibility__it-subtitle Launched in 2020, the corporate portal is now popular among our colleagues and serves as an effective platform for keeping the team updated on any changes in the corporate life.
        .corporate-responsibility__it-texts 
          .corporate-responsibility__it-text.text The resource helps learn relevant industry news, share ideas, receive comments and support from the colleagues. Useful business and self-development articles are also uploaded to the portal.
          .corporate-responsibility__it-text.text To create a transparent and clear system of in-house development opportunities, the Opportunity Marketplace IT solution was implemented in 2021 on the basis of the corporate portal. In 2022, two training packages were developed for Sales and Transportation, where leading specialists and subject-matter experts hold video lessons, telling about the operation of their units and sharing expertise. The employees undergo training, complete assignments, answer questions and ultimately develop a project, which, if successfully defended, will put them in the talent pool.

mixin corporate-responsibility-CN
  .container-content
    .corporate-responsibility(data-aos="fade-up")
      .corporate-responsibility__row(data-aos="fade-up") 
        .corporate-responsibility__subtitle UTLC&nbsp;ERA在企业和社会责任领域的活动是业务的一个组成部分。
        .corporate-responsibility__text 公司的形成、成长和发展还意味着公司社会责任方面的进步 — 流程的系统化、提升公司和利益攸关方的专注度、随着经济指标的增长，加强对公司社会责任的财务贡献。
      .corporate-responsibility__principles(data-aos="fade-up")
        .corporate-responsibility__principles-title 企业社会责任 UTLC EPA 原则
        .corporate-responsibility__principles-list 
          .corporate-responsibility__principles-item 
            .principes-text 一致性 
            .principes-img
              +picture('achievement-number-1.png')
          .corporate-responsibility__principles-item 
            .principes-text 招贤纳士
            .principes-img
              +picture('achievement-number-2.png')
          .corporate-responsibility__principles-item 
            .principes-text 环境友好
            .principes-img
              +picture('achievement-number-3.png')
          .corporate-responsibility__principles-item 
            .principes-text 伙伴关系
            .principes-img
              +picture('achievement-number-4.png')
          .corporate-responsibility__principles-item 
            .principes-text 伦理道德
            .principes-img
              +picture('achievement-number-5.png')
          .corporate-responsibility__principles-item 
            .principes-text 关心公益事业
            .principes-img
              +picture('achievement-number-6.png')
          .corporate-responsibility__principles-item 
            .principes-text 遵循传统
            .principes-img
              +picture('achievement-number-7.png')
          .corporate-responsibility__principles-item 
            .principes-text 透明度和诚实
            .principes-img
              +picture('achievement-number-8.png')
  .container-content 
    .corporate-responsibility__key(data-aos="fade-up")
      .corporate-responsibility__key-title 关键方向
      .corporate-responsibility__principles-list(data-aos="fade-up") 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons 人文关怀
            .principes-icon 
              +peoples-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  发展教育 
            .principes-icon 
              +univer-hat-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  环境保护
            .principes-icon 
              +leafes-svg
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons  慈善和赞助
            .principes-icon 
              +hands-svg 
          .corporate-responsibility__principles-item.icons 
            .principes-text.icons.girl  扶持行业退休人员
            .principes-icon 
              +girl-svg
      .corporate-responsibility__key-subtext.top.text 企业社会责任原则的基础是我们可以为社会和环境作出的额外贡献，同时考虑到行业、经营国和整个世界可能发生的变化。
      .corporate-responsibility__key-subtext.text 公司致力于在其客户、合作伙伴和其他利益攸关方中推广企业社会责任，将企业社会责任原则引入整个供应链，并最终引入整个行业。
  

  .container-content 
    .corporate-responsibility__care(id="corporate-responsibility-care")(data-aos="fade-up") 
      h2.corporate-responsibility__care-title 关心员工
      .corporate-responsibility__care-row(data-aos="fade-up") 
        .corporate-responsibility__care-col(data-aos="fade-up") 
          .corporate-responsibility__care-subtitle 在UTLC ERA工作的人员是公司的主要竞争优势，他们的平安是Well-Being企业文化的一部分。UTLC ERA努力为满足员工的利益创造一切条件，因此对公司来说重要的是：
          .corporate-responsibility__care-list 
            .recruitment-processes__hr-mark 每位员工的专业和个人发展；
            .recruitment-processes__hr-mark 在工作场所创造良好的道德和心理氛围，以及正常的工作条件；
            .recruitment-processes__hr-mark 公平评价工作人员的贡献和主动性；
            .recruitment-processes__hr-mark 员工及其家属的健康和福祉。
        .corporate-responsibility__care-col(data-aos="fade-up")
          .corporate-responsibility__care-text.top.text 公司提供体面的薪酬，但不限于此，同时致力于为员工提供最大程度的社会支持，提供培训和发展机会。我们关心员工的福利，提高员工的心理和身体健康，以及满意度。
          .corporate-responsibility__care-text.text 作为2022年Well Being计划的一部分，公司推出了一项员工支持计划，可以无限次向专业专家寻求心理、财务、法律建议。
  .container-content
    .corporate-responsibility__events(id="corporate-responsibility-events")(data-aos="fade-up") 
      h2.corporate-responsibility__events-title 公司活动
      .corporate-responsibility__events-row 
        .corporate-responsibility__events-subtitle 我们把开展活动看作是企业价值观的一种特殊导入方式，是企业文化的重要组成部分，也是建立高效团队的工具。
        .corporate-responsibility__events-text.text 在活动中，价值不是以抽象图式的形式呈现的，而是作为员工真实生活的一部分直接体验。公司传统上庆祝2月23日、3月8日、公司成立日、铁路工人职业假日、新年等。
  .container-content
    .corporate-responsibility__health(id="corporate-responsibility-health")(data-aos="fade-up") 
      h2.corporate-responsibility__health-title 保健和医疗支助
      .corporate-responsibility__health-row(data-aos="fade-up") 
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text 尽管莫斯科取消了与COVID-19病毒传播相关的一些限制，但我们为大多数员工提供了远程工作和仅在必要时才来办公室的条件。
        .corporate-responsibility__health-col(data-aos="fade-up") 
          .corporate-responsibility__health-text 为了不间断地以及员工的有效工作，组织了对企业资源的远程访问，并建立了个人电脑保障。2022年聘用的员工在试用期结束后转入远程工作。
          .ge-card.light-green
              .ge-card__top
                .ge-card__num.light.countup-element(data-countup='78' data-countup-suffix='%')
              .ge-card__bot
                .ge-card__text-grey 员工可以远程工作
          .corporate-responsibility__health-text 为了不间断地以及员工的有效工作，组织了对企业资源的远程访问，并建立了个人电脑保障。2022年聘用的员工在试用期结束后转入远程工作。
  .container-content 
    .personal-subsection(data-aos="fade-up") 
      .personal-subsection__title 公司认为，为员工提供莫斯科和莫斯科地区最先进的医疗机构的最佳医疗服务尤为重要。
      .personal-subsection__row.first(data-aos="fade-up") 
        .personal-subsection__col.text
          .personal-subsection__text 为支持团队的健康和稳定的心理情绪状态，在疫情期间，公司大幅扩展了自愿医疗保险计划及其覆盖面
        .personal-subsection__col.text
          .personal-subsection__text 公司制定了提供卫生疗养院治疗服务的计划。该计划明确了在保健机构、卫生疗养治疗、保健和度假机构预订、分发和支付介绍信的程序。
      .personal-subsection__row.second(data-aos="fade-up") 
        .personal-subsection__col.left(data-aos="fade-up") 
          .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='8')
                .ge-card__text.number-animate-8.number-animate  名员工
              .ge-card__bot
                .ge-card__text-grey.short 在2022年接受疗养院治疗
          .personal-subsection__text.custom-top.text 公司还关心员工的子女。自2022年5月起，他们可以获得另一项社会保障 — 儿童度假和健康赔偿（补偿）。 
        .personal-subsection__col.right(data-aos="fade-up")
          .personal-subsection__subtitle 该计划包括
          .recruitment-processes__hr-mark 线上预约全科医生
          .recruitment-processes__hr-mark 通过应用程序在线预约专科医生
          .recruitment-processes__hr-mark 免费为员工及其家属提供心理援助
          .recruitment-processes__hr-mark 全天候访问旨在办理健康卡、团队福祉、提高员工对健康生活方式认识等计划材料
          .recruitment-processes__hr-mark 以企业福利价格为近亲属购买自愿医疗保险
          .recruitment-processes__hr-mark 办理卫生疗养证明
          .recruitment-processes__hr-mark 俄罗斯联邦境外保险单
          .recruitment-processes__hr-mark 对患有病毒性肺炎，包括COVID-19在内的参保员工进行康复治疗
          .recruitment-processes__hr-mark 初诊危重症救治。
          .personal-subsection__subrow 
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='60000')
                .ge-card__text.number-animate-60000.number-animate 万卢布/年
              .ge-card__bot
                .ge-card__text-grey 儿童娱乐或健康补偿金额
            .ge-card.light-green
              .ge-card__top.gap-8
                .ge-card__num.light.countup-element(data-countup='3') 
                .ge-card__text.number-animate-3.number-animate  名员工
              .ge-card__bot
                .ge-card__text-grey 享受2022年的这个机会 
          .personal-subsection__text.text 此外，公司还有一项旨在促进员工健康的长期企业体育发展计划。员工可以参加各种体育活动，包括瑜伽、普拉提和舞蹈。我们还租用了一个足球馆。
  .container-content
    .material-help(id="material-help")(data-aos="fade-up")  
      .material-help__title 物质和其他援助
      .material-help__row(data-aos="fade-up") 
        .material-help__col(data-aos="fade-up") 
          .material-help__subtitle 员工有权在第一次结婚登记、生育、周年纪念、近亲死亡、生病和支付医疗费用时获得物质援助。 
        .material-help__col(data-aos="fade-up") 
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='21') 
              .ge-card__text.number-animate-21.number-animate  名员工 
            .ge-card__bot
              .ge-card__text-grey 2022年获得物质援助 
          .material-help__text.top.text 作为无形的动力，公司对最优秀的员工进行奖励，颁发荣誉证书，提供培训、职业发展和横向轮换任期，组织参加跨职能实习，开展培训等活动。
        .material-help__col(data-aos="fade-up")
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='8')
              .ge-card__text.number-animate-8.number-animate 名员工
            .ge-card__bot
              .ge-card__text-grey 获得了各种荣誉
          .material-help__subtext 2022年度，按照现行规范性文件奖励了8名职工
          p.recruitment-processes__hr-mark -3名员工因认真工作和高度专业精神而获得俄罗斯铁路股份有限公司颁发的奖项
          p.recruitment-processes__hr-mark -5名员工因提高与白俄罗斯铁路部门的生产互动效率和确保过境集装箱运输增长做出的巨大贡献、高度专业精神和认真工作获得白俄罗斯铁路的奖励。
  .container-content
    .education-support(id="education-support")(data-aos="fade-up") 
      .education-support__title 支助教育
      .education-support__row(data-aos="fade-up")   
        .education-support__col(data-aos="fade-up") 
          .education-support__subtitle UTLC&nbsp;ERA致力于提高运输业的教育水平和人员潜力。
          .ge-card.green
            .ge-card__top.gap-8
              .ge-card__num.green.countup-element(data-countup='7')
              .ge-card__text.number-animate-7.number-animate 名大学生
            .ge-card__bot
              .ge-card__text-grey  2022年在公司实习
        .education-support__col(data-aos="fade-up") 
          .education-support__text.top.text 公司支持以交通为导向的教育机构，组织联合项目，邀请学生和年轻专家进行实践，并对任何其他形式的教育发展持开放态度。 
          .education-support__text.text 2022 年期间，UTLC&nbsp;EPA 员工两次参加了俄罗斯交通大学 (MIIT) 的职业日线下活动。 会议是互动的：学生们被告知公司和实习机会，他们举行了关于铁路主题的职业小型咨询和测验。
  .container-content 
    .education-development(id="education-development")(data-aos="fade-up") 
      .education-development__title 培训和发展
      .education-development__row(data-aos="fade-up") 
        .education-development__col 
          .education-development__subtitle 员工接受培训并提高他们的技能。
        .education-development__col 
          .education-development__text.text 2022年，有66人接受了培训（短期课程、网络研讨会、专业会议），比2021年的水平低7%。为支持公司的清偿能力，降低了培训费用。
    .education-development__personal(data-aos="fade-up") 
      .education-development__personal-row 
        .education-development__personal-col
          .education-development__personal-title 培训和提升员工技能（人）
          .education-development__personal-cubes 
            .education-development__personal-cube 
              .education-development__personal-rect.green 
              .education-development__personal-text 短期课程(研讨会)
            .education-development__personal-cube 
              .education-development__personal-rect.light-green 
              .education-development__personal-text 提升专业能力
            .education-development__personal-cube 
              .education-development__personal-rect.grey 
              .education-development__personal-text 会议
        .education-development__personal-col 
          .education-development__personal-grafic 
            +picture('education-development__personal.png')
          +activity-buttons('education-development__personal.jpg')
    .education-development__subsection(data-aos="fade-up") 
      .education-development__subsection-row.top(data-aos="fade-up") 
        .education-development__subsection-col 
          .education-development__subsection-text.custom-1.text 2022年，公司员工不断学习英语和汉语。
          .education-development__subsection-text.text 部分员工作为“铁路物流管理”、“运输和物流服务销售”和“客户维护”等技能专家，参与了World Skills – RZDSkills 2022企业专业技能锦标赛决赛的培训。锦标赛的举办形成了单一专业界基础，以及基于World Skills国际标准的生产文化发展的新方法。
        .education-development__subsection-col 
          .education-development__subsection-text.text 每年，公司都会有选择地根据批准的企业技能模型进行评估。2022年，11人通过了评估，并根据结果向所有参与者发出建议并制定了年度个人发展计划。 
      .education-development__subsection-row(data-aos="fade-up")
        .education-development__subsection-col
          .education-development__subsection-subtitle 为了在2022期间提高员工的专业水平和个人成长，公司提供了对出版社电子图书馆的访问。
        .education-development__subsection-col
          .ge-card.green
            .ge-card__top
              .ge-card__num.green.countup-element(data-countup='1200' data-countup-prefix='>')
            .ge-card__bot
              .ge-card__text-grey.long 员工免费下载书籍量（相当于3010 个学时培训）
          .education-development__subsection-text.custom-3.text 公司办公室设有图书馆，提供专业出版物、关于业务和自我提升书籍。工作人员组织了儿童文学和小说交流会。每月补充一次书库。
    section.corporate-responsibility__trainings(id="education-responsibility__trainings")(data-aos="fade-up") 
      h2.corporate-responsibility__trainings-title 培训和会议
      .corporate-responsibility__trainings-row 
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-subtitle 公司人员的选拔、适应和发展过程受到以下规定的约束：
          .recruitment-processes__hr-mark 线下培训“一捆” — 提高员工的效率、凝聚力并改善团队内部的沟通。
          .recruitment-processes__hr-mark 在线游戏“激活”-提高员工的意识并解决与在线沟通相关的问题。
          .recruitment-processes__hr-mark 业务培训“发展团队沟通和互动技能”-建立人际关系并更有效地执行公司任务。
          .recruitment-processes__hr-mark “风险管理”培训 — 将风险管理系统引入公司经营活动。
          .recruitment-processes__hr-mark 为新手和有经验的高管提供一系列管理能力培训。
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-text.text 我们公司有一个传统，即，每年向年轻的专业人士颁发一张“未来门票”，可用于在合作公司进行跨职能实习或参加主题会议。在该计划的框架内，3名青年专业人员参加了2022年的国际集装箱论坛“ESE-2022：新现实中的集装箱物流”（索契）。
          .corporate-responsibility__trainings-text.text 此外，6名员工参加了俄罗斯铁路控股公司运输和物流业务板块第四次会议（下诺夫哥罗德）。  在其中一个组—青年组 — 的框架内，专家和主持人对参与者进行了评估。根据结果，形成了前30名年轻有前途的专家的评级，其中包括我们的2名员工。在人力资源组中，公司的组织发展总监提交了一份关于“销售单位的激励系统”的报告。
          .corporate-responsibility__trainings-text.custom-1.text 公司业务发展和风险分析总监参与了俄罗斯铁路股份控股公司运输和物流业务板块“协同与效率的统一”的业务模拟，并在其带领下的团队获胜。  
    section.corporate-responsibility__it(id="education-it")(data-aos="fade-up")  
      h2.corporate-responsibility__it-title 员工IT资源
      .corporate-responsibility__it-row 
        .corporate-responsibility__it-subtitle 企业门户网站于2020年推出，在今天，它受到同事们的欢迎，并成为向员工宣传公司生活变化的有效平台。
        .corporate-responsibility__it-texts 
          .corporate-responsibility__it-text.text 该资源允许可了解行业的最新新闻、分享想法、接收同事的评论和支持。该门户网站还包含有关商业和自我发展的有用文章。
          .corporate-responsibility__it-text.text 作为在公司内部为员工创建透明且清晰的发展机会体系的一部分，2021年在企业门户的基础上开发了IT解决方案“机会市场”。  2022年，实施了两个培训单元 —— “销售”和“运输”，活动领域的杰出专业人员和专家进行视频课程，讲述各自部门的工作，并分享专业知识。员工接受培训，完成任务，回答问题，并在培训结束时准备一个项目，如果他们顺利完成答辩，即可进入人才库。
