mixin corporate-responsibility
  .container-content
    .corporate-responsibility
      .corporate-responsibility__row 
        .corporate-responsibility__subtitle Деятельность ОТЛК ЕРА в области КСО — неотъемлемая часть бизнеса.
        .corporate-responsibility__text Становление, рост и развитие компании предполагают и прогресс в области КСО — систематизацию процессов, повышение вовлеченности компании и заинтересованных сторон, увеличение финансового вклада в КСО по мере роста экономических показателей.
      .corporate-responsibility__principles
        .corporate-responsibility__principles-title Принципы КСО ОТЛК ЕРА
        .corporate-responsibility__principles-list 
          .corporate-responsibility__principles-item 
            .principes-text Системность
            .principes-img
              +picture('achievement-number-1.png')
          .corporate-responsibility__principles-item 
            .principes-text Вовлеченность <br>персонала
            .principes-img
              +picture('achievement-number-2.png')
          .corporate-responsibility__principles-item 
            .principes-text Экологичность
            .principes-img
              +picture('achievement-number-3.png')
          .corporate-responsibility__principles-item 
            .principes-text Партнерство
            .principes-img
              +picture('achievement-number-4.png')
          .corporate-responsibility__principles-item 
            .principes-text Этичность
            .principes-img
              +picture('achievement-number-5.png')
          .corporate-responsibility__principles-item 
            .principes-text Забота об общественном благе
            .principes-img
              +picture('achievement-number-6.png')
          .corporate-responsibility__principles-item 
            .principes-text Следование <br>традициям
            .principes-img
              +picture('achievement-number-7.png')
          .corporate-responsibility__principles-item 
            .principes-text Прозрачность <br>и честность
            .principes-img
              +picture('achievement-number-8.png')
  .container-content 
    .corporate-responsibility__key
      .corporate-responsibility__key-title Ключевые направления
      .corporate-responsibility__principles-list 
          .corporate-responsibility__principles-item 
            .principes-text Забота о персонале
            .principes-icon 
              +peoples-svg
          .corporate-responsibility__principles-item 
            .principes-text Развитие <br>образования
            .principes-icon 
              +univer-hat-svg
          .corporate-responsibility__principles-item 
            .principes-text Охрана окружающей среды
            .principes-icon 
              +leafes-svg
          .corporate-responsibility__principles-item 
            .principes-text Благотворительность <br>и спонсорство
            .principes-icon 
              +hands-svg 
          .corporate-responsibility__principles-item 
            .principes-text Поддержка ветеранов отрасли
            .principes-icon 
              +girl-svg
      .corporate-responsibility__key-subtext.top Принципы КСО разработаны на основании представлений о том, какой дополнительный вклад мы можем внести в развитие общества и охрану окружающей среды, с учетом возможных изменений, происходящих в отрасли, странах ведения деятельности и мире в целом.
      .corporate-responsibility__key-subtext Разделяя концепцию социальной ответственности, компания стремится к продвижению идей КСО среди своих клиентов, партнеров и других заинтересованных сторон, внедрению принципов КСО по всей цепочке поставок, а в перспективе — во всей отрасли.
  .container-content 
    .corporate-responsibility__care
      .corporate-responsibility__care-title Забота о людях
      .corporate-responsibility__care-row 
        .corporate-responsibility__care-col 
          .corporate-responsibility__care-subtitle Люди, работающие в ОТЛК ЕРА — основное конкурентное преимущество компании, а их благополучие — часть корпоративной культуры well-being. ОТЛК ЕРА стремится создавать все условия для соблюдения интересов персонала, поэтому для компании важны:
        .corporate-responsibility__care-col
          .corporate-responsibility__care-subtext Процессы подбора, адаптации и развития персонала в компании регламентируют
          .corporate-responsibility__care-list 
            each item in ['Профессиональное и личностное развитие каждого сотрудника', 'Создание благоприятного морально-психологического климата и нормальных условий труда на рабочих местах', 'Справедливая оценка вклада и инициативности сотрудников', 'Здоровье и благополучие сотрудников и членов их семей']
              .recruitment-processes__hr-mark=item
          .corporate-responsibility__care-text.top Компания обеспечивает достойный уровень оплаты труда, но не ограничивается этим, и стремится оказать сотрудникам максимальную социальную поддержку и предоставить возможности для обучения и развития. Мы заботимся о благополучии сотрудников, об улучшении их психического и физического состояния, а также уровне удовлетворенности.
          .corporate-responsibility__care-text В рамках well-being программ в 2022 году компания внедрила сервис по поддержке сотрудников, в рамках которого можно обратиться неограниченное количество раз за психологической, финансовой, юридической консультацией к профильным экспертам.
  .container-content
    .corporate-responsibility__events
      h2.corporate-responsibility__events-title Корпоративные мероприятия
      .corporate-responsibility__events-row 
        .corporate-responsibility__events-subtitle Мы рассматриваем проведение мероприятий как особый способ внедрения корпоративных ценностей, важную составляющую корпоративной культуры и инструмент построения эффективной команды.
        .corporate-responsibility__events-text В мероприятии ценности не представляются в виде абстрактных схем, а непосредственно переживаются сотрудниками как часть их реальной жизни. В компании традиционно отмечают 23 февраля, 8 марта, день образования компании, профессиональный праздник День железнодорожника, Новый год и др.
  .container-content
    .corporate-responsibility__health
      h2.corporate-responsibility__health-title Здоровье и медицинское обеспечение
      .corporate-responsibility__health-row 
        .corporate-responsibility__health-col 
          .corporate-responsibility__health-text Несмотря на снятие ряда ограничений в Москве, связанных с распространением вируса COVID-19, мы предоставляем большей части сотрудников возможность работать удаленно и приезжать в офис только по необходимости. 
        .corporate-responsibility__health-col 
          .corporate-responsibility__health-text Для бесперебойной и эффективной работы персонала организован удаленный доступ к корпоративным ресурсам, налажено обеспечение персональными компьютерами. Принятые в течение 2022 года сотрудники переводятся на удаленную работу после прохождения испытательного срока.
          .ge-card.light-green
              .ge-card__top
                .ge-card__num.light 78%
              .ge-card__bot
                .ge-card__text-grey Сотрудников могут работать удаленно
          .corporate-responsibility__health-text Для бесперебойной и эффективной работы персонала организован удаленный доступ к корпоративным ресурсам, налажено обеспечение персональными компьютерами. Принятые в течение 2022 года сотрудники переводятся на удаленную работу после прохождения испытательного срока.
  .container-content 
    .personal-subsection 
      .personal-subsection__title Для компании важно обеспечить персонал возможностью получить лучшие медицинские услуги в самых прогрессивных медицинских учреждениях Москвы и Московской области. 
      .personal-subsection__row.first 
        .personal-subsection__col.text
          .personal-subsection__text Для поддержки здоровья и стабильного психоэмоционального состояния коллектива в период пандемии компания значительно расширила программу добровольного медицинского страхования и ее географию.
        .personal-subsection__col.text
          .personal-subsection__text В компании действует программа предоставления услуг санаторно-курортного лечения. Программа определяет порядок бронирования, распределения и оплаты путевок в оздоровительные учреждения, специализирующихся на санаторно-курортном лечении, оздоровлении и отдыхе. 
      .personal-subsection__row.second 
        .personal-subsection__col.left 
          .ge-card.light-green
              .ge-card__top
                .ge-card__num.light 8
                .ge-card__text сотрудников
              .ge-card__bot
                .ge-card__text-grey.short В 2022 году получили санаторно-курортное лечение
          .personal-subsection__text.custom-top Компания заботится и о детях сотрудников. <br>Так, с мая 2022 года им доступна еще одна социальная гарантия –  возмещение (компенсация) за отдых и оздоровление ребенка. 
        .personal-subsection__col.right
          .personal-subsection__subtitle Программа включает
          each item in ['Онлайн-прием терапевта', 'Онлайн-запись к врачам узкой специализации через приложение', 'Бесплатную психологическую помощь для сотрудников и их семей', 'Круглосуточный доступ к материалам программ, направленных на формирование картины здоровья, благополучия коллектива, повышение приверженности здоровому образу жизни', 'Возможность приобрести медицинские полисы ДМС для близких родственников по корпоративным ценам', 'Оформление справок для санаторно-курортного лечения', 'Полис для выезда за пределы Российской Федерации', 'Реабилитационно-восстановительное лечение для застрахованных сотрудников, перенесших вирусную пневмонию, в том числе COVID-19', 'Лечение впервые диагностированных критических заболеваний',]
            .recruitment-processes__hr-mark=item
          .personal-subsection__subrow 
            .ge-card.light-green
              .ge-card__top
                .ge-card__num.light 60 000
                .ge-card__text руб <br>в год
              .ge-card__bot
                .ge-card__text-grey Сумма компенсации за детский отдых или оздоровление
            .ge-card.light-green
              .ge-card__top
                .ge-card__num.light 3
                .ge-card__text сотрудника
              .ge-card__bot
                .ge-card__text-grey Воспользовались в 2022 году этой возможностью 
          .personal-subsection__text Кроме того, в компании на постоянной основе действует программа развития корпоративного спорта, направленная на укрепление здоровья сотрудников. Они могут посещать различные спортивные занятия, в том числе йогу, пилатес и танцы. Также мы арендуем зал для занятий по футболу.
  .container-content
    .material-help 
      .material-help__title Материальная и иная помощь
      .material-help__row 
        .material-help__col 
          .material-help__subtitle Сотрудники имеют право на предоставление материальной помощи в случае регистрации брака впервые, рождения ребенка, в связи с юбилеем, потерей близких, болезнью, а также для оплаты лечения. 
        .material-help__col 
          .ge-card.green
            .ge-card__top
              .ge-card__num.green 21
              .ge-card__text сотрудник
            .ge-card__bot
              .ge-card__text-grey Получил материальную помощь в 2022 году 
          .material-help__text.top В качестве нематериальной мотивации компания поощряет лучших сотрудников, награждает их почетными грамотами, предоставляет возможность обучения, карьерного роста и горизонтальной ротации, организует участие в кросс-функциональных стажировках, проводит тренинги и другие мероприятия.
        .material-help__col
          .ge-card.green
            .ge-card__top
              .ge-card__num.green 8
              .ge-card__text сотрудник
            .ge-card__bot
              .ge-card__text-grey Получили различные награды
          .material-help__subtext В 2022 году в соответствии с действующими нормативными документами были награждены 8 сотрудников
          p.recruitment-processes__hr-mark 3 сотрудника получили награды <br class="br"> от ОАО «РЖД» за добросовестный труд и высокий профессионализм
          p.recruitment-processes__hr-mark 5 сотрудников награждены от Белорусской железной дороги за большой вклад в повышение эффективности производственного взаимодействия с подразделениями Белорусской железной дороги и обеспечение роста транзитных контейнерных перевозок, высокий профессионализм и добросовестный труд
  .container-content
    .education-support
      .education-support__title Поддержка образования
      .education-support__row   
        .education-support__col 
          .education-support__subtitle ОТЛК ЕРА заинтересована <br class="br"> в повышении уровня образования <br class="br"> и кадрового потенциала <br class="br"> в транспортной отрасли.
          .ge-card.green
            .ge-card__top
              .ge-card__num.green 7
              .ge-card__text студентов
            .ge-card__bot
              .ge-card__text-grey Прошли практику в компании в 2022 году
        .education-support__col 
          .education-support__text.top Компания поддерживает учебные заведения транспортной направленности, организует совместные программы, приглашает студентов и молодых специалистов на практику и открыта для любых иных форматов развития образования.  
          .education-support__text В течение 2022 года сотрудники ОТЛК ЕРА дважды принимали участие в оффлайн-мероприятии «День карьеры» в Российском университете транспорта (МИИТ). Встречи носили интерактивный характер: студентам рассказывали о компании и возможности пройти практику, проводили карьерные мини-консультации и викторины на железнодорожную тематику. 
  .container-content 
    .education-development
      .education-development__title Обучение и развитие
      .education-development__row 
        .education-development__col 
          .education-development__subtitle Наши сотрудники проходят обучение и повышают свою квалификацию.
        .education-development__col 
          .education-development__text В 2022 году обучение (краткосрочные курсы, вебинары, профессиональные конференции) прошли 66 человек, что ниже уровня 2021 года на 7%. Затраты на обучение персонала были сокращены в целях поддержания ликвидности Общества. 
    .education-development__personal 
      .education-development__personal-row 
        .education-development__personal-col
          .education-development__personal-title Обучение и повышение квалификации персонала (человек)
          .education-development__personal-cubes 
            .education-development__personal-cube 
              .education-development__personal-rect.green 
              .education-development__personal-text Краткосрочные курсы (семинары)
            .education-development__personal-cube 
              .education-development__personal-rect.light-green 
              .education-development__personal-text Повышение квалификации
            .education-development__personal-cube 
              .education-development__personal-rect.grey 
              .education-development__personal-text Конференции
        .education-development__personal-col 
          .education-development__personal-grafic 
            +picture('education-development__personal.png')
    .education-development__subsection 
      .education-development__subsection-row.top 
        .education-development__subsection-col 
          .education-development__subsection-text.custom-1 В 2022 году сотрудники компании продолжали заниматься изучением английского и китайского языков.
          .education-development__subsection-text Часть сотрудников приняли участие в подготовке к финалу корпоративного чемпионата профессионального мастерства по методике World Skills — RZDSkills 2022 в качестве экспертов по компетенциям «Управление логистикой на железнодорожном транспорте», «Продажи транспортно-логистических услуг» и «Сопровождение клиентов». Проведение чемпионата сформировало основу единого профессионального сообщества и новые подходы к развитию производственной культуры на основе международных стандартов World Skills.
        .education-development__subsection-col 
          .education-development__subsection-text Ежегодно компания выборочно проводит оценку по утвержденной модели корпоративных компетенций. В 2022 году оценку прошли 11 человек, и по итогам всем участникам выданы рекомендации и разработаны индивидуальные планы развития на год. 
      .education-development__subsection-row
        .education-development__subsection-col
          .education-development__subsection-subtitle Для повышения профессионального уровня и личностного роста сотрудников в течение 2022 года компания предоставляла доступ к электронной библиотеке издательства.
        .education-development__subsection-col
          .ge-card.green
            .ge-card__top
              .ge-card__num.green| >1200
            .ge-card__bot
              .ge-card__text-grey.long Книг скачали сотрудники бесплатно (эквивалентно  3010 академ.часам обучения)
          .education-development__subsection-text.custom-3 В офисе компании оборудована библиотека, в которой представлены профессиональные издания, книги по бизнесу и саморазвитию. Сотрудники организовали обмен детской и художественной литературой. Коллекция книг пополняется ежемесячно.
    section.corporate-responsibility__trainings
      h2.corporate-responsibility__trainings-title Тренинги и конференции
      .corporate-responsibility__trainings-row 
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-subtitle Процессы подбора, адаптации и развития персонала в компании регламентируют
          each item in ['Оффлайн-тренинг «В одной связке» – для повышения работоспособности сотрудников, сплочения и улучшения коммуникаций внутри коллектива', 'Онлайн-игра «Активация» – для поднятия осознанности сотрудников и проработки проблем, связанных с онлайн коммуникацией', 'Бизнес-тренинг «Развитие коммуникаций и навыков взаимодействия в команде» – для выстраивания межличностных связей и более эффективного исполнения задач компании', 'Тренинг на тему «Управление рисками» – для внедрения системы управления рисками в операционную деятельность компании', 'Серия тренингов по управленческим компетенциям для начинающих и опытных руководителей']
            .recruitment-processes__hr-mark=item
        .corporate-responsibility__trainings-col 
          .corporate-responsibility__trainings-text В нашей компании есть традиция — каждый год награждать молодых специалистов «Билетом в будущее», который можно использовать для прохождения кросс-функциональных стажировок в компаниях-партнерах или участия в тематических конференциях. В рамках этой программы 3 молодых специалиста в 2022 году приняли участие в международном контейнерном форуме «ЕСЭ-2022: контейнерная логистика в новых реалиях» (г. Сочи).
          .corporate-responsibility__trainings-text Кроме того, 6 сотрудников приняли участие в 4-ой Конференции транспортно-логистического бизнес-блока холдинга ОАО «РЖД» (г. Нижний Новгород). В рамках одного из потоков — молодежного — эксперты и модераторы проводили оценку участников. По результатам был сформирован рейтинг ТОП-30 молодых и перспективных специалистов, куда вошли 2 наших сотрудника. А в HR-потоке директор по организационному развитию компании представил доклад на тему «Система мотивации для блока продаж».
          .corporate-responsibility__trainings-text.custom-1 Директор по развитию бизнеса и анализу рисков компании принял участие в бизнес-симуляции транспортно-логистического бизнес-блока холдинга ОАО«РЖД» «Единство синергии и эффективности», и команда под его руководством одержала победу.
    section.corporate-responsibility__it 
      h2.corporate-responsibility__it-title ИТ-ресурсы для сотрудников
      .corporate-responsibility__it-row 
        .corporate-responsibility__it-subtitle Запущенный в 2020 году корпоративный портал сегодня пользуется популярностью среди коллег и служит эффективной площадкой для информирования персонала об изменениях в жизни компании. 
        .corporate-responsibility__it-texts 
          .corporate-responsibility__it-text Ресурс позволяет узнавать актуальные новости отрасли, делиться идеями, получать комментарии и поддержку коллег. Также на портале размещаются полезные статьи по бизнесу и саморазвитию.
          .corporate-responsibility__it-text В рамках создания прозрачной и понятной для сотрудников системы возможностей развития внутри компании, на базе корпоративного портала в 2021 году разработано ИТ-решение «Маркетплейс возможностей». В 2022 году были реализованы два обучающих блока — «Продажи» и «Перевозки», в которых ведущие специалисты и эксперты по направлениям деятельности проводят видеоуроки и рассказывают про работу своих подразделений, а также делятся экспертизой. Сотрудники проходят обучение, выполняют задания, отвечают на вопросы и в конце обучения готовят проект, при успешной защите которого попадают в кадровый резерв.
