mixin corruption-content  
  section.corruption.mt-section
    .container-content 
      .corruption__inner 
        h3.corruption__title Задачи антикоррупционной политики
        .corruption__row 
          .col 
            ul.list
              each item in ['Разъяснить позицию руководителей и сотрудникам компании о неприятии коррупции в любых ее формах и проявлениях','Информировать руководителей и сотрудников компании о требованиях российского законодательства и документах, принятых акционерами в области противодействия коррупции и ответственности за коррупционные правонарушения','Обобщить и разъяснить меры, которые предпринимает компания в области противодействия коррупции','Формировать антикоррупционное сознание руководителей и сотрудников компании','Минимизировать коррупционные риски в деятельности компании',]
                li.corruption__item
                  +mark-text-svg.corruption-svg
                  p.corruption__text.text=item
          .col 
            p.corruption__text.text Наши руководители и сотрудники обязаны организовывать свою трудовую деятельность в строгом соответствии с принципами и целями Антикоррупционной политики. В случае происшествий, имеющих коррупционные признаки (например, неисполнение должностных обязанностей или превышение полномочий со стороны сотрудников и контрагентов), каждый обязан сообщить об этом на действующую горячую антикоррупционную линию. 
  section.corruption-principles.mt-section
    .container-content 
      .corruption-principles__inner   
        h3.corruption-principles__title Принципы безопасности 
        .corruption-principles__row 
          .col 
            p.corruption-principles__text.text Чтобы не допустить имущественного вреда, компания занимается своевременной профилактикой преступлений и правонарушений на маршрутах следования поездов ОТЛК&nbsp;ЕРА, взаимодействуя при этом с правоохранительными территориальными органами.
            .corruption-principles__elem
<<<<<<< HEAD
              +message-svg.corruption-principles-svg
              p.corruption-principles__description Один из главных приоритетов ОТЛК&nbsp;ЕРА — обеспечение безопасности перевозки грузов и построение системы информационной безопасности.
          .col 
            p.corruption-principles__text.text В 2021 году в компании был проведен комплексный аудит, направленный на поиск уязвимости ИТ-инфраструктуры. В 2022 году для построения системы информационной безопасности и закрытия ИБ-рисков мы предприняли ряд важных мер:
            ul.corruption-principles__list 
              each item in ['Разработали Политику обеспечения информационной безопасности  ОТЛК&nbsp;ЕРА','Внедрили систему DLP','Усилили меры информационной безопасности по программе Checkpoint','Внедрили систему контроля парольных требований','Внедрили систему риск-менеджмента',]
=======
              +message-block('Один из главных приоритетов ОТЛК ЕРА — обеспечение безопасности перевозки грузов и построение системы информационной безопасности.')
          .col 
            p.corruption-principles__text.text В 2021 году в компании был проведен комплексный аудит, направленный на поиск уязвимости ИТ-инфраструктуры. В 2022 году для построения системы информационной безопасности и закрытия ИБ-рисков мы предприняли ряд важных мер:
            ul.list
              each item in ['Разработали Политику обеспечения информационной безопасности  ОТЛК ЕРА','Внедрили систему DLP','Усилили меры информационной безопасности по программе Checkpoint','Внедрили систему контроля парольных требований','Внедрили систему риск-менеджмента',]
>>>>>>> knyaz
                li.corruption-principles__item
                  +mark-text-svg
                  p.corruption-principles__text.text=item
            p.corruption-principles__text.text Все используемые программы относятся к отечественными разработкам. Комплекс мероприятий и созданная система информационной безопасности соответствуют требованиям ФСТЭК и ФСБ.
  section.corruption-examenation.mt-section
    .container-content 
      .corruption-examenation__inner 
        h3.corruption-examenation__title Система проверки контрагентов
        .corruption-examenation__row 
          .col 
            p.corruption-examenation__text.text Для осуществления качественного контроля деятельности подрядчиков и минимизации экономических рисков в ОТЛК&nbsp;ЕРА действует система комплексных проверок контрагентов. Она включает в себя первоначальную проверку контрагента по общедоступным и специализированным базам данных перед заключением договора, и периодическую проверку, если договорные отношения носят длительный характер. 
          .col  
            p.corruption-examenation__text.text В обоих случаях речь идет об анализе комплекса ключевых показателей хозяйственной деятельности контрагентов, а также судебной и административной практики. При пролонгации договоров и заключении дополнительных соглашений с контрагентами компания проводит повторные проверки.
  section.corruption-counterparty.mt-section
    .container-content 
      .corruption-counterparty__inner 
        h2.corruption-counterparty__title Одобренные контрагенты в&nbsp;2022&nbsp;году
        .corruption-counterparty__row 
          .corruption-counterparty__item 
            p.corruption-counterparty__item-title Юридические лица
            p.corruption-counterparty__item-number.corruption-counterparty__item-number_light 298
          .corruption-counterparty__item 
            p.corruption-counterparty__item-title ИНДВИДУАЛЬНЫЕ ПРЕДПРИНИМАТЕЛИ
            p.corruption-counterparty__item-number 31
          .corruption-counterparty__item 
            p.corruption-counterparty__item-title Физические лица
            p.corruption-counterparty__item-number.corruption-counterparty__item-number_light 17
  section.next 
    .container 
      .next__inner 
        p.next__text Следующий раздел
        p.next__title Стратегический отчет
        p.next__number 2
        +column-svg.next-svg
        +button
        
          
