mixin ecology-content 
  section(data-aos="fade-up").ecology.mt-section(id="ecology-mt") 
    .container-content 
      .ecology__inner 
        h2.ecology__title Воздействие на климат
        .ecology__row 
          .col 
            p.ecology__description.description В 2022 году экологическая повестка во всем мире претерпела некоторые изменения, но снижение воздействия на климат продолжает интересовать ответственных людей, бизнес, и государство.
          .col 
            p.ecology__text.text Экологичность становится конкурентным преимуществом, а так как логистика — неотъемлемая составляющая практически любого бизнеса, то компании в этой сфере должны относиться к экологической составляющей своей деятельности максимально внимательно. Вопросам охраны природы уделяется все больше внимания на всем евразийском пространстве.
  section(data-aos="fade-up").ecology-statistics 
    .container-content 
      .ecology-statistics__inner 
        .col 
          p.ecology-statistics__text.text Популяризация именно железнодорожного сообщения как наиболее экологичного в грузоперевозках на дальние расстояния – это ключевой шаг в&nbsp;сокращении выбросов парниковых газов транспортным сегментом во всем мире.
          .item
            .item__row 
              .item__col 
                p.item__grey до
              .item__col 
                p.item__number.countup-element(data-countup='20' data-countup-suffix='%')
            .item__row 
              p.item__subtext Всех выбросов углекислого газа в атмосферу производит сфера транспорта 
          .row 
            p.ecology-statistics__text.text Мы работаем в области железнодорожных перевозок — важнейшего компонента международной торговли, поэтому с уверенностью можем сказать, что перевозки в сервисах компании имеют целый ряд преимуществ перед другими модальностями. Железная дорога — один из самых ресурсосберегающих и экологически чистых видов транспорта.
            p.ecology-statistics__text.text ОТЛК&nbsp;ЕРА, как крупнейший евразийский оператор железнодорожных контейнерных перевозок, отвечающий за перевозку основного объема грузов по маршруту Китай — Европа — Китай, разработал онлайн-счетчик выбросов CO2 в атмосферу. На его странице можно также увидеть сравнение углеродного следа при перевозке одного и того же объема грузов разными видами транспорта.
        .ecology-statistics__right 
          .row 
            p.ecology-statistics__text.text Объем прямых выбросов СО<sup class='fz-10'>2</sup> (TTW) по результатам деятельности ОТЛК&nbsp;ЕРА рассчитывается исходя из параметров выбросов ключевого базового маршрута Брест — Достык (принято за усредненный показатель) и суммарного объема перевозок по всем маршрутам.
            p.ecology-statistics__text.text На основании параметров маршрута Брест — Достык определяется объем выбросов СО<sup class='fz-10'>2</sup> на 1 ДФЭ — GПГДФЭ, который умножается на общий объем перевозок в сервисах ОТЛК&nbsp;ЕРА. <br> Эта величина рассчитывается по формуле:
          .ecology-statistics__img 
            +picture('ecology-statistics.png')
            +activity-buttons('ecology-statistics.png') 

          .ecology-statistics__formulas
            p.ecology-statistics__formula
              | Р 
              sub ТЭР
              |&nbsp;  — &nbsp;  расход ТЭР на 1 км пути (тонн, тыс. куб. м, Гкал или кВт в час)
            p.ecology-statistics__formula 
              | Н
              sub КМ
              |&nbsp;  — &nbsp;  полное расстояние маршрута (км)
            p.ecology-statistics__formula 
              | К 
              sub СО
              |&nbsp;  — &nbsp;  коэффициент выброса СО<sup class='fz-8'>2</sup> (тонн СО<sup class='fz-8'>2</sup> / т или тыс. куб. м топлива, тонн СО<sup class='fz-8'>2</sup>/ Гкал тепловой энергии, кг СО<sup class='fz-8'>2</sup> / кВт в час электроэнергии);
            p.ecology-statistics__formula 
              | Q 
              sub КТК
              |&nbsp;  — &nbsp;  количество контейнеров в поезде
          .row 
            p.ecology-statistics__text.text Для расчета объема прямых и косвенных выбросов СО<sup class='fz-10'>2</sup> (WTW), генерируемых ОТЛК&nbsp;ЕРА, использовались собственные данные компании для определения прямых выбросов (TTW), а также расчеты и методология портала <a class="ecology-statistics__link" target="_blank" href="https://www.ecotransit.org/en/">EcoTransIT</a> для определения непрямых выбросов (WTT). Для расчета экологического воздействия альтернативных видов транспорта также использовался портал <a class="ecology-statistics__link" target="_blank" href="https://www.ecotransit.org/en/">EcoTransIT</a> , который является признанным источником в вопросах учета и расчетов углеродного следа.
  section(data-aos="fade-up").ecology-algorithm 
    .container-content 
      .ecology-algorithm__inner 
        h6.ecology-algorithm__title Алгоритм корректного сравнения объемов выбросов по видам транспорта
        .ecology-algorithm__row.ecology-algorithm__row_top
          ul.ecology-algorithm__list.list
            each item in ['Для всех видов транспорта берется одинаковая длина маршрута, а именно длина маршрута Брест — Достык, 5 454 км']
              li.ecology-algorithm__item
                +mark-text-svg.ecology-algorithm-svg
                p.text.eclology-algorithm__text=item 
          ul.ecology-algorithm__list.list
            each item in ['За объем груза принимается объем полной загрузки наиболее грузоемкого транспорта – контейнерного судна вместимостью 6 636 ДФЭ. Для перевозки этого объема требуются 44 поезда, 1 контейнерное судно, 3 318 грузовиков с загрузкой до 26 тонн, 1 106 грузовых самолетов']
              li.ecology-algorithm__item
                +mark-text-svg.ecology-algorithm-svg
                p.text.eclology-algorithm__text=item 
        .ecology-algorithm__row
          .col 
            p.ecology-algorithm__description.description Прямые выбросы (TTW) для перевозки 6 636 ДФЭ составят
            ul.ecology-algorithm__list.list
              each item in ['Для 44 поездов – 442 998 кг CO<sup class="fz-10">2</sup>','1 контейнерного судна – 2 115 677 кг CO<sup class="fz-10">2</sup>','3 318 грузовиков с загрузкой до 26 тонн – 39 423 125 кг CO<sup class="fz-10">2</sup>','1 106 грузовых самолетов – 233 864 501 кг CO<sup class="fz-10">2</sup>',]
                li.ecology-algorithm__item
                  +mark-text-svg.ecology-algorithm-svg
                  p.text.eclology-algorithm__text!=item 
          .col 
            p.ecology-algorithm__description.description Прямые и косвенные выбросы (WTW) для перевозки 6 636 ДФЭ составят
            ul.ecology-algorithm__list.list
              each item in ['Для 44 поездов – 19 618 237 кг CO<sup class="fz-10">2</sup>','1 контейнерного судна – 2 318 405 кг CO<sup class="fz-10">2</sup>','3 318 грузовиков с загрузкой до 26 тонн – 46 590 965 кг CO<sup class="fz-10">2</sup>','1 106 грузовых самолетов – 285 847 854 кг CO<sup class="fz-10">2</sup>',]
                li.ecology-algorithm__item
                  +mark-text-svg.ecology-algorithm-svg
                  p.text.eclology-algorithm__text!=item 
        .ecology-algorithm__row_bottom
          p.ecology-algorithm__text.text На основе этих расчетов определяются коэффициенты для морского, автомобильного и воздушного транспорта в сравнении с железнодорожным путем деления объема выбросов каждого из этих видов транспорта на объем выбросов для железнодорожного транспорта. Затем фактический объем выбросов железнодорожного транспорта за выбранный период умножается на полученный коэффициент для каждого вида транспорта.
  section(data-aos="fade-up").ecology-dynamic.mt-section(id="ecology-dynamic")  
    .container-content 
      .ecology-dynamic__inner 
        h2.ecology-dynamic__title 
          | Динамика выбросов СО
          sup 2
          |&nbsp; ОТЛК&nbsp;ЕРА
        .ecology-dynamic__row 
          .col 
            p.ecology-dynamic__description.description Устойчивое развитие, а в перспективе и достижение углеродной нейтральности нераздельно связаны со стремлением ОТЛК&nbsp;ЕРА создать конкурентоспособную альтернативу морскому, автомобильному и авиационному грузовому транспорту, которые используются в трансъевразийских перевозках. 
          .col 
            p.eclology-dynamic__text.text 
              | Развитие железнодорожного сообщения в грузоперевозках на дальние расстояния — ключевой шаг в сокращении выбросов парниковых газов во всем мире. Согласно онлайн-счетчику, в 2022 году в результате транзитных перевозок ОТЛК&nbsp;ЕРА  по направлению Китай — Европа — Китай накопленный объём выбросов составил 27,4 тыс. тонн СО<sup>2</sup>. Если бы аналогичный объем груза доставлялся морем, выбросы достигли бы 130,9 тыс. тонн, автомобильным транспортом —  2 439,5 тыс. тонн, авиаперевозками — 14 471,6 тыс. тонн.
            p.eclology-dynamic__text.text Если рассматривать суммарный объем прямых выбросов ОТЛК&nbsp;ЕРА и косвенных выбросов, которые не являются следствием деятельности компании, то по итогам 2022 года углеродный след составил 1 214 тыс. тонн СО <sup>2</sup>, а при перевозке аналогичного объема груза авто- и авиатранспортом выбросы достигли бы 2 883,1 тыс. тонн и 17 688,4 тыс. тонн СО<sup>2</sup> соответственно.
  section(data-aos="fade-up").ecology-CO.mt-section 
    .container-content
      .ecology-CO__inner 
        p.ecology-CO__description.description_big
          | Прямые выбросы СО
          sup.sup-description 2
          |&nbsp; по видам транспорта в сравнении
          br.br 
          | с показателями ОТЛК&nbsp;ЕРА
        .ecology-CO__row 
          .col 
            .ecology-description
              .ecology-description__item
                span.ecology-description__decor.ecology-description__decor_1
                p.ecology-description__text «ОТЛК&nbsp;ЕРА»
              .ecology-description__item
                span.ecology-description__decor.ecology-description__decor_2 
                p.ecology-description__text Морские перевозки
              .ecology-description__item
                span.ecology-description__decor.ecology-description__decor_3
                p.ecology-description__text Автоперевозки
              .ecology-description__item
                span.ecology-description__decor.ecology-description__decor_4
                p.ecology-description__text Авиаперевозки
          .col 
            .ecology-CO__img 
              +picture('ecology-CO-1.png').ecology-CO__img
              +activity-buttons('ecology-CO-1.png') 

  section(data-aos="fade-up").ecology-CO2
    .container-content
      .ecology-CO2__inner
        .ecology-CO2__top
          p.ecology-CO2__description.description_big
            | Прямые и косвенные выбросы СО
            sup.sup-description 2
            |&nbsp; по видам  
            br.br 
            | транспорта в сравнении с показателями ОТЛК&nbsp;ЕРА
          .ecology-CO2__row 
            .col 
              .ecology-description
                .ecology-description__item
                  span.ecology-description__decor.ecology-description__decor_1
                  p.ecology-description__text «ОТЛК&nbsp;ЕРА»
                .ecology-description__item
                  span.ecology-description__decor.ecology-description__decor_2 
                  p.ecology-description__text Морские перевозки
                .ecology-description__item
                  span.ecology-description__decor.ecology-description__decor_3
                  p.ecology-description__text Автоперевозки
                .ecology-description__item
                  span.ecology-description__decor.ecology-description__decor_4
                  p.ecology-description__text Авиаперевозки
            .col 
              .ecology-CO2__img 
                +picture('ecology-CO-2.png').ecology-CO2__img
                +activity-buttons('ecology-CO-2.png') 
                
        .ecology-CO2__bottom.mt-section
          h6.ecology-CO2__subtitle  Межправительственный совет ЕАЭС в августе 2021 года утвердил план первоочередных мероприятий по цифровизации грузовых железнодорожных перевозок.
          .row 
            .col 
              p.ecology-CO2__text.text Это, наряду с подписанием железными дорогами России, Казахстана и Белоруссии декларации о намерениях поддерживать эффективные контейнерные перевозки между Европой и Китаем, дало решающий импульс декарбонизации евразийского железнодорожного коридора. 
              p.ecology-CO2__text.text Документ признает ключевую роль железнодорожного транспорта для выполнения Целей в области устойчивого развития ООН, в том числе по уменьшению углеродного следа от транспортно-логистической отрасли, повышению энергоэффективности, а также в части развития устойчивой региональной и трансграничной инфраструктуры.
            .col 
              p.ecology-CO2__text.text В соответствии с договоренностью сторон, в сервисах оператора ОТЛК&nbsp;ЕРА в ближайшее время будут апробированы пилотные проекты по внедрению на евразийском пространстве технологических инноваций с учетом принципов перехода к безуглеродной железнодорожной логистике. Начало положено: в 2022 году на пространстве 1520 уже протестирована единая электронная накладная. С учетом того, что доля железнодорожных контейнерных перевозок в общем объеме евразийского транзита в 2021 году уже приблизилась к 5% (для сравнения в 2015 году она составляла всего 1%), вклад в сокращение выбросов углекислого газа и негативного влияния на окружающую среду в будущем будет все более очевиден.
  section(data-aos="fade-up").ecology-grom.mt-section
    .container-content 
      .ecology-grom__inner 
        .col 
          .ecology-grom__img
            +picture('ecology-grom.png')
        .ecology-grom__right
          .col 
            +appeal-svg.ecology-grom__elem_1
          .col
            .row 
              p.ecology-grom__text.text Экологическая ценность железнодорожных перевозок становится настоящей философией построения социально ответственного бизнеса на нашем континенте. Железная дорога вполне могла бы стать символом Конференции по изменению климата в Глазго, поскольку можно с уверенностью сказать, что перемещение все большего количества грузов на рельсы — это важнейшая предпосылка как для достижения европейской «зеленой сделки», так и для и содействия декарбонизации евразийской логистики.
              p.ecology-grom__name Алексей Гром
              p.ecology-grom__job Генеральный директор
            .row.ecology-grom__decor-bottom 
              +appeal2-svg.ecology-grom__elem_2
  section(data-aos="fade-up").ecology-environment.mt-section(id="ecology-environment") 
    .container-content 
      .ecology-environment__inner
        h3.ecology-envoronment Охрана окружающей среды
        .ecology-environment__row
          .col 
            p.ecology-environment__description.description Деятельность ОТЛК&nbsp;ЕРА не наносит прямого значительного ущерба окружающей среде.
          .col 
            p.ecology-environment__text.text Компания работает в соответствии с природоохранным законодательством стран присутствия и руководствуется принципом разумной предосторожности, который подразумевает учет экологических рисков в бизнес-стратегии и отказ от любых потенциально опасных для природы проектов на стадии решения.
        .ecology-environment__elem
          .ecology-environment__elem-decor
            .decor_1
            .decor_2
            .decor_3
            .decor_4
          p.ecology-environment__elem-text #KeenOnGreen — экологические инициативы ОТЛК&nbsp;ЕРА
        .ecology-environment__bottom 
          .item
            .item__row 
              .item__col.item_size-1 
                p.item__number.countup-element(data-countup='3') 
              .item__col 
                p.item__grey.number-animate-3.number-animate млн рублей
            .item__row 
              p.item__subtext Объем финансирования проектов ОТЛК&nbsp;ЕРА, реализуемых в Казахстане и России в 2022 году 
          p.ecology-environment__text.text Начиная с 2020 года мы активно участвуем в популяризации и реализации экологических проектов. Инициатива #KeenOnGreen направлена на то, чтобы, с одной стороны, рассказывать о железных дорогах как о наиболее экологичном виде транспорта, а с другой — поддерживать экологические проекты в природных зонах стран, по территориям которых проходят маршруты контейнерных поездов ОТЛК&nbsp;ЕРА. В рамках инициативы в 2021 году компания поддержала проект по восстановлению в Казахстане популяции тугайных оленей, занесенных в Красную книгу.
  section(data-aos="fade-up").ecology-cards.mt-section 
    .container-content  
      .ecology-cards__inner
        .ecology-cards__top
          +column-top-svg.ecology-cards__decor
          p.ecology-cards__description В Казахстане 
          .row 
            .col 
              p.ecology-cards__text.text Тугайные леса Казахстана тянутся вдоль русел рек, притоков и озер, создавая среду обитания для многих видов околоводных животных. К сожалению, изменения климата, гидрологического режима, сокращение стока реки Иле, пожары и чрезмерное хозяйственное использование поставили тугайные леса на грань исчезновения!
            .col 
              p.ecology-cards__text.text Специалисты резервата «Иле-Балхаш» при поддержке ОТЛК&nbsp;ЕРА реализуют проект по восстановлению тугайного леса, благодаря которому к концу 2022 года уже более 12 тысяч новых саженцев туранги, лоха и ивы появилось в этих местах. Выделенные средства также помогли организовать современную систему капельного орошения и разработать меры противопожарной безопасности.
        .ecology-cards__bottom
          +column-top-svg.ecology-cards__decor 
          .ecology-cards__bottom-row
            p.ecology-cards__description В России
            .ecology-cards__elem.desktop-m
              p.ecology-cards__number.countup-element(data-countup='28' data-countup-prefix='+' data-countup-suffix='%')
              p.ecology-cards__subtext рост популяции зубров в Турмонском заказнике
          .row
            .col 
              p.ecology-cards__text.text В самом сердце Карачаево-Черкесии находится Кизгинское ущелье — охраняемая природная территория. Здесь в 1990-х годах советские ученые начали восстанавливать популяцию зубра — единственного дикого быка, оставшегося в Европе, который считается важной частью экосистемы широколиственных лесов Кавказа. К сожалению, этот вид исчез из естественной среды обитания из-за деятельности человека — последний зубр на Кавказе был убит в 1927 году. 
            .ecology-cards__elem.mobile-m
              p.ecology-cards__number +28%
              p.ecology-cards__subtext рост популяции зубров в Турмонском заказнике
            .col 
              p.ecology-cards__text.text Специалисты резервата «Иле-Балхаш» при поддержке ОТЛК&nbsp;ЕРА реализуют проект по восстановлению тугайного леса, благодаря которому к концу 2022 года уже более 12 тысяч новых саженцев туранги, лоха и ивы появилось в этих местах. Выделенные средства также помогли организовать современную систему капельного орошения и разработать меры противопожарной безопасности.