mixin ecology-content 
  section.ecology 
    .container-content 
      .ecology__inner 
        h2.ecology__title Воздействие на климат
        .ecology__row 
          .col 
            p.ecology__description.description В 2022 году экологическая повестка во всем мире претерпела некоторые изменения, но снижение воздействия на климат продолжает интересовать ответственных людей, бизнес, и государство.
          .col 
            p.ecology__text.text Экологичность становится конкурентным преимуществом, а так как логистика — неотъемлемая составляющая практически любого бизнеса, то компании в этой сфере должны относиться к экологической составляющей своей деятельности максимально внимательно. Вопросам охраны природы уделяется все больше внимания на всем евразийском пространстве.
  section.ecology-statistics 
    .container-content 
      .ecology-statistics__inner 
        .col 
          p.ecology-statistics__text.text Популяризация именно железнодорожного сообщения как наиболее экологичного в грузоперевозках на дальние расстояния – это ключевой шаг в сокращении выбросов парниковых газов транспортным сегментом во всем мире.
          .row 
            p.ecology-statistics__text.text Мы работаем в области железнодорожных перевозок — важнейшего компонента международной торговли, поэтому с уверенностью можем сказать, что перевозки в сервисах компании имеют целый ряд преимуществ перед другими модальностями. Железная дорога — один из самых ресурсосберегающих и экологически чистых видов транспорта.
            p.ecology-statistics__text.text ОТЛК ЕРА, как крупнейший евразийский оператор железнодорожных контейнерных перевозок, отвечающий за перевозку основного объема грузов по маршруту Китай — Европа — Китай, разработал онлайн-счетчик выбросов CO2 в атмосферу. На его странице можно также увидеть сравнение углеродного следа при перевозке одного и того же объема грузов разными видами транспорта.
        .col 