mixin geography 
  section.geography.mt-section 
    .container-content
      .geography__inner 
        .geography__top
          .geography__top-left
            h2.geography__title География деятельности
            p.geography__text.text На сегодня ОТЛК&nbsp;ЕРА осуществляет перевозки <br/>на 660 маршрутах между более чем 230 локациями в Европе,<br/> Китае и ЕАЭС
          .geography__top-right
            p.geography__number 660
            p.geography__text.text Общее количество маршрутов на конец 2022 года
            .geography__row 
              p.geography__items 
                span +233
                | за 2022 год:
              p.geography__items 
                span +223
                | U-West,
                span 10
                | U-East
        .geography__bottom
          .col 
            p.geography__number 238
            p.geography__text.text Общее количество локаций на конец 2022 года
            .geography__item
              p.geography__items 
                span +32
                | за 2022 год
          .col 
            p.geography__description Прирост по кварталам 2022 года
            .geography__img 
              +picture('geography-statistic.png').geography-img

