mixin human-capital 
  section.human-capital(id="human-capital")(data-aos="fade-up") 
    .container-content(data-aos="fade-up") 
      h2.human-capital__title Человеческий капитал
      h3.human-capital__subtitle.w-100 Сколько нас?
      .human-capital__hero-row(data-aos="fade-up") 
        .human-capital__hero-col(data-aos="fade-up")
          .human-capital__hero-text.bold К концу 2022 года в ОТЛК&nbsp;ЕРА фактически работали 160 человек (штатная численность — 170). Из них 69 человек занимают руководящие должности.<br> Также у нас 88 специалистов и 6 служащих. 
        .human-capital__hero-col(data-aos="fade-up")
          .human-capital__hero-text.top.text В 2022 году объемы контейнерных перевозок росли, география их расширялась, увеличивался парк фитинговых платформ. ОТЛК&nbsp;ЕРА внедрила систему управления рисками. Сильно изменились и процессы закупочной деятельности. 
          .human-capital__hero-text.text Все это повлекло за собой изменения в организационной структуре компании и штатном расписании для того, чтобы и дальше развивать клиентский сервис, поддерживать высокое качество услуг, управлять собственным парком фитинговых платформ, проводить мониторинг и комплексный анализ рыночной конъюнктуры.
          .ge-card.green.human
              .ge-card__top
                .ge-card__num.green.countup-element(data-countup='12' data-countup-prefix='+' data-countup-suffix='%')
              .ge-card__bot
                .ge-card__text-grey Рост штата компании в 2022 году


mixin human-capital-EN 
  section.human-capital(id="human-capital")(data-aos="fade-up") 
    .container-content(data-aos="fade-up") 
      h2.human-capital__title Human capital
      h3.human-capital__subtitle.w-100 How many are we?
      .human-capital__hero-row(data-aos="fade-up") 
        .human-capital__hero-col(data-aos="fade-up")
          .human-capital__hero-text.bold By the end of 2022, 160 people were actually employed by UTLC&nbsp;ERA (with the staff size at 170 people). 69 of them hold management positions. We also have 88 specialists and 6 office employees.
        .human-capital__hero-col(data-aos="fade-up")
          .human-capital__hero-text.top.text 2022 was marked by growing container traffic volumes, expanded service geography and a larger fleet of fitting platforms. UTLC ERA implemented a risk management system. The procurement processes also underwent significant changes.
          .human-capital__hero-text.text The combination of these factors resulted in changes in the company’s organizational structure and staff list as required to develop customer service, maintain high service quality, manage the own fitting platform fleet and engage in market monitoring and integrated reviews.
          .ge-card.green.human
              .ge-card__top
                .ge-card__num.green.countup-element(data-countup='12' data-countup-prefix='+' data-countup-suffix='%')
              .ge-card__bot
                .ge-card__text-grey Company’s staff size growth in 2022

mixin organization-structure
  .container-content(data-aos="fade-up")
    section.organization-structure(id="organization-structure")(data-aos="fade-up") 
      .organization-structure__title Организационная структура ОТЛК&nbsp;ЕРА на 31 декабря 2022 года
      .organization-structure__img-container(data-aos="fade-up")
        .organization-structure__img-table(data-aos="fade-up") 
          +picture('organization-structure-img.png')
        .ge-card.green.desktop(data-aos="fade-up") 
          .ge-card__top.gap-8
            .ge-card__num.green.countup-element(data-countup='170')
            .ge-card__text.number-animate-170.number-animate единиц 
          .ge-card__bot
            .ge-card__text-grey.custom-cuchurina Штатная численность
      .ge-card.green.mobile
        .ge-card__top.gap-8
          .ge-card__num.green.countup-element(data-countup='170')
          .ge-card__text.number-animate-170.number-animate  единиц 
        .ge-card__bot
          .ge-card__text-grey.custom-cuchurina Штатная численность
      .organization-structure__number(id="organization-number")(data-aos="fade-up") 
        .organization-structure__number-title Численность персонала компании
        .organization-structure__number-table.desktop(data-aos="fade-up")
          +picture('structure-number-table.png')
        +activity-buttons('structure-number-table.png').flex-desktop
        .organization-structure__number-table.mobile(data-aos="fade-up")
          +picture('structure-number-table-mobile.png')
        +activity-buttons('structure-number-table-mobile.png').flex-m
      .organization-structure__personal.first(data-aos="fade-up")  
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Структура персонала по категориям, человек
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text Руководители
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text Специалисты
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text Служащие
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text Рабочие
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-1.png')
          +activity-buttons('structure-personale-1.png')
      .organization-structure__personal.second(data-aos="fade-up")
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Структура персонала по образованию, человек
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text Средне-специальное
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text Основное общее
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text Высшее
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text Ученая степень/ученое звание
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-2.png')
          +activity-buttons('structure-personale-2.png')
      .organization-structure__personal(data-aos="fade-up") 
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Структура персонала по возрасту, человек
          .organization-structure__personal-cubes.no-wrap  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text 21–30
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text 31–40
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text 41–50
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text Старше 50
          .organization-structure__personal-text.desktop Средний возраст сотрудников компании в 2022 году составил 39 лет, это отражает сбалансированность штата. Специалисты со стажем передают свой опыт молодым, а те, в свою очередь, содействуют дальнейшему развитию компании, внедряя инновации.
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-3.png')
          +activity-buttons('structure-personale-3.png')
      .organization-structure__personal(data-aos="fade-up") 
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Структура персонала по полу, человек
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text Мужчин
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text Женщин
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-4.png')
          +activity-buttons('structure-personale-4.png')
      .organization-structure__subrow(data-aos="fade-up") 
        .organization-structure__subcol(data-aos="fade-up") 
          .organization-structure__subcol-title В течение 2022 года в ряд локально-нормативных актов ОТЛК&nbsp;ЕРА вносились дополнения, были актуализированы и утверждены следующие документы:
        .organization-structure__subcol(data-aos="fade-up") 
          .organization-structure__subcol-item Правила внутреннего трудового распорядка – регламентируют внутренний трудовой распорядок компании
          .organization-structure__subcol-item Положение о премировании сотрудников, групп персонала «Руководство» – устанавливает принципы и условия премирования
          .organization-structure__subcol-item Положение о премировании сотрудников, групп персонала «Производственно-коммерческий персонал» и «Сопровождение бизнеса» – устанавливает принципы и условия премирования 
          .organization-structure__subcol-item  Положение об адаптации персонала — определяет единые требования и порядок организации адаптации персонала в компании. Дополнено Приложение № 6 к положению об адаптации персонала ОТЛК&nbsp;ЕРА
      section.recruitment-processes(id="recruitment-processes")(data-aos="fade-up") 
        .recruitment-processes__title Процессы найма
        .recruitment-processes__text При подборе персонала мы принимаем во внимание два основополагающих принципа, закрепленных в законодательстве РФ: объективность и отсутствие любых форм дискриминации. Все остальные критерии определяются стратегическими и тактическими приоритетами, системой управления персоналом и видом деятельности компании.
        .recruitment-processes__hr(data-aos="fade-up") 
          .recruitment-processes__hr-title В HR-процессах ОТЛК&nbsp;ЕРА учитывает
          .recruitment-processes__hr-row(data-aos="fade-up") 
            .recruitment-processes__hr-col(data-aos="fade-up")
              each item in ['Мотивацию соискателя, его совместимость с корпоративной культурой и сотрудниками', 'Уровень профессиональных знаний и опыта', 'Оценку скрытых резервов, сильных сторон соискателя, прогнозы его будущего роста', 'Общие положительные поведенческие реакции', 'Адаптивность: как быстро сотрудник сможет войти в курс дела и начать налаживать связи с коллегами, поставщиками, клиентами, руководителями']
                .recruitment-processes__hr-mark=item
              .recruitment-processes__hr-text.text Оптимально выстроенный процесс найма предусматривает поэтапный отбор, цель которого – оценить соискателей и выявить их соответствие требованиям должности.
            .recruitment-processes__hr-col(data-aos="fade-up") 
              .recruitment-processes__hr-subtitle Процессы подбора, адаптации и развития персонала в компании регламентируют
              each item in ['Положение о подборе и адаптации персонала', 'Кодекс корпоративной этики', 'Модель корпоративных компетенций', 'Положение об обучении и развитии персонала']
                .recruitment-processes__hr-mark=item
              .recruitment-processes__hr-subtitle.second Этапы отбора
              .recruitment-processes__hr-num  
                .hr-num__number 1
                .hr-num__text Поиск и обработка резюме при просмотре всех заявок на вакансию и фильтрация по ключевым параметрам на HeadHunter
              .recruitment-processes__hr-num  
                .hr-num__number 2
                .hr-num__text Телефонное интервью, в ходе которого компания стремится получить информацию об опыте и образовании кандидата, больше узнать о мотивах поиска нового места работы
              .recruitment-processes__hr-num  
                .hr-num__number 3
                .hr-num__text Личное собеседование, когда компания оценивает соответствие кандидата требованиям вакантной должности, его профессиональные и личностные качества, мотивацию и совместимость с корпоративной культурой
              .recruitment-processes__hr-num  
                .hr-num__number 4
                .hr-num__text Проверка рекомендаций у предыдущего работодателя, если остаются сомнения
              .recruitment-processes__hr-num  
                .hr-num__number 5
                .hr-num__text Интервью с отделом безопасности компании
              .recruitment-processes__hr-num  
                .hr-num__number 6
                .hr-num__text Медицинский осмотр при приеме на работу
  .container-content(data-aos="fade-up") 
    section.corporate-culture(id="corporate-culture") 
      h2.corporate-culture__title Корпоративная культура
      .corporate-culture__text У нас есть Кодекс корпоративной этики, который определяет основные нормы и правила индивидуального и коллективного поведения сотрудников. Кодекс содержит значимые для компании ценности.
      .corporate-culture__list(data-aos="fade-up") 
        .corporate-culture__item
          .corporate-culture__item-icon
            +mountain-lider-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Лидерство
            .corporate-culture__item-text Мы стремимся быть лидерами в сферах своей деятельности. Найти лучшие пути решения — вот наша основная задача. Нам присущ «бойцовский дух»: мы уверены в своих силах и можем решить любую задачу быстро и эффективно.
        .corporate-culture__item
          .corporate-culture__item-icon
            +effective-svg 
          .corporate-culture__item-content 
            .corporate-culture__item-title Результативность
            .corporate-culture__item-text Мы стремимся к оптимальному использованию ресурсов, грамотному управлению, оперативности и точности исполнения поставленных задач, высокой производительности труда, к достижению максимально возможных результатов. Мы умеем мобилизоваться и выполнить задачу в кратчайшие сроки.
        .corporate-culture__item
          .corporate-culture__item-icon 
            +professional-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Профессионализм
            .corporate-culture__item-text Отношения внутри компании строятся на основе прямой заинтересованности сотрудников в результате работы, что позволяет нам стать профессионалами в различных областях. Принять оптимальное решение, дать грамотную консультацию в пределах своей компетенции — дело чести каждого сотрудника. Все решения в компании принимаются с точки зрения компетентности и целесообразности, а не в угоду чьим-то амбициям или лоббированию.
        .corporate-culture__item
          .corporate-culture__item-icon
            +lamp-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Новаторство и инновационность
            .corporate-culture__item-text Инновационность касается любого аспекта бизнеса: маркетинга, финансовой деятельности, кадровой политики, ИТ-технологий и т. д. Мы поощряем инициативы сотрудников, так как уверены, что живые идеи не только способствуют большему вовлечению в рабочий процесс, но и влияют на мотивацию и активность коллег, позволяют компании развиваться в новых интересных направлениях.
        .corporate-culture__item
          .corporate-culture__item-icon
            +people-man-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Клиентоориентированность
            .corporate-culture__item-text В нашем понимании это развитие партнерских отношений с внешними и внутренними клиентами (сотрудниками), внимание к их интересам и потребностям, а также эффективное и оперативное решение их трудностей. 
        .corporate-culture__item
          .corporate-culture__item-icon
            +scales-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Справедливость и честность
            .corporate-culture__item-text Это принципы, на которых мы строим взаимоотношения как с внутренними, так и с внешними клиентами. Мы не даем пустых обещаний и четко выполняем свои обязательства. Мы гарантируем лишь то, что в состоянии выполнить. Поэтому мы ожидаем соблюдения этих принципов от каждого клиента, делового партнера, но в первую очередь от каждого сотрудника.

mixin organization-structure-EN
  .container-content(data-aos="fade-up")
    section.organization-structure(id="organization-structure")(data-aos="fade-up") 
      .organization-structure__title UTLC&nbsp;ERA’s Organizational Structure as of December 31, 2022
      .organization-structure__img-container(data-aos="fade-up")
        .organization-structure__img-table(data-aos="fade-up") 
          +picture('organization-structure-img-EN.png')
        .ge-card.green.desktop(data-aos="fade-up") 
          .ge-card__top.gap-8
            .ge-card__num.green.countup-element(data-countup='170')
            .ge-card__text.number-animate-170.number-animate units 
          .ge-card__bot
            .ge-card__text-grey.custom-cuchurina Headcount
      .ge-card.green.mobile
        .ge-card__top.gap-8
          .ge-card__num.green.countup-element(data-countup='170')
          .ge-card__text.number-animate-170.number-animate  units 
        .ge-card__bot
          .ge-card__text-grey.custom-cuchurina Headcount
      .organization-structure__number(id="organization-number")(data-aos="fade-up") 
        .organization-structure__number-title Company’s personnel number
        .organization-structure__number-table.desktop(data-aos="fade-up")
          +picture('structure-number-table-EN.png')
        +activity-buttons('structure-number-table-EN.png')
        .organization-structure__number-table.mobile(data-aos="fade-up")
          +picture('structure-number-table-EN.png')
        +activity-buttons('structure-number-table-EN.png')
      .organization-structure__personal.first(data-aos="fade-up")  
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Personnel breakdown by categories (people)
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text managers
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text specialists
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text office staff
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text workers
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-1.png')
      .organization-structure__personal.second(data-aos="fade-up")
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Personnel breakdown by education (people)
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text secondary vocational education
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text basic general education
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text higher education
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text academic degree/rank
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-2.png')
      .organization-structure__personal(data-aos="fade-up") 
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Personnel breakdown by age (people)
          .organization-structure__personal-cubes.no-wrap  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text 21 to 30
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text 31 to 40
            .organization-structure__cube 
              .organization-structure__cube-rect.dark-grey 
              .organization-structure__cube-text 40 to 50
            .organization-structure__cube 
              .organization-structure__cube-rect.grey 
              .organization-structure__cube-text older than 50
          .organization-structure__personal-text.desktop The average age of the company’s employees in 2022 was 39, showing that the staff was well-balanced. Experienced specialists share their knowledge with young employees who, in turn, promote further development of the company by implementing innovations.
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-3.png')
      .organization-structure__personal(data-aos="fade-up") 
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-title Personnel breakdown by gender (people)
          .organization-structure__personal-cubes.category  
            .organization-structure__cube 
              .organization-structure__cube-rect.green 
              .organization-structure__cube-text Men
            .organization-structure__cube 
              .organization-structure__cube-rect.light-green 
              .organization-structure__cube-text Women
        .organization-structure__personal-col(data-aos="fade-up") 
          .organization-structure__personal-grafic 
            +picture('structure-personale-4.png')
      .organization-structure__subrow(data-aos="fade-up") 
        .organization-structure__subcol(data-aos="fade-up") 
          .organization-structure__subcol-title In 2022, a number of UTLC&nbsp;ERA’s internal regulations were amended, with the following documents updated and approved:
        .organization-structure__subcol(data-aos="fade-up") 
          .organization-structure__subcol-item Internal Labor Regulations, which establish the corporate labor regulations.
          .organization-structure__subcol-item Bonus Award Regulations for Employees in Production and Commercial Personnel and Business Support Groups, which outline the bonus award principles and conditions.
          .organization-structure__subcol-item Bonus Award Regulations for Employees in Management Group, which outline the bonus award principles and conditions.
          .organization-structure__subcol-item  Onboarding Regulations, which define the uniform requirements and procedures for personnel onboarding management in the company Appendix No. 6 to the UTLC&nbsp;ERA Onboarding Regulations was supplemented.
      section.recruitment-processes(id="recruitment-processes")(data-aos="fade-up") 
        .recruitment-processes__title Employment Procedures
        .recruitment-processes__text We recruit our personnel based on two fundamental principles stipulated in the Russian laws: objectivity and absence of any form of discrimination. All other criteria depend on the strategic and tactical priorities, the company’s HR management system and core business
        .recruitment-processes__hr(data-aos="fade-up") 
          .recruitment-processes__hr-title UTLC ERA’s HR processes consider the following:
          .recruitment-processes__hr-row(data-aos="fade-up") 
            .recruitment-processes__hr-col(data-aos="fade-up")
              .recruitment-processes__hr-mark Candidate’s motivation, alignment with corporate culture and team
              .recruitment-processes__hr-mark Expertise level
              .recruitment-processes__hr-mark Assessment of the candidate’s hidden potential, strengths and career development prospects
              .recruitment-processes__hr-mark Generally positive behavioral response
              .recruitment-processes__hr-mark Adaptivity: how quickly the candidate can get the hang of things and start making connections with peers, suppliers, customers and managers
              .recruitment-processes__hr-text.text A streamlined employment process includes stage-by-stage selection in order to assess candidates and find out whether they meet the job requirements.
            .recruitment-processes__hr-col(data-aos="fade-up") 
              .recruitment-processes__hr-subtitle The personnel recruitment, onboarding and development processes adopted at the company are regulated by:
              .recruitment-processes__hr-mark Personnel Recruitment and Onboarding Regulations
              .recruitment-processes__hr-mark Corporate Code of Conduct
              .recruitment-processes__hr-mark Corporate Competencies Model
              .recruitment-processes__hr-mark Personnel Training and Development Regulations
              .recruitment-processes__hr-subtitle.second Selection stages:
              .recruitment-processes__hr-num  
                .hr-num__number 1
                .hr-num__text Search and processing of CVs by reviewing all job applications, and search by keywords at HeadHunter
              .recruitment-processes__hr-num  
                .hr-num__number 2
                .hr-num__text Telephone interview aimed at obtaining information about the candidate’s education and experience and learning more about their motivation behind searching for a new job
              .recruitment-processes__hr-num  
                .hr-num__number 3
                .hr-num__text Personal interview aimed at assessing the candidate’s conformity to the job requirements, professional and personal qualities, motivation and alignment with the corporate culture
              .recruitment-processes__hr-num  
                .hr-num__number 4
                .hr-num__text Contacting the previous employer for references, if still in doubt
              .recruitment-processes__hr-num  
                .hr-num__number 5
                .hr-num__text Interview with the corporate security staff
              .recruitment-processes__hr-num  
                .hr-num__number 6
                .hr-num__text Pre-employment medical examination
  .container-content(data-aos="fade-up") 
    section.corporate-culture(id="corporate-culture") 
      h2.corporate-culture__title Corporate Culture
      .corporate-culture__text Our Corporate Code of Conduct outlines the basic standards and principles of individual and collective behavior. The Code contains the company’s core values.
      .corporate-culture__list(data-aos="fade-up") 
        .corporate-culture__item
          .corporate-culture__item-icon
            +mountain-lider-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Leadership
            .corporate-culture__item-text We strive for leadership in our business areas. Finding the best solutions is our key objective. We have an inherent “competitive spirit”: we are confident in our abilities and we can solve any task quickly and efficiently; we hit the target better than our competitors.
        .corporate-culture__item
          .corporate-culture__item-icon
            +effective-svg 
          .corporate-culture__item-content 
            .corporate-culture__item-title Effectiveness
            .corporate-culture__item-text We strive for effective use of resources, competent management, prompt and accurate completion of the assigned tasks, high productivity and the best possible performance. We can mobilize and complete our tasks at a very short notice.
        .corporate-culture__item
          .corporate-culture__item-icon 
            +professional-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Professionalism
            .corporate-culture__item-text The relations inside the company are based on the personnel’s direct commitment to high performance, enabling us to become professionals in various disciplines. Making the best decision, or giving competent advice within their remit, is a matter of honor for each team member. All corporate decisions are based on competence and feasibility rather than someone’s ambitions or lobbying.
        .corporate-culture__item
          .corporate-culture__item-icon
            +lamp-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Innovations
            .corporate-culture__item-text Are relevant for any business aspect: marketing, financial operations, HR policy, IT, etc. We encourage our personnel’s initiatives, because we firmly believe that living ideas not only enhance work engagement, but also affect motivation and proactive attitude among the team, enabling the company to develop new attractive directions.
        .corporate-culture__item
          .corporate-culture__item-icon
            +people-man-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Customer focus
            .corporate-culture__item-text We understand customer focus as development of partner relations with the external and internal customers (employees), close attention to their interests and needs, quick and effective solutions to their problems.
        .corporate-culture__item
          .corporate-culture__item-icon
            +scales-svg
          .corporate-culture__item-content 
            .corporate-culture__item-title Fairness and integrity
            .corporate-culture__item-text These principles underpin our relations with both external and internal customers. We give no empty promises and honor our commitments. We guarantee only what we are able to fulfill. So, we expect every customer, business partner and, primarily, every team member to comply with these principles.