mixin human-capital 
  section.human-capital 
    .container-content 
      h2.human-capital__title Человеческий капитал
      h3.human-capital__subtitle Сколько нас?
      .human-capital__hero-row 
        .human-capital__hero-col
          .human-capital__hero-text.bold К концу 2022 года в ОТЛК ЕРА фактически работали 160 человек (штатная численность — 170). Из них 69 человек занимают руководящие должности.<br> Также у нас 88 специалистов и 6 служащих. 
        .human-capital__hero-col
          .human-capital__hero-text.top В 2022 году объемы контейнерных перевозок росли, география их расширялась, увеличивался парк фитинговых платформ. ОТЛК ЕРА внедрила систему управления рисками. Сильно изменились и процессы закупочной деятельности. 
          .human-capital__hero-text Все это повлекло за собой изменения в организационной структуре компании и штатном расписании для того, чтобы и дальше развивать клиентский сервис, поддерживать высокое качество услуг, управлять собственным парком фитинговых платформ, проводить мониторинг и комплексный анализ рыночной конъюнктуры.
          .ge-card.green.human
              .ge-card__top
                .ge-card__num.green +12%
              .ge-card__bot
                .ge-card__text-grey Рост штата компании в 2022 году

mixin organization-structure
  section.organization-structure.container-content
    .organization-structure__title Организационная структура ОТЛК ЕРА на 31 декабря 2022 года
    .organization-structure__img-table 
      +picture('organization-structure-img.png')
    .organization-structure__number
      .organization-structure__number-title Численность персонала компании
      .organization-structure__number-table
        +picture('structure-number-table.png')