mixin incorporated
  .container-content 
    .incorporated
      .incorporated__title ОТЛК ЕРА была создана в результате реорганизации АО «ОТЛК» путем выделения трех обществ
      .incorporated-plugs 
        each item in ['АО «ОТЛК ЕРА»', 'АО «ОТЛК Логистика»', 'АО «ОТЛК Финансы»']
          .incorporated-plugs__item
            .incorporated-plugs__item-background 
              +inco-svg-logo
            .incorporated-plugs__item-text=item
      .incorporated__title По итогам реорганизации в ОТЛК ЕРА закрепилось паритетное участие администраций трех железных дорог
      .incorporated-cards  
        .incorporated-cards__item 
          .incorporated-cards__item-title ОАО «РЖД»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Открытое акционерное общество «Российские железные дороги», ОГРН 1037739877295,107174, г. Москва, вн. тер. г. муниципальный округ Басманный, ул. Новая Басманная, д. 2/1, стр. 1. 
        .incorporated-cards__item 
          .incorporated-cards__item-title АО «НК «КТЖ»
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards-item-text Акционерное общество «Национальная компания «Казахстан темир жолы», зарегистрированное за номером 11867-1901-АО, Республика Казахстан, 010000, г. Астана, ул. Д. Кунаева, 6.
        .incorporated-cards__item 
          .incorporated-cards__item-title Белорусская железная дорога
          .incorporated-cards__item-num 33,333333%
          .incorporated-cards__item-text Государственное объединение «Белорусская железная дорога», УНП 100088574, ОКПО 00047792, Республика Беларусь, 220030, г. Минск, ул. Ленина, 17.