mixin indicators 
  section.indicators.mt-section(id="section-indicators") 
    .indicators__inner
      .indicators__top(data-aos="fade-up")
        .indicators__row-top 
          .container-content 
            h2.indicators__title Ключевые показатели
            .indicators__row 
              .col
                .indicators__number.countup-element(data-countup='89' data-countup-prefix='+' data-countup-suffix='%')
              .col 
                p.indicators__description
                  |Доля ОТЛК&nbsp;ЕРА в транзитных контейнерных перевозках&nbsp;
                  br.br
                  span.nowrap Китай–Европа–Китай
        .indicators__row-bottom
          .container-content 
            .indicators__box 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup=7092 ) 
                  p.indicators__item-grey.number-animate-7092.number-animate шт
                .row
                  p.indicators__item-text.text Количество контейнерных поездов
              .indicators__item 
                .row 
                  .indicators__item-number.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text Общий рост экспортных перевозок 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup='681197') 
                  p.indicators__item-grey.number-animate-681197.number-animate ДФЭ
                .row
                  p.indicators__item-text.text Объем перевозок
              .indicators__item 
                .row 
                  p.indicators__item-number.countup-element(data-countup='52284')
                  p.indicators__item-grey.number-animate-52284.number-animate ДФЭ
                .row
                  p.indicators__item-text.text Объем экспортных перевозок калийных удобрений <br> (нового для ОТЛК&nbsp;ЕРА груза)
      .indicators__bottom(data-aos="fade-up")
        .container-content 
          .indicators__box_bottom 
            .indicators__item 
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='7') 
                  span , 
                  span.countup-element(data-countup='7') 
                p.indicators__item-grey.number-animate-7.number-animate РАЗ
              .row
                p.indicators__item-text.text Общий рост импортных перевозок
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='9300')
              .row
                p.indicators__item-text.text Рабочий парк на конец 2022 года (среднесуточный показатель за декабрь)
            .indicators__item 
              .row 
                p.indicators__item-number.indicators__item-number_light.countup-element(data-countup='30' data-countup-prefix='$')
                p.indicators__item-grey.number-animate-30.number-animate МЛРД
              .row
                p.indicators__item-text.text Стоимость перевезенных грузов в сервисах ОТЛК&nbsp;ЕРА
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='816') 
                p.indicators__item-grey.number-animate-816.number-animate км/сутки
              .row
                p.indicators__item-text.text Средняя скорость
            .indicators__item
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='6')
                  span ,
                  span.countup-element(data-countup='7')
                p.indicators__item-grey.number-animate-6.number-animate суток
              .row
                p.indicators__item-text.text Транзитное время
            .indicators__item 
                .row 
                  p.indicators__item-number
                    span.countup-element(data-countup='99')
                    span ,
                    span.countup-element(data-countup='997' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text Сохранность грузов
  section(data-aos="fade-up").indicators-finance.mt-section
    .container-content 
      .indicators-finance__inner 
        h6.indicators-finance__title Финансовые показатели 2020-2022 годов
        .indicators-finance__img.desktop
          +picture('indicators-finance.png','t').indicators-finance-img
          +activity-buttons('indicators-finance.png')
        .indicators-finance__img.mobile
          +picture('indicators-finance-mobile.png','t')
        +activity-buttons('indicators-finance-mobile.png')
mixin indicators-CN 
  section.indicators.mt-section(id="section-indicators") 
    .indicators__inner
      .indicators__top(data-aos="fade-up")
        .indicators__row-top 
          .container-content 
            h2.indicators__title 主要指标 
            .indicators__row 
              .col
                .indicators__number.countup-element(data-countup='89' data-countup-prefix='+' data-countup-suffix='%')
              .col 
                p.indicators__description UTLC&nbsp;ERA在中国-欧盟-中国过境集装箱运输中的份额
        .indicators__row-bottom
          .container-content 
            .indicators__box 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup=7092 ) 
                  p.indicators__item-grey.number-animate-7092.number-animate 件
                .row
                  p.indicators__item-text.text 集装箱列车数量 
              .indicators__item 
                .row 
                  .indicators__item-number.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text 出口运输总体增长 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup='681197') 
                  p.indicators__item-grey.number-animate-681197.number-animate TEU
                .row
                  p.indicators__item-text.text 运输量
              .indicators__item 
                .row 
                  p.indicators__item-number.countup-element(data-countup='52284')
                  p.indicators__item-grey.number-animate-52284.number-animate TEU
                .row
                  p.indicators__item-text.text 钾肥出口运输量（UTLC&nbsp;ERA的新货物）
      .indicators__bottom(data-aos="fade-up")
        .container-content 
          .indicators__box_bottom 
            .indicators__item 
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='7') 
                  span , 
                  span.countup-element(data-countup='7') 
                p.indicators__item-grey.number-animate-7.number-animate 倍
              .row
                p.indicators__item-text.text 进口运输总体增长 
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='9300')
              .row
                p.indicators__item-text.text 2022年底工作车队（12月日均指标）
            .indicators__item 
              .row 
                p.indicators__item-number.indicators__item-number_light.countup-element(data-countup='30' data-countup-prefix='$')
                p.indicators__item-grey.number-animate-30.number-animate 亿美元 
              .row
                p.indicators__item-text.text UTLC&nbsp;ERA服务中运输货物价值 
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='816') 
                p.indicators__item-grey.number-animate-816.number-animate 公里/天
              .row
                p.indicators__item-text.text 平均速度 
            .indicators__item
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='6')
                  span ,
                  span.countup-element(data-countup='7')
                p.indicators__item-grey.number-animate-6.number-animate 天
              .row
                p.indicators__item-text.text 中转时间
            .indicators__item 
                .row 
                  p.indicators__item-number
                    span.countup-element(data-countup='99')
                    span ,
                    span.countup-element(data-countup='997' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text 货物完好性 
  section(data-aos="fade-up").indicators-finance.mt-section
    .container-content 
      .indicators-finance__inner 
        h6.indicators-finance__title 2020-2022年財務指標
        .indicators-finance__img.desktop
          +picture('indicators-finance-CN.png','t').indicators-finance-img
          +activity-buttons('indicators-finance-CN.png')
        .indicators-finance__img.mobile
          +picture('indicators-finance-mobile-CN.png','t')
          +activity-buttons('indicators-finance-mobile-CN.png')

mixin indicators-EN
  section.indicators.mt-section(id="section-indicators") 
    .indicators__inner
      .indicators__top(data-aos="fade-up")
        .indicators__row-top 
          .container-content 
            h2.indicators__title Key Performance Indicators 
            .indicators__row 
              .col
                .indicators__number.countup-element(data-countup='89' data-countup-prefix='+' data-countup-suffix='%')
              .col 
                p.indicators__description UTLC&nbsp;ERA's share in China–EU–China transit container traffic
        .indicators__row-bottom
          .container-content 
            .indicators__box 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup=7092 ) 
                  p.indicators__item-grey.number-animate-7092.number-animate trains
                .row
                  p.indicators__item-text.text number of container unit trains 
              .indicators__item 
                .row 
                  .indicators__item-number.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text total export traffic growth 
              .indicators__item 
                .row
                  p.indicators__item-number.countup-element(data-countup='681197') 
                  p.indicators__item-grey.number-animate-681197.number-animate.tt TEUs 
                .row
                  p.indicators__item-text.text traffic volume
              .indicators__item 
                .row 
                  p.indicators__item-number.countup-element(data-countup='52284')
                  p.indicators__item-grey.number-animate-52284.number-animate.tt TEUs 
                .row
                  p.indicators__item-text.text export traffic volume of potassium fertilizers (a new cargo for UTLC&nbsp;ERA)
      .indicators__bottom(data-aos="fade-up")
        .container-content 
          .indicators__box_bottom 
            .indicators__item 
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='7') 
                  span , 
                  span.countup-element(data-countup='7') 
                p.indicators__item-grey.number-animate-7.number-animate 7.7-fold
              .row
                p.indicators__item-text.text total import traffic growth 
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='9300')
              .row
                p.indicators__item-text.text operating fleet as of the end of 2022 (average daily as of December)
            .indicators__item 
              .row 
                p.indicators__item-number.indicators__item-number_light.countup-element(data-countup='30' data-countup-prefix='$')
                p.indicators__item-grey.number-animate-30.number-animate billion
              .row
                p.indicators__item-text.text value of cargoes transported in UTLC&nbsp;ERA’s services 
            .indicators__item 
              .row 
                p.indicators__item-number.countup-element(data-countup='816') 
                p.indicators__item-grey.number-animate-816.number-animate km/day
              .row
                p.indicators__item-text.text average speed 
            .indicators__item
              .row 
                .indicators__item-number.indicators__item-number_light
                  span.countup-element(data-countup='6')
                  span ,
                  span.countup-element(data-countup='7')
                p.indicators__item-grey.number-animate-6.number-animate days
              .row
                p.indicators__item-text.text time in transit
            .indicators__item 
                .row 
                  p.indicators__item-number
                    span.countup-element(data-countup='99')
                    span ,
                    span.countup-element(data-countup='997' data-countup-suffix='%')
                .row
                  p.indicators__item-text.text cargo security 
  section(data-aos="fade-up").indicators-finance.mt-section
    .container-content 
      .indicators-finance__inner 
        h6.indicators-finance__title Financial indicators 2020-2022
        .indicators-finance__img.desktop
          +picture('indicators-finance-EN.png','t').indicators-finance-img
          +activity-buttons('indicators-finance-EN.png')
        .indicators-finance__img.mobile
          +picture('indicators-finance-mobile-EN.png','t')
          +activity-buttons('indicators-finance-mobile-EN.png')

