mixin indicators 
  section.indicators 
    .container-content 
      .indicators__inner
        .indicators__top
          h2.indicators__title Ключевые показатели
          .indicators__row 
            .col 
              p.indicators__number 89%
            .col 
              p.indicators__description Доля ОТЛК ЕРА в транзитных контейнерных перевозках КНР — ЕС — КНР
          .indicators__box 
            .indicators__item 
              .col 
                p.indicators__item-number 7 092
                p.indicators__item-text Количество контейнерных поездов
              .col
                p.indicators__item-grey шт
        .indicators__bottom
          .indicators__box 
  section.indicators-finance 
    .container-content 
      .indicators-finance__inner 
        h6.indicators-finance__title Финансовые показатели 2020-2022 годов
        .indicators-finance__img 
          +picture('indicators-finance.png')
        

