mixin indicators 
  section.indicators.mt-section 
    .indicators__inner
      .indicators__top
        .container-content
          .indicators__mobile
            h2.indicators__title Ключевые показатели
            .indicators__row 
              .col 
                p.indicators__number.indicators__number_big 89%
              .col 
                p.indicators__description.description Доля ОТЛК ЕРА в транзитных контейнерных перевозках КНР-ЕС-КНР
          .indicators__box 
            .indicators__item 
              .row 
                p.indicators__item-number 7 092
                p.indicators__item-grey шт
              .row
                p.indicators__item-text.text Количество контейнерных поездов
            .indicators__item 
              .row 
                p.indicators__item-number +156%
              .row
                p.indicators__item-text.text Общий рост экспортных перевозок 
            .indicators__item 
              .row 
                p.indicators__item-number 681 197
                p.indicators__item-grey ДФЭ
              .row
                p.indicators__item-text.text Объем перевозок
            .indicators__item 
              .row 
                p.indicators__item-number 52 284
                p.indicators__item-grey ДФЭ
              .row
                p.indicators__item-text.text Объем экспортных перевозок калийных удобрений (нового для ОТЛК&nbsp;ЕРА груза)
      .indicators__bottom
        .container-content 
          .indicators__box_bottom 
            .indicators__item 
              .row 
                p.indicators__item-number.indicators__item-number_light 7,7
                p.indicators__item-grey РАЗ
              .row
                p.indicators__item-text.text Общий рост импортных перевозок
            .indicators__item 
              .row 
                p.indicators__item-number 9 300
              .row
                p.indicators__item-text.text Рабочий парк на конец 2022 года (среднесуточный показатель за декабрь)
            .indicators__item 
              .row 
                p.indicators__item-number.indicators__item-number_light $30
                p.indicators__item-grey МЛРД
              .row
                p.indicators__item-text.text Стоимость перевезенных грузов в сервисах ОТЛК&nbsp;ЕРА
            .indicators__item 
              .row 
                p.indicators__item-number 816
                p.indicators__item-grey км/сутки
              .row
                p.indicators__item-text.text Средняя скорость
            .indicators__item
              .row 
                p.indicators__item-number.indicators__item-number_light 6,7
                p.indicators__item-grey суток
              .row
                p.indicators__item-text.text Транзитное время
            .indicators__item 
                .row 
                  p.indicators__item-number 99,997%
                .row
                  p.indicators__item-text.text Сохранность грузов
  section.indicators-finance.mt-section
    .container-content 
      .indicators-finance__inner 
        h6.indicators-finance__title Финансовые показатели 2020-2022 годов
        .indicators-finance__img.desktop
          +picture('indicators-finance.png').indicators-finance-img
        .indicators-finance__img.mobile
          +picture('indicators-finance-mobile.png')
        

