mixin landscape-content
  section.landscape-description
    .container-content 
      .landscape-description__inner 
        .col 
          p.landscape-description__description Чтобы компенсировать снижение транзитных объемов на фоне новых геополитических и экономических реалий, начиная со второго квартала 2022 года ОТЛК ЕРА начинает расширять портфель дополнительных услуг.
        .col 
          .row 
            p.text.landscape-description___text Развитие импортных и экспортных сервисов в отчетном периоде помогло сохранить рекордные показатели перевозок уровня 2021 года с уменьшением всего на 1,6%. Итогом изменений также стало изменение доли транзита в общем объеме перевозок во всех сервисах компании. 
          .landscape-description__row 
            .landscape-description__col-left
              .row
                .col 
                  p.landscape-description__number 7,7
                .col 
                  p.landscape-description__grey раз
                  p.landscape-description__green до 148,5 тыс ДФЭ
              .row
                p.landscape-description__sub Рост импортных перевозок
            .landscape-description__col-right 
              .row 
                .col 
                  p.landscape-description__grey до
                .col 
                  p.landscape-description__number.green__light 60%
              .row 
                p.landscape-description__sub Уменьшилась доля транзита по сравнению с 91% в 2021 году
  section.landscape-dynamic 
    .container-content 
      .landscape-dynamic__inner 
        h3.landscape-dynamic__title Динамика рынка
        .landscape-dynamic__row
          .col 
            .row 
              p.landscape-dynamic__description Показатели продолжали снижаться до середины 2022 года, после чего транзитные объемы по евразийскому коридору начали постепенно восстанавливаться.
            .landscape-dynamic__item 
              p.landscape-dynamic__number 89%
              p.landscape-dynamic__sub Доля ОТЛК ЕРА в транзитных перевозках КНР — ЕС — КНР 
          .col 
            p.text.landscape-dynamic__text Ряд компаний, отказавшихся из-за репутационных и финансовых рисков от железнодорожного транспорта, стали возвращаться в евразийский коридор. В пользу этого решения говорили два фактора: прежняя надежность маршрута, с одной стороны, и нестабильная ситуация на рынке морских и авиаперевозок, с другой.
            p.text.landscape-dynamic__text В течении года власти КНР постепенно ослабляли антиковидные ограничения в стране, однако нестабильность этих решений крайне негативно влияла на работу ключевых китайских логистических хабов.
            p.text.landscape-dynamic__text К концу года железнодорожные транзитные объемы вновь начали демонстрировать падение и в декабре побили апрельский антирекорд. Главной причиной этого тренда можно назвать окончание субсидирования в текущем 2022 году железнодорожного транспорта со стороны правительства КНР.
            p.text.landscape-dynamic__text Несмотря на потрясения транзитного рынка, наша компания продолжала занимать лидирующую позицию в сегменте. К июню доля в транзитных перевозках КНР-ЕС-КНР составляла уже 95%, что говорит о высоком уровне лояльности клиентов.
  section.landscape-orientation 
    .container-content 
      .landscape-orientation__inner 
        h2.landscape-orientation__title Ориентация на восток
        .landscape-orientation__row-top
          p.text.landscape-orientation__text Санкционные ограничения во многом определили ориентацию на восток для большинства российских компаний. Так, развитие импортных и экспортных сервисов в 2022 году неразрывно связано с китайскими коллегами. 
        .landscape-orientation__row
          h6.landscape-orientation__subtitle Три  направления с наибольшим развитием
          .landscape-orientation__svg 
            +landscape-content-svg 
          .landscape-orientation__row-bottom
            .landscape-orientation__item 
              p.landscape-orientation__number +260%
              p.landscape-orientation__sub Рост перевозок «ломаным транзитом» по итогам года
            .landscape-orientation__item.item-big
              .row 
                .col 
                  p.landscape-orientation__number 122
                .col 
                  p.landscape-orientation__grey тыс ДФЭ
              .row 
                p.landscape-orientation__grey <span> >52,2</span> ТЫС ДФЭ
              .row 
                p.landscape-orientation__sub из них пришлось на совместный проект с KTZ Express
            p.text.landscape-orientation__text К концу года экспорт лесных грузов через Казахстан был законодательно ограничен, что замедлило развитие процесса. Ограничение сняли лишь в начале 2023 года.
  section.landscape-strategy 
    .container-content 
      .landscape-strategy__inner
        h2.landscape-strategy__title Стратегии будущего
        .col.mt-40 
            p.text.landscape-strategy__text Кроме того, эксперты ОТЛК ЕРА много работали над цифровизацией перевозок и поддерживали все связанные с этим инициативы партнеров ЕАЭС.
            p.text.landscape-strategy__text На протяжении 2022 года мы активно сотрудничали со всеми участниками ЕАЭС в целях модернизации инфраструктуры и улучшения пропускной способности, а также создания новых перспективных маршрутов. Участвуя в таких проектах, как Dostyk TransTerminal (Достык ТрансТерминал), ТЛЦ «Восток-Запад», Сухой Порт Южноуральский, наша компания стремилась «расшить» узкие места, чтобы кардинально улучшить условия для всех участников перевозок.
            p.text.landscape-strategy__text Развитие в новых реалиях коснулось и работы с клиентами. Начиная с 2022 года, наши специалисты подготавливают и направляют участникам рынка справки по работе компании за период. Благодаря этому, клиентам стало проще ориентироваться в последних изменениях рынка и получать актуальную информацию о работе непосредственно ОТЛК ЕРА.
        .strategy-cart 
          .col 
            h6.strategy-cart__title Резюме 
            +column-top-svg.strategy-cart-svg
          .col 
            p.strategy-cart__description Влияние санкций ЕС напрямую не коснулось организации работы ОТЛК ЕРА по основным маршрутам. Так, ограничения, наложенные на работу европейских партнеров с ОАО «РЖД», не запрещают взаимодействие с дочерними и зависимыми предприятиями.
            p.text.strategy-cart__text Однако первоначальная неопределенность по взаимодействию в новых условиях — в частности, финансовые и страховые вопросы, — заставили многих клиентов с осторожностью подходить к железнодорожным перевозкам через территорию РФ. Это можно назвать косвенным влиянием санкций.
            p.text.strategy-cart__text В большей степени санкции повлияли на маршрут Китай-Европа-Китай через сухопутные пограничные переходы и порты Калининградской области, который ранее демонстрировал перспективные результаты. Здесь показатели в 2022 году снизились по двум причинам: во-первых, европейские суда перестали заходить в российские порты, а во-вторых, Литва ввела ограничения на транзит грузов через свою территорию.