mixin main-contents 
  section.main-contents(data-aos="fade-up")
    .main-contents__container
      .main-contents__title Содержание
      .main-contents__list(data-aos="fade-up") 
        each item, index in ['О компании','Стратегический отчет','Результаты деятельности в 2022 году','устойчивое развитие','корпоративное управление','приложения']
          .main-contents__card
            a.main-contents__card-content(href="about" target="blank")   
              .main-contents__card-number=index+1
              .main-contents__decor 
                +decor-main 
              .main-contents__card-subtext=item
              .main-contents__card-btn 
                .main-contents__card-arrow 
                  +arrow-right 
                  
mixin main-contents-EN 
  section.main-contents(data-aos="fade-up")
    .main-contents__container
      .main-contents__title Table of Contents
      .main-contents__list(data-aos="fade-up") 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 1
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext About Us
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 2
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext Strategic Report
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 3
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext Operating Perfomance
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 4
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext Sustainable Development
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 5
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext Corporate Governance
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
        .main-contents__card
          a.main-contents__card-content(href="about" target="blank")   
            .main-contents__card-number 6
            .main-contents__decor 
              +decor-main 
            .main-contents__card-subtext Appendices
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 

mixin main-contents-CN 
  section.main-contents(data-aos="fade-up")
    .main-contents__container
      .main-contents__title 目录
      .main-contents__list(data-aos="fade-up") 

        each item, index in ['关于公司','战略报告','2022年业绩','可持续发展','公司治理','附件']
          .main-contents__card
            a.main-contents__card-content(href="about" target="blank")   
              .main-contents__card-number=index+1
              .main-contents__decor 
                +decor-main 
              .main-contents__card-subtext=item
              .main-contents__card-btn 
                .main-contents__card-arrow 
                  +arrow-right 

