mixin main-contents 
  section.main-contents(data-aos="fade-up")
    .main-contents__container
      .main-contents__title Содержание
      .main-contents__list(data-aos="fade-up") 
        a.main-contents__card(href="#" target="blank")  
          .main-contents__card-content 
            .main-contents__card-number 1
            .main-contents__card-img
              +picture('main-card-hero-1.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
          .main-contents__card-subtext О компании
        a.main-contents__card(href="#" target="blank")  
          .main-contents__card-content 
            .main-contents__card-number 2
            .main-contents__card-img
              +picture('main-card-hero-2.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
          .main-contents__card-subtext Стратегический отчет
        a.main-contents__card(href="#" target="blank")  
          .main-contents__card-content 
            .main-contents__card-number 3
            .main-contents__card-img
              +picture('main-card-hero-3.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
          .main-contents__card-subtext Результаты деятельности <br>в 2022 году
        a.main-contents__card(href="#" target="blank")  
          .main-contents__card-content 
            .main-contents__card-number 4
            .main-contents__card-img
              +picture('main-card-hero-4.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
          .main-contents__card-subtext Устойчивое развитие
        a.main-contents__card(href="#" target="blank")  
          .main-contents__card-content 
            .main-contents__card-number 5
            .main-contents__card-img
              +picture('main-card-hero-5.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
          .main-contents__card-subtext Корпоративное управление
        a.main-contents__card(href="#" target="blank") 
          .main-contents__card-content 
            .main-contents__card-number 6
            .main-contents__card-img
              +picture('main-card-hero-6.png')
            .main-contents__card-btn 
              .main-contents__card-arrow 
                +arrow-right 
            .main-contents__card-subtext.absolute Приложения
      