mixin map
  .map(data-aos="fade-up")
    .container 
      .map__inner 
        .map__img
          +picture('map.jpg').map-img.img

mixin map-EN
  .map(data-aos="fade-up")
    .container 
      .map__inner 
        .map__img
          +picture('map-EN.jpg').map-img.img

mixin map-CN
  .map(data-aos="fade-up")
    .container 
      .map__inner 
        .map__img
          +picture('map-CN.jpg').map-img.img

