mixin marshrute-speed   
  .container-content
    section.pre-marshrute 
      .pre-marshrute__col 
        .pre-marshrute__title Детализация объема и балансировки перевозок ОТЛК&nbsp;ЕРА
        .pre-marshrute__text В 2022 году наблюдалось снижение объемов перевозок в обоих направлениях.
      .pre-marshrute__col 
        .pre-marshrute__table
          +picture('pre-marshrute.png')
        +activity-buttons('pre-marshrute.png')
    section.marshrute-speed(id="marshrute-speed")(data-aos="fade-up") 
      h3.marshrute-speed__title Маршрутная скорость и формирование поездов
      .marshrute-speed__row(data-aos="fade-up") 
        .marshrute-speed__col
          .marshrute-speed__text.text В 2022 году маршрутная скорость следования транзитных поездов по колее 1520 составила 816 км/сутки. Общее время хода по итогу 2022 года составило 6,69 суток (по ТОО «КТЖ - ГП» — 2,99 суток, по ОАО «РЖД» — 2,82 суток и по Белорусской железной дороге — 0,88 суток).
        .marshrute-speed__col 
          .ge-card.green
              .ge-card__top.gap-8
                .ge-card__num.green.countup-element(data-countup='816')
                .ge-card__text.number-animate-816.number-animate км/сутки 
              .ge-card__bot
                .ge-card__text-grey Маршрутная скорость следования транзитных поездов по колее 1520
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-title Изменение маршрутной скорости следования транзитных поездов в сервисе ОТЛК&nbsp;ЕРА <br classs="br"> в 2020–2022 годах
          .marshrute-speed__subsection-text.top.text Основной фактор, влияющий на продолжительность рейса вагона, — транзитное время проследования контейнерного поезда. За последние три года время хода поезда увеличивалось.
          .marshrute-speed__subsection-text.text Задержки поездов из-за шквалистых ветров фиксировались в первом и четвертом кварталах каждого года. Ситуацию осложнила установка ограничений со стороны Китая по передаче КП в связи с мероприятиями по профилактике   COVID&nbsp;-&nbsp;19. По мере урегулирования передачи КП в направлении Европа-Китай, наша компания также столкнулась с инфраструктурными ограничениями.
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-vector.alt-vector.desktop 
            +picture('change-speed-vector.png')
          +activity-buttons('change-speed-vector.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile 
            +picture('change-speed-vector-mobile.png')
          +activity-buttons('change-speed-vector-mobile.png').flex-m
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-title Изменение транзитного времени проследования контейнерных поездов в&nbsp;сервисе ОТЛК&nbsp;ЕРА <br>в 2019–2022 годах
          .marshrute-speed__subsection-text.top.text В 2022 году среднесуточное количество поездов в пути составило 14 единиц. Рост средней загрузки поезда до среднегодового значения 117 ДФЭ можно рассматривать как технологический фактор оптимизации расходов и привлечения большего объема грузов.
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-vector.alt-vector.desktop  
            +picture('change-speed-vector-2-fin.png')
          +activity-buttons('change-speed-vector-2-fin.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile  
            +picture('change-speed-vector-mobile2.png')
          +activity-buttons('change-speed-vector-mobile2.png').flex-m
      .marshrute-speed__footer(data-aos="fade-up") 
        h6.marshrute-speed__footer-title Динамика применения технологии XL-поездов
        .marshrute-speed__footer-vector.desktop
          +picture('change-speed-vector3.png')
        +activity-buttons('change-speed-vector3.png').flex-desktop
        .marshrute-speed__footer-container 
          .marshrute-speed__footer-vector.mobile
            +picture('change-speed-vector3-mobile.png')
        +activity-buttons('change-speed-vector3-mobile.png').flex-m
        .marshrute-speed__footer-text.text Для совершенствования технологии контейнерных перевозок наша компания запустила проект «XL-поезда», в рамках которого в 2022 году было организовано 2 279 длинносоставных поездов. Эта технология позволяет повысить эффективность использования пропускной способности инфраструктуры и сократить издержки при организации перевозок.

mixin marshrute-speed-EN   
  .container-content
    section.pre-marshrute 
      .pre-marshrute__col 
        .pre-marshrute__title UTLC&nbsp;ERA’s Traffic Volume and Balance Details
        .pre-marshrute__text In 2022, the traffic volumes declined in both directions.
      .pre-marshrute__col 
        .pre-marshrute__table
          +picture('pre-marshrute-EN.png')
        +activity-buttons('pre-marshrute-EN.png')
    section.marshrute-speed(id="marshrute-speed")(data-aos="fade-up") 
      h3.marshrute-speed__title Mean Speed and Train Marshalling
      .marshrute-speed__row(data-aos="fade-up") 
        .marshrute-speed__col
          .marshrute-speed__text.text In 2022, the mean speed of transit trains in the 1,520 mm track gauge system was 816 km per day. The total travel time as of the end of 2022 was 6.69 days (2.99 days in “KTZ-Freight transportation” LLP system, 2.82 days in JSCo "RZD" system and 0.88 days in Belarusian Railway system.
        .marshrute-speed__col 
          .ge-card.green
              .ge-card__top.gap-8
                .ge-card__num.green.countup-element(data-countup='816')
                .ge-card__text.number-animate-816.number-animate km per day 
              .ge-card__bot
                .ge-card__text-grey the mean speed of transit trains in the 1,520 mm track gauge system
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-title Transit Train Mean Speed Variation in UTLC&nbsp;ERA’s Service <br> in 2020 to 2022
          .marshrute-speed__subsection-text.top.text The rail car travel duration is mainly affected by the container unit train time in transit. Over the past three years, the train travel time has been increasing.
          .marshrute-speed__subsection-text.text Train delays due to gusts of wind were recorded in the first and fourth quarters of each year. The situation was aggravated by the container unit train transfer limitations imposed by China due to COVID-19 prevention measures. As the issue of container unit train transfer in the Europe–China direction was being addressed, our company also faced a number of infrastructure limitations.
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-vector.alt-vector.desktop 
            +picture('change-speed-vector-EN.png')
          +activity-buttons('change-speed-vector-EN.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile 
            +picture('change-speed-vector-EN.png')
          +activity-buttons('change-speed-vector-EN.png').flex-m
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-title Variation of Container Unit Train Time in Transit in UTLC&nbsp;ERA’s Service <br> in 2019 to 2022
          .marshrute-speed__subsection-text.top.text In 2022, the average daily number of trains in transit was 14 trains. The growth in the average train load up to the average annual value of 117 TEUs can be viewed as a technological driver that enables to optimize the costs and to attract larger cargo volumes.
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-vector.alt-vector.desktop  
            +picture('change-speed-vector-2-fin-EN.png')
          +activity-buttons('change-speed-vector-2-fin-EN.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile  
            +picture('change-speed-vector-2-fin-EN.png')
          +activity-buttons('change-speed-vector-2-fin-EN.png').flex-m
      .marshrute-speed__footer(data-aos="fade-up") 
        h6.marshrute-speed__footer-title XL-Train Technology Application Profile
        .marshrute-speed__footer-vector.desktop
          +picture('change-speed-vector3-EN.png')
        +activity-buttons('change-speed-vector3-EN.png').flex-desktop
        .marshrute-speed__footer-container 
          .marshrute-speed__footer-vector.mobile
            +picture('change-speed-vector3-mobile-EN.png')
        +activity-buttons('change-speed-vector3-mobile-EN.png').flex-m
        .marshrute-speed__footer-text.text Our company launched the XL Train Project to improve the container traffic technology, which included the formation of 2,279 long trains in 2022. This technology improves the efficiency of the infrastructure throughput capacity utilization and reduces the traffic management costs.

mixin marshrute-speed-CN   
  .container-content
    section.pre-marshrute 
      .pre-marshrute__col 
        .pre-marshrute__title 详细说明UTLC&nbsp;ERA运输量和平衡情况
        .pre-marshrute__text 2022年，双向交通量均有所减少。
      .pre-marshrute__col 
        .pre-marshrute__table
          +picture('pre-marshrute-CN.png')
        +activity-buttons('pre-marshrute-CN.png')
    section.marshrute-speed(id="marshrute-speed")(data-aos="fade-up") 
      h3.marshrute-speed__title 列车航线速度与编组
      .marshrute-speed__row(data-aos="fade-up") 
        .marshrute-speed__col
          .marshrute-speed__text.text 2022年，1520轨道过境列车的航线速度为816公里/天。2022年底的总运行时间为6.69天（哈萨克斯坦铁路股份公司-2.99天，俄罗斯铁路股份公司-2.82天，白俄罗斯铁路-0.88天）。
        .marshrute-speed__col 
          .ge-card.green
              .ge-card__top.gap-8
                .ge-card__num.green.countup-element(data-countup='816')
                .ge-card__text.number-animate-816.number-animate 公里/天
              .ge-card__bot
                .ge-card__text-grey 1520 轨道过境列车的航线速度为
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-title 2020-2022年UTLC&nbsp;ERA服务中过境列车路线速度的变化
          .marshrute-speed__subsection-text.top.text 影响列车运行时间的主要因素是集装箱列车的过境时间。在过去的三年里，列车的运行时间一直在增加。
          .marshrute-speed__subsection-text.text 每年第一和第四季度，由于狂风，造成了火车延误。由于预防COVID-19的措施，关于中国一方集装箱列车转让施加的限制加剧了情况的复杂。随着集装箱列车向欧-中方向转移问题的解决，我公司同时面临了基础设施的限制。
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-vector.alt-vector.desktop 
            +picture('change-speed-vector-CN.png')
          +activity-buttons('change-speed-vector-CN.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile 
            +picture('change-speed-vector-mobile-CN.png')
          +activity-buttons('change-speed-vector-mobile-CN.png').flex-m
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-title 2019-2022年UTLC&nbsp;ERA服务中集装箱列车过境时间变化
          .marshrute-speed__subsection-text.top.text 2022年日均在途列车数量14列。列车平均装载量增长到年均117 TEU可以被视为优化成本和吸引更多货物量的技术因素。
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-vector.alt-vector.desktop  
            +picture('change-speed-vector-2-fin-CN.png')
          +activity-buttons('change-speed-vector-2-fin-CN.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile  
            +picture('change-speed-vector-mobile2-CN.png')
          +activity-buttons('change-speed-vector-mobile2-CN.png').flex-m
      .marshrute-speed__footer(data-aos="fade-up") 
        h6.marshrute-speed__footer-title XL-列车技术的应用动态
        .marshrute-speed__footer-vector.desktop
          +picture('change-speed-vector3-CN.png')
        +activity-buttons('change-speed-vector3-CN.png').flex-desktop
        .marshrute-speed__footer-container 
          .marshrute-speed__footer-vector.mobile
            +picture('change-speed-vector3-mobile-CN.png')
        +activity-buttons('change-speed-vector3-mobile-CN.png').flex-m
        .marshrute-speed__footer-text.text 为了提高集装箱运输技术，我公司启动了“XL列车”项目，2022年组织2 279列加长列车。这一技术提高了基础设施能力的利用效率，降低了运输组织的成本。
