mixin marshrute-speed   
  .container-content
    section.pre-marshrute 
      .pre-marshrute__col 
        .pre-marshrute__title Детализация объема и балансировки перевозок ОТЛК&nbsp;ЕРА
        .pre-marshrute__text В 2022 году наблюдалось снижение объемов перевозок в обоих направлениях.
      .pre-marshrute__col 
        .pre-marshrute__table
          +picture('pre-marshrute.png')
        +activity-buttons('pre-marshrute.png')
    section.marshrute-speed(id="marshrute-speed")(data-aos="fade-up") 
      h3.marshrute-speed__title Маршрутная скорость и формирование поездов
      .marshrute-speed__row(data-aos="fade-up") 
        .marshrute-speed__col
          .marshrute-speed__text.text В 2022 году маршрутная скорость следования транзитных поездов по колее 1520 составила 816 км/сутки. Общее время хода по итогу 2022 года составило 6,69 суток (по ТОО «КТЖ - ГП» — 2,99 суток, по ОАО «РЖД» — 2,82 суток и по Белорусской железной дороге — 0,88 суток).
        .marshrute-speed__col 
          .ge-card.green
              .ge-card__top.gap-8
                .ge-card__num.green.countup-element(data-countup='816')
                .ge-card__text.number-animate-816.number-animate км/сутки 
              .ge-card__bot
                .ge-card__text-grey Маршрутная скорость следования транзитных поездов по колее 1520
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-title Изменение маршрутной скорости следования транзитных поездов в сервисе ОТЛК&nbsp;ЕРА <br classs="br"> в 2020–2022 годах
          .marshrute-speed__subsection-text.top.text Основной фактор, влияющий на продолжительность рейса вагона, — транзитное время проследования контейнерного поезда. За последние три года время хода поезда увеличивалось.
          .marshrute-speed__subsection-text.text Задержки поездов из-за шквалистых ветров фиксировались в первом и четвертом кварталах каждого года. Ситуацию осложнила установка ограничений со стороны Китая по передаче КП в связи с мероприятиями по профилактике   COVID&nbsp;-&nbsp;19. По мере урегулирования передачи КП в направлении Европа-Китай, наша компания также столкнулась с инфраструктурными ограничениями.
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-vector.alt-vector.desktop 
            +picture('change-speed-vector.png')
          +activity-buttons('change-speed-vector.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile 
            +picture('change-speed-vector-mobile.png')
          +activity-buttons('change-speed-vector-mobile.png').flex-m
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-title Изменение транзитного времени проследования контейнерных поездов в сервисе ОТЛК&nbsp;ЕРА <br>в 2019–2022 годах
          .marshrute-speed__subsection-text.top.text В 2022 году среднесуточное количество поездов в пути составило 14 единиц. Рост средней загрузки поезда до среднегодового значения 117 ДФЭ можно рассматривать как технологический фактор оптимизации расходов и привлечения большего объема грузов.
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-vector.alt-vector.desktop  
            +picture('change-speed-vector-2-fin.png')
          +activity-buttons('change-speed-vector-2-fin.png').flex-desktop
          .marshrute-speed__subsection-vector.alt-vector.mobile  
            +picture('change-speed-vector-mobile2.png')
          +activity-buttons('change-speed-vector-mobile2.png').flex-m
      .marshrute-speed__footer(data-aos="fade-up") 
        h6.marshrute-speed__footer-title Динамика применения технологии XL-поездов
        .marshrute-speed__footer-vector.desktop
          +picture('change-speed-vector3.png')
        +activity-buttons('change-speed-vector3.png').flex-desktop
        .marshrute-speed__footer-container 
          .marshrute-speed__footer-vector.mobile
            +picture('change-speed-vector3-mobile.png')
          +activity-buttons('change-speed-vector3-mobile.png').flex-m
        .marshrute-speed__footer-text.text Для совершенствования технологии контейнерных перевозок наша компания запустила проект «XL-поезда», в рамках которого в 2022 году было организовано 2 279 длинносоставных поездов. Эта технология позволяет повысить эффективность использования пропускной способности инфраструктуры и сократить издержки при организации перевозок.

mixin marshrute-speed-EN   
  .container-content
    section.pre-marshrute 
      .pre-marshrute__col 
        .pre-marshrute__title UTLC ERA’s Traffic Volume and Balance Details
        .pre-marshrute__text In 2022, the traffic volumes declined in both directions.
      .pre-marshrute__col 
        .pre-marshrute__table
          +picture('pre-marshrute.png')
    section.marshrute-speed(id="marshrute-speed")(data-aos="fade-up") 
      h3.marshrute-speed__title Mean Speed and Train Marshalling
      .marshrute-speed__row(data-aos="fade-up") 
        .marshrute-speed__col
          .marshrute-speed__text.text In 2022, the mean speed of transit trains in the 1,520 mm track gauge system was 816 km per day. The total travel time as of the end of 2022 was 6.69 days (2.99 days in “KTZ-Freight transportation” LLP system, 2.82 days in JSCo "RZD" system and 0.88 days in Belarusian Railway system.
        .marshrute-speed__col 
          .ge-card.green
              .ge-card__top.gap-8
                .ge-card__num.green.countup-element(data-countup='816')
                .ge-card__text.number-animate-816.number-animate km per day 
              .ge-card__bot
                .ge-card__text-grey the mean speed of transit trains in the 1,520 mm track gauge system
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-title Transit Train Mean Speed Variation in UTLC&nbsp;ERA’s Service <br> in 2020 to 2022
          .marshrute-speed__subsection-text.top.text The rail car travel duration is mainly affected by the container unit train time in transit. Over the past three years, the train travel time has been increasing.
          .marshrute-speed__subsection-text.text Train delays due to gusts of wind were recorded in the first and fourth quarters of each year. The situation was aggravated by the container unit train transfer limitations imposed by China due to COVID-19 prevention measures. As the issue of container unit train transfer in the Europe–China direction was being addressed, our company also faced a number of infrastructure limitations.
        .marshrute-speed__subsection-col 
          .marshrute-speed__subsection-vector.alt-vector.desktop 
            +picture('change-speed-vector.png')
          .marshrute-speed__subsection-vector.alt-vector.mobile 
            +picture('change-speed-vector-mobile.png')
      .marshrute-speed__subsection(data-aos="fade-up") 
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-title Variation of Container Unit Train Time in Transit in UTLC ERA’s Service <br> in 2019 to 2022
          .marshrute-speed__subsection-text.top.text In 2022, the average daily number of trains in transit was 14 trains. The growth in the average train load up to the average annual value of 117 TEUs can be viewed as a technological driver that enables to optimize the costs and to attract larger cargo volumes.
        .marshrute-speed__subsection-col(data-aos="fade-up") 
          .marshrute-speed__subsection-vector.alt-vector.desktop  
            +picture('change-speed-vector-2-fin.png')
          .marshrute-speed__subsection-vector.alt-vector.mobile  
            +picture('change-speed-vector-mobile2.png')
      .marshrute-speed__footer(data-aos="fade-up") 
        h6.marshrute-speed__footer-title XL-Train Technology Application Profile
        .marshrute-speed__footer-vector.desktop
          +picture('change-speed-vector3.png')
        .marshrute-speed__footer-container 
          .marshrute-speed__footer-vector.mobile
            +picture('change-speed-vector3-mobile.png')
        .marshrute-speed__footer-text.text Our company launched the XL Train Project to improve the container traffic technology, which included the formation of 2,279 long trains in 2022. This technology improves the efficiency of the infrastructure throughput capacity utilization and reduces the traffic management costs.