mixin next-page4
  section.next 
    .container 
      .next__inner 
        p.next__text Следующий раздел
        p.next__title Корпоративное управление
        p.next__number 5
        +column-svg.next-svg
        +button
        