mixin operation-results 
  .container.custom-oparations 
    section.operation-results 
      .preview__line.desktop
      .operation-results__col 
        h2.operation-results__title Операционные результаты
        .operation-results__text В 2022 году ОТЛК&nbsp;ЕРА осуществляла оперирование и развитие контейнерного транзита на территории Казахстана, России и Беларуси.
      .operation-results__col 
        .operation-results__subtitle Динамика объема сервиса ОТЛК&nbsp;ЕРА (ДФЭ)
        .operation-results__vector
          +picture('operation-results.png')