mixin preservation-content 
  section.preservation-finance 
    .container-content 
      .preservation-finance__inner 
        h2.preservation-finance__title Финансовый обзор
        .preservation-finance__row 
          .col 
            p.preservation-finance__description Несмотря на существенное осложнение геополитической и макроэкономической обстановки в 2022 году, вызвавшее общее снижение экономической активности и объемов грузоперевозок, а также продолжающиеся в начале года эпидемиологические ограничения в Китае, ОТЛК ЕРА удалось сохранить объемные показатели по основным маршрутам на уровне 2021 года. 
          .col 
            p.text.preservation-finance__text Это стало возможным благодаря расширению круга дополнительных маршрутов, сохранению ставки клиентам на базовых маршрутах на уровне 2021 года и другим действиям компании по привлечения грузопотока и снижению себестоимости перевозок. Все это позволило повысить рентабельность деятельности Общества по итогам 2022 года. 
            p.text.preservation-finance__text Ускоренное восстановление объемов перевозок после снижения во 2 квартале 2022 года позволило провести корректировку бюджета по итогам 1 полугодия 2022 года с учетом увеличения всех основных производственно-финансовых показателей по сравнению с корректировкой бюджета, проведенной по итогам 1 квартала 2022 года. Скорректированный бюджет ОТЛК ЕРА был перевыполнен по показателю «валовая прибыль» на 6,0%, по показателю «чистая прибыль» на 15,5%. 
  section.preservation-dynamic 
    .container-content 
      .preservation-dynamic__inner 
        h6.preservation-dynamic__title Динамика основных финансовых показателей за 2020–2022 годы, млн руб
        .preservation-dynamic__img
          +picture('preservation-dynamic.png')
  section.preservation-revenue 
    .container-content 
      .preservation-revenue__inner 
        h3.preservation-revenue__title Выручка
        .preservation-revenue__row 
          .col 
            p.text.preservation-revenue__text По результатам работы нашей компании за 2022 год валовая выручка составила 55 577 млн руб, что на 9 274 млн руб или 14% ниже показателя прошлого года. Выручка 2022 года полностью представлена доходами за оказание транспортно-экспедиционных услуг, преимущественно номинированными в долларах США. 
            p.text.preservation-revenue__text Снижение выручки прежде всего связано со снижением среднегодового курса доллара США 2022 года по сравнению с 2021 годом на 7% (2022 — 68,58 руб., 2021 — 73,66 руб.), в связи с тем, что выручка номинирована в долларах, а также в связи с перераспределением объемов в сторону увеличения доли перевозок, ставка по которым ниже.
          .col 
            .preservation-revenue__img  
              +picture('preservation-revenue.png')
  seciton.preservation-sales 
    .container-content 
      .preservation-sales__inner 
        h3.preservation-sales__title Себестоимость продаж
        .preservation-sales__row 
          .col 
            p.text.preservation-sales__text Себестоимость продаж ОТЛК ЕРА по итогам 2022 года составила 47 765 млн. руб., что на 9 125 млн. руб. или 16% ниже показателя себестоимости продаж прошлого года. Себестоимость 2022 года полностью представлена расходами на организацию транспортно-экспедиционных услуг.
            p.text.preservation-sales__text Снижение себестоимости прежде всего связано с проведенными мерами по оптимизации расходов, а также снижением курсов основных валют расходов по сравнению с 2021 годом.
          .col 
            p.preservation-sales__description Себестоимость продаж ОТЛК ЕРА за 2020–2022 годы, млн руб
            .preservation-sales__img
              +picture('preservation-sale.png')
  setction.preservation-structure 
    .container-content 
      .preservation-structure__inner 
        h6.preservation-structure__title Структура себестоимости продаж в 2022 году, %
        .preservation-structure__img 
          +picture('preservation-structure.png')
        .preservation-structure__row  
          .col 
            p.text.preservation-structure__text Оплата услуг владельцев инфраструктуры в 2022 году в составе себестоимости оказания услуг составила 81%, или 38 459 млн руб. По факту 2022 года суммарный объем инфраструктурных платежей снизился на 15,5% по отношению к факту 2021 года, что сопоставимо с общим снижением себестоимости, вызванным проведенными мерами по оптимизации расходов, а также снижением курсов основных валют расходов по сравнению с 2021 годом.
          .col 
            p.text.preservation-structure__text Иные существенные расходы с долей 10% в составе себестоимости — расходы на парк фитинговых ж/д платформ в управлении, в том числе расходы на их эксплуатацию и амортизацию актива право пользования (платформ в финансовом лизинге). Начиная с середины 2019 года компания увеличивала парк в управлении за счет арендованных и полученных в лизинг платформ. На конец 2022 года арендованный парк составлял 33%, а парк в лизинге — 31% рабочего парка компании.
            p.text.preservation-structure__text За счет увеличения доли парка, привлеченного на условиях финансовой и операционной аренды, а также начала применения ФСБУ 25/2018 «Бухгалтерский учет аренды» начиная с 01.01.2022 года Обществу удалось в 2022 году дополнительно оптимизировать расходы на привлечение парка фитинговых платформ в структуре себестоимости.
  section.preservation-profit 
    .container-content 
      .preservation-profit__inner 
        h3.preservation-profit__title Валовая прибыль
        .preservation-profit__row 
          .col 
            .item.preservation-profit__item
              .item__row 
                .item__col 
                  p.item__number 7 812
                .item__col 
                  p.item__grey млн руб
              .item__row 
                p.item__subtext Показатель валовой прибыли ОТЛК ЕРА за 2022 год, что ниже уровня 2021 года на 2%
              .item__row 
                p.text.item__text Валовая прибыль по итогам 2022 года составила 7 812 млн руб, что на 149 млн руб или 2% ниже аналогичного периода прошлого года. При этом в 2022 году растет рентабельность по валовой прибыли за счет опережающего снижения себестоимости благодаря мерам по оптимизации себестоимости, снижению среднегодового курса доллара США и начала применения ФСБУ 25/2018. 
          .col 
            p.preservation-profit__description Валовая прибыль ОТЛК ЕРА за 2020–2022 годы, с указанием рентабельности, млн руб
            .preservation-profit__img
              +picture('preservation-profit.png')
  section.preservation-expenses 
    .container-content 
      .preservation-expenses__inner 
        h2.preservation-expenses__title Управленческие расходы
        p.preservation-expenses__description Управленческие расходы ОТЛК ЕРА за 2022 год составили 1 351 млн руб, что на 16% выше уровня 2021 года. 
  section.preservation-statistics 
    .container-content 
      .preservation-statistics__inner 
        .preservation-statistics__img
          +picture('preservation-statistics.png')

        