
mixin trends-preview
  section.preview.transit-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Тренды логистической <br/>отрасли: время <br/>альтернатив
          .row
            p.preview__name коробов <br/>Денис Сергеевич
            p.preview__job Начальник отдела клиентского сервиса департамента <br/> по работе с клиентами коммерческой дирекции
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img.transit-preview__img
            +picture('preview-2.png')
mixin transit-preview
  section.preview.transit-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title Рынок ж/д транзита   <br/>Китай — Европа — Китай
            p.preview__description По итогам 2022 года общий объем железнодорожных транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по основным маршрутам МТК «Восток-Запад» сократился, а позиция ОТЛК ЕРА на рынке значительно упрочилась.
          .row
            p.preview__name кадыров <br/>Айдар Ерболатович
            p.preview__job Ведущий менеджер департамента логистики коммерческой дирекции
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img
            +picture('preview-3.png')

mixin landscape-preview
  section.preview.landscape-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Контекст бизнеса:  <br/>санкционный ландшафт
          .row
            p.preview__name селезнев <br/>Андрей Сергеевич
            p.preview__job Сотрудник диспетчерского центра дирекции по перевозкам
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img.landscape-preview__img
            +picture('preview-4.png')

mixin strategy-preview
  section.preview.strategy-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Стратегия <br/>технологического лидера
          .row
            p.preview__name Ковалева <br/>Дарья Александровна
            p.preview__job Системный аналитик отдела сопровождения информационных систем
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img 
            +picture('preview-5.png')


////Page-3

mixin direction-preview
  section.preview.direction-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Главные направления <br/>цифрового развития
          .row
            p.preview__name Анпилов <br/>Кирилл Андреевич
            p.preview__job Начальник отдела сопровождения информационных систем
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img 
            +picture('direction-preview.png')

mixin preservation-preview
  section.preview.preservation-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Сохранить достигнутое
          .row
            p.preview__name Лазутова <br/>Елена Михайловна
            p.preview__job Директор финансово-экономического департамента
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img 
            +picture('preservation-preview.png')

mixin profit-preview
  section.preview.profit-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          h2.preview__title Прибыль от продаж 
          .row
            p.preview__name Соловьева <br/>Екатерина Михайловна
            p.preview__job Заместитель главного бухгалтера —директора департамента
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img 
            +picture('profit-preview.png')

mixin case-preview
  section.preview.case-preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left
          .row
            h2.preview__title С заботой о деловом <br/> климате
            p.preview__description Мы работаем над формированием благоприятных правовых <br/>  условий, которые способствуют предоставлению высокого уровня <br/>  сервиса.
          .row
            p.preview__name Липатова <br/>Марина Александровна
            p.preview__job Заместитель начальника управления делами
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img 
            +picture('case-preview.png')
mixin econimics-preview
  section.preview.transit-preview.preview-margin
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.left.alt
          h2.preview__title Глобальная экономика<br/> и логистический рынок <br/>в 2022 году
          .row
            p.preview__name Иванов <br/>Артемий Павлович
            p.preview__job Начальник отдела маркетинговых исследований
        .preview__col-right.right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3
          .preview__img.transit-preview__img
            +picture('ivanov-prev.png')

mixin share-provinces-preview
  section.preview.alt-margin
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            .preview__title.small-title Доля провинций в 2022 году
            .preview__vector 
              +picture('share-provinces-page3.png')
          .row
            p.preview__name Пахомов <br/>Евгений Владимирович 
            p.preview__job.alt Заместитель директора департамента по контролю расчетов <br>и производственного анализа коммерческой дирекции
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3.alt
          .preview__img 
            +picture('pahomov.png')

mixin formation-park-preview
  section.preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            h2.preview__title Формирование парка: <br>оптимизация
            .preview__text Ключевой фактор роста перевозок — наличие у компании необходимого количества подвижного состава для крупнотоннажных контейнеров. В 2019–2022 годах на волне спроса мы серьезно увеличили парк. 
          .row
            p.preview__name Андросова <br/>Елена Владимировна 
            p.preview__job.alt Начальник отдела по организации расчетов коммерческой дирекции
        .preview__col-right
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3.alt
          .preview__img 
            +picture('androsova.png')

mixin client-portfolio-preview
  section.preview
    .container 
      .preview__inner
        .preview__line
        .preview__col-left.alt
          .preview-left__top 
            h2.preview__title Клиентский портфель
            .preview__text Ряд факторов обеспечил активный рост клиентского портфеля ОТЛК ЕРА в 2022 году.  Среди них – высокая степень надежности, уровень сервисного обслуживания и поддержки клиентов. 
            .preview__cards 
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 65
                  .ge-card__text компаний 
                .ge-card__bot
                  .ge-card__text-grey Привлекли к комплексному обслуживанию с начала года
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 23
                  .ge-card__text из них 
                .ge-card__bot
                  .ge-card__text-grey Новые клиенты по прямому договору
          .row
            p.preview__name Костикова <br/>Юлия Игоревна 
            p.preview__job.alt Заместитель начальника отдела клиентского сервиса коммерческой дирекции
        .preview__col-right.pt-14
          +column-svg.preview__elem_1
          +column-small-svg.preview__elem_2
          +double-column-svg.preview__elem_3.alt
          .preview__img 
            +picture('kosticova.png')