mixin profit-content 
  section(data-aos="fade-up").block-diagram.mt-section.profit
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
        .block-diagram__row 
          .block-diagram__col 
            .item.item_size-4
              .item__row 
                .item__col 
                  p.item__number(data-countup='6461')
                .item__col 
                  p.item__grey.number-animate-6461.number-animate млн руб
              .item__row 
                p.item__subtext Показатель прибыли от продаж ОТЛК ЕРА за 2022 год, что ниже уровня 2021 года на 5%
            p.block-diagram__text.text Снижение прибыли от продаж обусловлено снижением валовой прибыли и ростом управленческих расходов.
          .block-diagram__col 
            p.block-diagram__description Прибыль от продаж ОТЛК&nbsp;ЕРА за 2020–2022 годы с указанием рентабельности, млн руб
            .block-diagram__video
              +picture('video.png')

  section(data-aos="fade-up").block-diagram.ebitda(id="profit-ebitda")
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
          h2.block-diagram__title EBITDA
        .block-diagram__row 
          .block-diagram__col 
            .item.item_size-4
              .item__row 
                .item__col 
                  p.item__number(data-countup='6123') 
                .item__col 
                  p.item__grey.number-animate-6123.number-animate млн руб
              .item__row 
                p.item__subtext Показатель EBITDA ОТЛК ЕРА за 2022 год, что на 761 млн руб или 11% ниже уровня 2022 года
            p.block-diagram__text.text Показатель EBITDA рассчитывается на основании формы 2 финансовой отчетности по РСБУ как прибыль до вычета амортизации, процентов и курсовых разниц в составе прочих доходов и расходов. 
          .block-diagram__col 
            p.block-diagram__description EBITDA с указанием рентабельности, млн руб
            .block-diagram__video
              video( muted id='video-play' playsinline  data-svg='rev4' )
                source(src="./assets/videos/block-diagram.mp4" type="video/mp4")
                source(src="./assets/videos/block-diagram.webm" type="video/webm")
              .block-diagram__decor
              +ebitda.for-video.for-video_4.video-play-rev4
  section(data-aos="fade-up").block-diagram.profit-net(id="profit-clean")
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
          h2.block-diagram__title Чистая прибыль
        .block-diagram__row 
          .block-diagram__col 
            .item.item_size-4
              .item__row 
                .item__col 
                  p.item__number(data-countup='4815')
                .item__col 
                  p.item__grey.number-animate-4815.number-animate млн руб
              .item__row 
                p.item__subtext Чистая прибыль ОТЛК ЕРА за 2022 год, что на 160,6 млн. руб. или 3% выше уровня 2021 года
          .block-diagram__col 
            p.block-diagram__description Чистая прибыль с указанием рентабельности, млн руб
            .block-diagram__video
              +picture('video.png')
  section(data-aos="fade-up").profit-reporting(id="profit-reporting") 
    .container-content 
      .profit-reporting__inner 
        h2.profit-reporting__title Финансовая отчетность по МСФО
        .profit-reporting__row 
          .col 
            p.profit-reporting__description.description_big Финансовая отчетность ОТЛК&nbsp;ЕРА по МСФО включает результаты деятельности компании по состоянию на 31 декабря 2022 года*.
            p.profit-reporting__subtext * Относительно 2021 г.
          .profit-reporting__column   
            .row
              .item.item_size-5 
                .item__row 
                  h6.item__title Доходы
                .item__row 
                  .item__col 
                    p.item__number(data-countup='55375') 
                  .item__col.number-animate-55375.number-animate
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -15%
                .item__row 
                  p.item__subtext Доходы ОТЛК&nbsp;ЕРА по  итогам 2022 года уменьшились на  15% к  уровню 2021 года до  55  375 млн руб, или на  9  470 млн руб
              .item.item_size-4 
                .item__row 
                  h6.item__title Валовая прибыль
                .item__row 
                  .item__col 
                    p.item__number(data-countup='7682')
                  .item__col.number-animate-7682.number-animate 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -11%
                .item__row 
                  p.item__subtext Валовая прибыль компании составила 7 682 млн руб, что на 11%, или 970 млн руб, ниже показателя 2021 года
              .item.item_size-4 
                .item__row 
                  h6.item__title Операционная прибыль
                .item__row 
                  .item__col 
                    p.item__number(data-countup='6327')
                  .item__col.number-animate-6327.number-animate 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -6%
                .item__row 
                  p.item__subtext Операционная прибыль составила 6  327 млн руб, что на  6%, или 407 млн руб, ниже аналогичного показателя 2021 года
              .item.item_size-4 
                .item__row 
                  h6.item__title Чистая прибыль
                .item__row 
                  .item__col 
                    p.item__number(data-countup='4761')
                  .item__col.number-animate-4761.number-animate 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -4%
                .item__row 
                  p.item__subtext Чистая прибыль достигла 4  761 млн руб, что на  4%, или 208 млн руб, ниже аналогичного показателя прошлого года
            .profit-reporting__row_bottom 
              .item.item_size-4 
                .item__row 
                  h6.item__title Чистый долг
                .item__row 
                  .item__col 
                    p.item__number(data-countup='2742')
                  .item__col.number-animate-2742.number-animate
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -12%
              p.profit-reporting__text Чистый долг составил 2  742  млн. рублей, что ниже показателя 2021 года на  12%, или 390  млн. рублей. Уменьшение чистого долга обусловлено ростом денежных средств и  их  эквивалентов.

      