mixin profit-content 
  section.block-diagram.mt-section.profit
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
        .block-diagram__row 
          .block-diagram__col 
            .item
              .item__row 
                .item__col 
                  p.item__number 6 461
                .item__col 
                  p.item__grey млн руб
              .item__row 
                p.item__subtext Показатель прибыли от продаж ОТЛК ЕРА за 2022 год, что ниже уровня 2021 года на 5%
            p.block-diagram__text.text Снижение прибыли от продаж обусловлено снижением валовой прибыли и ростом управленческих расходов.
          .block-diagram__col 
            p.block-diagram__description Прибыль от продаж ОТЛК ЕРА за 2020–2022 годы с указанием рентабельности, млн руб
            .block-diagram__video
              +picture('video.png')

  //- section.percente 
  //-   .container-content 
  //-     .percente__inner 
  //-       h2.precente__title Проценты полученные/уплаченные
  //-       .percente__row
  //-         p.percente__text.text В  связи с  началом применения ФСБУ 25/2018  в отчете о  финансовых результатах<br/>отражены проценты по  лизингу в  сумме 256  млн руб
  //-       .percente__img
  //-         +picture('percente.png').percente-img
  //- section.profit-statistics 
  //-   .container-content 
  //-     .profit-statistics__inner 
  //-       h2.profit-statistics__title Прочие доходы и расходы
  //-       p.profit-statistics__description Состав прочих доходов и расходов, млн руб
  //-       .profit-statistics__img 
  //-         +picture('profit-statistics.png')
  //-       p.profit-statistics__text.text По  итогам 2022 года сложилось отрицательное сальдо прочих доходов и  расходов в  размере 408 млн руб. Существенное снижение отрицательного сальдо вызвано положительным результатом от  курсовых разниц и  операций с  валютой в  2022  году, тогда как по  итогам 2021 года результат от  курсовых разниц и  операций с  валютой был отрицательным. 

  section.block-diagram.ebitda
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
          h2.block-diagram__title EBITDA
        .block-diagram__row 
          .block-diagram__col 
            .item
              .item__row 
                .item__col 
                  p.item__number 6 123
                .item__col 
                  p.item__grey млн руб
              .item__row 
                p.item__subtext Показатель EBITDA ОТЛК ЕРА за 2022 год, что на 761 млн руб или 11% ниже уровня 2022 года
            p.block-diagram__text.text Показатель EBITDA рассчитывается на основании формы 2 финансовой отчетности по РСБУ как прибыль до вычета амортизации, процентов и курсовых разниц в составе прочих доходов и расходов. 
          .block-diagram__col 
            p.block-diagram__description EBITDA с указанием рентабельности, млн руб
            .block-diagram__video
              +picture('video.png')
  section.block-diagram.profit-net
    .container-content 
      .block-diagram__inner 
        .block-diagram__row 
          h2.block-diagram__title Чистая прибыль
        .block-diagram__row 
          .block-diagram__col 
            .item
              .item__row 
                .item__col 
                  p.item__number 4 815
                .item__col 
                  p.item__grey млн руб
              .item__row 
                p.item__subtext Чистая прибыль ОТЛК ЕРА за 2022 год, что на 160,6 млн. руб. или 3% выше уровня 2021 года
          .block-diagram__col 
            p.block-diagram__description Чистая прибыль с указанием рентабельности, млн руб
            .block-diagram__video
              +picture('video.png')
  section.profit-reporting 
    .container-content 
      .profit-reporting__inner 
        h2.profit-reporting__title Финансовая отчетность по МСФО
        .profit-reporting__row 
          .col 
            p.profit-reporting__description.description_big Финансовая отчетность ОТЛК ЕРА по МСФО включает результаты деятельности компании по состоянию на 31 декабря 2022 года*.
            p.profit-reporting__subtext * Относительно 2021 г.
          .profit-reporting__column   
            .row
              .item 
                .item__row 
                  h6.item__title Доходы
                .item__row 
                  .item__col 
                    p.item__number 55 375
                  .item__col 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -15%
                .item__row 
                  p.item__subtext_big Доходы ОТЛК ЕРА по  итогам 2022 года уменьшились на  15% к  уровню 2021 года до  55  375 млн руб, или на  9  470 млн руб
              .item 
                .item__row 
                  h6.item__title Валовая прибыль
                .item__row 
                  .item__col 
                    p.item__number 7 682
                  .item__col 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -11%
                .item__row 
                  p.item__subtext Валовая прибыль компании составила 7 682 млн руб, что на 11%, или 970 млн руб, ниже показателя 2021 года
              .item 
                .item__row 
                  h6.item__title Операционная прибыль
                .item__row 
                  .item__col 
                    p.item__number 6 327
                  .item__col 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -6%
                .item__row 
                  p.item__subtext Операционная прибыль составила 6  327 млн руб, что на  6%, или 407 млн руб, ниже аналогичного показателя 2021 года
              .item 
                .item__row 
                  h6.item__title Чистая прибыль
                .item__row 
                  .item__col 
                    p.item__number 4 761
                  .item__col 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -4%
                .item__row 
                  p.item__subtext Чистая прибыль достигла 4  761 млн руб, что на  4%, или 208 млн руб, ниже аналогичного показателя прошлого года
            .profit-reporting__row_bottom 
              .item 
                .item__row 
                  h6.item__title Чистый долг
                .item__row 
                  .item__col 
                    p.item__number 2 742
                  .item__col 
                    p.item__grey млн руб
                    .item__row_top 
                      +arrow-bottom-svg.item__arrow 
                      p.item__grey_bottom -12%
              p.profit-reporting__text Чистый долг составил 2  742  млн. рублей, что ниже показателя 2021 года на  12%, или 390  млн. рублей. Уменьшение чистого долга обусловлено ростом денежных средств и  их  эквивалентов.

      