mixin purchase-content
  section.purchase
    .container-content 
      .purachase__inner 
        h6.purchase__title Закупочная деятельность
        p.purchase__description.description ОТЛК ЕРА проводит активную закупочную деятельность, направленную на создание оптимальных условий для своевременного и полного удовлетворения потребностей в товарах, работах, услугах с необходимыми показателями качества, надежности и обоснованности цены.
  section.purchase-documents 
    .container-content
      .purchase-documents__inner 
        .col 
          h6.purchase-documents__subtitle При этом мы руководствуемся следующими документами и актами
          ul.list.purchase-documents__list
            each item in ['Положение о закупке товаров, работ, услуг, утвержденное решением совета директоров Общества от 27.01.2022 (протокол № 47)','Изменения, утвержденные решением совета директоров Общества от 05.08.2022 (протокол № 54)','Инструкция по взаимодействию структурных подразделений ОТЛК ЕРА при осуществлении закупок товаров, работ, услуг, утвержденная приказом генерального директора № 63 от 16.09.2022','Гражданский кодекс и иные нормативные правовые акты Российской Федерации',]
              li.purchase-documents__item 
                +mark-text-svg
                p.text.purchase-documents__text=item 
        .col 
          p.text.purchase-documents__text В целях оптимизации закупочных процессов в 2022 году компания разработала и утвердила новую редакцию Положения о закупке. Изменения учитывают внешнюю обстановку в мире, ведут к сокращению трудозатрат сотрудников, повышают оперативность взаимодействия с участниками закупочного процесса. При этом сохраняется фокус на соблюдение оптимальных условий для привлечения поставщиков (исполнителей, подрядчиков), не противоречащих основным принципам закупок.
          p.text.purchase-documents__text Процесс закупочной деятельности состоит из планирования, организации и проведения закупочных процедур. Структура компании предусматривает оптимальное взаимодействие с инициаторами закупок для объединения коммерческих и технических интересов Общества. Для оптимизации этих процессов разработана Инструкция по взаимодействию структурных подразделений ОТЛК ЕРА при осуществлении закупок товаров, работ, услуг.
  section.purchase-principles 
    .container-content 
      .purchase-principles__inner
        .row 
          h3.purchase-principles__title Главные принципы закупок
          .purchase-principles__box 
            .purchase-principles__item 
              p.purchase-principles__text.text Обеспечение гласности и прозрачности закупок, информационная открытость
              .purchase-principles__img 
                +picture(`achievement-number-1.png`)
            .purchase-principles__item 
              p.purchase-principles__text.text Равноправие, справедливость, отсутствие дискриминации и необоснованных ограничений конкуренции по отношению к участникам закупок
              .purchase-principles__img 
                +picture(`achievement-number-2.png`)
            .purchase-principles__item 
              p.purchase-principles__text.text Целевое и экономически эффективное расходование денежных средств на приобретение товаров, работ, услуг и реализацию мер по сокращению издержек заказчика
              .purchase-principles__img 
                +picture(`achievement-number-3.png`)
        .purchase-principles__bottom
          .col 
            p.purchase-principles__description.description Цель закупочных процедур – выбор поставщиков, исполнителей, подрядчиков, оказывающих услуги, на конкурентной основе.
          .col 
            p.purchase-principles__text Таким образом, обеспечиваются оптимальные экономические условия закупки: соответствие требованиям ОТЛК ЕРА, срокам, качеству и эффективному расходованию денежных средств.
            p.purchase-principles__text Для повышения конкуренции и обеспечения прозрачности закупок размещение конкурентных закупочных процедур в 2022 году осуществлялось на корпоративном сайте Общества (в разделе «Тендеры»), а также на электронных торговых площадках.
            p.purchase-principles__text В 2022 году ОТЛК ЕРА провела 216 закупок, из них 53 закупки — конкурентным способом на сумму 272 млн руб. (без НДС).
  section.purchase-value 
    .container-content 
      .purchase-value__inner 
        h6.purchase-value__title 
        .purchase-value__img 
          +picture('purchase-value.png')
        .purchase-value__row 
          +message-svg.purchase-value-svg
          p.purchase-value__description Экономия при проведении конкурентных процедур в 2022 году составила в денежном выражении 22,8 млн руб без НДС.
  section.purchase-saving 
    .container-content 
      .purchase-saving__inner 
        h6.purchase-saving__title Экономия по конкурентным закупкам, тыс руб
        .purchase-saving__img 
          +picture('purchase-value.png')
        .purchase-saving__row 
          +message-svg.purchase-saving-svg
          p.purchase-saving__description Таким образом, в 2022 году стоимостной объем закупок отчетного периода увеличился на 28% по отношению к 2021 году, что свидетельствует об осуществлении наиболее капиталоемких закупок и развитии в целом. При этом экономия также увеличилась на 44%.