mixin report-hero-3 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait 
          +picture('grom.png')
        .report-hero__name Гром <br> Алексей Николаевич 
        .report-hero__job-title Генеральный директор
      +double-column-svg.preview__elem_3.hero-elem
      .report-hero__col
        .report-hero__title Результаты <br>деятельности<br>в 2022 году
        .report-hero__list
          each item in ['Операционные результаты', 'Формирование парка: оптимизация', 'Клиентский портфель', 'Безбумажные перевозки: инновационное развитие', 'Главные направления цифрового развития', 'Сохранить достигнутое. Финансовый обзор', 'С заботой о деловом климате']
            a.report-hero__list-item(href="#")=item
        .report-hero__number 3