mixin report-hero 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait 
          +picture('hero-2-prev.png')
      +double-column-svg.preview__elem_3.hero-elem
      .report-hero__col