mixin report-hero 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        
        .report-hero__texts
          .report-hero__name Фрадкина <br> Екатерина Григорьевна
          .report-hero__job-title Директор по маркетингу
        .report-hero__portrait.page-2 
          +picture('hero-2-prev.png')
        .report-hero__portrait.mobile
          +picture('fradkina-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.page-2 Стратегический  отчет
        .report-hero__list
          each item in ['Глобальная экономика и логистический рынок в 2022 году', 'Тренды логистической отрасли: время альтернатив', 'Рынок ж/д транзита Китай — Европа — Китай', 'Стратегия технологического лидера']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 2


mixin report-hero-2-EN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        
        .report-hero__texts
          .report-hero__name Ekaterina  <br> Fradkina 
          .report-hero__job-title Marketing Director
        .report-hero__portrait.page-2 
          +picture('hero-2-prev.png')
        .report-hero__portrait.mobile
          +picture('fradkina-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.page-2 Strategic Report
        .report-hero__list
          each item in ['Глобальная экономика и логистический рынок в 2022 году', 'Тренды логистической отрасли: время альтернатив', 'Рынок ж/д транзита Китай — Европа — Китай', 'Стратегия технологического лидера']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 2