mixin report-hero-3 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait
          +picture('grom.png')
        .report-hero__name Гром <br> Алексей Николаевич 
        .report-hero__job-title Генеральный директор
        .report-hero__portrait.mobile
          +picture('grom-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.grom Результаты <br>деятельности<br>в 2022 году
        .report-hero__list
          each item in ['Операционные результаты', 'Формирование парка: оптимизация', 'Клиентский портфель', 'Безбумажные перевозки: инновационное развитие', 'Главные направления цифрового развития', 'Сохранить достигнутое. Финансовый обзор', 'С заботой о деловом климате']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number.grom 3

mixin report-hero-about 
  section.report-hero.report-hero_about
    .report-hero__background
      +picture('hero.png')
    .report-hero__row.about-row 
      .report-hero__col.about-left
        .report-hero__img-about 
          +picture('report-hero-about.png')
      .report-hero__col.about-right
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title о компании
        .report-hero__list
          each item in ['ОТЛК ЕРА. Кто мы?', 'Справка о Компании', 'Об Отчете','Обращение генерального директора', 'Календарь событий – 2022', 'Бизнес-модель', 'География деятельности', 'Противодействие коррупции']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 1

mixin report-hero-4 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col.custom-background
        .report-hero__portrait.hero-4 
          +picture('report-hero-4-final.png')
        .report-hero__name Коршунова <br> Лариса Павловна  
        .report-hero__job-title.alt-200 Директор по взаимодействию с органами государственной власти
        .report-hero__portrait.mobile
          +picture('report-hero-4-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Устойчивое развитие
        .report-hero__list
          each item in ['Человеческий капитал', 'Корпоративная социальная ответственность', 'Охрана труда и пожарная безопасность', 'Экологичность как конкурентное преимущество', 'Люди прежде всего: благотворительность',  'Объединение людей и стран', 'Закупочная деятельность', 'Использование энергетических ресурсов']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 4

mixin report-hero-5 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait.hero-5
          +picture('report-hero-5.png')
        .report-hero__name Сапронова <br> Елена Александровна 
        .report-hero__job-title.alt-200 Директор правового департамента
        .report-hero__portrait.mobile
          +picture('report-hero-5-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Корпоративное управление
        .report-hero__list
          each item in ['Структура корпоративного управления', 'Акционерный капитал', 'Дивидендная политика', 'Общее собрание акционеров', 'Совет директоров', 'Корпоративный секретарь и секретарь комитетов', 'Правление и генеральный директор', 'Система вознаграждения', 'Система контроля', 'Управление рисками', 'Итоги 2022 года']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 5

mixin report-hero-main 
  section.report-hero.custom-main
    .report-hero__row.main-page 
      .report-hero__col.main-left
        .report-hero__main-logo 
          +big-main-logo
        .report-hero__main-title Человек 
          <span> как главная ценность </span>
        .report-hero__main-bot 
          .report-hero__main-text Годовой отчет
          .report-hero__main-number 2022
        .main-contents__code.desktop
          +picture('main-code.png')
      .report-hero__col.main-right
        .report-hero__main-img 
          +picture('report-hero-main.png')