mixin report-hero-3 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name Гром <br> Алексей Николаевич 
          .report-hero__job-title Генеральный директор
        .report-hero__portrait
          +picture('grom.png')
        .report-hero__portrait.mobile
          +picture('grom-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.grom Результаты деятельности в&nbsp;2022 году
        .report-hero__list
          a.report-hero__list-item(href="#operation-results") Операционные результаты
          a.report-hero__list-item(href="#formation-park") Формирование парка: оптимизация
          a.report-hero__list-item(href="#client-portfolio") Клиентский портфель
          a.report-hero__list-item(href="#client-transportation") Развитие перевозок Китай-РФ
          a.report-hero__list-item(href="#client-development__paperless") Безбумажные перевозки: инновационное развитие
          a.report-hero__list-item(href="#preview-main-line") Главные направления цифрового развития
          a.report-hero__list-item(href="#preview-section-save") Сохранить достигнутое. Финансовый обзор
          a.report-hero__list-item(href="#preview-care") С заботой о деловом климате
        .report-hero__number.grom 3
mixin report-hero-3-EN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name Alexey <br> Grom 
          .report-hero__job-title General Director
        .report-hero__portrait
          +picture('grom.png')
        .report-hero__portrait.mobile
          +picture('grom-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.grom 2022 Performance
        .report-hero__list
          a.report-hero__list-item(href="#operation-results") Operating Performance
          a.report-hero__list-item(href="#formation-park") Fleet Formation: Optimization
          a.report-hero__list-item(href="#client-portfolio") Customer Portfolio
          a.report-hero__list-item(href="#client-transportation")  China–Russia Traffic Development
          a.report-hero__list-item(href="#client-development__paperless") Paperless Traffic: Innovative Development
          a.report-hero__list-item(href="#preview-main-line") Main Digital Development Areas
          a.report-hero__list-item(href="#preview-section-save") Maintaining Our Achievements
          a.report-hero__list-item(href="#preview-care") Caring for Business Climate
        .report-hero__number.grom 3
mixin report-hero-3-CN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name 格罗姆 <br> ·阿列克谢·尼古拉耶维奇 
          .report-hero__job-title 总经理
        .report-hero__portrait
          +picture('grom.png')
        .report-hero__portrait.mobile
          +picture('grom-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title.grom 2022年业绩
        .report-hero__list
          a.report-hero__list-item(href="#operation-results")  业务成果
          a.report-hero__list-item(href="#formation-park") 建立车场: 优化
          a.report-hero__list-item(href="#client-portfolio") 客户群
          a.report-hero__list-item(href="#client-transportation") 发展中-俄运输
          a.report-hero__list-item(href="#client-development__paperless") 无纸化运输：创新发展
          a.report-hero__list-item(href="#preview-section-save") 保持成绩
          a.report-hero__list-item(href="#preview-care") 关注商业环境  
        .report-hero__number.grom 3
mixin report-hero-about 
  section.report-hero.report-hero_about
    .report-hero__row.about-row 
      .report-hero__col.about-left
        .report-hero__img-about 
          +picture('report-hero-about.png')
      .report-hero__col.about-right
        .report-hero__col-background.about-desktop
          +picture('right-col-about.png')
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title о компании
        .report-hero__list
          a.report-hero__list-item(href="#section-who-we") ОТЛК&nbsp;ЕРА. Кто мы?
          a.report-hero__list-item(href="#section-who-we-reference" ) Справка о Компании
          a.report-hero__list-item(href="#section-who-we-report" ) Об Отчете
          a.report-hero__list-item(href="#section-who-we-appeal" ) Обращение генерального директора
          a.report-hero__list-item(href="#section-who-we-calendar" ) Календарь событий 2022
          a.report-hero__list-item(href="#section-indicators" ) Ключевые показатели 
          a.report-hero__list-item(href="#section-business" ) Бизнес-модель
          a.report-hero__list-item(href="#about-geography" ) География деятельности
          a.report-hero__list-item(href="#about-corruption" ) Противодействие коррупции
        .report-hero__number 1
mixin report-hero-about-CN 
  section.report-hero.report-hero_about
    .report-hero__row.about-row 
      .report-hero__col.about-left
        .report-hero__img-about 
          +picture('report-hero-about.png')
      .report-hero__col.about-right
        .report-hero__col-background.about-desktop
          +picture('right-col-about.png')
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title 关于公司
        .report-hero__list
          a.report-hero__list-item(href="#section-who-we") UTLC ERA我们是谁？
          a.report-hero__list-item(href="#section-who-we-appeal") 总经理致辞
          a.report-hero__list-item(href="#section-who-we-calendar")  2022年活动日历
          a.report-hero__list-item(href="#section-indicators")  主要指标 
          a.report-hero__list-item(href="#section-business")  商业模式
          a.report-hero__list-item(href="#about-geography")  活动地理分布
          a.report-hero__list-item(href="#about-corruption") 反腐败
        .report-hero__number 1
mixin report-hero-about-EN 
  section.report-hero.report-hero_about
    .report-hero__row.about-row 
      .report-hero__col.about-left
        .report-hero__img-about 
          +picture('report-hero-about.png')
      .report-hero__col.about-right
        .report-hero__col-background.about-desktop
          +picture('right-col-about.png')
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title About Us
        .report-hero__list
          a.report-hero__list-item(href="#section-who-we") UTLC ERA. Who are we?
          a.report-hero__list-item(href="#section-who-we-appeal" ) Message from the General Director
          a.report-hero__list-item(href="#section-who-we-calendar" ) Event Calendar for 2022
          a.report-hero__list-item(href="#section-indicators" ) Key Perfomance Indicators
          a.report-hero__list-item(href="#section-business" ) Business Model
          a.report-hero__list-item(href="#about-geography" ) Operating Geography 
          a.report-hero__list-item(href="#about-corruption" ) Anti-Corruption Activities
        .report-hero__number 1

mixin report-hero-4 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col.custom-background
        .report-hero__texts
          .report-hero__name Коршунова <br> Лариса Павловна  
          .report-hero__job-title.alt-200 Директор по взаимодействию с органами государственной власти
        .report-hero__portrait.hero-4 
          +picture('report-hero-4-final.png')
        .report-hero__portrait.mobile
          +picture('report-hero-4-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Устойчивое развитие
        .report-hero__list
          a.report-hero__list-item(href="#human-capital") Человеческий капитал
          a.report-hero__list-item(href="#corporate-culture") Корпоративная социальная ответственность
          a.report-hero__list-item(href="#material-help") Материальная и иная помощь
          a.report-hero__list-item(href="#preview-security-content") Охрана труда и пожарная безопасность
          a.report-hero__list-item(href="#preview-ecology-content") Экологичность как конкурентное преимущество
          a.report-hero__list-item(href="#ecology-mt") Воздействие на климат
          a.report-hero__list-item(href="#preview-charity-content") Люди прежде всего: благотворительность
          a.report-hero__list-item(href="#charity-utlc") Объединение людей и стран
          a.report-hero__list-item(href="#section-purchase") Закупочная деятельность
          a.report-hero__list-item(href="#preview-energetic-resourses") Использование энергетических ресурсов
        .report-hero__number 4

mixin report-hero-4-EN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col.custom-background
        .report-hero__texts
          .report-hero__name Larisa <br> Korshunova  
          .report-hero__job-title.alt-200 Governmental Relations Director
        .report-hero__portrait.hero-4 
          +picture('report-hero-4-final.png')
        .report-hero__portrait.mobile
          +picture('report-hero-4-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Sustainable Development
        .report-hero__list
          a.report-hero__list-item(href="#human-capital") Human capital
          a.report-hero__list-item(href="#corporate-culture") Corporate Social Responsibility
          a.report-hero__list-item(href="#nav-occupational") Occupational and Fire Safety
          a.report-hero__list-item(href="#nav-environmental") Environmental Performance as a Competitive Edge
          a.report-hero__list-item(href="#preview-charity-content") People Come First: Charity
          a.report-hero__list-item(href="#charity-utlc") Uniting People and Countries: UTLC CUP 2022
          a.report-hero__list-item(href="#section-purchase") Procurement
          a.report-hero__list-item(href="#preview-energetic-resourses") Use of Energy Resources
        .report-hero__number 4

mixin report-hero-4-CN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col.custom-background
        .report-hero__texts
          .report-hero__name 科尔舒诺娃 <br> ·拉莉莎·帕夫洛芙娜 
          .report-hero__job-title.alt-200 公共权力部门联络部经理
        .report-hero__portrait.hero-4 
          +picture('report-hero-4-final.png')
        .report-hero__portrait.mobile
          +picture('report-hero-4-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title 可持续发展
        .report-hero__list
          a.report-hero__list-item(href="#human-capital") 人力资源
          a.report-hero__list-item(href="#preview-corporate-responsibility") 企业和社会责任
          a.report-hero__list-item(href="#preview-security-content") 职业安全和消防安全
          a.report-hero__list-item(href="#preview-ecology-content") 环境可持续性是我们的竞争优势
          a.report-hero__list-item(href="#preview-charity-content") 以人为本：慈善事业
          a.report-hero__list-item(href="#charity-utlc") 团结人民和国家： UTLC CUP 2022
          a.report-hero__list-item(href="#section-purchase") 采购活动
          a.report-hero__list-item(href="#preview-energetic-resourses") 能源资源利用
        .report-hero__number 4

mixin report-hero-5 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name Сапронова <br> Елена Александровна 
          .report-hero__job-title.alt-200 Директор правового департамента
        .report-hero__portrait.hero-5
          +picture('report-hero-5.png')
        .report-hero__portrait.mobile
          +picture('report-hero-5-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Корпоративное управление
        .report-hero__list
          a.report-hero__list-item(href="#control-hero") Структура корпоративного управления
          a.report-hero__list-item(href="#share-capital") Акционерный капитал
          a.report-hero__list-item(href="#incorporated-dividends") Дивидендная политика
          a.report-hero__list-item(href="#incorporated-shareholders") Общее собрание акционеров
          a.report-hero__list-item(href="#incorporated-council") Совет директоров
          a.report-hero__list-item(href="#incorporated-corporative") Корпоративный секретарь и секретарь комитетов
          a.report-hero__list-item(href="#incorporated-governing") Правление и генеральный директор
          a.report-hero__list-item(href="#preview-reward-content") Система вознаграждения
          a.report-hero__list-item(href="#controls-content") Система контроля
          a.report-hero__list-item(href="#risk-content") Управление рисками
          a.report-hero__list-item(href="#risk-results") Итоги 2022 года
        .report-hero__number 5

mixin report-hero-5-EN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name Elena  <br> Sapronova 
          .report-hero__job-title.alt-200 Legal Department Director
        .report-hero__portrait.hero-5
          +picture('report-hero-5.png')
        .report-hero__portrait.mobile
          +picture('report-hero-5-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Corporate Governance
        .report-hero__list
          a.report-hero__list-item(href="#control-hero") Corporate Governance Structure 
          a.report-hero__list-item(href="#share-capital") Authorized Capital
          a.report-hero__list-item(href="#incorporated-dividends") Dividend Policy
          a.report-hero__list-item(href="#incorporated-shareholders") General Meeting of Shareholders
          a.report-hero__list-item(href="#incorporated-council") Board of Directors
          a.report-hero__list-item(href="#incorporated-corporative") Corporate Secretary and Committee Secretary
          a.report-hero__list-item(href="#incorporated-governing") Management Board and General Director
          a.report-hero__list-item(href="#preview-reward-content") Remuneration System
          a.report-hero__list-item(href="#controls-content") Control System
          a.report-hero__list-item(href="#risk-content") Risk Management
          a.report-hero__list-item(href="#risk-results") Results for 2022 
        .report-hero__number 5

mixin report-hero-5-CN 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__texts
          .report-hero__name 萨普罗诺娃 <br> ·叶列娜·亚历山德罗夫娜
          .report-hero__job-title.alt-200 法律部主任
        .report-hero__portrait.hero-5
          +picture('report-hero-5.png')
        .report-hero__portrait.mobile
          +picture('report-hero-5-mobile.png')
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title 公司治理
        .report-hero__list
          a.report-hero__list-item(href="#control-hero") 公司治理结构
          a.report-hero__list-item(href="#share-capital") 股本
          a.report-hero__list-item(href="#incorporated-dividends") 股利政策
          a.report-hero__list-item(href="#incorporated-shareholders") 股东大会
          a.report-hero__list-item(href="#incorporated-council") 董事会
          a.report-hero__list-item(href="#incorporated-corporative") 公司秘书 委员会秘书
          a.report-hero__list-item(href="#incorporated-governing") 董事会和总经理
          a.report-hero__list-item(href="#preview-reward-content") 薪酬制度
          a.report-hero__list-item(href="#controls-content") 监管系统
          a.report-hero__list-item(href="#risk-content") 风险管理
          a.report-hero__list-item(href="#risk-results") 2022年度成果
        .report-hero__number 5

mixin report-hero-main 
  section.report-hero.custom-main
    .report-hero__row.main-page 
      .report-hero__col.main-left
        .report-hero__main-bg
          +picture('left-col-main.png')
        .report-hero__main-title(data-main-title) Человек 
          <span> как главная ценность </span>
        .report-hero__main-bot 
          .report-hero__main-text Годовой отчет
          .report-hero__main-number 2022
      .report-hero__col.main-right
        .report-hero__main-img 
          +picture('report-hero-main.png')

mixin report-hero-main-EN
  section.report-hero.custom-main
    .report-hero__row.main-page 
      .report-hero__col.main-left
        .report-hero__main-bg
          +picture('left-col-main.png')
        .report-hero__main-title(data-main-title) People  
          <span> as the Foundation </span>
        .report-hero__main-bot 
          .report-hero__main-text Annual Report
          .report-hero__main-number 2022
      .report-hero__col.main-right
        .report-hero__main-img 
          +picture('report-hero-main.png')

mixin report-hero-main-CN 
  section.report-hero.custom-main
    .report-hero__row.main-page 
      .report-hero__col.main-left
        .report-hero__main-bg
          +picture('left-col-main.png')
        .report-hero__main-title(data-main-title) 人类 
          <span> 作为主要价值</span>
        .report-hero__main-bot 
          .report-hero__main-text 年年度报告
          .report-hero__main-number 2022
      .report-hero__col.main-right
        .report-hero__main-img 
          +picture('report-hero-main.png')