mixin report-hero-3 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait.alt-margin 
          +picture('grom.png')
        .report-hero__portrait.mobile
          +picture('report-hero2-1-mobile.png')
        .report-hero__name Гром <br> Алексей Николаевич 
        .report-hero__job-title Генеральный директор
      +double-column-svg.preview__elem_3.hero-elem.alt-hero-elem
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Результаты <br>деятельности<br>в 2022 году
        .report-hero__list
          each item in ['Операционные результаты', 'Формирование парка: оптимизация', 'Клиентский портфель', 'Безбумажные перевозки: инновационное развитие', 'Главные направления цифрового развития', 'Сохранить достигнутое. Финансовый обзор', 'С заботой о деловом климате']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 3

mixin report-hero-about 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row.about-row 
      .report-hero__col.about-left
        .report-hero__img-about 
          +picture('report-hero-about.png')
      .report-hero__col.about-right
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title о компании
        .report-hero__list
          each item in ['ОТЛК ЕРА. Кто мы?', 'Справка о Компании', 'Об Отчете', 'Календарь событий – 2022', 'Бизнес-модель', 'География деятельности', 'Противодействие коррупции']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 1

mixin report-hero-4 
  section.report-hero
    .report-hero__background
      +picture('hero.png')
    .report-hero__row 
      .report-hero__col
        .report-hero__portrait.hero-4 
          +picture('report-hero-4.png')
        .report-hero__portrait.mobile
          +picture('report-hero2-1-mobile.png')
        .report-hero__name Коршунова <br> Лариса Павловна  
        .report-hero__job-title.alt-200 Директор по взаимодействию с органами государственной власти
      +double-column-svg.preview__elem_3.hero-elem.alt-hero-elem
      .report-hero__col
        .report-hero__col-background.mobile 
          +picture('report-hero2-mobile.png')
        .report-hero__title Устойчивое развитие
        .report-hero__list
          each item in ['Человеческий капитал. Управление персоналом', 'Охрана труда и пожарная безопасность', 'Воздействие на климат', 'Охрана окружающей среды', 'Люди прежде всего: благотворительность', 'Во благо общества. Социальные инициативы', 'Объединение людей и стран', 'Закупочная деятельность', 'Использование энергетических ресурсов']
            a.report-hero__list-item(href="#" target='blank')=item
        .report-hero__number 4