mixin search-blocks 
  .search-blocks
    .search-blocks__inner 
      .search-blocks__title Результаты поиска
      .search-blocks__subtitle По запросу «финансовая» найдено результатов: 8
      .search-blocks__search 
        form.search-blocks__form(action="")
          input.search-blocks__input(type="text")
          .search-blocks__buttons 
            .search-blocks__reset
              .search-blocks__reset-line 
              .search-blocks__reset-line 
            button.search-blocks__submit(type="submit")
              +search-normal-svg
      .search-blocks__results 
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет

mixin search-blocks-EN 
  .search-blocks
    .search-blocks__inner 
      .search-blocks__title searching results
      .search-blocks__subtitle 8 results found for "financial"
      .search-blocks__search 
        form.search-blocks__form(action="")
          input.search-blocks__input(type="text")
          .search-blocks__buttons 
            .search-blocks__reset
              .search-blocks__reset-line 
              .search-blocks__reset-line 
            button.search-blocks__submit(type="submit")
              +search-normal-svg
      .search-blocks__results 
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет

mixin search-blocks-CN
  .search-blocks
    .search-blocks__inner 
      .search-blocks__title 搜索结果
      .search-blocks__subtitle 找到“金融”的 8 个结果
      .search-blocks__search 
        form.search-blocks__form(action="")
          input.search-blocks__input(type="text")
          .search-blocks__buttons 
            .search-blocks__reset
              .search-blocks__reset-line 
              .search-blocks__reset-line 
            button.search-blocks__submit(type="submit")
              +search-normal-svg
      .search-blocks__results 
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
        p.search-blocks__results-item ...<span>финансовая</span> отчетность Группы подготовлена в соответствии с Международными стандартами финансовой отчетности (МСФО). Финансовые результаты по МСФО приведены в настоящем отчете в соответствие как с МСФО (IFRS) 16, так и финансовые результаты по МСФО приведены в настоящем отчет
