mixin strategy-content 
  section(data-aos="fade-up").strategy-cards 
    .container-content 
      .strategy-cards__inner 
        .strategy-ticket
          p.strategy-ticket__title Миссия ОТЛК&nbsp;ЕРА
          p.strategy-ticket__text Развитие транзитного потенциала ЕАЭС через внедрение высокотехнологичных логистических сервисов, требующих скоординированной политики железных дорог и регуляторов на пространстве колеи 1520 мм.
          +column-top-svg.strategy-ticket__svg
        .strategy-ticket
          p.strategy-ticket__title Стратегическая цель 2025
          p.strategy-ticket__text Обеспечить расширение грузовой базы и развитие рынка транзитных перевозок через коридоры ОТЛК&nbsp;ЕРА с учетом конъюнктурных и регуляторных рисков.
          +column-top-svg.strategy-ticket__svg
  section(data-aos="fade-up").strategy-stakeholder(id="strategy-stakeholder")  
    .container-content 
      .strategy-stakeholder__inner
        h3.strategy-stakeholder__title Основные стейкхолдеры
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text <span>  Акционеры, </span>   которые влияют на бизнес ОТЛК&nbsp;ЕРА через ключевые решения и формирование конкурентоспособности услуг через утверждение тарифной политики

            .strategy-card__number
              p 1
          .strategy-card 
            p.strategy-card__text <span> Ключевые клиенты,  </span> которые обеспечивают формирование выручки ОТЛК&nbsp;ЕРА и ее рост за счет привлечения новой грузовой базы, влияют на финансовый результат через объем закупок и уровень оборотного капитала

            .strategy-card__number
              p 2
          .strategy-card 
            p.strategy-card__text <span> Владельцы ключевых контейнерных терминалов на маршрутах ОТЛК&nbsp;ЕРА,</span>  которые обеспечивают технологическую цепочку по перегрузке контейнеров с колеи 1520 на колею 1435
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text <span> Администрация Китайских железных дорог и региональные логистические платформы,</span>  которые обеспечивают приемлемые тарифы на доставку контейнеров из центральной части Китая к границе с Казахстаном и предоставляют временные субсидии на железнодорожные контейнерные перевозки по территории Китая

            .strategy-card__number
              p 4 
          .strategy-card.strategy-card_small
            p.strategy-card__text <span> Грузоотправители, </span>  заинтересованные в сокращении сроков доставки товаров

            .strategy-card__number
              p 5
          .strategy-card.strategy-card_small
            p.strategy-card__text <span> Владельцы подвижного состава, </span>  обеспечивающие ОТЛК&nbsp;ЕРА фитинговыми платформами

            .strategy-card__number
              p 6 
          .strategy-card.strategy-card_small 
            p.strategy-card__text <span>Производители фитинговых платформ и лизинговые компании</span>

            .strategy-card__number
              p 7
          .strategy-card.strategy-card_small
            p.strategy-card__text <span> Финансовые организации</span>
            .strategy-card__number
              p 8
  section(data-aos="fade-up").strategy-principles(id="strategy-principles")  
    .container-content 
      .strategy-principles__inner
        h3.strategy-principles__title Базовые принципы стратегии
        .strategy-principles__box 
          .col 
            p.strategy-principles__subtitile  ОТЛК&nbsp;ЕРА — интегратор высокотехнологичных транзитных контейнерных сервисов в сообщении <span class='nbsp'>Азия–Европа–Азия.</span> Основная цель компании — увеличение грузовой базы транзитных перевозок.
          .col 
            p.strategy-principles__description Операционная модель направлена на повышение объемов транзитных перевозок на колее 1520, в том числе за счет:
            ul.strategy-principles__list 
              each item in['Минимизации издержек и формирования конкурентоспособного ценового предложения', 'Балансировки транзитных маршрутов', 'Повышения скорости доставки', 'Организации вывода на рынок новых логистических услуг', 'Адаптации транзитных сервисов для новых групп грузоотправителей',]
                li.strategy-principles__item 
                  +mark-text-svg.strategy-principles-svg
                  p.strategy-principles__text!=item
            .row
              p.strategy-principles__text ОТЛК&nbsp;ЕРА обеспечивает полную загрузку имеющихся пропускных мощностей &nbsp; <br class='br'> и оптимальные параметры перевозки за счет технологического и ценового преимущества. Мы предлагаем услуги на принципах открытой тарифной политики для всех клиентов, обеспечиваем недискриминационный доступ и прозрачный сервис.
              p.strategy-principles__text ОТЛК&nbsp;ЕРА предоставляет заинтересованным сторонам платформу для совместного развития технологий, прежде всего цифровых.
  setcion.strategy-mechanism
    .container-content 
      .strategy-mechanism__inner 
        h3.strategy-mechanism__title Ключевые механизмы реализации стратегии
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text <span> Формирование договорной базы </span> по обеспечению необходимого количества вагонов, терминалов и других компонентов транспортной услуги
            .strategy-card__number
              p 1

          .strategy-card 
            p.strategy-card__text Формирование на базе ОТЛК&nbsp;ЕРА <span> цифрового технологического полигона</span>
            .strategy-card__number
              p 2

          .strategy-card 
            p.strategy-card__text <span> Специальный регуляторный режим  </span>(тестирование регуляторных изменений до корректировки национальных законодательств стран-участниц Альянса), который позволяет расширить грузовую базу и снизить себестоимость перевозок
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text <span> Активное маркетинговое продвижение </span> на международном транспортно-логистическом рынке для повышения лояльности
            .strategy-card__number
              p 4 
  section(data-aos="fade-up").strategy-iter(id="strategy-iter")   
    .container-content 
      .strategy-iter__inner 
      h3.strategy-iter__title Формат «высокотехнологичный интегратор»
      .strategy-iter__box 
        .col 
          p.strategy-iter__text.text Минувший 2022 год потребовал новых решений, одним из которых стала цифровизация транзитных перевозок. Кооперационный ресурс ОТЛК&nbsp;ЕРА (ДЗО трех ж/д администраций) создал дополнительные возможности для сквозной цифровизации процессов на территории трех стран. Апробация их работы наделила проект ОТЛК&nbsp;ЕРА функцией «регуляторной песочницы».

        .col 
          p.strategy-iter__text.text Цифровые технологии стали важным конкурентным преимуществом логистических компаний. В рамках проекта Евразийской экономической комиссии по созданию информационно-коммуникационной «витрины» национальных сервисов экосистемы цифровых транспортных коридоров ЕАЭС. 17 ноября 2022 года между ОТЛК&nbsp;ЕРА и республиканским унитарным предприятием «Центр цифрового развития» (подведомственным предприятием по разработке и реализации информационных проектов Министерства связи и информатизации Республики Беларусь), было подписано соглашение о сотрудничестве. Оно предполагает совместную работу по многим направлениям: к примеру, информационный обмен в рамках экспериментов по передаче данных о транспортировке контейнеров и электронных товаросопроводительных документов (ТСД) на международных грузовых ж/д перевозках по маршрутам «Восток-Запад-Восток».
  section(data-aos="fade-up").strategy-partners(id="strategy-partners")  
    .container-content 
      .strategy-partners__inner 
      h3.strategy-partners__title Партнерские сети
      .strategy-partners__box
        .col 
          p.text.strategy-partners__text Перестройка логистических связей и возросший спрос на железнодорожные перевозки (включая контейнерные) в направлении КНР обострили вопрос соблюдения баланса интересов между грузовладельцами, владельцами инфраструктуры и операторами подвижного состава. В этой связи одним из наиболее важных аспектов развития ж/д перевозок стало обеспечение соответствующего уровня инфраструктуры.

        .col 
          p.text.strategy-partners__text В рамках договора о Евразийском экономическом союзе от 29 мая 2014&nbsp;г. Казахстан, Россия и Беларусь проводят скоординированную транспортную политику, одна из задач которой — это повышение эффективности транзитного потенциала государств-участников.
  section(data-aos="fade-up").strategy-cargo 
    .container-content 
      .strategy-cargo__inner 
        h6.strategy-cargo__title Именно поэтому организация опорной сети терминально-логистических центров для консолидации грузопотока через территории Беларуси, Казахстана и России - важная часть стратегии развития ОТЛК&nbsp;ЕРА.
        .strategy-cargo__box 
          .col 
            p.text.strategy-cargo__text Сегодня транспортные коридоры Центральной Азии демонстрируют динамику устойчивого роста объемов грузовых перевозок и взаимной торговли между нашими странами, а также с Китаем и странами Европы.

          .col 
            p.text.strategy-cargo__text В этом контексте особое значение приобретает создание опорной сети ТЛЦ. Так, в 2022 году наша компания стала участником рабочей группы между АО&nbsp;«НК&nbsp;«КТЖ» и ОАО «РЖД» по проекту ЖДПП Аягоз-Бахты.
  section(data-aos="fade-up" id='nav-outcome').strategy-cooperation 
    .container-content 
      .strategy-cooperation__inner 
        h3.strategy-cooperation__title Что было сделано в рамках сотрудничества в 2022 году
        .strategy-cooperation__box   
          ul.strategy-cooperation__list
            each item in ['Развитие проектов «Dostyk TransTerminal (Достык ТрансТерминал)» (ж/д станция Достык) и «Сухой порт Южноуральский» (ж/д станция Формачево) – совершенствование процедур пропуска, работы с объединенными поездами и работы через тыловые терминалы для увеличения пропускной способности основных пограничных переходов','Формирование монопоездов для уменьшения транзитного времени и ускорения пропуска поездов на стыках колеи 1520 мм и 1435 мм','Развитие новых маршрутов и проектов',]
              li.strategy-cooperation__item 
                +mark-text-svg.strategy-cooperation-svg 
                p!=item 
mixin strategy-content-CN
  section(data-aos="fade-up").strategy-cards 
    .container-content 
      .strategy-cards__inner 
        .strategy-ticket
          p.strategy-ticket__title UTLC&nbsp;ERA使命
          p.strategy-ticket__text 通过引入需要铁路和监管机构对1520毫米轨道空间协调政策的高科技物流服务，开发欧亚经济联盟的过境潜力。
          +column-top-svg.strategy-ticket__svg
        .strategy-ticket
          p.strategy-ticket__title 2025战略目标
          p.strategy-ticket__text 考虑到市场和监管风险，确保扩大货运基础，发展通过UTLC&nbsp;ERA走廊的过境运输市场。
          +column-top-svg.strategy-ticket__svg
  section(data-aos="fade-up").strategy-stakeholder(id="strategy-stakeholder")  
    .container-content 
      .strategy-stakeholder__inner
        h3.strategy-stakeholder__title 主要利益相关者
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text 通过关键决策影响UTLC&nbsp;ERA业务的股东，并通过关税政策的批准形成服务竞争力

            .strategy-card__number
              p 1
          .strategy-card 
            p.strategy-card__text 通过吸引新的货运基地来确保UTLC&nbsp;ERA收入的形成及其增长的主要客户通过采购量和营运资本水平影响财务结果

            .strategy-card__number
              p 2
          .strategy-card 
            p.strategy-card__text UTLC&nbsp;ERA在提供从1520轨道到1435轨道的集装箱转运技术链的航线上的关键集装箱码头的所有者
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text 中国铁路局和区域物流平台，为从中国中部到哈萨克斯坦边境的集装箱提供可接受的运价，并为通过中国领土的铁路集装箱运输提供临时补贴

            .strategy-card__number
              p 4 
          .strategy-card.strategy-card_small
            p.strategy-card__text 有意缩短交货时间的托运人

            .strategy-card__number
              p 5
          .strategy-card.strategy-card_small
            p.strategy-card__text 为UTLC&nbsp;ERA提供配件平台的机车车辆所有人

            .strategy-card__number
              p 6 
          .strategy-card.strategy-card_small 
            p.strategy-card__text 配件平台厂商和租赁公司

            .strategy-card__number
              p 7
          .strategy-card.strategy-card_small
            p.strategy-card__text 金融机构
            .strategy-card__number
              p 8
  section(data-aos="fade-up").strategy-principles(id="strategy-principles")  
    .container-content 
      .strategy-principles__inner
        h3.strategy-principles__title 战略的基本原则
        .strategy-principles__box 
          .col 
            p.strategy-principles__subtitile  UTLC&nbsp;ERA是亚欧亚运输中高科技过境集装箱服务的集成商。该公司的主要目标是增加过境运输的货物基础。
          .col 
            p.strategy-principles__description 运营模式旨在增加1520号轨道的过境运输量，包括：
            ul.strategy-principles__list 
              each item in['成本最小化，形成有竞争力的报价', '平衡过境路线', 'Б提高交货速度', '组织新物流服务的市场推广', '为新的托运人群体调整过境服务',]
                li.strategy-principles__item 
                  +mark-text-svg.strategy-principles-svg
                  p.strategy-principles__text!=item
            .row
              p.strategy-principles__text UTLC&nbsp;ERA利用现有通车能力全面装载，并通过技术和价格优势，提供最佳运输参数。我们为所有客户提供开放的资费政策，提供公平的访问和透明的服务。
              p.strategy-principles__text UTLC&nbsp;ERA为利益相关者提供了一个共同开发技术，主要是数字技术的平台。
  setcion.strategy-mechanism
    .container-content 
      .strategy-mechanism__inner 
        h3.strategy-mechanism__title 执行战略的主要机制
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text 形成合同基础，以确保必要数量的车辆、终点站和运输服务的其他组成部分
            .strategy-card__number
              p 1
          .strategy-card 
            p.strategy-card__text 在UTLC&nbsp;ERA的基础上形成数字技术试验场
            .strategy-card__number
              p 2
          .strategy-card 
            p.strategy-card__text 特殊监管制度（在联盟成员国国家立法调整之前测试监管变化），使得扩大货运基础和降低运输成
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text 在国际运输物流市场积极营销推广，提高忠诚度
            .strategy-card__number
              p 4 
  section(data-aos="fade-up").strategy-iter(id="strategy-iter")   
    .container-content 
      .strategy-iter__inner 
      h3.strategy-iter__title “高科技集成商”格式
      .strategy-iter__box 
        .col 
          p.strategy-iter__text.text 过去的2022年需要新的解决方案，其中之一是过境运输的数字化。UTLC&nbsp;ERA（三个铁路管理部门的与子公司和关联公司）的合作资源为三个国家领土上的端到端流程数字化创造了更多的机会。他们工作的认可赋予UTLC&nbsp;ERA项目“监管沙箱”的功能。

        .col 
          p.strategy-iter__text.text 数字技术已成为物流企业的重要竞争优势。在欧亚经济委员会项目的框架内，为欧亚经济联盟数字运输走廊生态系统的国家服务创建一个信息和通信“窗口”。2022年11月17日，UTLC&nbsp;ERA与共和国单一企业“数字发展中心”（白俄罗斯共和国通信和信息化部信息项目开发和实施的下属企业）签署了合作协议。它涉及在许多领域的联合工作：例如，在“东西东”路线上的国际货运铁路运输中传输集装箱运输数据和电子托运单证的实验框架内的信息交换。
  section(data-aos="fade-up").strategy-partners(id="strategy-partners")  
    .container-content 
      .strategy-partners__inner 
      h3.strategy-partners__title 伙伴关系网络
      .strategy-partners__box
        .col 
          p.text.strategy-partners__text 物流联系的重组和对中国方向铁路运输（包括集装箱运输）的需求增加，加剧了货主、基础设施所有者和机车车辆运营商之间的利益平衡问题。在这方面，提供适当水平的基础设施已成为铁路运输发展的最重要方面之一。

        .col 
          p.text.strategy-partners__text 在2014年5月29日《欧亚经济联盟条约》框架内,哈萨克斯坦、俄罗斯和白俄罗斯正在执行协调的运输政策,其目标之一是提高成员国过境潜力的效率。

  section(data-aos="fade-up").strategy-cargo 
    .container-content 
      .strategy-cargo__inner 
        h6.strategy-cargo__title 这就是为什么组织终端和物流中心支持网络，以整合通过白俄罗斯、哈萨克斯坦和俄罗斯领土的货物流动 - UTLC&nbsp;ERA发展战略的重要组成部分。
        .strategy-cargo__box 
          .col 
            p.text.strategy-cargo__text 今天，中亚的运输走廊显示出货运量和我们两国之间以及与中国和欧洲国家之间的相互贸易稳步增长的动态。

          .col 
            p.text.strategy-cargo__text 在这方面，建立运输物流中心支撑网络尤为重要。因此，在2022年，我们公司成为哈萨克斯坦铁路国有股份公司和俄罗斯铁路股份公司之间关于阿亚古兹-巴赫特铁路通行站项目的工作组的成员。
  section(data-aos="fade-up" id='nav-outcome').strategy-cooperation 
    .container-content 
      .strategy-cooperation__inner 
        h3.strategy-cooperation__title 2022年合作框架内完成的工作：
        .strategy-cooperation__box   
          ul.strategy-cooperation__list
            each item in ['开发Dostyk TransTerminal（多斯特克运输终端）（多斯特克铁路站）和“南乌拉科斯基陆港”项目- 完善通行流程，运营联合列车，通过后方终端提升主要边境通道的通行能力。','在1520mm和1435mm轨距对接处编组单列列车，以减少过境时间，加快列车通过速度。','开发新的路线和项目。',]
              li.strategy-cooperation__item 
                +mark-text-svg.strategy-cooperation-svg 
                p=item 
mixin strategy-content-EN
  section(data-aos="fade-up").strategy-cards 
    .container-content 
      .strategy-cards__inner 
        .strategy-ticket
          p.strategy-ticket__title UTLC&nbsp;ERA’s mission
          p.strategy-ticket__text is to develop the EAEU transit potential by implementing high-tech logistics services that require an aligned policy to be adopted by railways and regulatory authorities in the 1,520 mm track gauge regions.
          +column-top-svg.strategy-ticket__svg
        .strategy-ticket
          p.strategy-ticket__title The strategic goal for 2025
          p.strategy-ticket__text is to expand the cargo base and to develop the market of transit traffic via UTLC&nbsp;ERA’s corridors in view of market and regulatory risks.
          +column-top-svg.strategy-ticket__svg
  section(data-aos="fade-up").strategy-stakeholder(id="strategy-stakeholder")  
    .container-content 
      .strategy-stakeholder__inner
        h3.strategy-stakeholder__title Principal Stakeholders
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text <span>  Shareholders, </span>  who affect UTLC&nbsp;ERA’s business by making key decisions and shaping the competitive service by means of tariff policy approval

            .strategy-card__number
              p 1
          .strategy-card 
            p.strategy-card__text <span> Key customers, </span> who generate UTLC&nbsp;ERA’s revenue and ensure its growth by introducing the new cargo base, as well as affect the financial performance by leveraging the procurement volume and working capital level

            .strategy-card__number
              p 2
          .strategy-card 
            p.strategy-card__text <span> Owners of key container terminals on UTLC&nbsp;ERA’s routes,</span> who maintain the process chain to transfer containers from the 1,520 to 1,435 track gauge system
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text <span> Chinese railway administration and regional logistics platforms,</span> who ensure acceptable tariffs for container delivery from Central China to the Kazakhstan border and allocate temporary subsidies for rail container traffic within China

            .strategy-card__number
              p 4 
          .strategy-card.strategy-card_small
            p.strategy-card__text <span> Consignors, </span> who are interested in shorter cargo delivery times

            .strategy-card__number
              p 5
          .strategy-card.strategy-card_small
            p.strategy-card__text <span> Rolling stock owners, </span> who allocate fitting platforms to UTLC&nbsp;ERA

            .strategy-card__number
              p 6 
          .strategy-card.strategy-card_small 
            p.strategy-card__text <span>Fitting platform manufacturers and leasing companies</span>

            .strategy-card__number
              p 7
          .strategy-card.strategy-card_small
            p.strategy-card__text <span>Financial institutions</span>
            .strategy-card__number
              p 8
  section(data-aos="fade-up").strategy-principles(id="strategy-principles")  
    .container-content 
      .strategy-principles__inner
        h3.strategy-principles__title Basic Strategic Principles
        .strategy-principles__box 
          .col 
            p.strategy-principles__subtitile  UTLC&nbsp;ERA is an integrator of high-tech transit container traffic on the Asia–Europe–Asia route. The company’s main goal is to expand the cargo base for transit traffic.
          .col 
            p.strategy-principles__description The operating model is aimed at increasing the transit traffic volumes in the 1,520 track gauge regions, including the following actions:
            ul.strategy-principles__list 
              li.strategy-principles__item 
                +mark-text-svg.strategy-principles-svg
                p.strategy-principles__text Minimizing the costs and creating a competitive quotation
              li.strategy-principles__item 
                +mark-text-svg.strategy-principles-svg
                p.strategy-principles__text Balancing the transit routes
              li.strategy-principles__item 
                +mark-text-svg.strategy-principles-svg
                p.strategy-principles__text Increasing the delivery speed
              li.strategy-principles__item 
                +mark-text-svg.strategy-principles-svg
                p.strategy-principles__text Launching new logistics services
              li.strategy-principles__item 
                +mark-text-svg.strategy-principles-svg
                p.strategy-principles__text Customizing transit services for new consignor groups
            .row
              p.strategy-principles__text UTLC&nbsp;ERA provides for full utilization of the available throughput capacities and the best traffic parameters due to its technological and price advantage. We offer services based on an open tariff policy for all customers, ensure a non-discriminatory approach and transparent service.
              p.strategy-principles__text UTLC&nbsp;ERA provides a platform for stakeholders to jointly develop technologies, primarily the digital ones.
  setcion.strategy-mechanism
    .container-content 
      .strategy-mechanism__inner 
        h3.strategy-mechanism__title Key Strategy Implementation Mechanisms 
        .strategy-stakeholder__box 
          .strategy-card 
            p.strategy-card__text <span>Creating a contract base</span> to secure the necessary quantity of rail cars, terminals and other transport service components
            .strategy-card__number
              p 1
          .strategy-card 
            p.strategy-card__text Establishing a <span>digital technology testing ground</span> based on UTLC&nbsp;ERA’s facilities
            .strategy-card__number
              p 2
          .strategy-card 
            p.strategy-card__text <span>Introducing a special regulatory treatment</span> (by testing regulatory changes up to adjustment of the national laws in the Alliance member states) to enable the cargo base expansion and traffic net cost reduction
            .strategy-card__number
              p 3
          .strategy-card 
            p.strategy-card__text Ensuring <span>active promotion</span> in the global transportation and logistics market to improve loyalty
            .strategy-card__number
              p 4 
  section(data-aos="fade-up").strategy-iter(id="strategy-iter")   
    .container-content 
      .strategy-iter__inner 
      h3.strategy-iter__title “High-Tech Integrator” Format
      .strategy-iter__box 
        .col 
          p.strategy-iter__text.text The previous year of 2022 called for new solutions, including transit traffic digitalization. UTLC&nbsp;ERA’s cooperative resource (subsidiaries and affiliates of three railway administrations) has created the opportunities for end-to-end process digitalization in three countries. The testing of their operation has solidified UTLC&nbsp;ERA’s status as the “regulatory testing ground”.
        .col 
          p.strategy-iter__text.text The digital technologies have become a key competitive advantage for logistics companies. Under the project implemented by the Eurasian Economic Commission to create an information and communication “showcase” for the national services of the EAEU digital traffic corridor ecosystem. On November 17, 2022, UTLC&nbsp;ERA and Republican Unitary Enterprise “Digital Development Center” (a subordinate enterprise for information project development and implementation under the Ministry of Communications and Informatization of the Republic of Belarus) signed a cooperation agreement. It envisages cooperation in multiple areas: e. g. sharing information while testing the transfer of container traffic data and electronic shipping documents for international rail freight traffic on the East–West–East route.
  section(data-aos="fade-up").strategy-partners(id="strategy-partners")  
    .container-content 
      .strategy-partners__inner 
      h3.strategy-partners__title Partnership Networks
      .strategy-partners__box
        .col 
          p.text.strategy-partners__text The realignment of logistics links and the increasing demand for rail transportation (including container traffic) to China caused an urgent need to maintain the balance between the interests of cargo owners, infrastructure owners and rolling stock operators. In this regard, ensuring the appropriate infrastructure level has become a top priority for rail transportation development.
        .col 
          p.text.strategy-partners__text Under the Treaty on the Eurasian Economic Union dated May 29, 2014, Kazakhstan, Russia and Belarus pursue a coordinated transport policy, one of its tasks being to increase the transit potential efficiency of the member states.
  section(data-aos="fade-up").strategy-cargo 
    .container-content 
      .strategy-cargo__inner 
        h6.strategy-cargo__title This is why a crucial component of UTLC&nbsp;ERA’s development strategy is the establishment of a core terminal and logistics hub network to consolidate the cargo flow via Belarus, Kazakhstan and Russia. 
        .strategy-cargo__box 
          .col 
            p.text.strategy-cargo__text The transport corridors in Central Asia currently demonstrate a stable growth trend in terms of cargo traffic volumes and mutual trade between our countries as well as with China and European countries. 

          .col 
            p.text.strategy-cargo__text In this context, establishment of a core terminal and logistics hub network is an essential task. Specifically, in 2022 our company joined the task force established by JSC “NC “KTZ” and JSCo "RZD" under the Bakhty Railroad Crossing Project.
  section(data-aos="fade-up" id='nav-outcome').strategy-cooperation 
    .container-content 
      .strategy-cooperation__inner 
        h3.strategy-cooperation__title The outcome of the cooperation in 2022 is as follows:
        .strategy-cooperation__box   
          ul.strategy-cooperation__list
            li.strategy-cooperation__item 
              +mark-text-svg.strategy-cooperation-svg 
              p Development of the Dostyk TransTerminal (Dostyk Railway Station) and Yuzhnouralsky Dry Dock (Formachyovo Railway Station) projects by improving the passing, pool train operation and off-site terminal operation procedures to increase the throughput capacity of main border crossings.
            li.strategy-cooperation__item 
              +mark-text-svg.strategy-cooperation-svg 
              p Forming mono-trains to reduce the time in transit and accelerate the train passing at the boundary of the 1,520 and 1,435 mm track gauge systems.
            li.strategy-cooperation__item 
              +mark-text-svg.strategy-cooperation-svg 
              p Development of new routes and projects.