mixin training
  section(data-aos="fade-up").training 
    .container-content 
      .training-inner 
        h2.training__title Тренинги и конференции
        .training__row 
          .col 
            p.training__description Процессы подбора, адаптации и развития персонала в компании регламентируют
            ul.training__list
              each item in ['Оффлайн-тренинг «В одной связке» – для повышения работоспособности работников, сплочения и улучшения коммуникаций внутри коллектива','Онлайн-игра «Активация» – для поднятия осознанности сотрудников и проработки проблем, связанных с онлайн коммуникацией','Бизнес-тренинг «Развитие коммуникаций и навыков взаимодействия в команде» – для выстраивания межличностных связей и более эффективного исполнения задач компании','Тренинг на тему «Управление рисками» – для внедрения системы управления рисками в операционную деятельность компании','Серия тренингов по управленческим компетенциям для начинающих и опытных руководителей',]
                li.training__item
                  +mark-text-svg.training-svg
                  p.text.training__text=item 
          .col 
            p.training__text В нашей компании есть традиция — каждый год награждать молодых специалистов «Билетом в будущее», который можно использовать для прохождения кросс-функциональных стажировок в компаниях-партнерах или участия в тематических конференциях. В рамках этой программы 3 молодых специалиста в 2022 году приняли участие в международном контейнерном форуме «ЕСЭ-2022: контейнерная логистика в новых реалиях» (г. Сочи).
            p.training__text Кроме того, 6 сотрудников приняли участие в 4-ой Конференции транспортно-логистического бизнес-блока холдинга ОАО «РЖД» (г. Нижний Новгород). В рамках одного из потоков — молодежного — эксперты и модераторы проводили оценку участников. По результатам был сформирован рейтинг ТОП-30 молодых и перспективных специалистов, куда вошли 2 наших сотрудника. А в HR-потоке директор по организационному развитию компании представил доклад на тему «Система мотивации для блока продаж».
            p.training__text Директор по развитию бизнеса и анализу рисков компании принял участие в бизнес-симуляции транспортно-логистического бизнес-блока холдинга ОАО«РЖД» «Единство синергии и эффективности» и команда под его руководством одержала победу.  
  section(data-aos="fade-up").it 
    .container-content
      .it__inner 
        h2.it__title ИТ-ресурсы для сотрудников
        .it__row 
          .col 
            p.it__description Запущенный в 2020 году корпоративный портал сегодня пользуется популярностью среди коллег и служит эффективной площадкой для информирования персонала об изменениях в жизни компании. 
          .col 
            p.it__text Ресурс позволяет узнавать актуальные новости отрасли, делиться идеями, получать комментарии и поддержку коллег. Также на портале размещаются полезные статьи по бизнесу и саморазвитию.
            p.it__text В рамках создания прозрачной и понятной для сотрудников системы возможностей развития внутри компании, на базе корпоративного портала в 2021 году разработано ИТ-решение «Маркетплейс возможностей». В 2022 году были реализованы два обучающих блока — «Продажи» и «Перевозки», в которых ведущие специалисты и эксперты по направлениям деятельности проводят видеоуроки и рассказывают про работу своих подразделений, а также делятся экспертизой. Сотрудники проходят обучение, выполняют задания, отвечают на вопросы и в конце обучения готовят проект, при успешной защите которого попадают в кадровый резерв.