mixin transit-content 
  section.transit-dynamic 
    .container-content 
      .transit-dynamic__inner 
        h6.transit-dynamic__title 
        .transit-dynamic__img 
          +picture('transit-dynamic.png')
        .transit-dynamic__row 
          .transit-dynamic__item 
            p.transit-dynamic__number 89,3%
            p.transit-dynamic__sub Доля компании за 2022 году на конкурентных МТК «Восток-Запад» маршрутах 
          .col 
            p.trasit-dynamic__text В 2022 году в контейнерных сервисах ОТЛК ЕРА по транзитному маршруту через пограничные переходы Достык и Алтынколь было перевезено 410 638 ДФЭ (-34,6% в годовом исчислении). В свою очередь, в направлении Китай-Европа было перевезено 276 472 ДФЭ, а в направлении Европа-Китай — 134 166 ДФЭ (уменьшение объемов на 33,9% и 36% соответственно).
  section.transit-volume 
    .container