mixin transit-content 
  section.transit-dynamic 
    .container-content 
      .transit-dynamic__inner 
        h4.transit-dynamic__title Динамика перевозок с долями основных коридоров, 2022 г.
        .transit-dynamic__svg 
          +transit-content-svg 
        .links.transit-dynamic__links 
          p.links__text.transit-dynamic__links-text Источник:&nbsp;
          a.links__link.transit-dynamic__link(href="#") АО "ОТЛК ЕРА"
        .transit-dynamic__row 
          .transit-dynamic__item 
            p.transit-dynamic__number 89,3%
            p.transit-dynamic__sub Доля компании за 2022 году на конкурентных МТК «Восток-Запад» маршрутах 
          .col 
            p.text.transit-dynamic__text В 2022 году в контейнерных сервисах ОТЛК ЕРА по транзитному маршруту через пограничные переходы Достык и Алтынколь было перевезено 410 638 ДФЭ (-34,6% в годовом исчислении). В свою очередь, в направлении Китай-Европа было перевезено 276 472 ДФЭ, а в направлении Европа-Китай — 134 166 ДФЭ (уменьшение объемов на 33,9% и 36% соответственно).
  section.transit-volume 
    .container-content
      .transit-volume__inner 
        .row 
          h4.transit-volume__title Объем транзита Китай-Европа-Китай в сервисах ОТЛК ЕРА, 2021–2022 гг., ДФЭ
          a.transit-volume__link <span>Источник: </span>АО «ОТЛК ЕРА»
          .transit-volume__svg 
            +transit-volume-svg.transit-volume-svg
          h4.transit-volume__subtitle Объемы перевозок через основные конкурентные коридоры также показали снижение в годовом выражении:
          .transit-volume__row 
            .transit-volume__item 
              p.transit-volume__place Забайкальск
              p.transit-volume__number -61,5%
              p.transit-volume__sub до 17 706 ДФЭ
            .transit-volume__item 
              p.transit-volume__place Наушки
              p.transit-volume__number -64,4%
              p.transit-volume__sub до 25 354 ДФЭ
            .transit-volume__item 
              p.transit-volume__place Порты и станции Дальнего Востока
              p.transit-volume__number -70,2%
              p.transit-volume__sub до 6 235 ДФЭ
  section.transit-china 
    .container-content 
      .transit-china__inner 
        h4.transit-china__title Динамика долей погранпереходов в направлении Китай-Европа-Китай, 2022 г.
        .transit-china__svg 
          +transit-china-svg.transit-china-svg
        .transit-china__row 
          h4.transit-china__subtitle Нисходящая динамика объемов транзитных перевозок, в том числе для сервисов <br/> ОТЛК ЕРА, характеризуется различными внешними влияниями:
          .transit-china__box 
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Вспышки коронавирусной инфекции в Китае </span>  на протяжении всего года приводили к ограничению или закрытию производств и ключевых транспортных узлов страны. Влияние COVID также негативно сказалось на потреблении внутри страны, спросе на импорт. В 2022 году объем розничной торговли в Китае снизился на 0,2%.
           
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Высокие цены на энергоносители  </span>  и скачок инфляции в Европе привели к ослаблению объемов производства, потребления и экспорта в регионе. В 2022 году суммарный экспорт ЕС в Китай в натуральном выражении сократился на 25,6%. Экспорт по ключевым номенклатурам грузов железнодорожных перевозок (ТН ВЭД 85, 84, 87, 99, 39, 94, 73, 48, 40, 38) в натуральном выражении сократился на 21,8%.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Уровень запасов нераспроданной продукции в Европе </span>  достиг 91,2 млрд. евро по итогам третьего квартала 2022 года (средний уровень за последние 10 лет – порядка 23-25 млрд. евро). Как отмечалось ранее, вследствие этого у ритейлеров нет необходимости в быстром восполнении продукции, а значит, скорость перевозки не так важна. Это ведет к оттоку спроса из сервисов «быстрых» модальностей (авиа и ж/д.).
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Повышение привлекательности морского транспорта  </span>  в связи с нормализацией ставок на фрахт. По итогам четвертого квартала ставки на морской фрахт окончательно закрепились на уровне ниже железнодорожных. По итогам декабря 2022 года ставка WCI Шанхай-Роттердам снизилась на 88,5% относительно максимумов 2021 года и достигла 1 706 $/СФЭ. Для обратного направления, Роттердам-Шанхай, ставка скорректировалась на 54,8% до 789 $/СФЭ.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Нежелание европейских грузовладельцев </span>  совершать перевозки через территорию России, что связано с конфликтом в Украине. Начиная с марта 2022 года, грузопотоки начали переключаться в пользу конкурентных модальностей или маршрутов за пределами России. Например, в пользу Транскаспийского Международного Транспортного Маршрута (ТМТМ), по которому в 2022 году было перевезено 33 тыс. ДФЭ, что превышает прошлогодний показатель на 33% (8 тыс. ДФЭ).
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Снижение количества субсидий, </span>  выделяемых правительством КНР на поддержку железнодорожного импорта в Европу, вкупе с падением ставок морского фрахта, привело к дополнительному снижению рыночной привлекательности железнодорожных транзитных перевозок.
  section.transit-level 
    .container-content 
      .transit-level__inner 
        .col 
          p.transit-level__description Тем не менее, спрос на транзитные контейнерные перевозки, проходящие по территории России, оставался на высоком уровне.
        .col 
          p.text.teansit-level__text Так, в сервисах ОТЛК ЕРА были совершены транзитные перевозки по 28 новым маршрутам, 10 из которых относятся к направлению Европа — Китай, а 18 к направлению Китай — Европа. На карту новых локаций за 2022 год добавились 4 новые точки зарождения/поглащения грузов: Таулов (Дания), Котка (Финляндия), Шанграо и Дулаин (Китай).
          p.text.teansit-level__text Изменения во внешней среде заставили участников внешнеэкономической деятельности существенно пересмотреть собственные процессы в 2022 году. Как результат, произошли изменения в логистических цепочках, повлиявшие на перераспределение долей в общем объеме ОТЛК ЕРА.
          p.text.teansit-level__text Так, заметно приросли объемы в импортных сервисах, что позволило частично нивелировать сократившийся транзитный грузопоток. За 2022 год сервисами компании было перевезено 148 560 ДФЭ на направлении Китай-Россия. Таким образом, этот сегмент вырос на 771% относительно 2021 года. В апреле 2022 года наша компания приняла первый платеж в юанях в рамках одной из таких перевозок, по итогам года с клиентами заключено 12 договоров на оплату в юанях, и отправлен 31 поезд в рамках соглашений. 
          p.text.teansit-level__text Всего за период число компания обеспечила импортные перевозки по 194 новым маршрутам. Мы добавили 14 новых точек поглащения грузов на территории РФ: Силикатная, Кольцово, Анисовка, Костариха, Черняховск, Автово, Нижнекамск, Ростов-Товарный, Черниковка, Лужская, Тихоново, Иня-Восточная, Базаиха и Бронка, а также 12 новых точек зарождения импортных грузов: Хайфон (Вьетнам), Гаои, Шицзячжуан, Вэньдэн, Лучжоу, Линьи, Миньхан, Гуан-Юань, Нанша, Туаньцзецунь, Цзаоцзяопу, Шихэцзы (Китай). Объемы перевозок по еще одному импортному сегменту ОТЛК ЕРА, а именно перевозки Китай-РБ, достигли 14 098 ДФЭ в 2022 году (годовой рост 536%).
  section.transit-value 
    .container-content 
      .transit-value__inner 
        h4.transit-value__title Объем импортных контейнерных перевозок Китай-Россия в сервисах «АО ОТЛК ЕРА», <br/> ДФЭ и число импортных маршрутов, 2021–2022 гг.
        .links.transit-value__links 
          p.links__text.transit-value__links-text Источник:&nbsp;
          a.links__link.transit-value__link(href="#") АО "ОТЛК ЕРА"
        .transit-value__svg 
          +transit-value-svg.transit-value-svg
        .transit-value__row 
          .col 
            p.transit-value__description По видам перевозок за 2022 год также следует отметить увеличение экспортных объемов.
          .col 
            p.text.transit-value__text В частности, по запущенному в 2022 году проекту перевозок хлористого калия из Республики Беларусь в Китай объем перевозок составил 52 284 ДФЭ. Всего в рамках экспортных сервисов ОТЛК ЕРА было перевезено 107 901 ДФЭ, что на 137% выше показателя прошлого года.
  section.transit-export 
    .container-content 
      .transit-export__inner 
        h4.transit-export__title Объем экспортных контейнерных перевозок РФ, РБ-Китай в сервисах ОТЛК ЕРА, 2022 гг., ДФЭ
        .transit-export__svg 
          +transit-export-svg.transit-export-svg 
  section.transit-adaptation 
    .container-content 
      .transit-adaptation__inner 
        h3.transit-adaptation__title Адаптация как свидетельство гибкости
        .transit-adaptation__row 
          .col 
            p.transit-adaptation__description  В 2022 году произошли значительные изменения условий деятельности евразийских железнодорожных контейнерных перевозок.
          .col 
            p.text.transit-adaptation__text Ухудшение международно-политической обстановки, затронувшее страны-участницы перевозок, стало главной отправной точкой для большинства изменений в установившемся порядке торговых взаимоотношений. Однако адаптация рынка к текущей реальности очевидна, учитывая кратный рост объемов ОТЛК ЕРА во многих новых направлениях деятельности. Таким образом, подтвердилась гибкость, присущая железнодорожным контейнерным перевозкам. Учитывая временное снижение спроса с европейской стороны, введение новых маршрутов в импортных и экспортных направлениях, а также поддержание высокого качества сервиса основного транзитного маршрута дали положительные результаты в непростой год для евразийских железнодорожных контейнерных перевозок. Более того, удалось поддержать показатель объемов перевозок на уровне рекордного 2021 года.
            p.text.transit-adaptation__text В 2023 году обозначенные политические и конъюнктурные факторы продолжат оказывать влияние на индустрию, а главным барьером для успешной работы на направлении Китай-Европа-Китай продолжит быть сложная геополитическая обстановка. В свою очередь, появится ряд возможностей. К примеру, отмена политики «нулевой терпимости» к COVID в Китае способна активизировать производства и экспорт страны, а также привести к возрождению потребительского спроса, что простимулирует импорт. Стремление китайских производителей нарастить экспорт электрокаров в западном направлении также способно дать индустрии перевозок новые объемы, равно как и продолжающийся рост отправок грузов электронной коммерции. Соответственно, для дальнейшего успешного развития важно пользоваться появляющимися возможностями и продолжать работу над улучшением качества сервисов.
  section.transit-conclusion 
    .container-content 
      .transit-conclusion__inner 
        .col
          h3.transit-conclusion__title Вывод
          +column-top-svg.transit-conclusion-svg
        .col 
          p.transit-conclusion__description По итогам 2022 года можно говорить о замедлении темпов роста мировой экономики, однако ряд позитивных событий позволяет с большим оптимизмом смотреть в грядущий 2023 год с точки зрения развития глобальной экономики и международной торговли.
          p.text.transit-conclusion__text Между тем, морские перевозки вернули себе звание наиболее «экономичного» способа доставки. Стабилизация на рынке морских грузоперевозок определенно сказалась на бизнесе авиаперевозчиков, которые заявляют об активном оттоке грузов в пользу морских сервисов. Также, вероятно, сказалась она и на железнодорожных перевозках Китай-Европа-Китай, но здесь роль сыграли и другие факторы. Прежде всего, это ухудшение геополитической ситуации и общая слабость европейской и китайской экономик.
          p.text.transit-conclusion__text Тем не менее, евразийские железнодорожные сервисы продолжили совершенствоваться и адаптироваться к изменениям в мире. Новые клиенты присоединились к евразийским перевозкам, были достигнуты высокие показатели в рамках новых сегментов, что позволило поддержать объемы перевозок на уровне рекордного 2021 года. В 2023 году индустрии предстоит справляться с целым рядом вызовов, но на рынке также остается и множество возможностей. Соответственно, основным направлением, как и на протяжении всего 2022 года, остается развитие новых точек деятельности и диверсификация портфеля услуг, что позволит нивелировать сокращение в сегментах. Напоследок, не менее важным является дальнейшее качественное развитие индустрии. Повышение цифровизации процессов и прозрачности деятельности, как и лояльности всех стейкхолдеров к железнодорожным перевозкам могут стать важнейшими факторами роста в будущем.