mixin transit-content 
  section(data-aos="fade-up").transit-dynamic
    .container-content 
      .transit-dynamic__inner 
        h4.transit-dynamic__title Динамика перевозок с долями основных коридоров, 2022 г.
        .transit-dynamic__svg.mobile 
          .transit-dynamic__svg-top
            +picture('transit-dynamic-1-mobile.png')
          .transit-dynamic__svg-bottom
            +picture('transit-dynamic-2-mobile.png').transit-dynamic__svg-img
          .row 
        .transit-dynamic__svg.desktop
          +transit-content-svg 
        .links.transit-dynamic__links 
          p.links__text.transit-dynamic__links-text Источник:&nbsp;
          +activity-buttons('transit-dynamic-2-mobile.png')
          a.links__link.transit-dynamic__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-dynamic__row 
          .transit-dynamic__item 
            p.transit-dynamic__number.flex
              span.countup-element(data-countup='89')
              span ,
              span.countup-element(data-countup='3' data-countup-suffix='%')

            p.transit-dynamic__sub Доля компании за 2022 году на конкурентных МТК&nbsp;«Восток-Запад» маршрутах 
          .col 
            p.text.transit-dynamic__text В 2022 году в контейнерных сервисах ОТЛК&nbsp;ЕРА по транзитному маршруту через пограничные переходы Достык и Алтынколь было перевезено 410 638 ДФЭ (-34,6% в годовом исчислении). В свою очередь, в направлении Китай-Европа было перевезено 276 472 ДФЭ, а в направлении Европа-Китай — 134 166 ДФЭ (уменьшение объемов на 33,9% и 36% соответственно).
  section(data-aos="fade-up").transit-volume 
    .container-content
      .transit-volume__inner 
        .row 
          .transit-volume__row_top
            h4.transit-volume__title Объем транзита Китай-Европа-Китай в сервисах ОТЛК&nbsp;ЕРА, 2021–2022 гг., ДФЭ
            a.transit-volume__link.desktop-t <span>Источник: </span>АО «ОТЛК&nbsp;ЕРА»
          .transit-volume__svg 
            +transit-volume-svg.transit-volume-svg
          a.transit-volume__link.flex-t <span>Источник: </span>АО «ОТЛК&nbsp;ЕРА»
          h4.transit-volume__subtitle Объемы перевозок через основные конкурентные коридоры также показали снижение в годовом выражении:
          .transit-volume__row 
            .transit-volume__item 
              p.transit-volume__place Забайкальск
              p.transit-volume__number -61,5%
              p.transit-volume__sub до 17 706 ДФЭ
            .transit-volume__item 
              p.transit-volume__place Наушки
              p.transit-volume__number -64,4%
              p.transit-volume__sub до 25 354 ДФЭ
            .transit-volume__item 
              p.transit-volume__place Порты и станции Дальнего Востока
              p.transit-volume__number -70,2%
              p.transit-volume__sub до 6 235 ДФЭ
  section(data-aos="fade-up").transit-china 
    .container-content 
      .transit-china__inner
        .row
          h4.transit-china__title Динамика долей погранпереходов в направлении Китай-Европа-Китай, 2022 г.
          a.transit-china__link.desktop(href="#" target='blank') 
            <span>Источник: </span>АО «ОТЛК&nbsp;ЕРА»
        .row 
          .transit-china__items 
            .transit-china__item 
              span.transit-china__item_green-dark
              p ОТЛК&nbsp;ЕРА
            .transit-china__item 
              span.transit-china__item_green
              p Наушки
            .transit-china__item 
              span.transit-china__item_grey
              p Забайкальск
            .transit-china__item 
              span.transit-china__item_alt-grey
              p Порты и станции ДВ РФ
        .transit-china__img 
          +picture('transit-china.png').transit-china-img
        a.transit-china__link.mobile(href="#" target='blank') 
            <span>Источник: </span>АО «ОТЛК&nbsp;ЕРА»
        .transit-china__row 
          h4.transit-china__subtitle Нисходящая динамика объемов транзитных перевозок, в том числе для сервисов <br/> ОТЛК&nbsp;ЕРА, характеризуется различными внешними влияниями:
          .transit-china__box 
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Вспышки коронавирусной инфекции в Китае </span>  на протяжении всего года приводили к ограничению или закрытию производств и ключевых транспортных узлов страны. Влияние COVID также негативно сказалось на потреблении внутри страны, спросе на импорт. В 2022 году объем розничной торговли в Китае снизился на 0,2%.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Высокие цены на энергоносители  </span>  и скачок инфляции в Европе привели к ослаблению объемов производства, потребления и экспорта в регионе. В 2022 году суммарный экспорт ЕС в Китай в натуральном выражении сократился на 25,6%. Экспорт по ключевым номенклатурам грузов железнодорожных перевозок (ТН ВЭД 85, 84, 87, 99, 39, 94, 73, 48, 40, 38) в натуральном выражении сократился на 21,8%.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Уровень запасов нераспроданной продукции в Европе </span>  достиг 91,2 млрд. евро по итогам третьего квартала 2022 года (средний уровень за последние 10 лет – порядка 23-25 млрд. евро). Как отмечалось ранее, вследствие этого у ритейлеров нет необходимости в быстром восполнении продукции, а значит, скорость перевозки не так важна. Это ведет к оттоку спроса из сервисов «быстрых» модальностей (авиа и ж/д.).
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Повышение привлекательности морского транспорта  </span>  в связи с нормализацией ставок на фрахт. По итогам четвертого квартала ставки на морской фрахт окончательно закрепились на уровне ниже железнодорожных. По итогам декабря 2022 года ставка WCI Шанхай-Роттердам снизилась на 88,5% относительно максимумов 2021 года и достигла 1 706 $/СФЭ. Для обратного направления, Роттердам-Шанхай, ставка скорректировалась на 54,8% до 789 $/СФЭ.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Нежелание европейских грузовладельцев </span>  совершать перевозки через территорию России, что связано с конфликтом в Украине. Начиная с марта 2022 года, грузопотоки начали переключаться в пользу конкурентных модальностей или маршрутов за пределами России. Например, в пользу Транскаспийского Международного Транспортного Маршрута (ТМТМ), по которому в 2022 году было перевезено 33 тыс. ДФЭ, что превышает прошлогодний показатель на 33% (8 тыс. ДФЭ).
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Снижение количества субсидий, </span>  выделяемых правительством КНР на поддержку железнодорожного импорта в Европу, вкупе с падением ставок морского фрахта, привело к дополнительному снижению рыночной привлекательности железнодорожных транзитных перевозок.
  section(data-aos="fade-up").transit-level 
    .container-content 
      .transit-level__inner 
        .col 
          p.transit-level__description Тем не менее, спрос на транзитные контейнерные перевозки, проходящие по территории России, оставался на высоком уровне.
        .col 
          p.text.transit-level__text Так, в сервисах ОТЛК&nbsp;ЕРА были совершены транзитные перевозки по 28 новым маршрутам, 10 из которых относятся к направлению Европа — Китай, а 18 к направлению Китай — Европа. На карту новых локаций за 2022 год добавились 4 новые точки зарождения/поглощения грузов: Таулов (Дания), Котка (Финляндия), Шанграо и Дулаин (Китай).
          p.text.transit-level__text Изменения во внешней среде заставили участников внешнеэкономической деятельности существенно пересмотреть собственные процессы в 2022 году. Как результат, произошли изменения в логистических цепочках, повлиявшие на перераспределение долей в общем объеме ОТЛК&nbsp;ЕРА.
          p.text.transit-level__text Так, заметно приросли объемы в импортных сервисах, что позволило частично нивелировать сократившийся транзитный грузопоток. За 2022 год сервисами компании было перевезено 148 560 ДФЭ на направлении Китай-Россия. Таким образом, этот сегмент вырос на 771% относительно 2021 года. В апреле 2022 года наша компания приняла первый платеж в юанях в рамках одной из таких перевозок, по итогам года с клиентами заключено 12 договоров на оплату в юанях, и отправлен 31 поезд в рамках соглашений. 
          p.text.transit-level__text Всего за период  компания обеспечила импортные перевозки по 194 новым маршрутам. Мы добавили 14 новых точек поглощения грузов на территории РФ: Силикатная, Кольцово, Анисовка, Костариха, Черняховск, Автово, Нижнекамск, Ростов-Товарный, Черниковка, Лужская, Тихоново, Иня-Восточная, Базаиха и Бронка, а также 12 новых точек зарождения импортных грузов: Хайфон (Вьетнам), Гаои, Шицзячжуан, Вэньдэн, Лучжоу, Линьи, Миньхан, Гуан-Юань, Нанша, Туаньцзецунь, Цзаоцзяопу, Шихэцзы (Китай). Объемы перевозок по еще одному импортному сегменту ОТЛК&nbsp;ЕРА, а именно перевозки Китай-РБ, достигли 14 098 ДФЭ в 2022 году (годовой рост 536%).
  section(data-aos="fade-up").transit-value 
    .container-content 
      .transit-value__inner 
        h4.transit-value__title Объем импортных контейнерных перевозок Китай-Россия в сервисах «АО ОТЛК&nbsp;ЕРА», <br /> ДФЭ и число импортных маршрутов, <br class='br-xs'/>2021–2022&nbsp;гг.
        .links.transit-value__links.desktop
          p.links__text.transit-value__links-text Источник:&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-value__items 
          .transit-value__item 
            span.transit-value__span.green-light-bg 
            p 2021
          .transit-value__item 
            span.transit-value__span.green-bg
            p 2022
        .transit-value__img 
          +picture('transit-value.png').transit-value-img
        .links.transit-value__links.mobile
          p.links__text.transit-value__links-text Источник:&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-value__row 
          .col 
            p.transit-value__description По видам перевозок за 2022 год также следует отметить увеличение экспортных объемов.
          .col 
            p.text.transit-value__text В частности, по запущенному в 2022 году проекту перевозок хлористого калия из Республики Беларусь в Китай объем перевозок составил 52 284 ДФЭ. Всего в рамках экспортных сервисов ОТЛК&nbsp;ЕРА было перевезено 107 901 ДФЭ, что на 137% выше показателя прошлого года.
  section(data-aos="fade-up").transit-export 
    .container-content 
      .transit-export__inner 
        h4.transit-export__title Объем экспортных контейнерных перевозок РФ, РБ-Китай в сервисах ОТЛК&nbsp;ЕРА, 2022 гг., ДФЭ
        .transit-export__svg 
          +transit-export-svg.transit-export-svg 
  section(data-aos="fade-up").transit-adaptation(id="transit-adaptation")   
    .container-content 
      .transit-adaptation__inner 
        h3.transit-adaptation__title Адаптация как свидетельство гибкости
        .transit-adaptation__row 
          .col 
            p.transit-adaptation__description  В 2022 году произошли значительные изменения условий деятельности евразийских железнодорожных контейнерных перевозок.
          .col 
            p.text.transit-adaptation__text Ухудшение международно-политической обстановки, затронувшее страны-участницы перевозок, стало главной отправной точкой для большинства изменений в установившемся порядке торговых взаимоотношений. Однако адаптация рынка к текущей реальности очевидна, учитывая кратный рост объемов ОТЛК&nbsp;ЕРА во многих новых направлениях деятельности. Таким образом, подтвердилась гибкость, присущая железнодорожным контейнерным перевозкам. Учитывая временное снижение спроса с европейской стороны, введение новых маршрутов в импортных и экспортных направлениях, а также поддержание высокого качества сервиса основного транзитного маршрута дали положительные результаты в непростой год для евразийских железнодорожных контейнерных перевозок. Более того, удалось поддержать показатель объемов перевозок на уровне рекордного 2021 года.
            p.text.transit-adaptation__text В 2023 году обозначенные политические и конъюнктурные факторы продолжат оказывать влияние на индустрию, а главным барьером для успешной работы на направлении Китай-Европа-Китай продолжит быть сложная геополитическая обстановка. В свою очередь, появится ряд возможностей. К примеру, отмена политики «нулевой терпимости» к COVID в Китае способна активизировать производства и экспорт страны, а также привести к возрождению потребительского спроса, что простимулирует импорт. Стремление китайских производителей нарастить экспорт электрокаров в западном направлении также способно дать индустрии перевозок новые объемы, равно как и продолжающийся рост отправок грузов электронной коммерции. Соответственно, для дальнейшего успешного развития важно пользоваться появляющимися возможностями и продолжать работу над улучшением качества сервисов.
  section(data-aos="fade-up").transit-conclusion 
    .container-content 
      .transit-conclusion__inner 
        .col
          h3.transit-conclusion__title Вывод
          +column-top-svg.transit-conclusion-svg
        .col 
          p.transit-conclusion__description По итогам 2022 года можно говорить о замедлении темпов роста мировой экономики, однако ряд позитивных событий позволяет с большим оптимизмом смотреть в грядущий 2023 год с точки зрения развития глобальной экономики и международной торговли.
          p.text.transit-conclusion__text Между тем, морские перевозки вернули себе звание наиболее «экономичного» способа доставки. Стабилизация на рынке морских грузоперевозок определенно сказалась на бизнесе авиаперевозчиков, которые заявляют об активном оттоке грузов в пользу морских сервисов. Также, вероятно, сказалась она и на железнодорожных перевозках Китай-Европа-Китай, но здесь роль сыграли и другие факторы. Прежде всего, это ухудшение геополитической ситуации и общая слабость европейской и китайской экономик.
          p.text.transit-conclusion__text Тем не менее, евразийские железнодорожные сервисы продолжили совершенствоваться и адаптироваться к изменениям в мире. Новые клиенты присоединились к евразийским перевозкам, были достигнуты высокие показатели в рамках новых сегментов, что позволило поддержать объемы перевозок на уровне рекордного 2021 года. В 2023 году индустрии предстоит справляться с целым рядом вызовов, но на рынке также остается и множество возможностей. Соответственно, основным направлением, как и на протяжении всего 2022 года, остается развитие новых точек деятельности и диверсификация портфеля услуг, что позволит нивелировать сокращение в сегментах. Напоследок, не менее важным является дальнейшее качественное развитие индустрии. Повышение цифровизации процессов и прозрачности деятельности, как и лояльности всех стейкхолдеров к железнодорожным перевозкам могут стать важнейшими факторами роста в будущем.
mixin transit-content-CN 
  section(data-aos="fade-up").transit-dynamic
    .container-content 
      .transit-dynamic__inner 
        h4.transit-dynamic__title 2022年主要走廊份额的运输动态
        .transit-dynamic__svg.mobile 
          .transit-dynamic__svg-top
            +picture('transit-dynamic-1-mobile.png')
          .transit-dynamic__svg-bottom
            +picture('transit-dynamic-2-mobile.png').transit-dynamic__svg-img
          .row 
        .transit-dynamic__svg.desktop
          +transit-content-svg 
        .links.transit-dynamic__links 
          p.links__text.transit-dynamic__links-text 资料来源:&nbsp;
          a.links__link.transit-dynamic__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-dynamic__row 
          .transit-dynamic__item 
            p.transit-dynamic__number.flex
              span.countup-element(data-countup='89')
              span ,
              span.countup-element(data-countup='3' data-countup-suffix='%')

            p.transit-dynamic__sub 公司2022年在竞争性“东西”国际运输走廊航线上的份额 
          .col 
            p.text.transit-dynamic__text 2022年，UTLC ERA集装箱服务在通过多斯特克和阿腾科里边境口岸的过境路线上运输了410 638 TEU（同比-34.6%）。反之，中-欧方向运输276 472 TEU，欧-中方向运输134 166 TEU（分别下降33.9%和36%）。
  section(data-aos="fade-up").transit-volume 
    .container-content
      .transit-volume__inner 
        .row 
          .transit-volume__row_top
            h4.transit-volume__title 2021-2022年UTLC ERA服务中的中欧中转量，TEU
            a.transit-volume__link.desktop-t <span>资料来源: </span>UTLC ERA股份公司

          .transit-volume__svg 
            +transit-volume-svg.transit-volume-svg
          a.transit-volume__link.flex-t <span>资料来源: </span>UTLC ERA股份公司

          h4.transit-volume__subtitle 通过主要竞争走廊的运输量也呈逐年下降趋势：
          .transit-volume__row 
            .transit-volume__item 
              p.transit-volume__place 后贝加尔斯克
              p.transit-volume__number -61,5%
              p.transit-volume__sub до 17 706 ДФЭ
            .transit-volume__item 
              p.transit-volume__place 纳乌什基
              p.transit-volume__number -64,4%
              p.transit-volume__sub до 25 354 ДФЭ
            .transit-volume__item 
              p.transit-volume__place 远东港口和车站
              p.transit-volume__number -70,2%
              p.transit-volume__sub до 6 235 ДФЭ
  section(data-aos="fade-up").transit-china 
    .container-content 
      .transit-china__inner
        .row
          h4.transit-china__title 2022年中欧中欧方向过境点份额的动态
          a.transit-china__link.desktop(href="#" target='blank') 
            <span>资料来源: </span>UTLC ERA股份公司

        .row 
          .transit-china__items 
            .transit-china__item 
              span.transit-china__item_green-dark
              p UTLC ERA股份公司
            .transit-china__item 
              span.transit-china__item_green
              p 后贝加尔斯克
            .transit-china__item 
              span.transit-china__item_grey
              p 纳乌什基
            .transit-china__item 
              span.transit-china__item_alt-grey
              p 远东港口和车站
        .transit-china__img 
          +picture('transit-china.png').transit-china-img
        a.transit-china__link.mobile(href="#" target='blank') 
            <span>Источник: </span>UTLC ERA股份公司

        .transit-china__row 
          h4.transit-china__subtitle 过境运输量的下降趋势，包括UTLC ERA服务的下降趋势，具有各种外部影响的特点：
          .transit-china__box 
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 冠状病毒疫情在中国爆发 </span>  全年都导致该国的生产和关键交通枢纽受到限制或关闭。COVID的影响也对该国国内消费和进口需求产生了负面影响。2022年，中国零售规模下降0.2%。
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 能源价格高企</span>  欧洲通货膨胀的飙升削弱了该区域的生产、消费和出口。2022年，欧盟对华出口实物总额下降25.6%。铁路运输的主要货物类别（对外贸易商品目录 85、84、87、99、39、94、73、48、40、38）的出口实物价值下降了21.8%。
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 欧洲未售出产品储量截 </span>  止2022年第三季度达到912亿欧元（过去10年的平均水平-约230-250亿欧元）。如前所述，因此原由，零售商不需要快速补充产品，这意味着运输速度并不那么重要。这导致需求在“快速”模式（航空和铁路）服务中降低。

            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 提高海运吸引力</span>  因为运费率正常。第四季度末，海运运价终于稳定在低于铁路运价的水平。截至2022年12月末，上海-鹿特丹WCI费率较2021年高点下降88.5%，达到1 706美元/SFE。对于相反的方向，鹿特丹-上海，费率调整了54.8%，达789美元/SFE。

            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 中国政府拨款支持铁路进口到欧洲的补贴数量的减少</span>  加上海运运价下降，导致轨道交通运输的市场吸引力进一步下降。
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> 由于与乌克兰的冲突，欧洲货主的不情愿通过俄罗斯领土进行运输。 </span>  从2022年3月开始，货物流量开始转向俄罗斯以外的竞争性模式或路线。  例如，支持跨里海国际运输路线（Middle Corridor），该路线在2022年运输了3.3万TEU，比去年的数字（8000 TEU）高出33%。
  section(data-aos="fade-up").transit-level 
    .container-content 
      .transit-level__inner 
        .col 
          p.transit-level__description 与此同时，对通过俄罗斯的过境集装箱运输的需求仍然很高。
        .col 
          p.text.transit-level__text 因此，UTLC ERA服务在28条新航线上完成了过境运输，其中10条是欧洲-中国方向，18条是中国-欧洲方向。2022年新站点地图上，新增4个货物发源/注销点：陶洛夫（丹麦）、科特卡（芬兰）、上饶和Dulain（中国）。
          p.text.transit-level__text 外部环境的变化迫使外部经济活动的参与者在2022年大幅调整自己的流程。因此，物流链发生了变化，影响了UTLC ERA总量份额的重新分配。
          p.text.transit-level__text 因此，进口服务的数量显着增加，使得部分抵消减少的过境货物流量。2022年，公司服务在中俄方向运输了148,560辆TEU。因此，该细分市场较2021年增长了771%。2022年4月，我公司接受了其中一次运输的首笔人民币货款，年底与客户签订12份人民币货款合同，协议发车31列。  
          p.text.transit-level__text 在此期间，公司总共在194条新航线上提供了进口运输。我们在俄罗斯联邦境内增加了14个新的货物注销点：西里卡特娜娅、科利佐沃、阿尼索夫卡、科斯塔利哈、车尔尼亚霍夫斯克、阿夫托沃、下卡姆斯克、罗斯托夫 -- 货物、车尔尼科夫卡、鲁日斯卡娅、吉洪诺沃、伊尼亚－东、巴扎伊哈和布龙卡，以及12个新的进口货物发源地：海防（越南）、高邑、石家庄、文登、泸州、临沂、闵行、广元、南沙、团结村、枣家铺、石河子（中国）。2022年，UTLC ERAD 另一个进口细分，即中国-白俄罗斯的运输量达到14 098 TEU（年增长536%）。
  section(data-aos="fade-up").transit-value 
    .container-content 
      .transit-value__inner 
        h4.transit-value__title 2021-2022年UTLC ERA服务中的中俄进口集装箱运输量、TEU和进口航线数量
        .links.transit-value__links.desktop
          p.links__text.transit-value__links-text 资料来源&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') UTLC ERA股份公司


        .transit-value__items 
          .transit-value__item 
            span.transit-value__span.green-light-bg 
            p 2021
          .transit-value__item 
            span.transit-value__span.green-bg
            p 2022
        .transit-value__img 
          +picture('transit-value.png').transit-value-img
        .links.transit-value__links.mobile
          p.links__text.transit-value__links-text 资料来源&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-value__row 
          .col 
            p.transit-value__description 从运输方式来看，2022年出口量的增长也值得注意。
          .col 
            p.text.transit-value__text 特别是，根据2022年启动的白俄罗斯共和国至中国氯化钾运输项目，运输量达52 284 TEU。在UTLC ERA出口服务的框架内，总共运输了107 901个TEU，比去年增加了137%。
  section(data-aos="fade-up").transit-export 
    .container-content 
      .transit-export__inner 
        h4.transit-export__title 2022年，在UTLC ERA服务中D 俄罗斯联邦、白俄罗斯-中国出口集装箱运输量，TEU。
        .transit-export__svg 
          +transit-export-svg.transit-export-svg 
  section(data-aos="fade-up").transit-adaptation(id="transit-adaptation")   
    .container-content 
      .transit-adaptation__inner 
        h3.transit-adaptation__title 适应性是灵活性的证据
        .transit-adaptation__row 
          .col 
            p.transit-adaptation__description  2022年，欧亚铁路集装箱运输经营条件发生重大变化。影响运输参与国的国际政治环境的恶化是贸易关系既定秩序发生大多数变化的主要出发点。然而，鉴于许多新活动领域的UTLC ERA数量成倍增长，市场适应当前现实显而易见。因此，铁路集装箱运输固有的灵活性得到了证实。考虑到欧洲方面的需求暂时下降，进出口方向新航线的引入，以及主要过境航线服务质量的保持，在欧亚铁路集装箱运输的艰难一年，取得了积极成果。此外，有可能将运输量指标保持在创纪录的2021年水平。
          .col 
            p.text.transit-adaptation__text 2023年，某些政治和环境因素将继续影响行业，复杂的地缘政治环境将继续成为中欧班列成功工作的主要障碍。反之，将出现一系列机会。例如，中国取消对COVID的“零容忍”政策可以激活该国的生产和出口，并导致消费需求的复苏，从而刺激进口。中国制造商增加向西方方向出口电动汽车的愿望也可以为运输业带来新的货运量，以及电子商务货运的持续增长。因此，为了进一步成功发展，重要的是要利用新出现的机会并继续努力提高服务质量。
  section(data-aos="fade-up").transit-conclusion 
    .container-content 
      .transit-conclusion__inner 
        .col
          h3.transit-conclusion__title 结论
          +column-top-svg.transit-conclusion-svg
        .col 
          p.transit-conclusion__description 截止2022年底，我们可以说世界经济增速放缓，但从全球经济和国际贸易发展的角度来看，一系列积极的事态发展让我们对即将到来的2023年更加乐观。
          p.text.transit-conclusion__text 与此同时，海上运输重新获得了最“经济”运输方式的称号。海运市场的稳定无疑影响了航空承运人的业务，他们声称货物积极外流，转而支持海运服务。此外，它也可能影响了中欧中欧铁路运输，但其他因素也在这里发挥了作用。首先，是地缘政治局势的恶化以及欧洲和中国经济的普遍疲软。
          p.text.transit-conclusion__text 然而，欧亚铁路服务不断改进，适应世界的变化。新客户加入欧亚运输，在新细分市场内取得了强劲的业绩，使运输量保持在创纪录的2021年水平。2023年，行业面临诸多挑战，但市场也依然存在诸多机遇。因此，与2022年全年一样，主要方向仍然是开发新的业务点和多样化的服务组合，这将有助于抵消细分市场的收缩。最后，产业进一步高质量发展同样重要。流程数字化和活动透明度的提高，以及所有利益相关者对铁路运输的忠诚度，都可能成为未来最重要的增长因素。
mixin transit-content-EN 
  section(data-aos="fade-up").transit-dynamic
    .container-content 
      .transit-dynamic__inner 
        h4.transit-dynamic__title Traffic Profile Showing Major Corridor Shares, 2022

        .transit-dynamic__svg.mobile 
          .transit-dynamic__svg-top
            +picture('transit-dynamic-1-mobile.png')
          .transit-dynamic__svg-bottom
            +picture('transit-dynamic-2-mobile.png').transit-dynamic__svg-img
          .row 
        .transit-dynamic__svg.desktop
          +transit-content-svg 
        .links.transit-dynamic__links 
          p.links__text.transit-dynamic__links-text Source:&nbsp;
          a.links__link.transit-dynamic__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-dynamic__row 
          .transit-dynamic__item 
            p.transit-dynamic__number.flex
              span.countup-element(data-countup='89')
              span ,
              span.countup-element(data-countup='3' data-countup-suffix='%')

            p.transit-dynamic__sub company’s percentage in 2022 on competitive East–West International Transport Corridor routes 
          .col 
            p.text.transit-dynamic__text In 2022, 410,638 TEUs were transported in UTLC ERA’s container services on the transit route via Dostyk and Altynkol border crossings (-34.6% on a year-on-year basis). In turn, 276,472 TEUs were transported in the China – Europe direction and 134,166 TEUs were transported in the Europe – China direction (i.e. the volumes declined by 33.9% and 36%, respectively).
  section(data-aos="fade-up").transit-volume 
    .container-content
      .transit-volume__inner 
        .row 
          .transit-volume__row_top
            h4.transit-volume__title China–Europe–China Transit Volume in UTLC ERA Services, 2021 to 2022 (TEU)

            a.transit-volume__link.desktop-t <span>Source: </span>АО «ОТЛК&nbsp;ЕРА»
          .transit-volume__svg 
            +transit-volume-svg.transit-volume-svg
          a.transit-volume__link.flex-t <span>Source: </span>АО «ОТЛК&nbsp;ЕРА»
          h4.transit-volume__subtitle The transit via the major competitive corridors has also declined on a year-on-year basis:
          .transit-volume__row 
            .transit-volume__item 
              p.transit-volume__place Zabaikalsk
              p.transit-volume__number -61,5%
              p.transit-volume__sub  down to 17,706 TEUs
            .transit-volume__item 
              p.transit-volume__place Naushki
              p.transit-volume__number -64,4%
              p.transit-volume__sub down to 25,354 TEUs
            .transit-volume__item 
              p.transit-volume__place Far East ports and stations
              p.transit-volume__number -70,2%
              p.transit-volume__sub down to 6,235 TEUs. 
  section(data-aos="fade-up").transit-china 
    .container-content 
      .transit-china__inner
        .row
          h4.transit-china__title Border Crossing Share Profile in the China–Europe–China Direction, 2022 (%)
          a.transit-china__link.desktop(href="#" target='blank') 
            <span>Source: </span>АО «ОТЛК&nbsp;ЕРА»
        .row 
          .transit-china__items 
            .transit-china__item 
              span.transit-china__item_green-dark
              p ОТЛК&nbsp;ЕРА
            .transit-china__item 
              span.transit-china__item_green
              p Naushki
            .transit-china__item 
              span.transit-china__item_grey
              p Zabaikalsk
            .transit-china__item 
              span.transit-china__item_alt-grey
              p Far East ports and stations
        .transit-china__img 
          +picture('transit-china.png').transit-china-img
        a.transit-china__link.mobile(href="#" target='blank') 
            <span>Source: </span>АО «ОТЛК&nbsp;ЕРА»
        .transit-china__row 
          h4.transit-china__subtitle The downward trend in the transit traffic volumes, including UTLC ERA’s services, is affected by various external influences:
          .transit-china__box 
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> COVID outbursts</span> in China throughout the year caused limitations or shutdowns at national production facilities and key transportation hubs. COVID also adversely affected the internal consumption and import demand. In 2022, the retail trade volume in China reduced by 0.2%.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> High energy prices</span>  and a spike in inflation in Europe weakened the production, consumption and export volumes in the region. In 2022, EU’s total export to China in physical terms reduced by 25.6%. The export by key rail traffic cargo ranges (TN VED 85, 84, 87, 99, 39, 94, 73, 48, 40, 38) in physical terms has reduced by 21.8%.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> The unsold inventory levels in Europe</span>  have reached 91.2 billion euros as of the end of the third quarter of 2022 (the average level over the last 10 years was approximately 23 to 25 billion euros). As mentioned above, this eliminates the need for retailers to promptly replenish their stocks, thus the traffic speed is not critical. This causes the demand outflow from the “fast” modalities (air and rail transportation).
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Increased sea transport attractiveness</span>  due to freight rates returning to normal. As of the end of the fourth quarter, the sea freight rates finally settled at the level below railway rates. As of the end of December 2022, the Shanghai–Rotterdam WCI rate reduced by 88.5% as compared to the peak rates in 2021 and reached $1,706/FEU. The rate for the reversed Rotterdam–Shanghai route was adjusted by 54.8% down to $789/FEU.

            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Reduced number of subsidies</span>  allocated by the Chinese Government to support the rail import to Europe, along with the decreasing sea freight rates, has caused the rail container transit market to become even less attractive.
            .transit-china__item 
              .col 
                +mark-text-svg 
              .col 
                p.text.transit-china__text <span> Unwillingness of European cargo owners </span>   to transport their cargoes via Russia due to the conflict in Ukraine. Starting from March 2022, the cargo flows started to switch to the competitive modalities or routes outside of Russia. For instance, they switched to the Trans-Caspian International Transport Route (TITR), where 33,000 TEUs were transported in 2022, which is 33% more than in the previous year (8,000 TEUs).
  section(data-aos="fade-up").transit-level 
    .container-content 
      .transit-level__inner 
        .col 
          p.transit-level__description Nevertheless, the demand for transit container traffic via Russia remained high.
        .col 
          p.text.transit-level__text Specifically, UTLC ERA’s transit traffic services featured 28 new routes, out of which 10 are in the Europe – China direction and 18 are in the China – Europe direction. Four new cargo origination and absorption points were added to the map of new locations for 2022: Taulov (Denmark), Kotka (Finland), Shangrao and Dulaying (China).
          p.text.transit-level__text The changes in the external environment forced the participants in the foreign economic activities to significantly revise their processes in 2022. This caused changes in logistics chains, which affected re-allocation of shares in UTLC ERA’s total volume.
          p.text.transit-level__text Specifically, the import service volumes grew significantly, which helped partially level out the transit cargo flow reduction. The company’s services were used to transport 148,560 TEUs on the China–Russia route in 2022. Therefore, this segment grew by 771% as compared to 2021. In April 2022, our company accepted its first payment in yuans for one of such traffic operations. As of the end of the year, 12 contracts were concluded with customers that envisage payments in yuans, and 31 trains were dispatched under these contracts. 
          p.text.transit-level__text The company has arranged import traffic on the total of 194 new routes. We have added 14 new cargo absorption points in the Russian Federation: Silikatnaya, Koltsovo, Anisovka, Kostarikha, Chernyakhovsk, Avtovo, Nizhnekamsk, Rostov Tovarny, Chernikovka, Luzhskaya, Tikhonovo, Inya Vostochnaya, Bazayikha and Bronka, as well as 12 new origination points for import cargoes: Haiphong (Vietnam), Gaoyi, Shijiazhuang, Wendeng, Luzhou, Linyi, Minhang, Guangyuan, Nansha, Tuanjiecun, Zaojiaopu, Shihezi (China). The traffic volumes for another import segment for UTLC ERA, namely the China – Republic of Belarus traffic, reached 14,098 TEUs in 2022 (i.e. the annual growth of 536%).
  section(data-aos="fade-up").transit-value 
    .container-content 
      .transit-value__inner 
        h4.transit-value__title China–Russia Import Container Traffic Volume in UTLC ERA’s Services, TEUs and number of import routes, 2021 to 2022
        .links.transit-value__links.desktop
          p.links__text.transit-value__links-text Источник:&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-value__items 
          .transit-value__item 
            span.transit-value__span.green-light-bg 
            p 2021
          .transit-value__item 
            span.transit-value__span.green-bg
            p 2022
        .transit-value__img 
          +picture('transit-value.png').transit-value-img
        .links.transit-value__links.mobile
          p.links__text.transit-value__links-text Источник:&nbsp;
          a.links__link.transit-value__link(href="#" target='blank') ОТЛК&nbsp;ЕРА
        .transit-value__row 
          .col 
            p.transit-value__description The growth in export volumes by traffic types in 2022 is also notable.
          .col 
            p.text.transit-value__text In particular, the traffic volume under the project for potassium chloride transportation from the Republic of Belarus to China launched in 2022 was equal to 52,284 TEUs. The total traffic volume in UTLC ERA’s export services was 107,901 TEUs, which exceeds the last year’s volume by 137%.
  section(data-aos="fade-up").transit-export 
    .container-content 
      .transit-export__inner 
        h4.transit-export__title Export Container Traffic Volume on the Russian Federation, Republic of Belarus – China Route in UTLC ERA’s Services, 2022, TEUs
        .transit-export__svg 
          +transit-export-svg.transit-export-svg 
  section(data-aos="fade-up").transit-adaptation(id="transit-adaptation")   
    .container-content 
      .transit-adaptation__inner 
        h3.transit-adaptation__title Flexibility Evidenced by Adaptation
        .transit-adaptation__row 
          .col 
            p.transit-adaptation__description  In 2022, the conditions for Eurasian rail container traffic operations changed in a drastic manner. The deteriorating international political situation that affected the countries participating in the traffic operations was the main driver behind most changes in the established trade relations. However, the market adaptation to the current realities is obvious, taking into account the multi-fold growth in UTLC ERA’s volumes in many directions. This confirmed the inherent flexibility of rail container traffic. Taking into account the temporary decline in demand from the European side, introduction of new import and export routes and maintaining the high service quality on the main transit route have contributed to positive performance shown by the Eurasian rail container traffic during a challenging year. Moreover, we succeeded in maintaining the traffic volumes at the record high level achieved in 2021.
          .col 
            p.text.transit-adaptation__text In 2023, the specified political and market drivers will continue to affect the industry, and the challenging geopolitical situation will remain the main obstacle for successful operations on the China–Europe–China route. However, a number of opportunities will also arise. For instance, the cancellation of the “zero COVID tolerance” policy in China can revitalize the national production and export volumes, as well as the consumer demand, which will boost the import volumes. The intention of Chinese manufacturers to increase the electric car export volumes in the western direction, as well as the continuing growth in e-commerce cargo dispatch rates can also bring new volumes into the traffic industry. Accordingly, it is crucial to embrace the emerging opportunities and to further improve the service quality to ensure successful future development.
  section(data-aos="fade-up").transit-conclusion 
    .container-content 
      .transit-conclusion__inner 
        .col
          h3.transit-conclusion__title Conclusions
          +column-top-svg.transit-conclusion-svg
        .col 
          p.transit-conclusion__description As of the end of 2022, the global economic growth rates can be said to slow down, but a number of positive events enables a more optimistic forecast for 2023 in terms of global economy and international trade development.
          p.text.transit-conclusion__text Meanwhile, the sea transportation has regained its status as the most “cost effective” means of delivery. The sea freight market stabilization has definitely affected the air freight carriers, who report an active cargo outflow towards sea services. This has likely affected the China–Europe–China rail traffic as well, along with other factors. These are primarily the deteriorating geopolitical situation and the overall weakness of the European and Chinese economies.
          p.text.transit-conclusion__text Nevertheless, the Eurasian rail services kept improving and adapting to the global changes. New customers joined the Eurasian traffic, and the new segments demonstrated high performance, which helped maintain the record high traffic volumes achieved in 2021. In 2023, the industry will face a multitude of challenges, but the market still offers a lot of opportunities. Similarly to 2022, the main area is still the development of new operating points and the service portfolio diversification, which will help level out the decline in specific segments. Finally, the further qualitative development in the industry is equally important. The critical future growth drivers may be the improved process digitalization and business transparency along with the loyalty of all stakeholders to rail transportation.