mixin trends-content 
  section.trends-market 
    .container-content 
      .trends-market__inner 
        h3.trends-market__title Рынок морских контейнерных перевозок
        .row.trends-market__box
          .col 
            p.trends-market__description Объем мировой контейнерной торговли в натуральном выражении в 2022 году сократился на 3,6%.
          .col 
            p.text.trends-market__text На направлении Китай-Северная Европа, согласно данным Journal of Commerce (JOC) и Container Trade Statistics (CTS), объемы перевозок за 11 месяцев 2022 года упали еще сильнее – примерно на 10-11%.
            .item.trends-market__item 
              .item__row 
                .item__col 
                  p.item__number 173,7
                .item__col 
                  p.item__grey млн ДФЭ
              .item__row 
                p.item__subtext Объем мировой контейнерной торговли по морю в 2022 году 
  section.trends-volume 
    .container-content 
      .trends-volume__inner 
        h6.trends-volume__title Объем мировой торговли посредством морского транспорта, 2021 – 2022 гг., млн ДФЭ
        .trends-volume__svg
          +picture('trends-volume.png').trends-volume-img
        .links.trends-volume__links
          p.links__text.trends-volume__links-text Источник:&nbsp;
          a(href="https://www.containerstatistics.com/").links__link.trends-volume__links-link Container Trades Statistics Ltd (CTS)
        .row 
          .col 
            p.text.trends-volume__text Ставки морского фрахта, достигнув рекордных отметок в конце 2021 года, в 2022 году начали корректироваться на фоне ослабления спроса, ценовой конкуренции между перевозчиками за объемы перевозок и некоторых улучшений в части работы ключевых портов в Азии и Европе.
          .col 
            p.text.trends-volume__text Таким образом, по итогам декабря 2022 года композитный WCI скорректировался относительно пика 2021 года на 79,6% и составил 2 120 $/СФЭ. Для отдельных трейдов динамика была схожей — ставка Шанхай-Роттердам снизилась на 88,5% относительно максимумов и достигла 1 706 $/СФЭ. Для обратного направления, Роттердам-Шанхай, ставка скорректировалась на 54,8% до 789 $/СФЭ.
  section.trends-dynamic
    .container-content 
      .trends-dynamic__inner 
        .row
          h6.trends-dynamic__title Динамика значений ставок WCI, 2021–2022 гг., $/СФЭ
          .trends-dynamic__svg.mobile
            +picture('trends-dynamic-mobile.png')
          .links.trends-dynamic__links
            p.links__text.trends-dynamic__links-text Источник: &nbsp;
          
            a.links__link.trends-dynamic__links-link(href="https://www.drewry.co.uk/")  Drewry
        .trends-dynamic__svg.desktop
          +picture('trends-dynamic.png')
        .row 
          .col 
          .col 
            p.text.trends-dynamic__text 
              | Дополнительно следует провести сравнение между значениями ставок морского фрахта WCI &nbsp; 
              br.br 
              | и железнодорожных ставок, измеряемых ERAI. Так, рассмотрение значений по направлениям показывает возврат рынка к ситуации до начала пандемии. 
  section.trends-rates 
    .container-content 
      .trends-rates__inner 
        .row
          h6.trends-rates__title Соотношение ставок WCI к ERAI по направлениям, 2020–2022 гг.
          .trends-rates__svg 
            +picture('trends-rates-mobile.png').mobile
          .links.trends-rates__links
            p.links__text.trends-rates__links-text Источники:&nbsp;
            a.links__link.trends-rates__links-link(href='https://index1520.com/' target='blank')  Drewry,&nbsp;
            a.links__link.trends-rates__links-link(href='https://index1520.com/' target='blank') ERAI
        .trends-rates__svg 
          +picture('trends-rates.png').desktop
  section.trends-demand 
    .container-content 
      .trends-demand__inner 
        .row
          .col
            h6.trends-demand__title Спрос на глобальные морские контейнерные перевозки, факт 2020–2022 гг., <br/> прогноз 2023–2026 гг., млн ДФЭ и %
          .col 
            .trends-demand__svg 
              +picture('trends-demand-mobile.png').mobile
            .links.trends-demand__links 
              p.links__text.trends-demand__links-text Источник:&nbsp;
              a.links__link.trends-demand__link(href="https://www.drewry.co.uk/" target='blank') Drewry
        .trends-demand__svg 
          +picture('trends-demand.png').desktop
  section.trends-forecast 
    .container-content 
      .trends-forecast__inner 
        h3.trends-forecast__title Прогноз: рынок покупателя
        .row  
          .col 
            p.trends-forecast__description Перспективы роста экономики Китая и Европы заметно улучшились в последнее время &nbsp; <br class='br'> и, как результат, перевозчики &nbsp; <br class='br'> с большим оптимизмом смотрят &nbsp; <br class='br'> на 2023 год.
            .trends-forecast__item 
              p.trends-forecast__number +7–11%
              p.trends-forecast__sub Ожидаемый чистый прирост мощностей в 2023 году
          .col 
            p.text.trends-forecast__text Так, еще в пресс-релизе за декабрь Maersk прогнозировали сниженный спрос в течение всего 2023 года из-за относительной слабости мировой экономики и высоких запасов нереализованной продукции &nbsp; <br class='br'> у ритейлеров. В январском выпуске компания уже заявила о причинах для оптимизма, отметив возможность значительного подъема торговли и спроса со второго полугодия на фоне отказа Китая &nbsp; <br class='br'> от жестких антиковидных мер. Тем не менее, вероятность того, что на рынке образуется переизбыток мощностей, все еще высока.
            p.text.trends-forecast__text Текущие прогнозы по спросу и предложению приводят к выводу, что в 2023 году наиболее вероятен «рынок покупателя». Тем не менее, морские перевозчики могут начать принимать меры для усиленного контроля предложения и обеспечения роста ставок. По информации Drewry, рентабельность сервисов Азия-Северная Европа уже снизилась практически до нуля, соответственно, компаниям придется применять все доступные рычаги для избежания финансовых потерь.
            p.text.trends-forecast__text Помимо стандартного инструмента в виде отмены рейсов, перевозчики могут улучшить экономику перевозок за счет применения практики «slow steaming» (подразумевает намеренное снижение скорости судов, что позволяет снизить издержки за счет уменьшения расхода топлива, сокращения выбросов СО2) и направления судов через Мыс Доброй Надежды (для избежания сборов &nbsp; <br class='br'> за проследование через Суэцкий канал, вывода части предложения с рынка за счет роста транзитного времени на 10-12 суток). Безусловно, эффективность действий перевозчиков будет зависеть &nbsp; <br class='br'> от множества фундаментальных факторов, влияющих на индустрию. Внезапные скачки спроса, заторы &nbsp; <br class='br'> в портах, природные катаклизмы и многие другие причины могут значительно изменить ситуацию &nbsp; <br class='br'> на рынке.
  section.trends-forecast2 
    .container-content 
      .trends-forecast2__inner 
        h3.trends-forecast2__title Прогноз: осторожный оптимизм
        .row
          .col 
            p.trends-forecast2__description По мнению участников рынка, спрос на грузовые авиаперевозки, вероятнее всего, будет находиться на пониженных уровнях &nbsp; <br class='br'> в ближайшие месяцы, но некоторый рост возможен с первого полугодия 2023 года.
          .col 
            p.text.trends-forecast2__text Осторожный оптимизм преимущественно связан с перспективой резкого подъема экономической активности в Китае. Тем не менее, неопределенность относительно будущих перспектив высока, как минимум из-за высоких запасов нереализованной продукции у ритейлеров в Европе, но также и из-за растущей конкуренции со стороны морских сервисов. Если работа в портах и соблюдение сроков доставки продолжат показывать улучшения, то это может привести еще к большему оттоку грузов &nbsp; <br class='br'> в пользу морских перевозчиков. Также необходимо учитывать фактор транзитного времени. При текущих высоких запасах инвентаря в Европе у ритейлеров нет необходимости в быстром восполнении продукции, то есть ключевое преимущество авиаперевозок — скорость — не имеет сильной востребованности.
            p.text.trends-forecast2__text Сокращение ставок авиа-сервисов, в свою очередь, может изменить ситуацию. Уровень предложения, вероятнее всего, продолжит восстанавливаться, что вкупе со слабыми ожиданиями по росту объемов перевозок может привести к снижению ставок в ближайшие кварталы. Таким образом, вероятно улучшение конкурентоспособности ставок на авиагрузоперевозки относительно железнодорожных &nbsp; <br class='br'> за указанный период.