mixin who-we 
  .who-we 
    section.who-we__section
      .container-content  
        .who-we__hero.hero 
          .who-we__hero-line 
          .who-we__hero-title ОТЛК ЕРА. Кто мы?
          .who-we__hero-subtitle АО «ОТЛК ЕРА» (далее в отчете — ОТЛК ЕРА) — крупнейший оператор транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по территории России, Казахстана и Беларуси.
          .who-we__hero-text Несмотря на события 2022 года, мы активно развивались во многих направлениях: расширяли карту перевозок, наращивали долю импортных сервисов, инвестировали в человеческий капитал и экологические инициативы.
      .who-we__trains 
        .who-we__trains-img 
          +picture('about-hero-img.png')
        .container-content
          .who-we__trains-top
            .who-we__trains-number +770%
            .who-we__trains-title Общий рост импортных перевозок 
          .who-we__trains-bot 
            .who-we__trains-cards 
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green +156%
                .ge-card__bot
                  .ge-card__text-grey Общий рост экспортных перевозок 
              .ge-card.green
                .ge-card__top
                  .ge-card__num.green 89%
                .ge-card__bot
                  .ge-card__text-grey Доля ОТЛК ЕРА в транзитных контейнерных перевозках Китай — Европа — Китай в 2022 году 
    section.who-we__horizonts
      .container-content.new-horizonts
        .new-horizonts__title Новые горизонты
        .new-horizonts__text Главный фокус ОТЛК ЕРА – транзитные перевозки Китай-Европа-Китай, востребованность которых остается на высоком уровне. Однако в 2022 году добавились новые ориентиры: активное развитие экспортных перевозок из Беларуси и России в Китай, а также импортные перевозки из Китая в Россию. 
    section.who-we__reference
      .container-content.reference
        h2.reference-title Справка о Компании
        h3.reference-subtitle Акционерное общество «Объединенная транспортно-логистическая компания — Евразийский железнодорожный альянс» (ОТЛК ЕРА) — первый и единственный интеграционный проект в области логистики на территории Евразийского экономического союза (ЕАЭС). Он объединяет ресурсы и возможности трех стран — России, Казахстана и Беларуси, благодаря чему достигается синергия интересов и прирост дохода каждой из экономик стран-участниц проекта. 
        .reference-row  
          .reference-text Созданная в 2018 году в результате реорганизации АО «ОТЛК», ОТЛК ЕРА выступает оператором транзитных контейнерных сервисов и транспортирует грузы в сообщении Китай — Европа — Китай в составе регулярных контейнерных поездов через территорию России, Казахстана и Беларуси.
          .reference-text Трое учредителей владеют паритетными долями акций в уставном капитале: «Российские железные дороги» (ОАО «РЖД»), Государственное объединение «Белорусская железная дорога» (Белорусская железная дорога) и Акционерное общество «Национальная компания «Қазақстан темiр жолы» (АО «НК «КТЖ»).
        .reference-subrow.custom-first 
          .reference-subrow__col
            .reference-subrow__card 
              .reference-subrow__card-top
                .reference-subrow__card-number.green $29,6
                .reference-subrow__card-text млрд
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Cтоимость грузов, перевезенных транзитом в 2022 году
          .reference-subrow__col.icons
            .reference-subrow__item   
              .reference-subrow__item-icon 
                +heartbeat-svg
              .reference-subrow__item-text Электрические устройства и аппаратура связи
            .reference-subrow__item   
              .reference-subrow__item-icon
                +clockwerk-svg
              .reference-subrow__item-text Механическое оборудование и техника
            .reference-subrow__item   
              .reference-subrow__item-icon
                +shirt-svg
              .reference-subrow__item-text Одежда
            .reference-subrow__item   
              .reference-subrow__item-icon
                +engine-svg
              .reference-subrow__item-text Автотехника и запчасти (*наибольшие доли в деньгах)
        .reference-subrow.custom-second
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top
                .reference-subrow__card-number.light-green 681,2
                .reference-subrow__card-text тыс ДФЭ
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Перевезено ОТЛК ЕРА за 2022 год во всех сервисах
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top
                .reference-subrow__card-number.light-green 3,2% 
                .reference-subrow__card-text 
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Доля от общей стоимостной торговли между Китаем и ЕС  2022 году
        .reference-mission
          .reference-mission__title Наша миссия
          .reference-mission__block 
            .reference-mission__block-text Развитие транзитного потенциала ЕАЭС через внедрение высокотехнологичных логистических сервисов, требующих скоординированной политики железных дорог и регуляторов на пространстве колеи 1520 мм.
            .reference-mission__block-arrow.lt 
              +arrow-lt-svg
            .reference-mission__block-arrow.rt 
              +arrow-rt-svg
            .reference-mission__block-arrow.ld 
              +arrow-ld-svg
            .reference-mission__block-arrow.rd 
              +arrow-rd-svg