mixin who-we 
  .who-we
    section.who-we__section(id="section-who-we")
      .container-content  
        .who-we__hero.hero 
          .who-we__hero-line 
          h2.who-we__hero-title ОТЛК&nbsp;ЕРА. Кто мы?
          .who-we__hero-subtitle Акционерное общество «Объединенная транспортно&nbsp;-&nbsp;логистическая компания —&nbsp;Евразийский железнодорожный альянс» (далее в&nbsp;Отчете — ОТЛК&nbsp;ЕРА) — крупнейший оператор транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по территории России, Казахстана и Беларуси.
          .who-we__hero-text.text Несмотря на события 2022 года, мы активно развивались во многих направлениях: расширяли карту перевозок, наращивали долю импортных сервисов, инвестировали в человеческий капитал и экологические инициативы.
      .who-we__trains(data-parallax-container='')
        .who-we__parallax-img.desktop(data-parallax-img='') 
          +picture('parallax-trains-about-big.png')
        .container-content
          .who-we__trains-top
            .who-we__trains-boxes.number-countup__box.number-countup__box_trains
              .who-we__trains-number.countup-element(data-countup='770' data-countup-prefix='+' data-countup-suffix='%')
            .who-we__trains-title Общий рост импортных перевозок
          .who-we__parallax-img.mobile 
            +picture('parallax-trains-about-big.png')
          .who-we__trains-bot 
            .who-we__trains-cards 
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-3
                  .ge-card__num.green.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey Общий рост экспортных перевозок
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-2
                  .ge-card__num.green.countup-element(data-countup='89' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey Доля ОТЛК&nbsp;ЕРА в транзитных контейнерных перевозках Китай–Европа–Китай в 2022 году
    section.who-we__horizonts.container-content(id="section-new-horizonts")(data-aos="fade-up") 
      .new-horizonts
        h2.new-horizonts__title Новые горизонты
        .new-horizonts__text Главный фокус ОТЛК&nbsp;ЕРА – транзитные перевозки Китай–Европа–Китай, востребованность которых остается на высоком уровне. Однако в 2022 году добавились новые ориентиры: активное развитие экспортных перевозок из Беларуси и России в Китай, а&nbsp;также импортные перевозки из Китая в Россию. 
    section.who-we__reference.container-content(id="section-who-we-reference")(data-aos="fade-up") 
      .reference
        h2.reference-title.print-gap  Справка о Компании
        h3.reference-subtitle Акционерное общество «Объединенная транспортно-логистическая компания&nbsp;— Евразийский железнодорожный альянс» — первый и&nbsp;единственный интеграционный проект в&nbsp;области логистики на&nbsp;территории Евразийского экономического союза (ЕАЭС). Он объединяет ресурсы и&nbsp;возможности трех стран&nbsp;— России, Казахстана и Беларуси, благодаря чему достигается синергия интересов и прирост дохода каждой из экономик стран-участниц проекта. 
        .reference-row  
          .reference-text.text Созданная в&nbsp;2018 году в&nbsp;результате реорганизации АО&nbsp;«ОТЛК», ОТЛК&nbsp;ЕРА выступает оператором транзитных контейнерных сервисов и&nbsp;транспортирует грузы в&nbsp;сообщении Китай–Европа–Китай в&nbsp;составе регулярных контейнерных поездов через территорию России, Казахстана и&nbsp;Беларуси.
          .reference-text.text Трое учредителей владеют паритетными долями акций в уставном капитале: Открытое акционерное общество «Российские железные дороги» (ОАО&nbsp;«РЖД»), Государственное объединение «Белорусская железная дорога» (Белорусская железная дорога) и Акционерное общество «Национальная компания «Қазақстан темiр жолы» (АО&nbsp;«НК&nbsp;«КТЖ»).
        .reference-subrow.custom-first(data-aos="fade-up")  
          .reference-subrow__col
            .reference-subrow__card 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.green.countup-element(data-countup='29' data-countup-prefix='$')
                  span.reference-subrow__card-number.green ,
                  span.reference-subrow__card-number.green.countup-element(data-countup='6') 
                .reference-subrow__card-text.number-animate-29.number-animate млрд
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Cтоимость грузов, перевезенных транзитом в 2022 году
          .reference-subrow__col.icons.print-gap 
            .reference-subrow__item   
              .reference-subrow__item-icon 
                +heartbeat-svg
              .reference-subrow__item-text Электрические устройства и аппаратура связи
            .reference-subrow__item   
              .reference-subrow__item-icon
                +clockwerk-svg
              .reference-subrow__item-text Механическое оборудование и&nbsp;техника
            .reference-subrow__item   
              .reference-subrow__item-icon
                +shirt-svg
              .reference-subrow__item-text Одежда
            .reference-subrow__item   
              .reference-subrow__item-icon
                +engine-svg
              .reference-subrow__item-text Автотехника и запчасти (*наибольшие доли в деньгах)
        .reference-subrow.custom-second(data-aos="fade-up") 
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='681') 
                  span.reference-subrow__card-number.light-green ,
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='2') 
                .reference-subrow__card-text.number-animate-681.number-animate тыс ДФЭ
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Перевезено ОТЛК&nbsp;ЕРА за 2022 год во всех сервисах
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.number-countup__box.number-countup__box_reference
                span.reference-subrow__card-number.light-green.countup-element(data-countup='3') 
                span.reference-subrow__card-number.light-green ,
                span.reference-subrow__card-number.light-green.countup-element(data-countup='2' data-countup-suffix='%')
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey Доля от общей стоимостной торговли между Китаем и ЕС  2022 году
        .reference-mission(id="section-who-we-mission")(data-aos="fade-up") 
          h2.reference-mission__title.desktop Наша миссия
          .reference-mission__block 
            h2.reference-mission__title.mobile Наша миссия
            .reference-mission__block-text Развитие транзитного потенциала ЕАЭС через внедрение высокотехнологичных логистических сервисов, требующих скоординированной политики железных дорог и регуляторов на пространстве колеи 1520 мм.
            .reference-mission__block-arrow.lt 
              +arrow-lt-svg
            .reference-mission__block-arrow.rt 
              +arrow-rt-svg
            .reference-mission__block-arrow.ld 
              +arrow-ld-svg
            .reference-mission__block-arrow.rd 
              +arrow-rd-svg
    .container-content
      section.who-we__achievement(id="section-who-we-achievement")(data-aos="fade-up") 
        h2.who-we__achievement-title Десять достижений 2022 года
        .who-we__achievement-list 
          .who-we__achievement-item.light-green
            .who-we__achievement-text Стремительное развитие экспортно-импортных сервисов
            .who-we__achievement-img 
              +picture('achievement-number-1.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Кратный рост экспорта из Беларуси
            .who-we__achievement-img 
              +picture('achievement-number-2.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text Первый контракт с оплатой в китайских юанях
            .who-we__achievement-img 
              +picture('achievement-number-3.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Пилотные отправки полносоставных рефрижераторных поездов в сообщении Китай-Россия
            .who-we__achievement-img 
              +picture('achievement-number-4.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text Соглашение о сотрудничестве с РУП «Центр цифрового развития» Министерства связи и информатизации Республики Беларусь
            .who-we__achievement-img 
              +picture('achievement-number-5.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Выставка «Новый Шелковый путь» в Астане при поддержке ОТЛК&nbsp;ЕРА
            .who-we__achievement-img 
              +picture('achievement-number-6.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text Экологические инициативы с нашим участием: Казахстан – проект по восстановлению тугайного леса на территории «Иле-Балхаш»; Россия – проект по восстановлению численности зубров в Северной Осетии
            .who-we__achievement-img 
              +picture('achievement-number-7.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Выход в финал премии «Формула движения» в номинации «Лучшее решение в области грузовой логистики»
            .who-we__achievement-img 
              +picture('achievement-number-8.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text ОТЛК&nbsp;ЕРА — в числе 400 крупнейших компаний России по версии «Эксперт РА»
            .who-we__achievement-img 
              +picture('achievement-number-9.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Генеральный директор ОТЛК&nbsp;ЕРА — в&nbsp;списке 250 лучших топ-менеджеров России (по версии ИД «Коммерсант»)
            .who-we__achievement-img 
              +picture('achievement-number-10.png')
    .container-content
      section.who-we__report(id="section-who-we-report")(data-aos="fade-up") 
        h2.who-we__report-title Об Отчете
        .who-we__report-subtitle Годовой отчет раскрывает данные о деятельности ОТЛК&nbsp;ЕРА.
        .report-row 
          .report-col 
            .report__text.report__text_big Отчет подготовлен на основе информации, доступной на дату его составления. Документ содержит обзор итогов деятельности нашей компании за 2022 год, а также:
            .report__text.report__text_mark.top <span>Динамику показателей за период с&nbsp;2020 по 2022 год.</span>  Финансовые показатели рассчитаны на основании российских стандартов бухгалтерского учета и&nbsp;учетной политики компании, действующих в&nbsp;соответствующие отчетные периоды, и&nbsp;подтверждены аудиторским заключением.
            .report__text.report__text_mark <span>Заявления прогнозного характера,</span> которые отражают ожидания руководства ОТЛК&nbsp;ЕРА в&nbsp;отношении будущих результатов ее деятельности и&nbsp;финансового положения. Такие заявления зависят от обстоятельств, которые могут произойти или не произойти в&nbsp;будущем, и&nbsp;содержат в&nbsp;себе значительную долю неопределенности. Общество не дает гарантий в&nbsp;отношении того, что прогнозы будут соответствовать фактическим результатам его деятельности. ОТЛК&nbsp;ЕРА не несет ответственности за любые убытки, которые могут возникнуть в&nbsp;связи с&nbsp;решениями, принятыми на основе заявлений прогнозного характера.
          .report-col 
            .report__text.right Важное уточнение: помимо официальной информации о&nbsp;деятельности ОТЛК&nbsp;ЕРА, Годовой Отчет может содержать данные, полученные от&nbsp;третьих лиц. Для таких данных в&nbsp;отчете указываются их&nbsp;источники. За&nbsp;исключением случаев, прямо предусмотренных законодательством, ОТЛК&nbsp;ЕРА не&nbsp;принимает на себя обязательств по распространению или публикации любых обновлений или изменений в&nbsp;заявлениях прогнозного характера, отражающих любые изменения в&nbsp;ожиданиях или новую информацию, а&nbsp;также последующие события, условия или обстоятельства.
            .report__protocol 
              .report__protocol-item Годовой отчет рассмотрен комитетом по аудиту совета директоров ОТЛК&nbsp;ЕРА (протокол от 15.05.2023 №24)
              .report__protocol-item Предварительно утвержден советом директоров ОТЛК&nbsp;ЕРА <br>(протокол от 25.05.2023 №64 )
              .report__protocol-item Утвержден годовым общим собранием акционеров ОТЛК&nbsp;ЕРА <br>(протокол от 30.06.2023 №22)
              .report__protocol-item Достоверность данных, содержащихся в&nbsp;Годовом отчете, подтверждена ревизионной комиссией ОТЛК&nbsp;ЕРА.
    .container 
      section.who-we__appeal(id="section-who-we-appeal")(data-aos="fade-up") 
        .appeal-row 
          .appeal-col 
            .appeal-line 
            h2.appeal-title Обращение генерального директора
            .appeal-name.desktop  
              .appeal-name__surname алексей гром
              .appeal-name__job Генеральный директор
            .appeal-img.desktop  
              +picture("appeal-grom.png")
            .appeal-img.mobile  
              +picture("appeal-grom-mobile.png")
            .appeal-name.mobile  
              .appeal-name__surname алексей гром
              .appeal-name__job Генеральный директор
            .appeal-name.devices  
              .appeal-name__surname алексей гром
              .appeal-name__job Генеральный директор
          .appeal-col 
            .appeal-subtitle Уважаемые акционеры, клиенты и партнёры! Представляю Годовой отчет ОТЛК&nbsp;ЕРА по итогам 2022 года. 
            .appeal-text.text Глобальные мировые тенденции и события последних лет оказали существенное влияние на производственные и коммерческие процессы в нашей компании. Как крупный игрок на рынке предоставления транспортных услуг на Евразийском пространстве, мы находимся в постоянном поиске наиболее эффективных логистических решений для наших клиентов, партнёров и акционеров. Не стал исключением и 2022 год.
            .appeal-text.text Итоговые цифры годовой отчётности наглядно демонстрируют, что ОТЛК&nbsp;ЕРА достойно справилась с новыми вызовами прошедшего года и, несмотря на большое количество факторов давления и неопределённости, приблизилась к рекордам 2021 года, как по объёму перевозок, так и по финансовым результатам деятельности. 
            .appeal-text.text Значительным достижением стало также развитие новых маршрутов на пространстве ЕАЭС, позволившее полностью компенсировать выпадавшие в 2022 году объемы транзита Китай–Европа–Китай. 
            .appeal-text.text Хочу отметить, что наша базовая модель при этом осталась неизменной — ОТЛК&nbsp;ЕРА по-прежнему сфокусирована на продвижении сервисов из Китая в страны ЕС и в обратном направлении. В этих целях совместно с акционерами реализуются скоординированные действия по совершенствованию технологических аспектов предоставляемых услуг, а также по развитию инфраструктуры для будущего роста.
            .appeal-text.text Есть много интересных и актуальных задач на 2023 год. Времени на передышку нет. Мы продолжаем создавать условия для укрепления нашего железнодорожного транзитного моста, связывающего большое количество стран, огромное количество компаний и миллионы людей на евразийском континенте.
            .appeal-subtext Хочу поблагодарить всех за успешную работу в&nbsp;2022 году и&nbsp;пожелать нам ВСЕМ мира, благополучия и&nbsp;успехов в&nbsp;2023 году!
            .appeal-signature От всего коллектива ОТЛК&nbsp;ЕРА, с глубоким уважением, <br>А. Гром
            .appeal-svg.grey
              +appeal-svg
            .appeal-svg.green
              +appeal2-svg

mixin who-we-EN 
  .who-we
    section.who-we__section(id="section-who-we")
      .container-content  
        .who-we__hero.hero 
          .who-we__hero-line 
          h2.who-we__hero-title UTLC&nbsp;ERA. Who are we?
          .who-we__hero-subtitle Joint stock company  (hereinafter referred to in this report as “UTLC&nbsp;ERA”) is the largest transit container traffic operator on the <span class='nbsp'>China–Europe–China </span> route via Russia, Kazakhstan and Belarus
          .who-we__hero-text.text Despite the 2022 events, we have been actively developing in many areas, expanding our traffic route map, increasing the share of import services, investing in human capital assets and environmental initiatives.
      .who-we__trains(data-parallax-container='')
        .who-we__parallax-img.desktop(data-parallax-img='') 
          +picture('parallax-trains-about-big.png')
        .container-content
          .who-we__trains-top
            .who-we__trains-boxes.number-countup__box.number-countup__box_trains
              .who-we__trains-number.countup-element(data-countup='770' data-countup-prefix='+' data-countup-suffix='%')
            .who-we__trains-title import traffic volume growth
          .who-we__parallax-img.mobile 
            +picture('parallax-trains-about-big.png')
          .who-we__trains-bot 
            .who-we__trains-cards 
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-3
                  .ge-card__num.green.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey total export traffic growth
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-2
                  .ge-card__num.green.countup-element(data-countup='89' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey UTLC&nbsp;ERA share in China–Europe–China transit container traffic in 2022
    section.who-we__horizonts.container-content(id="section-new-horizonts")(data-aos="fade-up") 
      .new-horizonts
        h2.new-horizonts__title New horizons
        .new-horizonts__text UTLC&nbsp;ERA is focused on China–Europe–China transit traffic which is still in high demand. However, new benchmarks were set in 2022: active development of export traffic from Belarus and Russia to China, and import traffic from China to Russia.
    section.who-we__reference.container-content(id="section-who-we-reference")(data-aos="fade-up") 
      .reference
        h2.reference-title Company Profile
        h3.reference-subtitle Joint stock company UTLC&nbsp;ERA (UTLC&nbsp;ERA) is the first and only integrated logistics project in the Eurasian Economic Union&nbsp;(EAEU). This project brings together the resources and capabilities of three countries, specifically Russia, Kazakhstan and Belarus, which helps achieve the synergy of interests and create value for the economy of each country participating in the project.
        .reference-row  
          .reference-text.text Established in 2018 as a result of JSC&nbsp;UTLC reorganization, UTLC&nbsp;ERA acts as the transit container service operator and transports cargoes by regular container unit trains on the China–Europe–China route via Russia, Kazakhstan and Belarus.
          .reference-text.text Three founders hold parity stocks of shares in the authorized capital: Joint Stock Company "Russian Railways" (JSCo&nbsp;"RZD"), Belarusian Railway State Association (Belarusian Railway) and Joint stock company “National Company “Kazakhstan Temir Zholy” (JSC&nbsp;“NC&nbsp;“KTZ”).  
        .reference-subrow.custom-first(data-aos="fade-up")  
          .reference-subrow__col
            .reference-subrow__card 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.green.countup-element(data-countup='29' data-countup-prefix='$')
                  span.reference-subrow__card-number.green ,
                  span.reference-subrow__card-number.green.countup-element(data-countup='6') 
                .reference-subrow__card-text.number-animate-29.number-animate billion
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey worth of goods transited in 2022
          .reference-subrow__col.icons.print-gap 
            .reference-subrow__item   
              .reference-subrow__item-icon 
                +heartbeat-svg
              .reference-subrow__item-text electrical devices and communication equipment
            .reference-subrow__item   
              .reference-subrow__item-icon
                +clockwerk-svg
              .reference-subrow__item-text mechanical equipment and machinery
            .reference-subrow__item   
              .reference-subrow__item-icon
                +shirt-svg
              .reference-subrow__item-text clothes
            .reference-subrow__item   
              .reference-subrow__item-icon
                +engine-svg
              .reference-subrow__item-text motor vehicle equipment and spare parts (*largest shares in monetary terms)
        .reference-subrow.custom-second(data-aos="fade-up") 
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='681') 
                  span.reference-subrow__card-number.light-green ,
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='200') 
                .reference-subrow__card-text.number-animate-681.number-animate.tt TEUs
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey transported by UTLC&nbsp;ERA in 2022 in all services
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.number-countup__box.number-countup__box_reference
                span.reference-subrow__card-number.light-green.countup-element(data-countup='3') 
                span.reference-subrow__card-number.light-green ,
                span.reference-subrow__card-number.light-green.countup-element(data-countup='2' data-countup-suffix='%')
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey share of the total trade value between China and EU in 2022
        .reference-mission(id="section-who-we-mission")(data-aos="fade-up") 
          h2.reference-mission__title.desktop Our mission
          .reference-mission__block 
            h2.reference-mission__title.mobile Our mission
            .reference-mission__block-text Develop EAEU transit potential by implementing high-tech logistics services that require an aligned policy to be adopted by railways and regulatory authorities in the 1,520 mm track gauge regions.
            .reference-mission__block-arrow.lt 
              +arrow-lt-svg
            .reference-mission__block-arrow.rt 
              +arrow-rt-svg
            .reference-mission__block-arrow.ld 
              +arrow-ld-svg
            .reference-mission__block-arrow.rd 
              +arrow-rd-svg
    .container-content
      section.who-we__achievement(id="section-who-we-achievement")(data-aos="fade-up") 
        h2.who-we__achievement-title Ten achievements in 2022
        .who-we__achievement-list 
          .who-we__achievement-item.light-green
            .who-we__achievement-text Rapid development of export and import services
            .who-we__achievement-img 
              +picture('achievement-number-1.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Exponential growth in export from Belarus
            .who-we__achievement-img 
              +picture('achievement-number-2.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text First contract with payments in Chinese yuans
            .who-we__achievement-img 
              +picture('achievement-number-3.png')
          .who-we__achievement-item.green
            .who-we__achievement-text Pilot full-length refrigerator trains dispatched on the China&nbsp;–&nbsp;Russia route
            .who-we__achievement-img 
              +picture('achievement-number-4.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text Cooperation agreement with Republican Unitary Enterprise “Digital Development Center” under the Ministry of Communications and Informatization of the Republic of Belarus
            .who-we__achievement-img 
              +picture('achievement-number-5.png')
          .who-we__achievement-item.green
            .who-we__achievement-text New Silk Road Exhibition in Astana supported by UTLC&nbsp;ERA
            .who-we__achievement-img 
              +picture('achievement-number-6.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text Environmental initiatives implemented with our participation: Kazakhstan&nbsp;—&nbsp;a&nbsp;tugay woodlands restoration project in Ili-Balkhash, Russia&nbsp;—&nbsp;a&nbsp;bison population restoration project in North Ossetia
            .who-we__achievement-img 
              +picture('achievement-number-7.png')
          .who-we__achievement-item.green
            .who-we__achievement-text A finalist for the Movement Formula Award nominated in the Best Freight Logistics Solution category
            .who-we__achievement-img 
              +picture('achievement-number-8.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text UTLC&nbsp;ERA ranks among top 400 largest Russian companies according to Expert RA
            .who-we__achievement-img 
              +picture('achievement-number-9.png')
          .who-we__achievement-item.green
            .who-we__achievement-text UTLC&nbsp;ERA General Director is listed among 250 best top managers in Russia (according to Kommersant Publishing House)
            .who-we__achievement-img 
              +picture('achievement-number-10.png')
    .container-content
      section.who-we__report(id="section-who-we-report")(data-aos="fade-up") 
        h2.who-we__report-title About this Report
        .who-we__report-subtitle The annual report discloses the details of UTLC&nbsp;ERA’s activities.
        .report-row 
          .report-col 
            .report__text.report__text_big The report is based on the information available as of its development date. The document contains the overview of our company’s performance for 2022, as well as:
            .report__text.report__text_mark.top <span>Performance profiles in 2020 to 2022.</span>  The financial performance has been calculated on the basis of the Russian accounting standards and the company’s accounting policy effective in the corresponding reporting periods and is confirmed by the auditor’s opinion
            .report__text.report__text_mark <span>The forecast statements,</span> which reflect UTLC&nbsp;ERA management’s expectations regarding its future performance and financial standing. These statements depend on the circumstances, which may or may not occur in the future, and are highly uncertain. The company does not guarantee that the forecasts will correspond to the actual performance. UTLC&nbsp;ERA is not liable for any potential losses related to the decisions that rely on these forecast statements

          .report-col 
            .report__text.right An important note: apart from the formal information to describe UTLC&nbsp;ERA’s operations, the Annual Report may contain the data obtained from third parties. Sources of these data are indicated in the report. Unless otherwise expressly stipulated in the laws, UTLC&nbsp;ERA does not undertake to distribute or publish any updates or amendments to the forecast statements to incorporate any changes in the expectations or any new information and subsequent events, conditions or circumstances
            .report__protocol 
              .report__protocol-item The Annual Report was reviewed by the Audit Committee under UTLC&nbsp;ERA Board of Directors (Minutes No. 24 dated 15.05.2023)
              .report__protocol-item The report is provisionally approved by UTLC&nbsp;ERA Board of Directors <br>(Minutes No. 64 dated 25.05.2023)
              .report__protocol-item The report is approved by UTLC&nbsp;ERA Annual General Meeting of Shareholders <br>(Minutes No. 22 dated 30.06.2023)
              .report__protocol-item The authenticity of the information contained in the Annual Report is confirmed by UTLC&nbsp;ERA Audit Commission
    .container 
      section.who-we__appeal(id="section-who-we-appeal")(data-aos="fade-up") 
        .appeal-row 
          .appeal-col 
            .appeal-line 
            h2.appeal-title Message from the General Director
            .appeal-name.desktop  
              .appeal-name__surname Alexey Grom
              .appeal-name__job General director
            .appeal-img.desktop  
              +picture("appeal-grom.png")
            .appeal-img.mobile  
              +picture("appeal-grom-mobile.png")
            .appeal-name.mobile  
              .appeal-name__surname Alexey Grom
              .appeal-name__job General director
            .appeal-name.devices  
              .appeal-name__surname Alexey Grom
              .appeal-name__job General director
          .appeal-col 
            .appeal-subtitle Dear shareholders, customers and partners, <br>I am glad to present to you the Annual Report of UTLC&nbsp;ERA for 2022.
            .appeal-text.text The global trends and the recent events have significantly influenced our company’s production and commercial processes. As a large player in the Eurasian traffic service market, we are constantly seeking the best logistics solutions for our customers, partners and shareholders. 2022 was no exception.
            .appeal-text.text The final performance indicators shown in our annual report clearly demonstrate that UTLC&nbsp;ERA has successfully addressed the new challenges in the past year and, in spite of multiple pressures and uncertainties, has almost reached the record high indicators of 2021, both in terms of traffic volumes and financial performance.
            .appeal-text.text A significant achievement was also the development of the new routes within the EAEU, which helped completely make up for the declining China–EU–China transit volumes in 2022.
            .appeal-text.text I would like to highlight that our baseline model has not changed, and UTLC&nbsp;ERA remains focused on promoting its services on the China–EU and EU–China routes. To this end, we coordinate with our shareholders to improve the technological aspects of our services and to develop infrastructure for future growth.
            .appeal-text.text We have a lot of exciting and relevant tasks for 2023. We have no time to take a break. We keep creating favorable conditions to strengthen our railway transit bridge that connects many countries, a vast number of companies and millions of people on the Eurasian continent.
            .appeal-subtext I would like to thank everyone for their successful efforts in 2022 and wish us ALL peace, prosperity and success in 2023!
            .appeal-signature On behalf of UTLC&nbsp;ERA team, Respectfully yours, <br>Alexey Grom
            .appeal-svg.grey
              +appeal-svg
            .appeal-svg.green
              +appeal2-svg

mixin who-we-CN 
  .who-we
    section.who-we__section(id="section-who-we")
      .container-content  
        .who-we__hero.hero 
          .who-we__hero-line 
          h2.who-we__hero-title UTLC&nbsp;ERA我们是谁？
          .who-we__hero-subtitle UTLC&nbsp;ERA股份公司（以下简称UTLC&nbsp;ERA是中国-欧洲-中国途经俄罗斯、哈萨克斯坦和白俄罗斯运输中最大的集装箱中转运输运营商
          .who-we__hero-text.text 尽管2022年发生了一些事件，但我们还是在许多方面取得了积极的发展：我们扩大了运输版图，增加了进口服务的份额，投资人力资本和环境倡议
      .who-we__trains(data-parallax-container='')
        .who-we__parallax-img.desktop(data-parallax-img='') 
          +picture('parallax-trains-about-big.png')
        .container-content
          .who-we__trains-top
            .who-we__trains-boxes.number-countup__box.number-countup__box_trains
              .who-we__trains-number.countup-element(data-countup='770' data-countup-prefix='+' data-countup-suffix='%')
            .who-we__trains-title 进口运输量增加
          .who-we__parallax-img.mobile 
            +picture('parallax-trains-about-big.png')
          .who-we__trains-bot 
            .who-we__trains-cards 
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-3
                  .ge-card__num.green.countup-element(data-countup='156' data-countup-prefix='+' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey 出口运输总体增长
              .ge-card.green
                .ge-card__top.number-countup__box.number-countup__box_trains-2
                  .ge-card__num.green.countup-element(data-countup='89' data-countup-suffix='%')
                .ge-card__bot
                  .ge-card__text-grey 2022年UTLC&nbsp;ERA在中欧中集装箱转运中的份额
    section.who-we__horizonts.container-content(id="section-new-horizonts")(data-aos="fade-up") 
      .new-horizonts
        h2.new-horizonts__title 新起点
        .new-horizonts__text UTLC&nbsp;ERA的工作重点是持续较高需求的中-欧-中过境运输。但在2022年，又增加了新的标杆：积极发展白俄罗斯和俄罗斯对中国的出口运输，以及中国对俄罗斯的进口运输
    section.who-we__reference.container-content(id="section-who-we-reference")(data-aos="fade-up") 
      .reference
        h2.reference-title 公司证明
        h3.reference-subtitle 联合运输物流公司-欧亚铁路联盟（UTLC&nbsp;ERA）股份公司是欧亚经济联盟境内物流领域的第一个，也是唯一一个一体化项目。它汇集了俄罗斯、哈萨克斯坦和白俄罗斯三个国家的资源和能力，从而实现参与项目的每个经济体的利益协同和收入增加。
        .reference-row  
          .reference-text.text UTLC&nbsp;ERA股份公司在UTLC重组后于2018年成立，是过境集装箱服务的运营商，并以定期集装箱列车经俄罗斯、哈萨克斯坦和白俄罗斯境内在中欧中之间运输货物
          .reference-text.text 三位创始人在注册资本中持有同等份额的股份：《俄罗斯铁路》（俄罗斯铁路股份公司）、《白俄罗斯铁路》国家联合公司（白俄罗斯铁路）和《哈萨克斯坦铁路》国有股份公司（哈萨克斯坦铁路股份公司）。
        .reference-subrow.custom-first(data-aos="fade-up")  
          .reference-subrow__col
            .reference-subrow__card 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.green.countup-element(data-countup='29' data-countup-prefix='$')
                  span.reference-subrow__card-number.green ,
                  span.reference-subrow__card-number.green.countup-element(data-countup='6') 
                .reference-subrow__card-text.number-animate-29.number-animate 亿美元
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey 2022年过境货物价值
          .reference-subrow__col.icons.print-gap 
            .reference-subrow__item   
              .reference-subrow__item-icon 
                +heartbeat-svg
              .reference-subrow__item-text 电气和通信设备
            .reference-subrow__item   
              .reference-subrow__item-icon
                +clockwerk-svg
              .reference-subrow__item-text 机械设备和技术设备
            .reference-subrow__item   
              .reference-subrow__item-icon
                +shirt-svg
              .reference-subrow__item-text 服装 
            .reference-subrow__item   
              .reference-subrow__item-icon
                +engine-svg
              .reference-subrow__item-text 车辆和备件（*最大货币份额）
        .reference-subrow.custom-second(data-aos="fade-up") 
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.gap-8
                .reference-number-container
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='681') 
                  span.reference-subrow__card-number.light-green ,
                  span.reference-subrow__card-number.light-green.countup-element(data-countup='2') 
                .reference-subrow__card-text.number-animate-681.number-animate 万TEU
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey 2022年UTLC&nbsp;ERA在所有服务中运输量
          .reference-subrow__col
            .reference-subrow__card.custom-lightgreen 
              .reference-subrow__card-top.number-countup__box.number-countup__box_reference
                span.reference-subrow__card-number.light-green.countup-element(data-countup='3') 
                span.reference-subrow__card-number.light-green ,
                span.reference-subrow__card-number.light-green.countup-element(data-countup='2' data-countup-suffix='%')
              .reference-subrow__card-bot 
                .reference-subrow__card-textgrey 2022年中欧贸易总值占比
        .reference-mission(id="section-who-we-mission")(data-aos="fade-up") 
          h2.reference-mission__title.desktop 我们的使命
          .reference-mission__block 
            h2.reference-mission__title.mobile 我们的使命
            .reference-mission__block-text 通过引入需要铁路和监管机构对1520毫米轨道空间协调政策的高科技物流服务，开发欧亚经济联盟的过境潜力。
            .reference-mission__block-arrow.lt 
              +arrow-lt-svg
            .reference-mission__block-arrow.rt 
              +arrow-rt-svg
            .reference-mission__block-arrow.ld 
              +arrow-ld-svg
            .reference-mission__block-arrow.rd 
              +arrow-rd-svg
    .container-content
      section.who-we__achievement(id="section-who-we-achievement")(data-aos="fade-up") 
        h2.who-we__achievement-title 2022年十大成就
        .who-we__achievement-list 
          .who-we__achievement-item.light-green
            .who-we__achievement-text 进出口服务快速发展
            .who-we__achievement-img 
              +picture('achievement-number-1.png')
          .who-we__achievement-item.green
            .who-we__achievement-text 白俄罗斯出口成倍增长
            .who-we__achievement-img 
              +picture('achievement-number-2.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text 首份人民币支付合同
            .who-we__achievement-img 
              +picture('achievement-number-3.png')
          .who-we__achievement-item.green
            .who-we__achievement-text 中俄铁路运输中全列冷藏列车的试运
            .who-we__achievement-img 
              +picture('achievement-number-4.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text 与白俄罗斯共和国通信和信息化部国家单一制企业数字发展中心合作协议
            .who-we__achievement-img 
              +picture('achievement-number-5.png')
          .who-we__achievement-item.green
            .who-we__achievement-text 在UTLC&nbsp;ERA的支持下，在阿斯塔纳举办的“新丝绸之路”展览
            .who-we__achievement-img 
              +picture('achievement-number-6.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text 我们参与的环境倡议：哈萨克斯坦 —— “伊尔-巴尔喀什”地区原始森林恢复项目；俄罗斯-恢复北奥塞梯野牛数量项目
            .who-we__achievement-img 
              +picture('achievement-number-7.png')
          .who-we__achievement-item.green
            .who-we__achievement-text 进入“移动公式”最佳货运物流解决方案奖决赛（与WAY GROUP 合作项目）
            .who-we__achievement-img 
              +picture('achievement-number-8.png')
          .who-we__achievement-item.light-green
            .who-we__achievement-text UTLC&nbsp;ERA-成为Expert RA评选的俄罗斯最大400家企业之一
            .who-we__achievement-img 
              +picture('achievement-number-9.png')
          .who-we__achievement-item.green
            .who-we__achievement-text UTLC&nbsp;ERA的总经理列入俄罗斯250名最佳高层管理人员名单（根据生意人报出版社评选）。
            .who-we__achievement-img 
              +picture('achievement-number-10.png')
    .container-content
      section.who-we__report(id="section-who-we-report")(data-aos="fade-up") 
        h2.who-we__report-title 关于报告
        .who-we__report-subtitle 年度报告披露了UTLC&nbsp;ERA的活动数据。
        .report-row 
          .report-col 
            .report__text.report__text_big 本报告是根据截至本报告编写之日的有效信息编写的。该文件概述了我们公司2022年的活动结果，以及：
            .report__text.report__text_mark.top <span>2020年至2022年的业绩走势</span>  财务指标是根据俄罗斯会计准则和公司在相关会计期间有效的会计政策统计，并得到审计意见的确认
            .report__text.report__text_mark <span>前瞻性声明</span> ，反映了UTLC&nbsp;ERA管理层对其未来业绩和财务状况的期望。这类声明取决于今后可能发生或不发生的情况，并具有相当大的不确定性。公司不保证预测与实际业绩相符。UTLC&nbsp;ERA不对根据前瞻性声明作出的决定可能造成的任何损失负责。
          .report-col 
            .report__text.right 重要澄清：除了关于UTLC&nbsp;ERA活动的官方信息外，年度报告还可能包含从第三方收到的数据。UTLC&nbsp;ERA不能保证这些信息的准确性，这些信息可能缩减或不完整。除立法明确规定的情况外，UTLC&nbsp;ERA没有义务传播或发布预测声明的任何更新或修改，这些更新或修改反映对预期或新信息的任何变动，以及随后的事件、条件或情况
            .report__protocol 
              .report__protocol-item 年度报告由UTLC&nbsp;ERA董事会审计委员会审查 （2023年********（日期）No*** 备忘录）
              .report__protocol-item 经UTLC&nbsp;ERA董事会预先批准 <br>（2023年********（日期）No*** 备忘录）
              .report__protocol-item 经UTLC&nbsp;ERA年度股东大会批准 <br>（2023年********（日期）No*** 备忘录）
              .report__protocol-item 年度报告中所载数据的可靠性由UTLC&nbsp;ERA监理委员会确认（监理委员会意见摘录见***页）。
    .container 
      section.who-we__appeal(id="section-who-we-appeal")(data-aos="fade-up") 
        .appeal-row 
          .appeal-col 
            .appeal-line 
            h2.appeal-title 总经理致辞
            .appeal-name.desktop  
              .appeal-name__surname 阿列克谢·格罗姆
              .appeal-name__job 总经理
            .appeal-img.desktop  
              +picture("appeal-grom.png")
            .appeal-img.mobile  
              +picture("appeal-grom-mobile.png")
            .appeal-name.mobile  
              .appeal-name__surname 阿列克谢·格罗姆
              .appeal-name__job 总经理
            .appeal-name.devices  
              .appeal-name__surname 阿列克谢·格罗姆
              .appeal-name__job 总经理
          .appeal-col 
            .appeal-subtitle “亲爱的股东、客户和合作伙伴！<br> 现提交UTLC&nbsp;ERA 2022年底的年度报告。
            .appeal-text.text 近年来的全球趋势和发展对我们公司的生产和商业流程产生了重大影响。作为欧亚地区运输服务市场的主要参与者，我们一直在为我们的客户、合作伙伴和股东寻找最有效的物流解决方案。2022年也是如此。
            .appeal-text.text 年度报告的最终数字清楚地表明，UTLC&nbsp;ERA充分应对了过去一年的新挑战，尽管存在大量压力和不确定性，但在运输量和财务业绩方面都接近2021年的记录。
            .appeal-text.text 欧亚经济联盟空间新航线的发展也是一项重大成就，这完全弥补了2022年“中国-欧盟-中国”跌落的过境量。 
            .appeal-text.text 我想指出的是，我们的基本模式保持不变 — UTLC&nbsp;ERA仍然专注于推广从中国到欧盟国家之间的往来服务。为此，正在与股东协调行动，以改进所提供服务的技术方面，并为今后的增长发展基础设施
            .appeal-text.text 2023年有许多有意义且紧迫的任务。没有停歇的时间。我们继续创造条，以加强我们连接欧亚大陆多数国家、广大企业和数百万人民的轨道交通桥梁。
            .appeal-subtext 感谢大家在2022年的圆满工作，并祝愿我们所有人在2023年平安、繁荣、成功！
            .appeal-signature UTLC&nbsp;ERA全体团队，<br>谨致崇高敬意， <br>阿·格罗姆”
            .appeal-svg.grey
              +appeal-svg
            .appeal-svg.green
              +appeal2-svg