.item
  .item__row 
    .item__col 
      p.item__number 7 812
    .item__col 
      p.item__grey млн руб
  .item__row 
    p.item__subtext Показатель валовой прибыли ОТЛК ЕРА за 2022 год, что ниже уровня 2021 года на 2%
  .item__row 
    p.text.item__text 



section.block-diagram.mt-section
  .container-content 
    .block-diagram__inner 
      .block-diagram__row 
        h3.block-diagram__title Выручка
      .block-diagram__row 
        .block-diagram__col 
          p.block-diagram__text.text По результатам работы нашей компании за 2022 год валовая выручка составила 55 577 млн руб, что на 9 274 млн руб или 14% ниже показателя прошлого года. Выручка 2022 года полностью представлена доходами за оказание транспортно-экспедиционных услуг, преимущественно номинированными в долларах США. 
          p.block-diagram__text.text Сокращение выручки прежде всего связано со снижением среднегодового курса доллара США 2022 года по сравнению с 2021 годом на 7% (2022 — 68,58 руб., 2021 — 73,66 руб.), в связи с тем, что выручка номинирована в долларах, а также в связи с перераспределением объемов в сторону увеличения доли перевозок, ставка по которым ниже.
        .block-diagram__col 
          p.block-diagram__description Выручка ОТЛК ЕРА за 2020–2022 годы, млн руб
          .block-diagram__video
            +picture('video.png')


    ul.list
        each item in ['Один представитель ОАО «РЖД»','Один представитель АО «НК «КТЖ»','Один представитель Белорусской железной дороги']
          li
            +mark-text-svg.list-svg
            p.text.list__text=item 
