mixin activity-buttons(src) 
  .activity-buttons&attributes(attributes)
    .activity-buttons__plus
    a.activity-buttons__item.fancy-button(data-fancy=`assets/images/${src}`)
      +search-plus-svg
    a.activity-buttons__download.activity-buttons__item(href=`assets/images/${src}` download)
      +header-download-svg

// +activity-buttons("achievement-number-1.png")

mixin print-activity-buttons
  .container(data-aos='fade-up')
    .print-activity 
      .print-activity__item.print-activity__print(data-print-button).desktop
        .print-activity__item-svg 
          +printer-svg
        p.print-activity__item-text Распечатать
      button.print-activity__item.print-activity__email( data-modal) 
        .print-activity__item-svg
          +sms-tracking-svg
        p.print-activity__item-text Отправить по e-mail
