mixin letter 
  .letter 
    .letter__inner 
      .letter__header 
        .letter__col 
          .letter__logo 
            +header-logo-svg 
        .letter__right
          h1.letter__title UTLC ERA Annual Report for 2022
          p.letter__subtitle You sent the link to the page
      .letter-content 
        .letter-content__top
          p.letter-content__text UTLC ERA Annual Report for 2022
          a.letter-content__link Strategic Report
        .letter-content__bottom 
          .letter-content__row 
            p.letter-content__text comment
            p.letter-content__comment Привет! Смотри, какой красивый годовой отчет. И работает все без лагов. Ребята реально красавчики.
          .letter-content__row 
            p.letter-content__text recipient
            p.letter-content__comment olegchelovek@gmail.com