mixin modal 
  .modal 
    .modal__inner 
      h3.modal__title Отправить по почте
      form.modal__form
        .modal__input 
          input(type="text" placeholder='E-mail*')
        .modal__input 
          input(type="text" placeholder='Комментарий к письму')
        button.modal__button(type='submit')