mixin modal 
  .modal.--active
    .modal__overlay 
    .modal__inner 
      .modal__close
      .modal__body
        h3.modal__title Отправить по почте
        form.modal__form
          .modal__input 
            p.modal__text Укажите e-mail для отправки ссылки на страницу Отчета
            +input(placeholder='E-mail*')
          .modal__input 
            p.modal__text Комментарий к письму
            +textarea(placeholder='Сообщение')
          button.modal__button(type='submit') Отправить