mixin next-page(text,number, textNext, href)
  - const next= textNext?textNext:'Следующий раздел'
  section(data-aos="fade-up").next 
    .container 
      .next__inner 
        p.next__text=next
        p.next__title=text
        p.next__number=number
        +column-svg.next-svg
        +button
        