mixin next-page(text,number)
  section.next 
    .container 
      .next__inner 
        p.next__text Следующий раздел
        p.next__title=text
        p.next__number=number
        +column-svg.next-svg
        +button
        