mixin preview-2(title, name, surname, job, picture)
  - var mobilePicture = picture.split('.').slice(0, -1).join('.') + '-mobile.' + picture.split('.').pop()

  .preview-2
    .preview-2__inner
      .preview-2__line
      .preview-2__left
        .preview-2__row-top
          .preview-2__block-top
            h6.preview-2__title!= title
            .preview-2__img-mobile.mobile
              +picture(mobilePicture)
        .preview-2__block
          block
        .preview-2__row-bottom
          p.preview-2__name= name
          p.preview-2__surname= surname
          p.preview-2__job!= job
      .preview-2__right.desktop-m
        .preview-2__img
          +picture(picture)

