mixin preview(title, name, surname, job, picture,lz)
  - var mobilePicture = picture.split('.').slice(0, -1).join('.') + '-mobile.' + picture.split('.').pop()
  - var lazy = lz ? 't' : ''
  section(data-aos="fade-up").preview&attributes(attributes)
    .preview__container
      .preview__inner
        .preview__line
        .preview__left
          .preview__row-top
            .preview__block-top
              h6.preview__title!= title
              .preview__img-mobile.mobile
                +picture(mobilePicture,lazy)
          .preview__block
            block
          .preview__row-bottom
            p.preview__name= name
            p.preview__surname= surname
            p.preview__job!= job
        .preview__right.desktop-m
          .preview__img
            +picture(picture,lazy)

