extends ../app

include ../components/section/calendar-content
include ../components/section/business-content
include ../components/section/corruption-content
include ../components/section/geography
include ../components/section/indicators


block content
  +report-hero-about
  +who-we
  +calendar-content
  //- +indicators
  //- +preview-2('Бизнес–модель','Селютин','Михаил Иванович','Директор по развитию бизнеса и анализу рисков','selutin.png')
  //-   .selutin
  //-     p.description.selutin__description Наша операционная модель направлена на&nbsp;повышение объемов транзитных перевозок на полигоне 1520 за счет таких ключевых процессов, как:
  //-     ul.list.selutin__list
  //-       each item in ['Минимизация издержек','Формирование конкурентоспособного ценового предложения','Балансировка транзитных маршрутов','Организация вывода на рынок новых логистических услуг','Адаптация транзитных сервисов для новых групп грузоотправителей','Повышение скорости перевозки',]
  //-         li.list__item
  //-           +mark-text-svg
  //-           p.selutin__text=item
  
  //- +business-content
  //- +geography
  //- +preview-2('Противодействие коррупции','Климочкин','Александр Николаевич','Директор по безопасности','klimochkin.png')
  //-   .klimochkin 
  //-     p.description ОТЛК ЕРА категорически во всех видах и формах не приемлет коррупцию. 
  //-     ul.list
  //-       each item in ['Этот принцип распространяется не только на сотрудников компании, но и на контрагентов, с которыми нас связывают деловые и неформальные отношения.','В настоящее время повседневная и хозяйственная деятельность компании осуществляется в соответствии с Антикоррупционной политикой ОТЛК ЕРА, которую совет директоров утвердил 25&nbsp;января&nbsp;2021&nbsp;года. ']
  //-         li
  //-           p.text.text-t!=item
  //- +corruption-content

