extends ../app
include ../components/section/map

include ../components/section/calendar-content
include ../components/section/business-content
include ../components/section/corruption-content
include ../components/section/geography
include ../components/section/indicators
include ../components/section/report-hero
include ../components/section/report-hero-layout
include ../components/section/who-we
include ../components/bloks-ui/modal

block header 
  +header-CN
block variables
  -const title = '关于公司'
block content
  +modal-CN
  +sidebar-CN
  +report-hero-about-CN
  +who-we-CN
  +calendar-content-CN
  +indicators-CN
  +preview('商业模式','谢柳京','米哈伊尔·伊万诺维奇','业务发展及风险分析主任','selutin.png').custom-id(id="section-business") 
    .selutin
      p.description.selutin__description 我们的运营模式旨在通过以下关键流程增加1520试验场的过境运输量：
      ul.list.selutin__list
        each item in ['成本最小化；','形成有竞争力的报价；','平衡过境路线；','组织新物流服务的市场推广；','为新的托运人群体调整过境服务；','提高运输速度。',]
          li.list__item
            +mark-text-svg
            p.selutin__text=item
  +business-content-CN
  +geography-CN
  +preview('反腐败','克利莫奇金','亚历山大·尼古拉耶维奇','Д安全部主任','klimochkin.png')
    .klimochkin 
      p.description UTLC&nbsp;ERA断然拒绝一切形式和方式的腐败行为。这一原则不仅适用于公司员工，也适用于与我们有业务和非正式关系的协作单位。 目前，公司按照董事会于2021年1月25日通过的新版（第32号会议纪要）UTLC&nbsp;ERA反腐败政策开展日常活动和经营活动。
  +corruption-content-CN
  +print-activity-buttons-CN
  +next-page('策略报告', 2,'下一节')
