//- extends ../app
//- block header 
//-   +header-CN
//- block variables
//-   -const title = '申请表格'
//- block content
//-   +sidebar-CN
//-   section.applications(data-aos="fade-up") 
//-     .container-content 
//-       .applications__inner 
//-         h2.applicatoins__title 关联交易清单
//-         .applications__row 
//-           .applications__col 
//-             p.applications__description 关联交易清单
//-             p.applications__text.text 2022年，TLC ERA没有达成有利益关系的交易。
//-           .applications__col 
//-             p.applications__description 根据法律：股东权利
//-             p.applications__text.text 在UTLC ERA，我们推行最佳行业实践，规范公司与股东之间的互动问题。具体来说，股东代表可以参加UTLC ERA的管理机构，并根据1995年12月26日《股份公司法》第208-FZ号联邦法、1996年4月22日《证券市场法》第39-FZ号联邦法、公司章程和股东协议，了解公司活动信息。
//-   section.applications-info.mt-section(data-aos="fade-up")
//-     .container-content 
//-       .applications-info__inner 
//-         h6.applications-info__title 背景资料
//-         .applications-info__row 
//-           .applications-info__col 
//-             .applications-info__item
//-               p.applications-info__description 俄文全称：
//-               p.applications-info__text.text “联合运输物流公司-欧亚铁路联盟”股份公司
//-             .applications-info__item
//-               p.applications-info__description 俄文简称：
//-               p.applications-info__text.text UTLC ERA股份公司
//-             .applications-info__item
//-               p.applications-info__description 英文全称：
//-               p.applications-info__text.text Joint Stock Company «UTLC ERA»
//-             .applications-info__item
//-               p.applications-info__description 英文简称：
//-               p.applications-info__text.text UTLC ERA
//-             .applications-info__item
//-               p.applications-info__description 公司所在地：
//-               p.applications-info__text.text 107078, 莫斯科，萨多瓦亚-切尔诺格里亚兹卡娅8号7栋
//-             .applications-info__item
//-               p.applications-info__description 公司通讯地址
//-               p.applications-info__text.text 107078, 莫斯科，萨多瓦亚-切尔诺格里亚兹卡娅8号7栋
//-             .applications-info__item
//-               p.applications-info__description 国家基本登记号
//-               p.applications-info__text.text 1187746369590
//-             .applications-info__item
//-               p.applications-info__description 纳税人识别码
//-               p.applications-info__text.text 9701104646
//-           .applications-info__col 
//-             .applications-info__item
//-               p.applications-info__description 发布公司信息的互联网页面地址：
//-               p.applications-info__text.text(href="www.utlc.com") www.utlc.com
//-             .applications-info__item
//-               p.applications-info__description 电话：
//-               a.applications-info__text.text(href="tel: +74959959591") +7 (495) 995-95-91
//-             .applications-info__item
//-               p.applications-info__description 电子邮箱地址：
//-               a.applications-info__text.text(href="mailto: utlc@utlc.com") utlc@utlc.com
//-             .applications-info__item
//-               p.applications-info__description 登记机构
//-               p.applications-info__text.text “Status”注册公司股份公司
//-               p.applications-info__text.text 所在地：109052, 莫斯科，新霍赫洛夫斯卡娅23号1栋，商务中心“Ring Park”大楼
//-               p.applications-info__text.text 国家基本登记号 1027700003924
//-               p.applications-info__text.text 纳税人识别码 7707179242
//-               p.applications-info__text.text 2004年3月12日由俄罗斯联邦金融市场管理局颁发的第10-000-1-00304号登记簿活动许可证，无有效期限制。
//-               p.applications-info__text.text 电话： +7 (495) 280-04-87
//-               p.applications-info__text.text 网址： www.rostatus.ru
//-             .applications-info__item
//-               p.applications-info__description 审计员
//-               p.applications-info__text.text 审计技术与解决方案中心 — 审计服务有限责任公司
//-               p.applications-info__text.text 所在地：115035, 莫斯科，萨多夫尼切斯卡娅沿岸街77号1栋
//-               p.applications-info__text.text 国家基本登记号 1027739707203
//-               p.applications-info__text.text 纳税人识别码 7709383532
//-               p.applications-info__text.text 电话 +7 (495)755-97-00
//-               p.applications-info__text.text 网址 www.tsatr-audit-services.ru
//-   section.applicartions-bottom.mt-section(data-aos="fade-up") 
//-     .container-content 
//-       .applications-bottom__inner 
//-         .applications-bottom__row 
//-           .col 
//-             p.applicaions-bottom__text.text 根据“Tsatr-审计服务”有限责任公司外部审计员对依据财务报告国际标准和俄罗斯会计标准拟定的UTLC ERA工作报告的审计结果，公司获得正面的审计意见，财务报表在所有重大方面真实地反映了公司截至 2022 年 12 月 31 日的财务状况，以及截至该日止年度的财务业绩和现金流量。
//-           .col 
//-         .applications-bottom__row 
//-           .col
//-           .applications-bottom__col
//-             h6.applications-bottom__title 监察委员会意见摘录
//-             .applications-bottom__item 
//-               p.applications-bottom__subtext 复合“联合运输物流公司-欧亚铁路联盟”股份公司2022年财务经营活动监察结果
//-             p.applications-bottom__subtext 2023年4月28日，莫斯科市
//-             .applications-bottom__block
//-               p.applications-bottom__text.text 符合联邦1995年12月26日No208-FZ“股份公司”联邦法第85款、监察委员会决议（2023年3月14日No2号纪要）批准的联合运输物流公司-欧亚铁路联盟”股份公司监察委员会工作计划，监察委员会成员：委员会主席斯捷潘尼扬E.A.，委员会成员：拉祖特N.V.、卡基莫娃A.S.组织联合运输物流公司-欧亚铁路联盟”股份公司2022年财务管理活动例行检查。 
//-               p.applications-bottom__text.text 在所进行的检查的基础上，监察委员会确定了公司2022年年度会计（财务）报表及UTLC ERA股份公司2022年年度报告中数据的真实性。  
//-             .applications-bottom__img
//-               +picture('applications-bottom.png')
//-   +next-page('关于公司', 1,'下一节')