extends ../app
include ../components/bloks-ui/modal

block header 
  +header-EN
block variables
  -const title = 'Applications'
block content
  +modal-EN
  +sidebar-EN
  section.applications(data-aos="fade-up") 
    .container-content 
      .applications__inner 
        h2.applicatoins__title Appendices
        .applications__row 
          .applications__col 
            p.applications__description List of Major Transactions
            p.applications__text.text In 2022, UTLC&nbsp;ERA made no major transactions. 
          .applications__col 
            p.applications__description Legal Compliance: Shareholder Rights
            p.applications__text.text At UTLC&nbsp;ERA, we apply the best industry practices regulating the company’s interaction with the shareholders. Specifically, representatives of the shareholders may be members of UTLC&nbsp;ERA’s corporate bodies and may access the information about the company’s business in accordance with Federal Law No. 208-FZ dated December 26, 1995 On Joint Stock Companies, Federal Law No. 39-FZ dated April 22, 1996 On Securities Market, the Company’s Articles of Association and the Shareholders’ Agreement. 
  section.applications-info.mt-section(data-aos="fade-up")
    .container-content 
      .applications-info__inner 
        h6.applications-info__title Reference
        .applications-info__row 
          .applications-info__col 
            .applications-info__item
              p.applications-info__description Company’s full name in Russian:
              p.applications-info__text.text Акционерное общество «Объединенная транспортно-логистическая компания – Евразийский железнодорожный альянс»
            .applications-info__item
              p.applications-info__description Company’s short name in Russian:
              p.applications-info__text.text  «ОТЛК&nbsp;ЕРА»
            .applications-info__item
              p.applications-info__description Company’s full name in English:
              p.applications-info__text.text Joint stock company “UTLC ERA“
            .applications-info__item
              p.applications-info__description Company's short name in English:
              p.applications-info__text.text UTLC&nbsp;ERA
            .applications-info__item
              p.applications-info__description Company’s location:
              p.applications-info__text.text Building 7, 8 Sadovaya-Chernogryazskaya Street, Moscow 107078
            .applications-info__item
              p.applications-info__description Company’s mailing address:
              p.applications-info__text.text Building 7, 8 Sadovaya-Chernogryazskaya Street, Moscow 107078
            .applications-info__item
              p.applications-info__description PSRN
              p.applications-info__text.text 1187746369590
            .applications-info__item
              p.applications-info__description TIN
              p.applications-info__text.text 9701104646
          .applications-info__col 
            .applications-info__item
              p.applications-info__description Web page with the company’s details:
              p.applications-info__text.text(href="www.utlc.com") www.utlc.com
            .applications-info__item
              p.applications-info__description Telephone: 
              a.applications-info__text.text(href="tel: +74959959591") +7 (495) 995-95-91
            .applications-info__item
              p.applications-info__description E-mail: 
              a.applications-info__text.text(href="mailto: utlc@utlc.com") utlc@utlc.com
            .applications-info__item
              p.applications-info__description Registrar
              p.applications-info__text.text Joint Stock Company “Registrar Company STATUS”
              p.applications-info__text.text Location: Building 1, 23 Novokhokhlovskaya Street, Ring Park BC, Moscow 109052
              p.applications-info__text.text PSRN 1027700003924
              p.applications-info__text.text TIN 7707179242
              p.applications-info__text.text Register Maintenance License No. 10-000-1-00304 dated March 12, 2004 issued by the Federal Financial Markets Service of the Russian Federation for an unlimited term.
              p.applications-info__text.text Telephone: +7 (495) 280-04-87
              p.applications-info__text.text Web page: www.rostatus.ru
            .applications-info__item
              p.applications-info__description Auditor
              p.applications-info__text.text Limited Liability Company Center for Audit Technologies and Solutions – Auditing Services
              p.applications-info__text.text Location: Building 1, 77 Sadovnicheskaya Embankment, Moscow 115035
              p.applications-info__text.text PSRN 1027739707203
              p.applications-info__text.text TIN 7709383532
              p.applications-info__text.text Telephone: +7 (495)755-97-00
              p.applications-info__text.text Web page:  www.tsatr-audit-services.ru
  section.applicartions-bottom.mt-section(data-aos="fade-up") 
    .container-content 
      .applications-bottom__inner 
        .applications-bottom__row 
          .col 
            p.applicaions-bottom__text.text Add the following text: “Based on the audit conducted by the third party auditor, CATR – Auditing Services LLC, to check UTLC&nbsp;ERA’s statements generated according to the International Financial Reporting Standards (IFRS) and the Russian Accounting Standards (RAS), the Company has obtained the positive audit opinions to certify that the financial statements correctly reflect the Company’s financial standing in every material respect as of December 31, 2022, as well as its financial performance and cash flow for the year ending on the specified date”.
          .col 
        .applications-bottom__row 
          .col
          .applications-bottom__col
            h6.applications-bottom__title Extract from the opinion of the Audit Commission
            .applications-bottom__item 
              p.applications-bottom__subtext Based on the audit of the financial and business operations of Joint-Stock Company “UTLC&nbsp;ERA” for 2022.
            p.applications-bottom__subtext April 28, 2023, Moscow
            .applications-bottom__block
              p.applications-bottom__text.text According to Article 85 of Federal Law dated 26.12.1995 No. 208-FZ On Joint-Stock Companies and the action plan of the Audit Commission of Joint-Stock Company “UTLC&nbsp;ERA” approved by the resolution of the Audit Commission (Minutes No. 2 dated March 14, 2023), the Commission composed of: Ye. Stepanyan, Chairman of the Commission, N. Lazuta and A. Kakimov, members of the Commission, conducted a scheduled audit of the financial and business operations of Joint-Stock Company “United Transport and Logistics Company – Eurasian Rail Alliance” (hereinafter referred to as JSC UTLC ERA or the Company) for 2022.

              p.applications-bottom__text.text Based on this audit, the Audit Commission confirms the reliability of the data contained in the Company's annual accounting (financial) statements for 2022 and JSC&nbsp;UTLC&nbsp;ERA Annual Report for 2022.
            .applications-bottom__img
              +picture('applications-bottom-EN.png')
  +print-activity-buttons-EN
  +next-page('About the company', 1,'Next section')
