//- extends ../app
//- include ../components/bloks-ui/letter
//- include ../components/section/reward-content
//- block header
//- block content
//-   ul.index-list
//-     each route in data.routes
//-       li
//-         a(href=route.href)= route.title
//-   .index__letter
//-     +letter
