extends ../app



block header
block footer

block grid-test



block content
  //- ul.index-list
  //-   each route in data.routes
  //-     li
  //-       a(href=route.href)= route.title
  +preview-2('Глобальная экономика<br>и логистический рынок<br>в 2022 году', 'имя', 'фамилия', 'Начальник отдела маркетинговых исследований', 'androsova.png')
    p Дополнительные блоки
