extends ../app



block header
block footer

block grid-test



block content
  ul.index-list
    each route in data.routes
      li
        a(href=route.href)= route.title

  +preview-2('','Пахомов', 'Евгений Владимирович', 'Заместитель директора департамента по контролю расчетов <br>и производственного анализа коммерческой дирекции', 'pahomov.png')
    .preview-pahomov
      p.description Доля провинций в 2022 году
        .preview-pahomov__img
          +picture('share-provinces-page3.png')
