extends ../app
include ../components/bloks-ui/letter

block header
block content
  ul.index-list
    each route in data.routes
      li
        a(href=route.href)= route.title
  .index__letter
    +letter