extends ../app

block content
  +trends-preview
  +trends-content
  +transit-preview
  +transit-content
  +landscape-preview
  +landscape-content
  +strategy-preview
  +strategy-content
  +map
  +next-section
