extends ../app

block content
  +report-hero
  +econimics-preview
  +global-economy
  +trends-preview
  +transit-preview
  +landscape-preview
  +landscape-content
  +strategy-preview
  +strategy-content
  +map
  +next-section
