extends ../app

include ../components/section/report-hero
include ../components/section/report-hero-layout
include ../components/section/main-contents 

block header 
  +header-CN

block content
  +sidebar-CN
  +report-hero-main-CN 
  +main-contents-CN