extends ../app

include ../components/section/report-hero
include ../components/section/report-hero-layout
include ../components/section/main-contents 

block content
  +report-hero-main-EN 
  +main-contents