extends ../app

block content
  +report-hero-main 
  +main-contents 
  a(href="../assets/images/transit-dynamic-1-mobile.png" data-lightbox="image-1" data-caption="Single image" ) 
    img(src="../assets/images/transit-dynamic-1-mobile.png" alt="")

