extends ../app
include ../components/section/security-content
include ../components/section/ecology-content
include ../components/section/purchase-content


block content
  +report-hero-4
  +human-capital 
  +human-capital-preview
  +organization-structure
  +security-preview
  +security-content
  +ecology-preview
  +ecology-content
  +purchase-content
  +energy-preview
