extends ../app

include ../components/section/direction-content
include ../components/section/preservation-content


block content
  +direction-preview
  +direction-content
  +preservation-preview
  +preservation-content 


