extends ../app

block content
  +report-hero
  +econimics-preview
  +global-economy
  +preview-2('Тренды логистической отрасли: время альтернатив','Коробов','Денис Сергеевич','Начальник отдела клиентского сервиса департамента <br/> по работе с клиентами коммерческой дирекции','korobov.png')
  +trends-content
  +preview-2('Рынок ж/д транзита   <br/>Китай — Европа — Китай','кадыров','Айдар Ерболатович','Ведущий менеджер департамента логистики коммерческой дирекции','kadyrov.png')
    .kadyrov
      p.kadyrov__text По итогам 2022 года общий объем железнодорожных транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по основным маршрутам МТК «Восток-Запад» сократился, а позиция ОТЛК ЕРА на рынке значительно упрочилась.
  //- +transit-preview
  +transit-content
  //- +landscape-preview
  +preview-2('Контекст бизнеса:  <br/>санкционный ландшафт','селезнев','Андрей Сергеевич','Сотрудник диспетчерского центра дирекции по перевозкам','seleznev.png')
  +landscape-content
  +strategy-preview
  +strategy-content
  +map
  +next-page('Результаты деятельности',3)
