extends ../app


include ../components/section/reward-content
include ../components/section/controls-content
include ../components/section/risk-content

block content
  //- +report-hero-5
  //- +control-sections 
  //- +incorporated-preview
  //- +incorporated
  
  +reward-preview
  +reward-content
  +controls-preview
  +controls-content
  +risk-preview
  +risk-content
  +next-page('Приложения',6)
