//- extends ../app

//- include ../components/section/reward-content
//- include ../components/section/controls-content
//- include ../components/section/risk-content
//- include ../components/bloks-ui/risks

//- include ../components/section/incorporated
//- include ../components/section/report-hero
//- include ../components/section/report-hero-layout
//- include ../components/section/control

//- block variables
//-   -const title = '企业管治'
//- block content
//-   +preview('薪酬制度','伊万诺娃','马丽娜·弗拉基米罗夫娜','人力资源部部长','ivanova.png').custom-id(id="preview-reward-content")
//-   +reward-content-CN
//-   +preview('监管系统','帕夫卢申科娃','·伊莉娜·安纳托利耶夫娜','总会计师-部门经理','pavluchkova.png').custom-id(id="controls-content")
//-   +controls-content-CN
//-   +preview('风险管理 ','别利亚科娃','安娜·弗拉基米罗夫娜','商务副经理-商务管理处结算监督与生产分析科经理','belyakova.png').custom-id(id="risk-content")
//-   +risk-content-CN
//-   +print-activity-buttons-CN
//-   +next-page('申请表格',6,'下一节')
