extends ../app

block content
  //- +report-hero
  //- +preview('Глобальная экономика <br/> и логистический рынок <br/>в 2022 году','Иванов','Артемий Павлович','Начальник отдела маркетинговых исследований','ivanov.png').ivanov-preview(id="preview-ge") 
  //- +global-economy
  //- +preview('Logistics industry trends: Time for alternative options','Korobov','Denis','Head of Customer Services Section, Customer Relations Department, Commercial Directorate','korobov.png').custom-id(id="preview-trends")
  //- +trends-content-EN
  //- +preview('China–Europe–China Rail Transit Market','Kadyrov','Aidar','Lead Manager of Logistics Department, Commercial Directorate','kadyrov.png').custom-id(id="preview-transit").preview__kadyrov
  //-   .kadyrov
  //-     p.kadyrov__text As of the end of 2022, the total volume of rail transit container traffic in the China – Europe – China directions on the main East – West International Transport Corridor routes has declined, while UTLC ERA’s market position has significantly strengthened.
  //- +transit-content-EN

//-   +preview('Lead System Analyst of Information System Support Section','Kovaleva','
//- Daria','Lead System Analyst of Information System Support Section','kovaleva.png').custom-id(id="preview-strategy-leader")
//-   +strategy-content-EN
  //- +map
  //- +next-page('Результаты деятельности',3)
