extends ../app
include ../components/section/security-content
include ../components/section/ecology-content
include ../components/section/purchase-content
include ../components/section/charity-content


block content
  +report-hero-4
  +human-capital 
  +human-capital-preview
  +organization-structure
  +corporate-responsibility-preview
  +corporate-responsibility
  
  +security-preview
  +security-content
  +ecology-preview
  +ecology-content
  +charity-preview
  +charity-content
  +purchase-content
  +energy-preview
  +next-page('Корпоративное управление',5)
