extends ../app

block content
  //- +report-hero
  +preview('Глобальная экономика <br/> и логистический рынок <br/>в 2022 году','Иванов','Артемий Павлович','Начальник отдела маркетинговых исследований','ivanov.png').ivanov-preview(id="preview-ge") 
  //- +global-economy
  +preview('Тренды логистической<br/> отрасли: время <br/> альтернатив','Коробов','Денис Сергеевич','Начальник отдела клиентского сервиса департамента <br/> по работе с клиентами коммерческой дирекции','korobov.png').custom-id(id="preview-trends")
  +trends-content
  +preview('Рынок ж/д транзита   <br/>Китай — Европа — Китай','кадыров','Айдар Ерболатович','Ведущий менеджер департамента логистики <br class="btn-t"/>коммерческой дирекции','kadyrov.png').custom-id(id="preview-transit").preview__kadyrov
    .kadyrov
      p.kadyrov__text По итогам 2022 года общий объем железнодорожных транзитных контейнерных перевозок в сообщении Китай-Европа-Китай по основным маршрутам МТК «Восток-Запад» сократился, а позиция ОТЛК ЕРА на рынке значительно упрочилась.
  +transit-content
  +preview('Стратегия <br/>технологического лидера','Ковалева','Дарья Александровна','Системный аналитик отдела сопровождения информационных систем','kovaleva.png').custom-id(id="preview-strategy-leader")
  +strategy-content
  +map
  +next-page('Результаты деятельности',3)
