extends ../app

include ../components/section/direction-content
include ../components/section/preservation-content
include ../components/section/profit-content
include ../components/section/case-content


block content
  //- +report-hero-3
  //- +operation-results
  //- +share-provinces-preview
  //- +share-provinces-subtext
  //- +marshrute-speed
  //- +formation-park-preview
  //- +formation-park
  //- +client-portfolio-preview
  //- +client-portfolio
  +direction-preview
  +direction-content
  +preservation-preview
  +preservation-content 
  +profit-preview 
  +profit-content
  +case-preview
  +case-content
