extends ../app

include ../components/section/direction-content
include ../components/section/preservation-content
include ../components/section/profit-content
include ../components/section/case-content


block content
  +direction-preview
  +direction-content
  +preservation-preview
  +preservation-content 
  +profit-preview 
  +profit-content
  +case-preview
  +case-content
