extends ../app

include ../components/section/direction-content
include ../components/section/preservation-content
include ../components/section/profit-content
include ../components/section/case-content

block variables
  -const title = '績效結果'
block content
  +preview('数字化发展的主要方向','安皮洛夫','基里尔·安德烈耶维奇','信息系统支持部主任','anpilov.png').custom-id(id="preview-main-line")(data-aos="fade-up")
  +direction-content-CN
  +preview('保持成绩','拉祖托娃','叶莲娜·米哈伊洛夫娜','财务经济部经理','lazutova.png').lazutova(id="preview-section-save")
  +preservation-content-CN
  +preview('销售利润','索洛维耶娃','叶卡捷琳娜·米哈伊洛夫娜','副总会计师-部门经理','solov.png').custom-id(id="profit-sales") 
  +profit-content-CN
  +preview('关注商业环境','利帕托娃','马丽娜·亚历山德罗夫娜','业务管理副主任','lipatova.png').custom-id(id="preview-care") 
    .lipatova 
      p.lipatova__description.description 我们正在努力形成有利于提供高水平服务的有利法律环境
  +case-content-CN
  +print-activity-buttons-CN
  +next-page('可持续发展',4,'下一节')
