extends ../app

include ../components/section/reward-content
include ../components/section/controls-content
include ../components/section/risk-content
include ../components/bloks-ui/risks

include ../components/section/report-hero
include ../components/section/incorporated
include ../components/section/report-hero-layout
include ../components/section/control
include ../components/bloks-ui/modal
include ../components/bloks-ui/model

block variables
  -const title = 'Корпоративное управление'
block content
  +modal
  +sidebar 
  +report-hero-5
  +control-sections 
  +preview('Акционерный капитал','Павлова','Ксения Вячеславовна ','Руководитель направления по работе с финансовыми инструментами','pavlova.png','t').custom-id(id="share-capital")(data-aos="fade-up")
    .pavlova 
      p.pavlova__text.text Акционерное общество «Объединенная транспортно-логистическая компания – Евразийский железнодорожный альянс» зарегистрировано 2 апреля 2018 года Межрайонной инспекцией ФНС №46 по г. Москве за основным государственным регистрационным номером 1187746369590 (ИНН 9701104646).
  +incorporated
  +preview('Система <br> вознаграждения','Иванова','Марина Владимировна ','Директор департамента управления персоналом','ivanova.png','t').custom-id(id="preview-reward-content")
  +reward-content
  +preview('Система контроля','Павлушкова','Ирина Анатольевна','Главный бухгалтер - директор департамента бухгалтерского и налогового учета','pavluchkova.png','t').custom-id(id="controls-content")
  +controls-content
  +preview('Управление рисками','Белякова','Анна Владимировна','Заместитель коммерческого директора – директор департамента контроля <br class="br"/> расчетов и производственного анализа коммерческой дирекции','belyakova.png','t').custom-id(id="risk-content")
  +risk-content
  +next-page('Приложения',6)
