extends ../app


include ../components/section/reward-content
include ../components/section/controls-content
include ../components/section/risk-content
block variables
  -const title = 'Корпоративное управление'
block content
  +report-hero-5-EN
  +control-sections 
  +preview('Акционерный капитал','Павлова','Ксения Вячеславовна ','Руководитель направления по работе с финансовыми инструментами','pavlova.png').custom-id(id="share-capital")(data-aos="fade-up")
    .pavlova 
      p.pavlova__text.text Акционерное общество «Объединенная транспортно-логистическая компания – Евразийский железнодорожный альянс» зарегистрировано 2 апреля 2018 года Межрайонной инспекцией ФНС №46 по г. Москве за основным государственным регистрационным номером 1187746369590 (ИНН 9701104646).
  +incorporated
  //- +preview('Remuneration system','Ivanova','Marina','HR Management Department Director','ivanova.png').custom-id(id="preview-reward-content")
  //- +reward-content-EN
  //- +preview('Control System','Pavlushkova','Irina','Chief Accountant — Department Director','pavluchkova.png').custom-id(id="controls-content")
  //- +controls-content-EN
  //- +preview('Risk Management ','Belyakova','Anna','Deputy Commercial Director — Director of Account Settlement Control and Production Analysis Department, Commercial Directorate','belyakova.png').custom-id(id="risk-content")
  //- +risk-content
  //- +next-page('Приложения',6)