$files: (
  ("Halvar Breitschrift", 700),
  ("Manrope-Light", 300),
  ("Manrope-Regular", 400),
  ("Manrope-Medium", 500),
  ("Manrope-SemiBold", 600),
  ("Manrope-Bold", 700),
);

@each $filename,
$font-weight in $files {
  @font-face {
    src: font-url($filename);

    font-family: $ff-primary;
    font-weight: $font-weight;
  }
}