-
  var test = 'test'

block variables
  - var param = false



include ./components/svg
include ./components/picture

include ./components/header
include ./components/footer
include ./components/overlay

include ./components/grid-test

//section
include ./components/section/next
include ./components/section/map
include ./components/section/preview
include ./components/section/strategy-content
include ./components/section/landscape-content
include ./components/section/transit-content
include ./components/section/trends-content
include ./components/section/report-hero
include ./components/section/report-hero-layout
include ./components/section/global-economy
include ./components/section/operation-results
include ./components/section/marshrute-speed
include ./components/section/formation-park
include ./components/section/client-portfolio
include ./components/section/who-we
include ./components/section/corporate-responsibility
include ./components/section/human-capital

include ./components/other-blocks/other-components

// elements
include ./components/buttons

doctype html

html(lang='ru')
  
  head
    meta(charset="utf-8")
    title= data.title
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  
  body.body

    .wrapper

      block header
        +header

      main.main
        block content

      block footer
        //- +footer

      block grid-test
        +grid-test

    block scripts
