block variables
  - var param = false



include ./components/svg
include ./components/picture

include ./components/header
include ./components/overlay
include ./components/sidebar
//section
include ./components/preview/preview-2
include ./components/section/search-results-blocks
include ./components/other-blocks/other-components

// elements
include ./components/buttons
include ./components/preloader
include ./components/bloks-ui/message-block
include ./components/bloks-ui/next-page
include ./components/bloks-ui/buttons
include ./components/bloks-ui/form-components

doctype html

html(lang='ru')
  
  head
    meta(charset="utf-8")
    title= title?title:data.title
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    //- favicon
    link(rel="icon", type='image/png' href="assets/images/favicon_16x16.png" sizes='16x16')
    link(rel="icon", type='image/png' href="assets/images/favicon_32x32.png" sizes='32x32')
    link(rel="shortcut icon", href="assets/images/favicon.ico")
    //- IOS
    link(rel="apple-touch-icon", href="assets/images/svg/appletouch.svg")
    //- opengraph
    meta(property='og:image' content='assets/images/opengraph.jpg')
  
  body.body.body--notransition(style={
    opacity:0
  })
    .wrapper
      +preloader
      block header
      main.main
        +overlay
        block content
    block scripts
