@import './utils/*';

@import './components/*';

@import './pages/*';
@import '../select2.scss';

.f-button svg {
  stroke: #4b514d !important;

  &:hover {
    stroke: black !important;
  }
}

//////////////////
.print-gap {
  page-break-before: always;
}

.tt {
  text-transform: initial !important;
}

@page {
  margin: 1cm;
}

.print {

  .report-hero {
    page-break-after: always;

  }

  .who-we .reference-subrow__col.icons {
    grid-template-columns: repeat(1, 1fr);
  }

  #section-who-we-mission {
    page-break-before: always;
  }

  .who-we__achievement-img {
    display: none;
  }

  .appeal-line {
    display: none;
  }

  .who-we__appeal .appeal-col:nth-child(1) {
    max-width: 100%;
  }

  .appeal-svg {
    display: none;
  }

  .who-we__appeal .appeal-col:nth-child(2) {
    padding-top: 10px;
  }

  .indicators-finance picture {
    width: auto;
    height: auto;
  }

  .who-we__trains-bot {
    justify-content: start;
  }

  .geography__box {
    height: auto;
  }

  .geography__box picture {
    width: auto;
  }

  .chinese-forecast__grafic {
    width: 100%;
  }

  .chinese-forecast__grafic-left {
    width: 100%;
  }

  .key-forecast__subsection-container,
  .mutal-trade__balance-container,
  .transit-volume__svg,
  .transit-china__img,
  .transit-value__img,
  .transit-export__svg,
  .marshrute-speed__footer-container,
  .control-structure__img-container,
  .incorporated-accrued__img-container,
  .reward-table__img {
    padding-left: 0;
    margin-left: 0;
    width: auto;
  }

  .trends-volume-img {
    width: auto;
  }

  picture {
    width: auto !important;
    height: auto !important;
  }

  .marshrute-speed__subsection-vector {
    height: auto;
  }

  .marshrute-speed__footer-vector {
    height: auto !important;
  }

  .organization-structure__img-container {
    margin-left: 0;
  }

  .organization-structure__personal-grafic {
    height: auto;
  }

  body {
    padding-bottom: 60px;
  }

  .control-structure__img,
  .incorporated-accrued__img,
  .alt-preview__img {
    height: auto;
    width: auto;
  }

  .risk-analysis__item-img {
    display: none;
  }

  .risk-analysis__item {
    padding-bottom: 0;
  }

  .risk-process__img {
    height: auto;
  }

  .applications {
    margin-top: 20px !important;
  }

  .report-hero__portrait {
    width: auto !important;
    height: auto !important;

    picture {
      width: auto !important;
      height: auto !important;
    }
  }

  .report-hero__portrait {
    width: 90% !important;
    height: auto !important;

    picture {
      width: 90% !important;
      height: auto !important;
    }
  }

  .macroeconomics-grafics__col {
    max-width: 100%;
  }

  .who-we__appeal .appeal-signature {
    width: auto;
  }

  .preview__title {
    font-size: 52px;
    text-align: center;
    margin-bottom: 20px;
  }

  .report-hero__portrait.mobile {
    width: 100% !important;

    img {
      width: 100% !important;
    }
  }

  .pahomov__img {
    height: auto;
  }

  .block-diagram__col {
    display: none;
  }

  .preservation-structure__video,
  .preservation-statistics__video {
    display: none !important;
  }

  .preservation-statistics__video {
    margin-top: 0 !important;
  }

  .preservation-structure__descrition {
    height: 60px;
  }

  .preservation-dynamic__img {
    width: auto;
    margin-left: 0;
    padding-left: 0;
  }


  .preview__title {
    padding-top: 0;
  }

}


.print-ios {
  .sidebar {
    display: none !important;
  }

  .who-we__trains-bot {
    margin-top: 40px;
    margin-right: 0;
  }

  .who-we {
    margin-top: 20px;
  }

  .who-we__achievement-item:nth-child(2) {
    page-break-after: always;
    margin-bottom: 100px;
  }

  .who-we__achievement-img {
    top: 92px !important;
    bottom: 20px !important;
  }

  .who-we__achievement-item {
    overflow: hidden;
  }

  .report-hero__portrait {
    position: absolute;
    bottom: 0 !important;
  }

  .report-hero {
    height: 500px !important;
  }

  .macroeconomics {
    page-break-before: always;
  }

  .key-forecast {
    margin-top: 150px;
  }

  .marshrute-speed {
    page-break-before: always;
  }

  .formation-train {
    padding-top: 40px;
  }

  .formation-train__block {
    flex-direction: row;
    justify-content: start;
  }

  .formation-park {
    margin-top: 0;
  }

  .formation-train {
    height: auto;
  }

  .formation-park__vector-right {
    height: 500px;
  }

  .formation-park__structure-vector {
    height: 400px;
  }

  .mt-section {
    margin-top: 20px;
  }

  .preview {
    margin-top: 20px;
  }

  .direction-automation,
  .direction-documents,
  .preservation-sales,
  .organization-structure {
    page-break-before: always;
  }

  .chinese-forecast__grafic {
    width: 100%;
  }

  .block-diagram__col,
  .block-diagram__video,
  .block-diagram {
    display: none;
  }

  .profit-reporting__column .row {
    grid-template-columns: repeat(1, 1fr);
  }

  .organization-structure__title {
    margin-bottom: 20px;
  }
}

.who-we__achievement {
  overflow: hidden;
}