mixin header
  header.header
    +overlay
    .header-container
      .header-col 
        .header-burger(data-header-burger) 
          .header-burger__content 
            .header-burger__content-line 
            .header-burger__content-line 
            .header-burger__content-line 
        .header-logo 
          +header-logo-svg 
        .header-title Человек как 
          span.header-title__green главная ценность
        .header-text 
          .header-text__top годовой отчет 2022
          .header-text__bot стратегический отчет
      .header-col
        .header-actions
          .header-actions__item 
            .header-actions__item-icon 
              +search-normal-svg.search
          .header-actions__item
            .header-actions__item-row
              .header-actions__item-text EN
              .header-actions__item-icon
                +header-arrow-svg.arrow
          .header-actions__item
            .header-actions__item-row
              .header-actions__item-icon
                +header-download-svg.download
              .header-actions__item-text.dark PDF
      .header-menu(data-header-menu)
        .header-menu__top-container
          .header-menu__title годовой отчет 2022
          .header-menu__list 
            .header-menu__item(data-header-item="about")
              .header-menu__item-text О компании
              .header-menu__item-num 1
            .header-menu__item(data-header-item="strategy")
              .header-menu__item-text Стратегический отчет
              .header-menu__item-num 2
            .header-menu__item
              .header-menu__item-text Результаты деятельности
              .header-menu__item-num 3
            .header-menu__item
              .header-menu__item-text Устойчивое развитие
              .header-menu__item-num 4
            .header-menu__item
              .header-menu__item-text Корпоративное управление
              .header-menu__item-num 5
            .header-menu__item
              .header-menu__item-text Приложения
              .header-menu__item-num 6
        .header-menu__bot-container
          //- .header-menu__code 
          //-   +header-qr-svg
          a.header-menu__download(href="#")  
            .header-menu__download-icon 
              +header-download-svg
            .header-menu__download-text Скачать в PDF
      .header-sub(data-header-sub="about")
        .header-sub__back-item.mobile-custom(data-sub-back='')
          .header-sub__back-text О компании
        .header-sub__list 
          .header-sub__item 
            .header-sub__item-title ОТЛК&nbsp;ЕРА. Кто мы?
            .header-sub__item-subsection Новые горизонты
          .header-sub__item 
            .header-sub__item-title Справка о Компании
            .header-sub__item-subsection Наша миссия
          .header-sub__item 
            .header-sub__item-title Десять достижений 2022 года
          .header-sub__item 
            .header-sub__item-title Об отчете
          .header-sub__item 
            .header-sub__item-title Обращение Генерального <br>директора
          .header-sub__item 
            .header-sub__item-title Обращение председателя <br>Совета Директоров
          .header-sub__item 
            .header-sub__item-title Календарь событий 2022
          .header-sub__item 
            .header-sub__item-title Ключевые показатели
          .header-sub__item 
            .header-sub__item-title Бизнес–модель
          .header-sub__item 
            .header-sub__item-title География деятельности
          .header-sub__item 
            .header-sub__item-title Противодействие коррупции
            .header-sub__item-subsection Задачи антикоррупционной политики
            .header-sub__item-subsection Принципы безопасности
            .header-sub__item-subsection Система проверки контрагентов
      .header-sub(data-header-sub="strategy") 
        .header-sub__list 
          .header-sub__item 
            .header-sub__item-title ОТЛК&nbsp;ЕРА. Кто мы?
            .header-sub__item-subsection Новые горизонты
          .header-sub__item 
            .header-sub__item-title Справка о Компании
            .header-sub__item-subsection Наша миссия
          .header-sub__item 
            .header-sub__item-title Десять достижений 2022 года
          .header-sub__item 
            .header-sub__item-title Об отчете
          .header-sub__item 
            .header-sub__item-title Обращение Генерального <br>директора
          .header-sub__item 
            .header-sub__item-title Обращение председателя <br>Совета Директоров
          .header-sub__item 
            .header-sub__item-title Календарь событий 2022
          .header-sub__item 
            .header-sub__item-title Ключевые показатели
          .header-sub__item 
            .header-sub__item-title Бизнес–модель
          .header-sub__item 
            .header-sub__item-title География деятельности
          .header-sub__item 
            .header-sub__item-title Противодействие коррупции
            .header-sub__item-subsection Задачи антикоррупционной политики
            .header-sub__item-subsection Принципы безопасности
            .header-sub__item-subsection Система проверки контрагентов


