mixin sidebar 
  .sidebar 
    .header-menu(data-header-menu)
      .header-menu__top-container
        .header-menu__title годовой отчет 2022
        .header-menu__list 
          .header-menu__item(data-header-item="about")
            .header-menu__item-text О компании
            .header-menu__item-num 1
          .header-menu__item(data-header-item="strategy")
            .header-menu__item-text Стратегический отчет
            .header-menu__item-num 2
          .header-menu__item(data-header-item="results")
            .header-menu__item-text Результаты деятельности
            .header-menu__item-num 3
          .header-menu__item(data-header-item="growth")
            .header-menu__item-text Устойчивое развитие
            .header-menu__item-num 4
          .header-menu__item(data-header-item="corporate")
            .header-menu__item-text Корпоративное управление
            .header-menu__item-num 5
          a.header-menu__item(href="applications")
            .header-menu__item-text Приложения
            .header-menu__item-num 6
      .header-menu__bot-container
        .header-menu__media.header-media 
          .header-media__inner 
            .header-media__share 
              a.header-media__share-col(href="#") 
                .header-media__share-icon 
                  +share-svg
                .header-media__share-text.header-media__text Поделиться
              .header-media__share-col 
                .header-media__cubes 
                  a.header-media__cube(href="#") 
                    +vk-svg
                  a.header-media__cube(href="#") 
                    +telegram-svg
            .header-media__history(data-media-history)
              .header-media__history-icon 
                +share-clock-svg
              .header-media__history-text.header-media__text история
        a.header-menu__download(href="#")  
          .header-menu__download-icon 
            +header-download-svg
          .header-menu__download-text Скачать в PDF
    .header-sub(data-header-sub="about")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text О компании
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="about#section-who-we") ОТЛК&nbsp;ЕРА. Кто мы?
          a.header-sub__item-subsection(href="about#section-who-we-reference")  Справка о Компании
          a.header-sub__item-subsection(href="about#section-who-we-mission")  Десять достижений 2022 года
          a.header-sub__item-subsection(href="about#section-who-we-report")  Об Отчете
        .header-sub__item 
          a.header-sub__item-title(href="about#section-who-we-appeal") Обращение генерального <br>директора
        .header-sub__item 
          a.header-sub__item-title(href="about#section-who-we-calendar")  Календарь событий 2022
        .header-sub__item 
          a.header-sub__item-title(href="about#section-indicators")  Ключевые показатели
        .header-sub__item 
          a.header-sub__item-title(href="about#section-business")  Бизнес–модель
        .header-sub__item 
          a.header-sub__item-title(href="about#about-geography")  География деятельности
        .header-sub__item 
          a.header-sub__item-title(href="about#about-corruption") Противодействие коррупции
    .header-sub(data-header-sub="strategy") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Стратегический отчет
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-2#preview-ge")  Глобальная экономика <br> и логистический рынок в 2022 году
          a.header-sub__item-subsection(href="page-2#section-ge-macroeconomics")  Макроэкономическая ситуация
          a.header-sub__item-subsection(href="page-2#section-ge-chinese")  Экономика Китая
          a.header-sub__item-subsection(href="page-2#section-ge-europe")  Экономика Европы
          a.header-sub__item-subsection(href="page-2#section-ge-mutal")  Взаимная торговля Китая и Европы
          a.header-sub__item-subsection(href="page-2#nav-res")  Вывод
        .header-sub__item 
          a.header-sub__item-title(href="page-2#preview-trends") Тренды логистической отрасли: <br>время альтернатив
          a.header-sub__item-subsection(href="page-2#trends-market")  Рынок морских контейнерных перевозок
          a.header-sub__item-subsection(href="page-2#trends-forecast")  Прогноз: рынок покупателя
          a.header-sub__item-subsection(href="page-2#nav-avia")  Рынок грузовых авиаперевозок
          a.header-sub__item-subsection(href="page-2#trends-forecast2")  Прогноз: осторожный оптимизм
        .header-sub__item 
          a.header-sub__item-title(href="page-2#preview-transit")  Рынок ж/д транзита Китай–Европа–Китай
        .header-sub__item 
          a.header-sub__item-title(href="page-2#preview-strategy-leader")  Стратегия технологического <br>лидера 
        .header-sub__item 
          a.header-sub__item-title(href="page-2#nav-outcome")  Что было сделано в рамках сотрудничества в 2022 году
    .header-sub(data-header-sub="results") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Результаты <br> деятельности в 2022 году
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-3#operation-results")  Операционные результаты
        .header-sub__item 
          a.header-sub__item-title(href="page-3#formation-park") Формирование парка: оптимизация
        .header-sub__item 
          a.header-sub__item-title(href="page-3#client-portfolio")  Клиентский профиль
        .header-sub__item 
          a.header-sub__item-title(href="page-3#client-transportation") Развитие перевозок Китай-РФ
        .header-sub__item 
          a.header-sub__item-title(href="page-3#client-development__paperless")  Безбумажные перевозки: инновационное развитие
        .header-sub__item 
          a.header-sub__item-title(href="page-3#preview-main-line") Главные направления цифрового развития
        .header-sub__item 
          a.header-sub__item-title(href="page-3#preview-section-save") Сохранить достигнутое
          a.header-sub__item-subsection(href="page-3#preservation-finance")  Финансовый обзор
        .header-sub__item 
          a.header-sub__item-title(href="page-3#preview-care") С заботой о деловом климате

    .header-sub(data-header-sub="growth") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Устойчивое развитие
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-4#human-capital") Человеческий капитал
          a.header-sub__item-subsection(href="page-4#human-capital") Сколько нас?
          a.header-sub__item-subsection(href="page-4#recruitment-processes") Процессы найма
          a.header-sub__item-subsection(href="page-4#corporate-culture") Корпоративная культура
        .header-sub__item 
          a.header-sub__item-title(href="page-4#corporate-culture") Корпоративная социальная <br>ответственность
          a.header-sub__item-subsection(href="page-4#corporate-responsibility-care") Забота о людях
          a.header-sub__item-subsection(href="page-4#corporate-responsibility-events") Корпоративные мероприятия
          a.header-sub__item-subsection(href="page-4#corporate-responsibility-health") Здоровье и медицинское обеспечение
          a.header-sub__item-subsection(href="page-4#material-help") Материальная и иная помощь
          a.header-sub__item-subsection(href="page-4#education-support") Поддержка образования
          a.header-sub__item-subsection(href="page-4#education-development") Обучение и развитие
          a.header-sub__item-subsection(href="page-4#education-responsibility__trainings") Тренинги и конференции
          a.header-sub__item-subsection(href="page-4#education-it") ИТ-ресурсы для сотрудников
        .header-sub__item 
          a.header-sub__item-title(href="page-4#preview-security-conten") Охрана труда и пожарная<br> безопасность
        .header-sub__item 
          a.header-sub__item-title(href="page-4#preview-ecology-content") Экологичность как конкурентное <br>преимущество
          a.header-sub__item-subsection(href="page-4#ecology-mt") Воздействие на климат
          a.header-sub__item-subsection(href="page-4#ecology-dynamic") Динамика выбросов CO<span class="fz-10">2</span>
          a.header-sub__item-subsection(href="page-4#ecology-environment") Охрана окружающей среды

        .header-sub__item 
          a.header-sub__item-title(href="page-4#preview-charity-content") Люди прежде всего: <br>благотворительность
        .header-sub__item 
          a.header-sub__item-title(href="page-4#charity-utlc") Объединение людей и стран: UTLC CUP 2022
        .header-sub__item 
          a.header-sub__item-title(href="page-4#section-purchase") Закупочная деятельность
        .header-sub__item 
          a.header-sub__item-title(href="page-4#preview-energetic-resourses") Использование энергетических<br> ресурсов
    .header-sub(data-header-sub="corporate")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Корпоративное <br>управление
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-5#control-hero") Структура корпоративного <br>управления
        .header-sub__item 
          a.header-sub__item-title(href="page-5#share-capital") Акционерный капитал
        .header-sub__item 
          a.header-sub__item-title(href="page-5#incorporated-dividends") Дивидендная политика
        .header-sub__item 
          a.header-sub__item-title(href="page-5#incorporated-shareholders") Общее собрание акционеров
        .header-sub__item 
          a.header-sub__item-title(href="page-5#incorporated-council") Совет директоров
        .header-sub__item 
          a.header-sub__item-title(href="page-5#incorporated-corporative") Корпоративный секретарь и секретарь комитетов
        .header-sub__item 
          a.header-sub__item-title(href="page-5#incorporated-governing") Правление и генеральный директор
        .header-sub__item 
          a.header-sub__item-title(href="page-5#preview-reward-content") Система вознаграждения
        .header-sub__item 
          a.header-sub__item-title(href="page-5#controls-content") Система контроля
        .header-sub__item 
          a.header-sub__item-title(href="page-5#risk-content") Управление рисками
        .header-sub__item 
          a.header-sub__item-title(href="page-5#risk-results") Итоги 2022 года
  .header-history(data-menu-history)
    .header-history__inner 
      .header-history__close(data-history-close)
        +history-menu-close
      .header-history__content 
        .header-history__title История
        .header-history__clear 
          .header-history__clear-icon 
            +rotate-left-svg
          .header-history__clear-text очистить историю
        .header-history__list 

mixin sidebar-EN 
  .sidebar 
    .header-menu(data-header-menu)
      .header-menu__top-container
        .header-menu__title Annual Report for 2022
        .header-menu__list 
          .header-menu__item(data-header-item="about")
            .header-menu__item-text About Us
            .header-menu__item-num 1
          .header-menu__item(data-header-item="strategy")
            .header-menu__item-text Strategic Report
            .header-menu__item-num 2
          .header-menu__item(data-header-item="results")
            .header-menu__item-text 2022 Performance
            .header-menu__item-num 3
          .header-menu__item(data-header-item="growth")
            .header-menu__item-text Sustainable Development
            .header-menu__item-num 4
          .header-menu__item(data-header-item="corporate")
            .header-menu__item-text Corporate Governance
            .header-menu__item-num 5
          a.header-menu__item(href="applications-EN")
            .header-menu__item-text Appendices
            .header-menu__item-num 6
      .header-menu__bot-container
        .header-menu__media.header-media 
          .header-media__inner 
            .header-media__share 
              a.header-media__share-col(href="#") 
                .header-media__share-icon 
                  +share-svg
                .header-media__share-text.header-media__text Share
              .header-media__share-col 
                .header-media__cubes 
                  a.header-media__cube(href="#") 
                    +vk-svg
                  a.header-media__cube(href="#") 
                    +telegram-svg
            .header-media__history(data-media-history)
              .header-media__history-icon 
                +share-clock-svg
              .header-media__history-text.header-media__text history
        a.header-menu__download(href="#")  
          .header-menu__download-icon 
            +header-download-svg
          .header-menu__download-text Download in PDF
    .header-sub(data-header-sub="about")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text About Us
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-who-we") UTLC&nbsp;ERA. Who are we?
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Company Profile
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Ten achievements in 2022
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") About this Report
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-who-we-appeal") Message from the General Director
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-who-we-calendar")  Event Calendar for 2022
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-indicators")  Key Performance Indicators
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-business")  Business Model
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-geography")  Operating Geography 
        .header-sub__item 
          a.header-sub__item-title(href="about-EN#section-corruption") Anti-Corruption Activities 
    .header-sub(data-header-sub="strategy") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Strategic Report
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-2-EN#preview-ge") Global Economy and Logistics Market in 2022
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Macroeconomic Situation
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Chinese Economy
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") European Economy
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Key Forecasts for European Union
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Conclusion
        .header-sub__item 
          a.header-sub__item-title(href="page-2-EN#preview-trends")  Logistics industry trends: Time for alternative options
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Sea Container Traffic Market
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Forecast: Buyer’s Market
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Air Freight Market
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Forecast: Cautious Optimism
        .header-sub__item 
          a.header-sub__item-title(href="page-2-EN#preview-transit")  China–Europe–China Rail Transit Market
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Flexibility Evidenced by Adaptation

        .header-sub__item 
          a.header-sub__item-title(href="page-2-EN#preview-strategy-leader")  Technological Leadership Strategy 
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Principal Stakeholders
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Basic Strategic Principles
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") “High-Tech Integrator” Format
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Partnership Networks


        .header-sub__item 
          a.header-sub__item-title(href="page-2-EN#nav-outcome")  The outcome of the cooperation in 2022
    .header-sub(data-header-sub="results") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 2022 Performance
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#operation-results")  Operating Performance
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#formation-park")  Fleet Formation: Optimization
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#client-portfolio")  Customer Portfolio
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#preview-main-line")  China–Russia Traffic Development
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#preview-section-save")  Paperless Traffic: Innovative Development
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#preview-care")  Main Digital Development Areas
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#preview-care")  Maintaining Our Achievements
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Financial Overview
        .header-sub__item 
          a.header-sub__item-title(href="page-3-EN#preview-care")  Caring for Business Climate
    .header-sub(data-header-sub="growth") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Sustainable development
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#human-capital") Human capital
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") How many are we?
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Employment Procedures
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Corporate Culture
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#corporate-culture") Corporate Social Responsibility
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Caring About People
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Corporate Events
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Health and Medical Support
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Financial and Other Aid
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Support for Education
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Training and Development
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Trainings and Conferences
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") IT Resources for Employees
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#nav-occupational") Occupational and Fire Safety
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Training
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Workplace Assessment
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Anti-COVID Measures
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Fire and Electric Safety
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#nav-environmental") Environmental Performance <br> as a Competitive Edge
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Climate Impact
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") СО<span class="fz-10">2</span> Emission Profile at UTLC ERA
          a.header-sub__item-subsection(href="about-EN#section-who-we-mission") Environmental Protection

        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#preview-charity-content") People Come First: Charity
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#charity-utlc") Uniting People and Countries: UTLC CUP 2022
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#section-purchase") Procurement
        .header-sub__item 
          a.header-sub__item-title(href="page-4-EN#preview-energetic-resourses") Use of Energy Resources
    .header-sub(data-header-sub="corporate")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text Corporate <br>Governance
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Corporate Governance <br>Structure
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Authorized Capital
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Dividend Policy
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") General Meeting of Shareholders 
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Board of Directors
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Management Board and General Director
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Remuneration System
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Control System
        .header-sub__item 
          a.header-sub__item-title(href="page-5-EN#control-hero") Risk Management
  .header-history(data-menu-history)
    .header-history__inner 
      .header-history__close(data-history-close)
        +history-menu-close
      .header-history__content 
        .header-history__title History
        button.header-history__clear 
          .header-history__clear-icon 
            +rotate-left-svg
          .header-history__clear-text clear the history
        .header-history__list 

mixin sidebar-CN 
  .sidebar 
    .header-menu(data-header-menu)
      .header-menu__top-container
        .header-menu__title 2022年年度报告
        .header-menu__list 
          .header-menu__item(data-header-item="about")
            .header-menu__item-text 关于公司
            .header-menu__item-num 1
          .header-menu__item(data-header-item="strategy")
            .header-menu__item-text 战略报告
            .header-menu__item-num 2
          .header-menu__item(data-header-item="results")
            .header-menu__item-text 2022年业绩
            .header-menu__item-num 3
          .header-menu__item(data-header-item="growth")
            .header-menu__item-text 可持续发展
            .header-menu__item-num 4
          .header-menu__item(data-header-item="corporate")
            .header-menu__item-text 公司治理
            .header-menu__item-num 5
          a.header-menu__item(href="applications-CN")
            .header-menu__item-text 附件
            .header-menu__item-num 6
      .header-menu__bot-container
        .header-menu__media.header-media 
          .header-media__inner 
            .header-media__share 
              a.header-media__share-col(href="#") 
                .header-media__share-icon 
                  +share-svg
                .header-media__share-text.header-media__text 分享
              .header-media__share-col 
                .header-media__cubes 
                  a.header-media__cube(href="#") 
                    +vk-svg
                  a.header-media__cube(href="#") 
                    +telegram-svg
            .header-media__history(data-media-history)
              .header-media__history-icon 
                +share-clock-svg
              .header-media__history-text.header-media__text 故事
        a.header-menu__download(href="#")  
          .header-menu__download-icon 
            +header-download-svg
          .header-menu__download-text 下载 PDF 格式
    .header-sub(data-header-sub="about")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 关于公司
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we") EXC&nbsp;EPA。 我们是谁？
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-reference")  公司信息
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-achievement") 2022年十大成就
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-report")  关于报告
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-appeal") 总经理致辞
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-appeal") 董事长致辞
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-who-we-calendar")  2022 年活动日历
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-indicators")  关键指标
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-business")  商业模式
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-geography")  活动地理
        .header-sub__item 
          a.header-sub__item-title(href="about-CN#section-corruption") 反腐败
    .header-sub(data-header-sub="strategy") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 战略报告
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-2-CN#preview-ge")  2022年全球经济与物流市场
        .header-sub__item 
          a.header-sub__item-title(href="page-2-CN#preview-trends") 物流行业趋势：<br>寻找替代方案的时机
        .header-sub__item 
          a.header-sub__item-title(href="page-2-CN#preview-transit")  轨道交通市场中国-欧洲-中国
        .header-sub__item 
          a.header-sub__item-title(href="page-2-CN#preview-strategy-leader")  技术领先战略
    .header-sub(data-header-sub="results") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 结果活动
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#operation-results")  经营业绩
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#formation-park") 园区布局：优化
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#client-portfolio")  客户组合
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#client-development__paperless")  无纸化交通：创新发展
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#preview-main-line") 数字化发展的主要方向
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#preview-section-save")  保存已取得的成果
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#profit-sales")  销售收入
        .header-sub__item 
          a.header-sub__item-title(href="page-3-CN#preview-care") 关心营商环境
    .header-sub(data-header-sub="growth") 
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 可持续发展
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#human-capital") 人力资本
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#preview-corporate-responsibility") 企业社会责任
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#preview-security-content") 劳动保护和消防<br>安全
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#preview-ecology-content") 环境友好作为竞争优势
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#preview-charity-content") 以人为本：慈善事业
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#charity-utlc") 团结人民和国家
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#section-purchase") 采购活动
        .header-sub__item 
          a.header-sub__item-title(href="page-4-CN#preview-energetic-resourses") 能源资源的利用
    .header-sub(data-header-sub="corporate")
      .header-sub__back-item.mobile-custom(data-sub-back='')
        .header-sub__back-text 公司治理
      .header-sub__list 
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#control-hero") 公司治理结构
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#share-capital") 股本
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#incorporated-dividends") 股息政策
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#incorporated-shareholders") 股东大会
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#incorporated-council") 董事会
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#incorporated-corporative") 公司秘书和委员会秘书
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#incorporated-governing") 管理委员会、总经理<br>（董事会主席）
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#preview-reward-content") 奖励系统
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#controls-content") 控制系统
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#risk-content") 风险管理
        .header-sub__item 
          a.header-sub__item-title(href="page-5-CN#risk-results") 2022 年业绩
  .header-history(data-menu-history)
    .header-history__inner 
      .header-history__close(data-history-close)
        +history-menu-close
      .header-history__content 
        .header-history__title 故事
        button.header-history__clear 
          .header-history__clear-icon 
            +rotate-left-svg
          .header-history__clear-text 清除历史记录
        .header-history__list 