mixin share-provinces-subtext 
  .container 
    .share-provinces__subtext Объем экспедирования контейнерных грузов в сервисах ОТЛК ЕРА за 12 месяцев 2022 года составил 681 197 ДФЭ, снижение к 2021 году — 2%, или 11 333 ДФЭ. Главным генератором транзитного грузопотока по-прежнему остается Китай.